<template>
    <div class="sl-c-alert-list">
        <transition-group name="slide-fade" tag="div">
            <div :class="getClass(item.type)" class="sl-c-alert" role="alert" :key="index" v-for="(item, index) in messages">
                <div class="sl-c-alert__icon" v-if="item.options.showIcon">
                    <i class="fa" :class="`fa-${getIcon(item.type)}`"/>
                </div>

                <div class="sl-c-alert__text" v-html="item.message" />

                <sal-button-mobile
                    class="sl-c-alert__download"
                    :id="`alert-download-${index}`"
                    size="sm"
                    type="link"
                    :onClick="() => onDownload( item.options.donwloadURI )"
                    v-if="item.options.donwloadURI !== null"
                >
                    <i class="fa fa-download" aria-hidden="true"></i>
                </sal-button-mobile>

                <sal-button-mobile
                    class="sl-c-alert__close"
                    :id="`alert-close-${index}`"
                    size="sm"
                    type="link"
                    :onClick="() => onClose( item )"
                    v-if="item.options.closable"
                >
                    <i class="fa fa-times"/>
                </sal-button-mobile>
            </div>
        </transition-group>
    </div>
</template>

<script>
    import { includes, keys } from 'lodash-es';

    export default {
        name: 'sal-flash-message-list-mobile',

        props: {
            messages: {
                type: Array,
                default: () => []
            },

            onClose: {
                type: Function,
                default() {
                    return () => {};
                }
            },

            onDownload: {
                type: Function,
                default() {
                    return () => {};
                }
            }
        },

        data() {
            return {
                classes: {
                    base: '',
                    success: 'sl-c-alert--success',
                    error: 'sl-c-alert--danger',
                    warning: 'sl-c-alert--warning',
                    info: 'sl-c-alert--info'
                },
                icons: {
                    base: '',
                    error: 'exclamation-triangle',
                    success: 'check-circle',
                    info: 'info-circle',
                    warning: 'exclamation-triangle'
                }
            };
        },

        methods: {
            /**
             * Get type class for message.
             * @param {String} type
             * @return {String}
             */
            getClass( type ) {
                if ( !includes( keys( this.classes ), type ) ) {
                    return '';
                }

                return this.classes[ type ];
            },

            /**
             * Get icon class for message.
             * @param {String} type
             * @return {String}
             */
            getIcon( type ) {
                if ( !includes( keys( this.icons ), type ) ) {
                    return '';
                }

                return this.icons[ type ];
            }
        }
    };
</script>

<style lang="scss">
    .sl-c-alert-list {
        position: fixed;
        right: $sl-gutter-lg;
        left: $sl-gutter-lg;
        top: $sl-gutter-lg;
        z-index:9999;

        .sl-c-alert {
            &:not(:first-child) {
                margin-top: $sl-gutter-sm;
            }
        }
    }

    .sl-c-alert {
        position: relative;
        padding: $sl-gutter-sm $sl-gutter $sl-gutter-sm $sl-gutter;
        color: $sl-color-darkgrey;
        background-color: $sl-color-silver;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .sl-c-alert__text {
            flex-grow: 1;
            text-align: center;
            margin-right: $sl-gutter;
            text-overflow: ellipsis;
            overflow-y: hidden;
        }

        .sl-c-alert__icon {
            margin-right: $sl-gutter-sm;
        }

        .sl-c-alert__close.sl-c-btn {
            padding: 0;
        }
    }

    .sl-c-alert--success {
        color: $sl-color-white;
        background-color: $sl-color-green;

        a,
        .sl-c-btn--link {
            color: $sl-color-white;

            &.sl-c-alert__close {
                color: $sl-color-white;
            }
        }
    }

    .sl-c-alert--bordered {
        color: $sl-color-base;
        border: 1px solid $sl-color-base;
        background-color: $sl-color-white;
    }

    .sl-c-alert--error,
    .sl-c-alert--danger,
    .sl-c-alert--warning {
        color: $sl-color-white;
        background-color: $sl-color-red;

        a {
            color: $sl-color-lightred;
        }

        .sl-c-btn--link {
            color: $sl-color-white;

            &.sl-c-alert__close {
                color: $sl-color-white;
            }

            &.sl-c-alert__download {
                color: $sl-color-white;
            }
        }
    }

    .sl-c-alert--info {
        color: $sl-color-blue;
        background-color: $sl-color-lightblue;

        a,
        .sl-c-btn--link {
            color: $sl-color-blue;

            &.sl-c-alert__close {
                color: $sl-color-blue;
            }
        }
    }


    /**
    * =Fade transition styles
    */

    .fade-enter-active,
    .fade-leave-active {
        transition: opacity .5s;
    }

    .fade-enter,
    .fade-leave-to {
        opacity: 0;
    }


    /**
    * =Bounce transition styles
    */

    .bounce-enter-active {
        animation: bounce-in .5s;
    }

    .bounce-leave-active {
        animation: bounce-in .5s reverse;
    }

    @keyframes bounce-in {
        0% {
            transform: scale(0);
        }
        50% {
            transform: scale(1.5);
        }
        100% {
            transform: scale(1);
        }
    }


    /**
    * =Slide transition styles
    */

    .slide-fade-enter-active {
        transition: all .3s ease;
    }

    .slide-fade-leave-active {
        transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }

    .slide-fade-enter,
    .slide-fade-leave-to {
        transform: translateY(-10px);
        opacity: 0;
    }
</style>
