<template>
    <div class="sl-c-card" :class="{ 'sl-c-card--alert': !event.isTeam }">
        <div class="sl-c-card__body">
            <div class="sl-c-grid sl-c-grid--twos">
                <div>
                    {{ event.employee }}
                </div>

                <div class="sl-u-text--right">
                    <span class="sl-c-label sl-c-label--danger sl-c-label--disabled">
                        <i class="fa fa-sm fa-circle fa-sm sl-u-text--danger sl-u-gap-right--xs"></i> 
                        {{ event.title }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'sal-calendar-leave-card-mobile',

        props: {
            event: {
                type: Object,
                required: true
            }
        }
    };
</script>

<style>  
</style>