<template>
    <div class="sl-c-filter-list">
        <div class="sl-c-section">
            <div class="sl-c-section__header">
                <h4 class="sl-c-section__title">Calendar Filter</h4>

                <div class="sl-c-actions">
                    <sal-button-mobile id="filter-close" size="sm" type="" :onClick="hide">
                        <i class="fa fa-times fa-lg"></i>
                    </sal-button-mobile>
                </div>
            </div>

            <div class="sl-c-section__body">
                <h5>My Calendar</h5>
                <div class="sl-c-form-group">
                    <sal-checkbox-mobile
                        v-for="(typeName, typeValue) in employeeTypes"
                        :key="typeValue"
                        :id="`employee-type-${typeValue}`"
                        :class="`sl-c-check--type-employee-${typeValue}`"
                        :label="typeName"
                        v-model="filters"
                        :input-value="typeValue" />
                </div>
            </div>

            <div class="sl-c-section__footer sl-c-block-btns">
                <sal-button-mobile
                    id="requests-filter-reset"
                    size="sm"
                    type="primary"
                    class="sl-c-btn--ghost"
                    :onClick="reset"
                    outlined
                >
                    Reset
                </sal-button-mobile>
                <sal-button-mobile
                    id="requests-filter-apply"
                    size="sm"
                    type="primary"
                    :onClick="apply"
                >
                    Apply
                </sal-button-mobile>
            </div>
        </div>
    </div>
</template>

<script>
import { CALENDAR_EMPLOYEE_TYPES, CALENDAR_TEAM_TYPES, TYPES } from '@/constants/calendar';

export default {
    name: 'sal-request-filters',
    data() {
        return {
            filters: this.getFiltersDefaults()
        };
    },

    computed: {
        /**
         * Returns constant CALENDAR_EMPLOYEE_TYPES.
         * @returns Object
         */
        employeeTypes() {
            return CALENDAR_EMPLOYEE_TYPES;
        },
        /**
         * Returns constant CALENDAR_TEAM_TYPES.
         * @returns Object
         */
        teamTypes() {
            return CALENDAR_TEAM_TYPES;
        }
    },

    methods: {
        /**
         * Apply the filters
         */
        apply() {
            this.$emit( 'apply', this.filters );
            this.hide();
        },

        /**
         * Resets filter values to default ones.
         */
        reset() {
            this.filters = this.getFiltersDefaults();
            this.$emit( 'reset', null );
        },

        /**
         * Hide filters.
         */
        hide() {
            this.$emit( 'close' );
        },

        /**
         * Gets default filter values.
         * @returns Object
         */
        getFiltersDefaults() {
            return [...TYPES];
        }
    }
};
</script>

<style lang="scss" scoped>
    .sl-c-filter-list {
        position: fixed;
        top: 3rem;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
        font-size: .9rem;
        overflow-y: auto;
        background-color: $sl-color-white;

        .sl-c-section {
            padding: $sl-gutter;
        }
    }
</style>
