<template>
    <div class="sl-c-card" :class="{ 'sl-c-card--alert': !event.isTeam }">
        <div class="sl-c-card__header"  >
            <div class="sl-c-grid sl-c-grid--twos">
                <div class="text-valign-center">
                    <span>{{ event.title }}</span>
                </div>

                <div v-if="!isRestDay" class="sl-u-text--right">
                    <span class="sl-c-label sl-c-label--primary sl-c-label--disabled" :type="isHoliday ? 'holiday' : event.type">
                        <i class="fa fa-sm fa-circle sl-u-text--primary sl-u-gap-right--xs"></i>
                        <span v-if="isHoliday">{{ event.type }}</span>
                        <span v-else>{{ event.start | timeFormat }} - {{ event.end | timeFormat }}</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="sl-c-card__body shift-card" v-if="!isHoliday">
            <div class="sl-c-grid sl-c-grid--twos sl-u-gap-top" v-for="(clockPair, index) in attendanceForShift" :key="index">
                <div class="sl-c-media">
                    <div class="sl-c-media__object">
                        <i class="fa fa-clock"></i>
                    </div>
                    <div class="sl-c-media__body">
                        Clock In:
                        <br />
                        {{ clockPair.clockIn ? handleTimestampFormatting( clockPair.clockIn.timestamp ) : "..."}}
                    </div>
                </div>
                <div class="sl-c-media">
                    <div class="sl-c-media__object">
                        <i class="fa fa-clock"></i>
                    </div>
                    <div class="sl-c-media__body">
                        Clock Out:
                        <br />
                        {{ clockPair.clockOut ? handleTimestampFormatting( clockPair.clockOut.timestamp ) : "..."}}
                    </div>
                </div>
            </div>

            <div class="sl-c-grid sl-c-grid--twos sl-u-gap-top">
                <div class="sl-c-media">
                    <div class="sl-c-media__object">
                        <i class="fa fa-stopwatch"></i>
                    </div>

                    <div class="sl-c-media__body">
                        Expected Time: <br> {{ expectedMinutesWorked | formatMinutesToTime }}
                    </div>
                </div>

                <div class="sl-c-media">
                    <div class="sl-c-media__object">
                        <i class="fa fa-stopwatch"></i>
                    </div>

                    <div class="sl-c-media__body">
                        Estimated Hours Worked:
                        <sal-tooltip message="Estimated hours worked does not consider things such as unpaid breaks, excessive breaks and other factors in its computation." />
                        <br> {{ minutesWorked | formatMinutesToTime }}
                    </div>
                </div>
            </div>
        </div>

        <div class="sl-c-card__footer" v-if="!event.isTeam && !isHoliday">
            <router-link :to="{ name: routeName, query: { selectedDate: event.end.format( 'YYYY-MM-DD' ) } }">
                <strong>{{ linkText }}</strong>
            </router-link>
        </div>
    </div>
</template>
<script>
    import moment from 'moment';
    import get from 'lodash-es/get';

    export default {
        name: 'sal-calendar-shift-card-mobile',

        props: {
            event: {
                type: Object,
                required: true
            },

            allEvents: {
                type: Array,
                default: () => []
            },

            attendance: {
                type: Array,
                default: () => []
            },

            isRestDay: {
                type: Boolean,
                default: false
            }
        },
        computed: {
            /**
             * Checks is event start and end on diff days.
             * @returns {Boolean}
             */
            isNightShift() {
                return this.event.end.isAfter( this.event.start, 'day' );
            },

            /**
             * Number of minutes worked.
             *
             * @return {String}
             */
            minutesWorked() {
                return this.attendanceForShift.filter( ( clockPair ) =>
                    clockPair.clockIn && clockPair.clockOut
                ).map( ( clockPair ) =>
                    clockPair.clockOut.timestamp - clockPair.clockIn.timestamp
                ).reduce( ( sum, current ) => sum + current, 0 ) / 60;
            },

            /**
             * Filter out only attendance for the day of the shift.
             * @return {Array}
             */
            attendanceForShift() {
                return this.attendance.map( ( attendanceEvent ) => attendanceEvent.original );
            },

            isHoliday() {
                return this.event.type.includes( 'holiday' );
            },

            /**
             * Minutes the employee is expected to work based on the shift schedule.
             * @return {Number}
             */
            expectedMinutesWorked() {
                if ( this.event.original ) {
                    const type = get( this.event.original.schedule, 'type', '' );
                    const totalHours = get( this.event.original.schedule, 'total_hours', '' );
                    const breaks = get( this.event.original.schedule, 'breaks', []);

                    if ( type === 'fixed' ) {
                        return this.convertTimeStringToMinsInt( totalHours )
                            - breaks.reduce( ( sum, current ) =>
                                sum + this.convertTimeStringToMinsInt( current.break_hours )
                            , 0 );
                    }

                    if ( type === 'default' ) {
                        return totalHours * 60;
                    }

                    return this.convertTimeStringToMinsInt( totalHours );
                }

                return 0;
            },

            /**
             * Gets link text.
             * @returns {String}
             */
            linkText() {
                if ( this.event.end.isSame( moment(), 'day' ) || this.minutesWorked > this.expectedMinutesWorked ) {
                    return 'File an overtime request';
                } else if ( this.event.end.isAfter( moment() ) ) {
                    return 'File a shift change request';
                }

                return 'File a time correction';
            },

            /**
             * Gets route name
             * @returns {String}
             */
            routeName() {
                if ( this.event.end.isSame( moment(), 'day' ) || this.minutesWorked > this.expectedMinutesWorked ) {
                    return 'requests.overtime.add';
                } else if ( this.event.end.isAfter( moment() ) ) {
                    return 'requests.shift-change.add';
                }

                return 'requests.time-dispute.add';
            }
        },

        methods: {
            /**
             * Convert time string to minutes.
             * @param  {String} time
             * @return {Number}
             */
            convertTimeStringToMinsInt( time ) {
                return time.split( ':' ).reduce( ( sum, current, index ) =>
                    sum + current / ( 60 ** index )
                , 0 ) * 60;
            },

            /**
             * Handles timestamp formating.
             * If it's night shift adds month and day.
             * @param {Number} timestamp
             * @returns {String} formated timestamp
             */
            handleTimestampFormatting( timestamp ) {
                const format = this.isNightShift ? 'MMMM DD, HH:mm' : 'HH:mm';
                return moment( timestamp, 'X' ).format( format );
            }
        },

        filters: {
            /**
             * Formats date
             *
             * @param {String} date
             * @return {String} formated date
             */
            timeFormat( date ) {
                return moment( date ).format( 'HH:mm' );
            },

            /**
             * Format number of minutes into time string.
             * @param  {Number} minutes
             * @return {String} HH:mm
             */
            formatMinutesToTime( minutes ) {
                let h = parseInt( Math.floor( minutes / 60 ), 10 );
                let m = parseInt( minutes % 60, 10 );

                h = h < 10 ? `0${h}` : h;
                m = m < 10 ? `0${m}` : m;

                return `${h}:${m}`;
            }
        }

    };
</script>

<style lang="scss">
    .sl-c-card {
        padding-left: 10px;
        padding-right: 10px;
    }

    .sl-c-card__header {
        margin-bottom: 0;
        border-bottom: 0;
    }

    .sl-c-label--primary {
        vertical-align: middle;
        text-transform: capitalize;
    }

    .sl-u-text--right {
        i {
            margin-top: 1px;
        }

        [type="holiday"] {
            background-color: #f8cece !important;

            i {
                color: #EB7575;
            }
        }
    }

    .sl-c-card__body.shift-card {
        border-top: 1px solid $sl-color-silver;
    }

    .text-valign-center {
        display: flex;
        align-items: center;
    }
</style>
