<template>
    <div>
        <div ref="calendar" class='sl-c-calendar'></div>

        <sal-calendar-filters-mobile v-show="filterIsVisible"
            @apply="applyFilters"
            @reset="applyFilters(null)"
            @close="filterIsVisible = false" />

        <div class="sl-u-gap-top">
            <div class="sl-c-section__header">
                <h3 class="sl-c-section__title">{{ selectedDate | dateFormat }}</h3>
                <router-link :to="{name: 'requests.index', query: { selectedDate: selectedDate.format( 'YYYY-MM-DD' ) }}"
                    class="sl-c-icon-circle sl-c-icon-circle--sm sl-c-icon-circle--primary">
                    <i class="fa fa-plus sl-u-text--base"></i>
                </router-link>
            </div>

            <div class="sl-c-section__body">
                <div>
                    <h3 v-if="selectedEvents.length > 0">Me</h3>
                    <div v-for="( event, index ) in selectedEvents.filter(isHolidayType)" :key="index">
                        <sal-calendar-shift-card-mobile :event="event" />
                    </div>
                    <div v-for="( event, index ) in selectedEvents.filter(isLeavesType)" :key="index">
                        <sal-calendar-leave-card-mobile :event="event" />
                    </div>
                    <div v-for="( event, index ) in selectedEvents.filter(isShiftsType)" :key="index">
                        <sal-calendar-shift-card-mobile
                            :event="event"
                            :all-events="selectedEvents.filter(isShiftsType)"
                            :attendance="filterRelatedShiftFromAttendanceEvents(selectedAttendanceEvents, event)"
                        />
                    </div>
                    <div v-if="isRestDayWithAttendance">
                        <sal-calendar-shift-card-mobile
                            :event="selectedAttendanceEvents[0]"
                            :all-events="selectedEvents"
                            :attendance="selectedAttendanceEvents"
                            :is-rest-day="true"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import 'fullcalendar';
    import moment from 'moment';
    import 'moment-recur';
    import { get, merge, filter, find, groupBy, keys, uniq, map, flatten } from 'lodash-es';
    import { CALENDAR_CONFIGURATION, CALENDAR_COLORS, TYPES } from '@/constants/calendar';
    import { calendarService } from '@/utils/services/CalendarService';
    import { timeClockService } from '@/utils/services/TimeClockService';
    import { shiftsService } from '@/utils/services/ShiftsService';
    import { employeeRequestService } from '@/utils/services/EmployeeRequestService';
    import { auth } from '@/utils/Authentication';
    import CalendarFilters from '@/components/mobile/calendar/CalendarFilters';
    import { sockets } from '@/utils/Sockets';

    export default {
        name: 'sal-calendar-mobile',

        components: {
            'sal-calendar-filters-mobile': CalendarFilters
        },

        data() {
            return {
                view: 'month',
                viewStart: null,
                viewEnd: null,
                events: [],
                showSection: false,
                selectedDate: moment(),
                users: [],
                filters: TYPES,
                filterIsVisible: false,
                payrolDisbursementEvents: [],
                payDates: [],
                attendance: [],
                defaultSchedules: [],
                user: auth.getUser(),
                defaultScheduleEvents: [],
                employeeShifts: [],
                employeeLeaves: [],
                userDefinedRestDays: [],
                holidays: []
            };
        },

        computed: {
            /**
             * Filtered events.
             *
             * @returns {Array}
             */
            filteredEvents() {
                const filteredEvents = filter( this.events.concat( this.payrolDisbursementEvents, this.defaultScheduleEvents ),
                    ( event ) => this.filters.indexOf( event.type ) > -1
                );

                return uniq( filteredEvents );
            },

            /**
             * Filtered attendance events
             *
             * @return {Array}
             */
            filteredAttendanceEvents() {
                return this.filteredEvents.filter( this.isAttendanceType );
            },

            /**
             * Filtered non-attendance events
             *
             * @return {Array}
             */
            filteredNonAttendanceEvents() {
                return this.filteredEvents.filter( ( event ) => !this.isAttendanceType( event ) );
            },

            /**
             * Events for selected day.
             * @return {Array}
             */
            selectedEvents() {
                const defaultEvents = this.filteredEvents.filter( ( event ) => {
                    const formattedSelectedDate = moment( timeClockService.timestampFormatting( this.selectedDate ), 'X' );
                    const formattedEventStart = moment( timeClockService.timestampFormatting( event.start ), 'X' );
                    return formattedSelectedDate.isSame( formattedEventStart, 'day' );
                });

                const holidays = this.holidays.filter( ( holiday ) => {
                    const formattedSelectedDate = moment( timeClockService.timestampFormatting( this.selectedDate ), 'X' );
                    const formattedHolidayStart = moment( timeClockService.timestampFormatting( holiday.start ), 'X' );
                    return formattedSelectedDate.isSame( formattedHolidayStart, 'day' );
                });

                return [
                    ...defaultEvents,
                    ...holidays
                ];
            },

            /**
             * Selected attendance events.
             * @return {Array}
             */
            selectedAttendanceEvents() {
                const groupedMonthEvents = groupBy( this.filteredEvents, ( event ) => event.start.format( 'YYYY-MM-DD' ) );

                const previousDateEvents = groupedMonthEvents[ moment( this.selectedDate ).subtract( 1, 'day' ).format( 'YYYY-MM-DD' ) ] || [];
                const nextDateEvents = groupedMonthEvents[ moment( this.selectedDate ).add( 1, 'day' ).format( 'YYYY-MM-DD' ) ] || [];

                const shifts = this.filteredEvents.filter( ( event ) => {
                    const selectedDate = moment( timeClockService.timestampFormatting( this.selectedDate ), 'X' );
                    const eventStart = moment( timeClockService.timestampFormatting( event.start ), 'X' );
                    return eventStart.isSame( selectedDate, 'day' );
                }).filter( this.isShiftsType );

                return this.mapShiftEventsToAttendanceEvents(
                    shifts,
                    this.filteredAttendanceEvents,
                    previousDateEvents,
                    nextDateEvents,
                    this.selectedDate
                );
            },

            /**
             * Month events.
             *
             * @returns {Array}
             */
            monthEvents() {
                const groupedMonthEvents = groupBy([ ...this.filteredNonAttendanceEvents, ...this.holidays ], ( event ) => event.start.format( 'YYYY-MM-DD' ) );

                return map( groupedMonthEvents, ( allEvents, date ) => {
                    const shifts = allEvents.filter( this.isShiftsType );

                    const previousDate = moment( date ).subtract( 1, 'day' ).format( 'YYYY-MM-DD' );
                    const nextDate = moment( date ).add( 1, 'day' ).format( 'YYYY-MM-DD' );

                    const previousDateShifts = groupedMonthEvents[ previousDate ] || [];
                    const nextDateShifts = groupedMonthEvents[ nextDate ] || [];

                    const attendanceEventsForDate = this.mapShiftEventsToAttendanceEvents(
                        shifts,
                        this.filteredAttendanceEvents,
                        previousDateShifts,
                        nextDateShifts,
                        date
                    ).filter( ({ relatedShift }) => shifts.includes( relatedShift ) );

                    return {
                        start: date,
                        events: [
                            ...allEvents,
                            ...attendanceEventsForDate
                        ]
                    };
                });
            },

            weekOrDayEvents() {
                const groupedMonthEvents = groupBy( this.filteredNonAttendanceEvents, ( event ) => event.start.format( 'YYYY-MM-DD' ) );

                const attendanceEventsForDayOrWeek = map( groupedMonthEvents, ( allEvents, date ) => {
                    const shifts = allEvents.filter( this.isShiftsType );

                    const previousDate = moment( date ).subtract( 1, 'day' ).format( 'YYYY-MM-DD' );
                    const nextDate = moment( date ).add( 1, 'day' ).format( 'YYYY-MM-DD' );

                    const previousDateShifts = groupedMonthEvents[ previousDate ] || [];
                    const nextDateShifts = groupedMonthEvents[ nextDate ] || [];

                    return this.mapShiftEventsToAttendanceEvents(
                        shifts,
                        this.filteredAttendanceEvents,
                        previousDateShifts,
                        nextDateShifts,
                        date
                    ) || [];
                }).reduce( ( acc, events ) => ([ ...acc, ...events ]), []);

                return [
                    ...this.filteredNonAttendanceEvents,
                    ...attendanceEventsForDayOrWeek
                ];
            },

            /**
             * Checks if selected date is a rest day with attendance/s
             *
             * @returns {Boolean}
             */
            isRestDayWithAttendance() {
                const isRestDay = get( shiftsService.getDefaultScheduleForDate(
                    { defaultScheduleData: this.defaultSchedules },
                    this.selectedDate
                ), 'day_type', '' ) === 'rest_day';
                const hasUserDefinedRestDay = this.userDefinedRestDays.reduce( ( acc, restDays ) => ([
                    ...acc,
                    ...restDays.dates
                ]), []).includes( this.selectedDate.format( 'YYYY-MM-DD' ) );

                return ( isRestDay || hasUserDefinedRestDay )
                    && this.selectedAttendanceEvents.length > 0;
            }
        },

        created() {
            sockets.init();
            this.init();
            this.fetchData();
            this.listenUserChannel();
        },
        methods: {
            dateTimeFormat( dateTime ) {
                return moment( dateTime.format( 'YYYY-MM-DD HH:mm:ss' ), 'YYYY-MM-DD HH:mm:ss' );
            },

            /**
             * Fetches all data
             */
            fetchData() {
                this.$emit( 'loading', true );

                Promise.all([
                    this.fetchDefaultScheduleForCompany(),
                    this.fetchUserDefinedRestDays(),
                    this.getCalendarData(),
                    this.getCompanyHolidays()
                ]).finally( () => this.$emit( 'loading', false ) );
            },

            /**
             * Fetch Default Schedule for Company
             *
             * @returns {Promise}
             */
            fetchDefaultScheduleForCompany() {
                return shiftsService.fetchDefaultScheduleForCompany( this.user.company_id )
                    .then( ( schedules ) => {
                        this.defaultSchedules = schedules;
                    });
            },

            /**
             * Fetch User Defined Rest Day
             *
             * @returns {Promise}
             */
            fetchUserDefinedRestDays() {
                return employeeRequestService.getEmployeeRestDays()
                    .then( ( restDay ) => {
                        this.userDefinedRestDays = restDay;
                    });
            },

            /**
             * Check if Selected Day has User Defined Rest Day
             *
             * @param {object} date
             * @returns {object}
             */
            hasUserDefinedRestDay( startDate ) {
                const restDays = [];
                const selectedDate = startDate.format( 'YYYY-MM-DD' );

                this.userDefinedRestDays.forEach( ({ dates }) => {
                    restDays.push( dates );
                });

                return find( flatten( restDays ), ( date ) => date === selectedDate );
            },

            /**
             * Listens users channel for ClockStateChange event.
             * Sets attendance data.
             */
            listenUserChannel() {
                this.$echo.private( `employee.${this.user.employee_id}` )
                    .listen( 'ClockStateChanged', () => {
                        this.clearAttendanceEvents();
                        this.prepareAttendanceData();
                    });
            },

            /**
             * Clears attendance events from events.
             */
            clearAttendanceEvents() {
                this.events = this.events.filter( ( event ) => event.type !== 'attendance' );
            },

            /**
             * Gets the shifts.
             *
             * @returns {Promise}
             */
            getCalendarData() {
                return calendarService.getCalendarData()
                    .then( ( data ) => {
                        this.prepareEventsAndData( data );
                        this.prepareAttendanceData();
                    }).catch( () => {
                        this.rerenderEvents();
                    });
            },

            getCompanyHolidays() {
                return calendarService.getCompanyHolidays()
                    .then( ( response ) => {
                        if ( response && response.data ) {
                            this.holidays = response.data.map( ( holiday ) => ({
                                title: holiday.name,
                                start: moment( holiday.date ),
                                end: moment( holiday.date ).add( 1, 'day' ),
                                eventBackgroundColor: CALENDAR_COLORS.MY.HOLIDAYS.background,
                                eventBorderColor: CALENDAR_COLORS.MY.HOLIDAYS.border,
                                allDay: true,
                                type: `${holiday.type} holiday`
                            }) );
                        }
                        return this.holidays;
                    }).catch( () => {
                        this.rerenderEvents();
                    });
            },

            /**
             * Prepares attendance data.
             */
            prepareAttendanceData() {
                timeClockService.getTimeClockTimesheet()
                    .then( ( timesheet ) => {
                        this.prepareAttendance( timesheet );

                        this.rerenderEvents();
                    }).catch( () => {
                        this.rerenderEvents();
                    });
            },

            /**
             * Prepare events and data recieved.
             * @param {Object} data
             */
            prepareEventsAndData( data ) {
                this.payDates = data.employee_pay_dates || [];
                this.employeeShifts = data.employee_shifts;
                this.employeeLeaves = data.employee_leaves;

                this.prepareShifts();
                this.prepareLeaves();
            },

            /**
             * Shows the calendar.
             */
            init() {
                $( document ).ready( () => {
                    $( this.$refs.calendar ).fullCalendar(
                        merge(
                            CALENDAR_CONFIGURATION,
                            {
                                customButtons: {
                                    filter: {
                                        icon: 'fa fa fa-filter',
                                        click: this.showFilter.bind( this )
                                    }
                                },
                                columnHeaderHtml: ( m ) => {
                                    const view = $( this.$refs.calendar ).fullCalendar( 'getView' );

                                    return view.name === 'agendaDay'
                                        ? `<span class="sl-u-number">${m.format( 'DD' )}</span>${m.format( 'dddd' )}`
                                        : m.format( 'dd' ).slice( 0, 1 );
                                },
                                eventRender: ( event, element, view ) => {
                                    const title = element.find( '.fc-title' );
                                    const time = element.find( '.fc-time' );

                                    if ( view.name === 'month' ) {
                                        element.empty();
                                        element.addClass( 'fc-event-month' );

                                        if ( event.events ) {
                                            event.events.forEach( ( e ) => {
                                                element.append(
                                                    `<div
                                                        class="fc-content fc-content-month"
                                                        style="background-color: ${e.eventBackgroundColor}; border: 1px solid ${e.eventBorderColor}">
                                                    <div>`
                                                );
                                            });
                                        }
                                    } else if ( view.name === 'listWeek' ) {
                                        const content = element.find( '.fc-list-item-title', '.fc-widget-content' );

                                        content.css( 'word-break', 'break-all' );
                                        element.find( '.fc-event-dot' ).css( 'background-color', event.eventBackgroundColor );
                                        element.find( '.fc-event-dot' ).css( 'border', `1px solid ${event.eventBorderColor}` );

                                        const listTimeEl = element.find( '.fc-list-item-time', '.fc-widget-content' );
                                        listTimeEl.css( 'text-transform', 'capitalize' );
                                    } else if ( view.name === 'agendaDay' ) {
                                        const content = element.find( '.fc-content' );

                                        content.css( 'word-break', 'break-all' );
                                        element.css( 'background-color', event.eventBackgroundColor );
                                        element.css( 'border', `1px solid ${event.eventBorderColor}` );
                                    }

                                    title.after( time );
                                },
                                viewRender: ( view ) => {
                                    this.view = view.name;
                                    this.viewStart = view.start;
                                    this.viewEnd = view.end;
                                    this.selectedDate = view.calendar.currentDate.clone();

                                    this.preparePayrollDisbursements( view.start, view.end );
                                    this.prepareShifts();
                                    this.prepareLeaves();
                                    this.prepareAttendance( this.attendance );

                                    if ( view.name === 'agendaDay' ) {
                                        this.prepareDefaultSchedules(
                                            moment.utc( view.start.format( 'X' ), 'X' ),
                                            moment.utc( view.end.format( 'X' ), 'X' )
                                        );
                                    } else {
                                        this.prepareDefaultSchedules( view.start, view.end );
                                    }

                                    $( this.$refs.calendar ).fullCalendar( 'removeEvents' );
                                    $( this.$refs.calendar ).fullCalendar( 'removeEventSources' );

                                    if ( view.name === 'month' ) {
                                        $( this.$refs.calendar ).fullCalendar( 'addEventSource', this.monthEvents );
                                    } else {
                                        $( this.$refs.calendar ).fullCalendar( 'addEventSource', [ ...this.weekOrDayEvents, ...this.holidays ]);
                                    }
                                },
                                dayClick: ( date, jsEvent, view ) => {
                                    if ( view.name !== 'agendaDay' ) {
                                        this.selectedDate = date.clone();

                                        $( '.fc-state-highlight' ).removeClass( 'fc-state-highlight' );
                                        $( `td[data-date=${this.selectedDate.format( 'YYYY-MM-DD' )}]` ).addClass( 'fc-state-highlight' );

                                        $( this.$refs.calendar ).fullCalendar( 'gotoDate', this.selectedDate );
                                    }
                                },
                                eventClick: ( event, jsEvent, view ) => {
                                    if ( view.name === 'listWeek' || view.name === 'month' ) {
                                        this.selectedDate = event.start.clone();

                                        $( '.fc-state-highlight' ).removeClass( 'fc-state-highlight' );
                                        $( `td[data-date=${this.selectedDate.format( 'YYYY-MM-DD' )}]` ).addClass( 'fc-state-highlight' );

                                        $( this.$refs.calendar ).fullCalendar( 'gotoDate', this.selectedDate );
                                    }
                                }
                            }
                        )
                    );
                });
            },

            /**
             * Determines if event is shifts type.
             *
             * @param {Object} event
             * @return {boolean} True if shift type, False otherwise.
             */
            isShiftsType( event ) {
                return event.type === 'shifts';
            },

            /**
             * Determines if event is leaves type.
             *
             * @param {Object} event
             * @return {boolean} True if leaves type, False otherwise.
             */
            isLeavesType( event ) {
                return event.type === 'leaves';
            },

            isHolidayType( event ) {
                return event.type.includes( 'holiday' );
            },

            /**
             * Determines if event is attendance type.
             *
             * @param {Object} event
             * @return {boolean} True if attendance type, False otherwise.
             */
            isAttendanceType( event ) {
                return event.type === 'attendance';
            },

            /**
             * Gets the event.
             *
             * @param {Object}  selectedEvent  The selected event
             * @return {Object}  The event.
             */
            getEvent( selectedEvent ) {
                return find( this.events, ( event ) =>
                    event.typeId === selectedEvent.typeId && event.type === selectedEvent.type
                );
            },

            /**
             * Gets the name of the employee.
             *
             * @param {Number} id The identifier
             * @return {String} Employee full name.
             */
            getEmployeeName( id ) {
                if ( id === this.user.employee_id ) {
                    return this.user.employee.full_name;
                }

                const teamMember = find( this.users, ( user ) => user.id === id );

                return teamMember ? teamMember.name : '';
            },

            /**
             * Prepares shifts for calendar
             *
             * @param {Array}  shifts  The shifts
             */
            prepareShifts() {
                this.events = [];

                this.employeeShifts.forEach( ( shift ) => {
                    shift.dates.forEach( ( date ) => {
                        if ( moment( date ).isBetween( this.viewStart, this.viewEnd, 'day', '[]' ) ) {
                            const scheduleStartTime = moment( shift.schedule.start_time, 'HH:mm' );
                            const scheduleEndTime = moment( shift.schedule.end_time, 'HH:mm' );
                            const isNightShift = scheduleStartTime.isAfter( scheduleEndTime );

                            this.addEvents(
                                shift.schedule.name,
                                moment( date )
                                    .add( scheduleStartTime.hours(), 'hours' )
                                    .add( scheduleStartTime.minutes(), 'minutes' ),
                                isNightShift ?
                                    moment( date )
                                        .add( 1, 'day' ).add( scheduleEndTime.hours(), 'hours' )
                                    :
                                    moment( date )
                                        .add( scheduleEndTime.hours(), 'hours' )
                                        .add( scheduleEndTime.minutes(), 'minutes' ),
                                shift.employee_id,
                                'shifts',
                                shift.id,
                                CALENDAR_COLORS.MY.SHIFTS,
                                shift
                            );
                        }
                    });
                });
            },

            /**
             * Prepares leaves for calendar
             *
             * @param {Array}  employeeLeaves
             */
            prepareLeaves() {
                this.employeeLeaves.forEach( ( employeeLeave ) => {
                    employeeLeave.request.leaves.forEach( ( leave ) => {
                        if ( moment( leave.date ).isBetween( this.viewStart, this.viewEnd, 'day', '[]' ) ) {
                            const leaveStartTime = moment( leave.start_time, 'HH:mm' );
                            const leaveEndTime = moment( leave.end_time, 'HH:mm' );

                            this.addEvents(
                                employeeLeave.request.leave_type.name,
                                moment( leave.date )
                                    .add( leaveStartTime.hours(), 'hours' )
                                    .add( leaveStartTime.minutes(), 'minutes' ),
                                moment( leave.date )
                                    .add( leaveEndTime.hours(), 'hours' )
                                    .add( leaveEndTime.minutes(), 'minutes' ),
                                employeeLeave.employee_id,
                                'leaves',
                                employeeLeave.id,
                                CALENDAR_COLORS.MY.LEAVES,
                                leave
                            );
                        }
                    });
                });
            },

            /**
             * Prepare attendance events.
             * @param {Array} data timeclock
             * @param {String} type
             */
            prepareAttendance( data ) {
                this.attendance = data;
                const groupedByEmployee = groupBy( data, 'employee_uid' );
                const userEmployeeId = this.user.employee_id;
                let index = 0;

                keys( groupedByEmployee ).forEach( ( employeeId ) => {
                    if ( parseInt( userEmployeeId, 10 ) !== parseInt( employeeId, 10 ) ) {
                        return;
                    }

                    timeClockService.handleAttendancePairing( groupedByEmployee[ employeeId ])
                        .forEach( ( attendancePair ) => {
                            index = this.addAttendanceEvent( attendancePair, index );
                        });
                });
            },

            /**
             * Prepares Default schedule events.
             *
             * @param {Object} start
             * @param {Object} end
             *
             */
            prepareDefaultSchedules( start, end ) {
                if ( !this.defaultSchedules.length ) {
                    return;
                }

                this.defaultScheduleEvents = [];

                let current = start.clone().subtract( 1, 'day' );

                while ( current.isSameOrBefore( end, 'day' ) ) {
                    const found = this.findEvent( current );
                    const defaultSchedule = shiftsService.getDefaultScheduleForDate({ defaultScheduleData: this.defaultSchedules }, current );

                    defaultSchedule.schedule = {
                        type: 'default',
                        total_hours: this.calculateTotalHours( defaultSchedule.work_start, defaultSchedule.work_end )
                    };

                    const isNightShift = moment( defaultSchedule.work_start, 'HH:mm:ss' ).isAfter( moment( defaultSchedule.work_end, 'HH:mm:ss' ) );

                    if ( isNightShift ) {
                        current = moment( current.format( 'YYYY-MM-DD' ), 'YYYY-MM-DD' );
                    }

                    const date = current.format( 'YYYY-MM-DD' );

                    const startDate = moment( `${date} ${defaultSchedule.work_start}`, 'YYYY-MM-DD HH:mm:ss' );
                    const endDate = moment( `${date} ${defaultSchedule.work_end}`, 'YYYY-MM-DD HH:mm:ss' );

                    if ( isNightShift ) {
                        endDate.add( 1, 'day' );
                    }

                    if ( !found && defaultSchedule.day_type !== 'rest_day' && !this.hasUserDefinedRestDay( startDate ) ) {
                        this.defaultScheduleEvents.push({
                            title: 'Default Schedule',
                            start: startDate,
                            end: endDate,
                            employee: this.getEmployeeName( this.user.employee_id ),
                            employeeId: this.user.employee_id,
                            type: 'shifts',
                            typeId: defaultSchedule.day_of_week,
                            eventBackgroundColor: CALENDAR_COLORS.MY.SHIFTS.background,
                            eventBorderColor: CALENDAR_COLORS.MY.SHIFTS.border,
                            original: defaultSchedule
                        });
                    }

                    current = current.add( 1, 'days' );
                }
            },

            /**
             * Calculates Total Hours for schedule.
             *
             * @param {String} start
             * @param {String} end
             *
             * @returns {Number} Total hours.
             */
            calculateTotalHours( start, end ) {
                return moment( end, 'HH:mm:ss' ).subtract( moment( start, 'HH:mm:ss' ).hours(), 'hours' ).hours();
            },

            /**
             * Finds event on specific day.
             *
             * @param {Object} current
             *
             * @returns {Object} Event.
             */
            findEvent( current ) {
                return find( this.events, ( event ) =>
                    moment( event.start ).isSame( current, 'day' ) && event.type === 'shifts'
                );
            },

            /**
             * Add attendace event based on pair of clock-in and clock-out.
             * @param {Object} attendancePair
             * @param {Number} index
             * @return {Number}
             */
            addAttendanceEvent( attendancePair, index ) {
                if ( !attendancePair.clockIn ) {
                    return this.addAttendanceEventWithoutClockin( attendancePair, index );
                }

                if ( !attendancePair.clockOut ) {
                    return this.addAttendanceEventWithoutClockout( attendancePair, index );
                }

                return this.addAttendanceEventWithClockinAndOut( attendancePair, index );
            },

            /**
             * Get base data for attendance event object.
             * @return {Object}
             */
            makeAttendanceEvent( attendancePair, employeeId, start, end, index ) {
                const eventColors = CALENDAR_COLORS.MY.ATTENDANCE;

                return {
                    title: 'Attendance',
                    employee: this.getEmployeeName( employeeId ),
                    employeeId,
                    type: 'attendance',
                    typeId: index,
                    eventBackgroundColor: eventColors.background,
                    eventBorderColor: eventColors.border,
                    start,
                    end,
                    original: attendancePair
                };
            },

            /**
             * Add attendace event based on just clock-in.
             * @param {Object} attendancePair
             * @param {Number} index
             * @return {Number}
             */
            addAttendanceEventWithoutClockin( attendancePair, index ) {
                const end = moment( attendancePair.clockOut.timestamp, 'X' );

                this.events.push( this.makeAttendanceEvent(
                    attendancePair,
                    attendancePair.clockOut.employee_uid,
                    end,
                    end,
                    index
                ) );

                return index + 1;
            },

            /**
             * Add attendace event based on just clock-out.
             * @param {Object} attendancePair
             * @param {Number} index
             * @return {Number}
             */
            addAttendanceEventWithoutClockout( attendancePair, index ) {
                const start = moment( attendancePair.clockIn.timestamp, 'X' );

                this.events.push( this.makeAttendanceEvent(
                    attendancePair,
                    attendancePair.clockIn.employee_uid,
                    start,
                    start,
                    index
                ) );

                return index + 1;
            },

            /**
             * Add attendace event based on clock-in and clock-out.
             * @param {Object} attendancePair
             * @param {Number} index
             * @return {Number}
             */
            addAttendanceEventWithClockinAndOut( attendancePair, index ) {
                const start = moment( attendancePair.clockIn.timestamp, 'X' );
                const end = moment( attendancePair.clockOut.timestamp, 'X' );

                this.events.push( this.makeAttendanceEvent(
                    attendancePair,
                    attendancePair.clockIn.employee_uid,
                    start,
                    end,
                    index
                ) );

                return index + 1;
            },

            /**
             * Map shift events to attendance events
             *
             * 1. Time records occurred within the shift must be included to that shift.
             * 2. Time records occurred before the first shift must be included to the first shift.
             * 3. Time records occurred after the last shift must be included to the last shift.
             * 4. Time records occurred within the duration of the end of shift and start of next
             *    shift must be included to the previous shift.
             *
             * @see https://code.salarium.com/salarium/development/t-and-a-manila/issues/6344
             *
             * @param  {Array} shifts      Array of shift events
             * @param  {Array} attendances Array of attendance events
             * @return {Array}
             */
            mapShiftEventsToAttendanceEvents( shifts, attendances, previousDateShifts = [ ], nextDateShifts = [ ], date ) {
                // Get shifts and sort them by their start time ascending. Earlier start time first.
                const { dateTimeFormat } = this;
                const orderedShifts = shifts.sort( ( a, b ) => a.start - b.start );
                const mappedAttendances = [];

                orderedShifts.forEach( ( shift ) => {
                    const attendancesForShift = new Set();
                    const { start: shiftStart, end: shiftEnd } = shift;

                    const startOfDay = dateTimeFormat( moment( date ).startOf( 'day' ) );
                    const endOfDay = dateTimeFormat( moment( date ).endOf( 'day' ) );
                    const endOfNextDay = dateTimeFormat( moment( date ).endOf( 'day' ).add( 1, 'days' ) );

                    const isFirstShift = orderedShifts[ 0 ] === shift;
                    const isLastShift = orderedShifts[ orderedShifts.length - 1 ] === shift;

                    // add attendance record that falls within the shift
                    this.filterAttendanceEventsByRange( attendances, shiftStart, shiftEnd, true )
                        .forEach( ( attendance ) => {
                            if ( !attendancesForShift.has( attendance ) ) {
                                attendancesForShift.add( attendance );
                            }
                        });

                    // add attendance record that starts on the current day
                    this.filterAttendanceEventsByRange( attendances, startOfDay, endOfNextDay, true )
                        .forEach( ( attendance ) => {
                            if ( attendance.start.isSameOrBefore( endOfDay ) && !attendancesForShift.has( attendance ) ) {
                                attendancesForShift.add( attendance );
                            }
                        });

                    if ( isFirstShift ) {
                        if ( previousDateShifts.length ) {
                            const orderedPreviousShifts = previousDateShifts.sort( ( a, b ) => a.start - b.start );
                            const previousShiftStart = orderedPreviousShifts[ orderedPreviousShifts.length - 1 ].start;
                            const previouShiftEnd = orderedPreviousShifts[ orderedPreviousShifts.length - 1 ].end;

                            // remove attendance record that falls on previous shift
                            if ( previousShiftStart ) {
                                attendancesForShift.forEach( ( attendance ) => {
                                    if ( attendance.start.isBetween( previousShiftStart, previouShiftEnd ) ) {
                                        attendancesForShift.delete( attendance );
                                    }
                                });
                            }
                        }
                    }

                    if ( isLastShift ) {
                        if ( nextDateShifts.length ) {
                            const orderedNextShifts = nextDateShifts.sort( ( a, b ) => a.start - b.start );
                            const nextShiftStart = orderedNextShifts[ 0 ].start;
                            const nextShiftEnd = orderedNextShifts[ 0 ].end;

                            // remove attendance record that starts on the next day and occurs outside the shift
                            if ( nextShiftStart ) {
                                attendancesForShift.forEach( ( attendance ) => {
                                    if ( attendance.start.isAfter( endOfDay ) && attendance.start.isBetween( nextShiftStart, nextShiftEnd ) ) {
                                        attendancesForShift.delete( attendance );
                                    }
                                });
                            }
                        }
                    }

                    mappedAttendances.push( ...this.addRelatedShiftToAttendanceEvents(
                        [...attendancesForShift],
                        shift
                    ) );
                });

                return mappedAttendances;
            },

            /**
             * Add the related shift to the list of attendance events to be used in
             * displaying time records for a shift
             *
             * @param {Array}  attendances List of attendance
             * @param {Object} shift       Shift data
             * @return {Array}
             */
            addRelatedShiftToAttendanceEvents( attendances, shift ) {
                return attendances.map( ( attendance ) => ({
                    ...attendance,
                    relatedShift: shift
                }) );
            },

            /**
             * Filter the related shift from the list of attendance events based on the
             * specified shift parameter
             *
             * @param  {Array}  attendances List of attendance
             * @param  {Object} shift       Shift data
             * @return {Array}
             */
            filterRelatedShiftFromAttendanceEvents( attendances, shift ) {
                return attendances.filter( ({ relatedShift }) => relatedShift === shift );
            },

            /**
             * Filter list of attendance events based on the given start and end ranges
             *
             * @param  {Array} attendances List of attendance events
             * @param  {Date}  start       Start date
             * @param  {Date}  end         End date
             * @return {Array}n
             */
            filterAttendanceEventsByRange( attendances, start, end, strict = false ) {
                return attendances.filter( ( attendanceEvent ) => {
                    const { dateTimeFormat } = this;
                    const { start: clockIn, end: clockOut } = attendanceEvent;

                    if ( clockIn.isSameOrAfter( end ) ) {
                        return false;
                    }

                    if ( strict ) {
                        // return all attendance between specified start and end shift
                        return ( ( dateTimeFormat( clockIn ).isBetween( dateTimeFormat( start ), dateTimeFormat( end ), undefined, '[]' ) && dateTimeFormat( clockOut ).isBetween( dateTimeFormat( start ), dateTimeFormat( end ), undefined, '[]' ) ) );
                    }

                    // Used to indicate the start and end dates in comparison
                    // https://momentjs.com/docs/#/query/is-between/
                    return clockIn.isBetween( start, end, undefined, '[]' )
                        || clockOut.isBetween( start, end, undefined, '(]' );
                });
            },

            /**
             * Get all dates in date range.
             * @param {Moment|String} startDate
             * @param {Moment|String} endDate
             * @return {Array}
             */
            getDatesInRange( startDate, endDate ) {
                const dates = [];
                const end = moment( endDate );
                let current = moment( startDate );

                while ( current.isSameOrBefore( end, 'day' ) ) {
                    dates.push( moment( current ).format( 'YYYY-MM-DD' ) );
                    current = moment( current ).add( 1, 'days' );
                }

                return dates;
            },

            /**
             * Prepare Pay Dates
             *
             * @param {Array} payDates
             * @param {Object} eventColors
             * @param {String} type
             */
            preparePayrollDisbursements( start, end ) {
                this.payrolDisbursementEvents = [];
                this.payDates.forEach( ( paydate ) => {
                    const allRecurs = moment().recur( start, end ).every( moment( paydate[ paydate.name ]).date() ).dayOfMonth();

                    allRecurs.all().forEach( ( recur ) => {
                        this.payrolDisbursementEvents.push({
                            title: paydate.name,
                            start: moment( recur ).startOf( 'day' ),
                            end: moment( recur ).endOf( 'day' ),
                            employee: this.getEmployeeName( paydate.employee_id ),
                            employeeId: paydate.employee_id,
                            type: 'payroll_disbursements',
                            typeId: paydate.group_id,
                            eventBackgroundColor: CALENDAR_COLORS.MY.PAYROLL_DISBURSEMENTS.background,
                            eventBorderColor: CALENDAR_COLORS.MY.PAYROLL_DISBURSEMENTS.border
                        });
                    });
                });
            },

            /**
             * Adds events.
             *
             * @param {String} title
             * @param {Date} start
             * @param {Date} end
             * @param {Number} employeeId
             * @param {String} type
             * @param {Number} typeId
             * @param {Object} eventColors
             * @param {Object} original
             */
            addEvents( title, start, end, employeeId, type, typeId, eventColors, original ) {
                this.events.push({
                    title,
                    start,
                    end,
                    employee: this.getEmployeeName( employeeId ),
                    employeeId,
                    type,
                    typeId,
                    eventBackgroundColor: eventColors.background,
                    eventBorderColor: eventColors.border,
                    original: {
                        schedule: original.schedule
                    }
                });
            },

            /**
             * Shows the events for day.
             */
            showEventsForDay() {
                this.showSection = true;
            },

            /**
             * Rerender events.
             */
            rerenderEvents() {
                const view = $( this.$refs.calendar ).fullCalendar( 'getView' );
                this.preparePayrollDisbursements( view.start, view.end );

                if ( view.name === 'agendaDay' ) {
                    this.prepareDefaultSchedules(
                        moment.utc( view.start.format( 'X' ), 'X' ),
                        moment.utc( view.end.format( 'X' ), 'X' )
                    );
                } else {
                    this.prepareDefaultSchedules( view.start, view.end );
                }

                $( this.$refs.calendar ).fullCalendar( 'removeEvents' );
                $( this.$refs.calendar ).fullCalendar( 'removeEventSources' );

                if ( this.view === 'month' ) {
                    $( this.$refs.calendar ).fullCalendar( 'addEventSource', this.monthEvents );
                } else {
                    $( this.$refs.calendar ).fullCalendar( 'addEventSource', this.filteredEvents );
                }

                $( this.$refs.calendar ).fullCalendar( 'rerenderEvents' );
            },

            /**
             * Show filter
             */
            showFilter() {
                this.filterIsVisible = true;
            },

            /**
             * Hide filter
             */
            hideFilter() {
                this.filterIsVisible = false;
            },

            /**
             * Apply filters
             * @param {Object} filters
             */
            applyFilters( filters ) {
                this.filters = filters;
                this.rerenderEvents();
            }
        },
        filters: {
            /**
             * Formats date
             *
             * @param {String} date
             * @return {String} formated date
             */
            dateFormat( date ) {
                return moment( date ).format( 'MMMM DD, YYYY' );
            }
        }
    };
</script>

<style lang="scss">
    @import "~fullcalendar/dist/fullcalendar.css";

    .fc-header-toolbar {
        display: grid;
        grid-template-columns: 6rem 1fr 5rem;
        grid-column-gap: $sl-gutter-sm;
        grid-row-gap: $sl-gutter;
        grid-template-areas: "arrows name name"
                             "range range range";

        h2 {
            font-size: 1rem;
        }

        .fc-left {
            grid-area: arrows;

            .fc-state-default {
                border-color: transparent;
            }
        }

        .fc-right {
            grid-area: name;
            display: grid;
            grid-template-columns: 1fr 5rem;
            grid-column-gap: $sl-gutter-sm;
        }

        .fc-center {
            grid-area: range;
            text-align: center;

            .fc-button-group {
                display: flex;
                width: 100%;

                > * {
                    flex-grow: 1;
                }
            }
        }

        .fc-state-default {
            background-color: $sl-color-white;
            background-image: none;
            box-shadow: none;
            text-shadow: none;
            border-color: $sl-color-grey;

            &.fc-state-active {
                color: $sl-color-white;
                background-color: $sl-color-blue;
            }
        }
    }

    .fc-head-container {
        .fc-day-header {
            padding: $sl-gutter-sm 0;
        }
    }

    .fc-day-grid-container {
        height: auto !important;
    }

    .fc-event-month {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .fc-content-month {
            display: block;
            width: 7px;
            height: 7px;
            box-sizing: border-box;
        }
    }

    .fc-state-highlight {
        background: $sl-color-lightblue;
    }

    .sl-u-number {
        display: block;
        font-size: 1.2rem;
    }

    th.fc-day-header.fc-widget-header {
        border: none;
        font-weight: 500;
    }

    span.fc-day-number {
        padding-right: 15% !important;
    }
</style>
