<template>
    <sal-card>
        <template slot="header">
            <h4 class="sl-c-card__title">
                {{ approval.params.owner.name }}
            </h4>
        </template>

        <template slot="actions">
            <slot name="label" :approval="approval"></slot>
        </template>

        <slot :approval="approval"></slot>

        <sal-approval-actions
            slot="footer"
            :approval="approval"
            :messages-route="messagesRoute"
            @approved="approved"
            @declined="declined"
        >
        </sal-approval-actions>
    </sal-card>
</template>

<script>
    export default {
        name: 'sal-approval-card-mobile',

        props: {
            approval: {
                type: Object,
                required: true
            },

            messagesRoute: {
                type: String,
                required: true
            }
        },

        methods: {
            approved( approval ) {
                this.$emit( 'approved', approval );
            },
            declined( approval ) {
                this.$emit( 'declined', approval );
            }
        }
    };
</script>

<style>
</style>
