<template>
    <div class="item"
        @click="click"
        :class="[selectedItem ? 'selected' : '']">

        <div class="picture">
            <sal-checkbox-mobile
                :id="`checkbox-${approval.id}`"
                :value="requestIds.includes( approval.id )"
                label=" "
                v-model="checkboxStatus"
                class="sl-c-check--type-request-approvals"
            />

            <img :src="approval.employee_picture" alt="Avatar" class="picture-holder">
        </div>

        <div class="name">
            <div class="name-wrapper">
                {{ approval.params.owner.name }}
            </div>
        </div>

        <div class="type">
            <div class="type-circle" :class="[typeCircleClass]"></div>
            <div class="type-name">
                {{ requestTypeName }}
            </div>
        </div>

        <component :is="displayInfo"></component>

        <div class="actions">
            <div class="actions-buttons" :class="showApproverData ? 'mt-20' : ''">
                <i class="fa fa-md fa-commenting sl-u-text--disabled"
                    :class=[msgIconClass]
                    @click.stop="onClickMsg">
                </i>
                <i class="fa fa-md fa-ban sl-u-text--disabled"
                    :class=[cancelIconClass]
                    @click.stop="cancelRequest">
                </i>
                <i class="fa fa-md fa-times-circle sl-u-text--disabled"
                    :class=[declineIconClass]
                    @click.stop="declineRequest">
                </i>
                <i class="fa fa-md fa-check-circle sl-u-text--disabled"
                    :class=[approveIconClass]
                    @click.stop="approveRequest">
                </i>
            </div>

            <div class="approver" v-if="showApproverData">
                <div class="type-circle" :class="[typeCircleClass]"></div>
                <div class="details">
                    Pending approval from {{ approval.current_approver_name }}
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment';
    import { REQUEST_TYPE_NAME, NEW_DATE_FORMAT, APPROVAL_REQUEST_TYPE, REQUEST_STATUSES } from '@/constants/employee-request';
    import { find, isEmpty, get } from 'lodash-es';
    import { employeeRequestService } from '@/utils/services/EmployeeRequestService';
    import { auth } from '@/utils/Authentication';

    export default {
        name: 'sal-approval-item',
        props: {
            approval: {
                type: Object,
                required: true
            },
            selectedItem: {
                type: Boolean,
                default: false
            },
            checkedAllRequests: {
                type: Boolean,
                default: false
            },
            requestIds: {
                type: Array,
                default: []
            }
        },
        data() {
            return {
                currentUserId: '',
                companyId: ''
            };
        },
        created() {
            this.currentUserId = auth.getUserId();

            const data = auth.fetchUser();

            if ( data && data.employee ) {
                this.companyId = data.employee.company_id;
            }
        },
        computed: {
            checkboxStatus: {
                get() {
                    return this.checkedAllRequests;
                },
                set() {
                    this.$emit( 'onCheckedRequest' );
                }
            },
            requestTypeName() {
                return REQUEST_TYPE_NAME[ this.approval.request_type ];
            },
            typeCircleClass() {
                const statusClass = {
                    Pending: 'pending',
                    Processing: 'pending',
                    Approved: 'approved',
                    Declined: 'declined',
                    Rejected: 'declined',
                    Cancelled: 'cancelled'
                };

                return statusClass[ this.approval.status ];
            },
            displayInfo() {
                let info = '<div><strong>Times In and Out</strong></div>';
                let dateDetail = '<div>for Mon 10 Apr 2023</div>';

                switch ( this.approval.request_type ) {
                    case APPROVAL_REQUEST_TYPE.LEAVE: {
                        const sameDay = moment( this.approval.request.start_date ).isSame( this.approval.request.end_date, 'day' );

                        info = `
                            <div>
                                <strong>${this.approval.request.total_value} ${this.approval.request.unit} </strong>
                                ${this.approval.request.leave_type && this.approval.request.leave_type.name}
                            </div>
                        `;
                        if ( sameDay ) {
                            dateDetail = `<div>${moment( this.approval.request.start_date ).format( NEW_DATE_FORMAT )}</div>`;
                        } else {
                            dateDetail = `<div>${moment( this.approval.request.start_date ).format( NEW_DATE_FORMAT )} - ${moment( this.approval.request.end_date ).format( NEW_DATE_FORMAT )}</div>`;
                        }
                        break;
                    }

                    case APPROVAL_REQUEST_TYPE.UNDERTIME: {
                        const totalHrs = this.approval.request.params.shifts[ 0 ].hours;

                        info = `
                            <div>
                                <strong>${totalHrs} Hours </strong> of Undertime
                            </div>
                        `;
                        dateDetail = `<div>${moment( this.approval.request.date ).format( NEW_DATE_FORMAT )}</div>`;
                        break;
                    }

                    case APPROVAL_REQUEST_TYPE.OVERTIME: {
                        const totalHrs = this.approval.request.params.shifts[ 0 ].hours;

                        info = `
                            <div>
                                <strong>${totalHrs} Hours </strong> of Overtime
                            </div>
                        `;
                        dateDetail = `<div>${moment( this.approval.request.date ).format( NEW_DATE_FORMAT )}</div>`;
                        break;
                    }

                    case APPROVAL_REQUEST_TYPE.TIME_DISPUTE: {
                        const sameDay = moment( this.approval.request.start_date ).isSame( this.approval.request.end_date, 'day' );

                        info = `
                            <div>
                                <strong>Times In and Out</strong>
                            </div>
                        `;

                        if ( sameDay ) {
                            dateDetail = `<div>for ${moment( this.approval.request.start_date ).format( NEW_DATE_FORMAT )}</div>`;
                        } else {
                            dateDetail = `<div>for ${moment( this.approval.request.start_date ).format( NEW_DATE_FORMAT )} - ${moment( this.approval.request.end_date ).format( NEW_DATE_FORMAT )}</div>`;
                        }
                        break;
                    }

                    case APPROVAL_REQUEST_TYPE.SHIFT_CHANGE: {
                        const sameDay = moment( this.approval.request.start_date ).isSame( this.approval.request.end_date, 'day' );
                        const schedName = this.approval.request.schedules[ 0 ].name;

                        info = `
                            <div>
                                <strong>${schedName}</strong> Schedule
                            </div>
                        `;

                        if ( sameDay ) {
                            dateDetail = `<div>for ${moment( this.approval.request.start_date ).format( NEW_DATE_FORMAT )}</div>`;
                        } else {
                            dateDetail = `<div>for ${moment( this.approval.request.start_date ).format( NEW_DATE_FORMAT )} - ${moment( this.approval.request.end_date ).format( NEW_DATE_FORMAT )}</div>`;
                        }
                        break;
                    }

                    default:
                        break;
                }

                return {
                    template: `
                        <div class="info">
                            ${info}
                            ${dateDetail}
                        </div>
                    `
                };
            },
            msgIconClass() {
                return this.approval.messages_count > 0 ? 'sl-u-text--blue' : '';
            },

            cancelIconClass() {
                if ( this.approval.approval_position !== this.approval.approver_position ) {
                    return 'button--disabled';
                }
                return this.approval.status === 'Cancelled' ? 'sl-u-text--darkgrey' : '';
            },

            declineIconClass() {
                if ( this.approval.approval_position !== this.approval.approver_position ) {
                    return 'button--disabled';
                }
                return this.approval.status === 'Declined' ? 'sl-u-text--danger' : '';
            },

            approveIconClass() {
                if ( this.approval.approval_position !== this.approval.approver_position ) {
                    return 'button--disabled';
                }
                return this.approval.status === 'Approved' ? 'sl-u-text--success' : '';
            },

            showApproverData() {
                return this.approval.approval_position !== this.approval.approver_position
                    && this.approval.status === REQUEST_STATUSES.pending;
            },

            /**
             * Convert request status code to string.
             * @return {String}
             */
            status() {
                return this.approval.status;
            },

            /**
             * Check if request is pending.
             * @return {Boolean}
             */
            isPending() {
                return this.status === REQUEST_STATUSES.pending;
            },

            /**
             * Check if request is canceled.
             * @return {Boolean}
             */
            isCanceled() {
                return this.status === REQUEST_STATUSES.cancelled;
            },

            /**
             * Determines if Request is approved.
             *
             * @return {Boolean}  True if approved, False otherwise.
             */
            isApproved() {
                return ( this.approval.response && this.approval.response.approved && !this.isDetails )
                    || this.status === REQUEST_STATUSES.approved;
            },

            /**
             * Determines if Request is declined.
             *
             * @return {Boolean}  True if declined, False otherwise.
             */
            isDeclined() {
                return ( this.approval.response && !this.approval.response.approved )
                    || this.status === REQUEST_STATUSES.declined;
            },

            /**
             * Determines if Request is rejected.
             *
             * @return {Boolean}  True if rejected, False otherwise.
             */
            isRejected() {
                return this.status === REQUEST_STATUSES.rejected;
            },

            isProcessing() {
                return [ 'Approving', 'Declining', 'Canceling' ].includes( this.status );
            },

            /**
             * Determines if Request is approved by higher level.
             *
             * @return {Boolean}  True if approved, False otherwise.
             */
            isApprovedByHigherLevel() {
                return this.approval.response
                    && this.approval.response.approved === null;
            },

            /**
             * Gets approver response.
             * @returns {Object} returns response or -1 if not found.
             */
            approverResponse() {
                return find( this.approval.approver_responses, ( response ) =>
                    response && response.approver_id === this.currentUserId
                );
            },

            /**
             * Determines if Approval has response.
             *
             * @return {Boolean}  True if has response, False otherwise.
             */
            hasResponse() {
                if ( this.approverResponse || this.approverResponse !== undefined ) {
                    return this.approverResponse !== -1 && this.approverResponse.approved;
                }

                return false;
            },

            /**
             * Determines if Approval has alredy been responded to.
             *
             * @return {Boolean}  True if has response, False otherwise.
             */
            hasResponseFromLowerLevel() {
                return !this.isPending && !this.isCanceled;
            },

            /**
             * Check does approval have response from same worklfow level.
             *
             * @returns {Boolean}
             */
            hasResponseFromSameWorkflowLevel() {
                return !isEmpty( this.approvedFromSameWorkflowLevelAsCurrentUser );
            },

            /**
             * Check is approval request approved from same workfow level.
             *
             * @returns {number|Object} -1 if not found else object
             */
            approvedFromSameWorkflowLevelAsCurrentUser() {
                if ( isEmpty( this.approverResponse ) ) {
                    return false;
                }

                return find( this.approval.approver_responses, ( response ) =>
                    this.approverResponse.workflow_level_position === response.workflow_level_position
                );
            }
        },
        methods: {
            click() {
                this.$emit( 'click' );
            },
            onClickMsg() {
                this.$emit( 'onClickMsg' );
            },
            /**
             * Decline the request if it's pending and emit "declined" event.
             */
            declineRequest() {
                if ( this.responding || !this.isPending ) return;

                this.responding = true;

                const data = {
                    company_id: this.companyId,
                    employee_requests_ids: [this.approval.id]
                };

                this.$modal.confirm({
                    type: 'danger',
                    title: 'Decline request',
                    okText: 'Decline request',
                    content: 'Are you sure you want to decline this request?',
                    onOk: () => {
                        employeeRequestService
                            .newBulkDeclineRequests( data )
                            .then( () => {
                                this.responding = false;
                                this.$emit( 'refreshApprovals' );
                            }).catch( ( error ) => {
                                this.$emit( 'refreshApprovals' );
                                const { response } = error;
                                this.$flashMessage.show( get( response, 'data.message', error.message ), 'error' );
                                this.responding = false;
                            });
                    },
                    onCancel: () => {
                        this.responding = false;
                    }
                });
            },

            /**
             * Approve the request if it's pending and emit "approved" event.
             */
            approveRequest() {
                if ( this.responding || !this.isPending ) return;

                this.responding = true;

                const data = {
                    company_id: this.companyId,
                    employee_requests_ids: [this.approval.id]
                };

                this.$modal.confirm({
                    type: 'primary',
                    title: 'Approve request',
                    okText: 'Approve request',
                    content: 'Are you sure you want to Approve this request?',
                    onOk: () => {
                        employeeRequestService
                            .newBulkApproveRequests( data )
                            .then( () => {
                                this.responding = false;
                                this.$emit( 'refreshApprovals' );
                            }).catch( ( error ) => {
                                this.$emit( 'refreshApprovals' );
                                const { response } = error;
                                this.$flashMessage.show( get( response, 'data.message', error.message ), 'error' );
                                this.responding = false;
                            });
                    },
                    onCancel: () => {
                        this.responding = false;
                    }
                });
            },

            /**
             * Cancel the request if it's pending/approved and emit "cancelled" event.
             */
            cancelRequest() {
                if ( this.responding || !( this.isPending || this.isApproved ) ) return;

                this.responding = true;

                const data = {
                    company_id: this.companyId,
                    employee_requests_ids: [this.approval.id]
                };

                this.$modal.confirm({
                    type: 'danger',
                    title: 'Cancel request',
                    okText: 'Cancel request',
                    content: 'Are you sure you want to cancel this request?',
                    onOk: () => {
                        employeeRequestService.newBulkCancelRequests( data )
                            .then( () => {
                                this.responding = false;
                                this.$emit( 'refreshApprovals' );
                            }).catch( ( error ) => {
                                this.$emit( 'refreshApprovals' );
                                const { response } = error;
                                this.$flashMessage.show( get( response, 'data.message', error.message ), 'error' );
                                this.responding = false;
                            });
                    },
                    onCancel: () => {
                        this.responding = false;
                    }
                });
            }
        }
    };
</script>

<style lang="scss" scoped>
    .sl-u-text--blue {
        color: $sl-color-blue;
    }

    .item {
        display: grid;
        grid-template-columns: 90px 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "picture name"
            ". type"
            ". info"
            ". actions";
        padding: $sl-gutter-md;
        cursor: pointer;

        &:hover {
            background-color: #f0f4f6;
        }

        &.selected {
            border-right: 4px solid $sl-color-blue;
        }

        .picture {
            grid-area: picture;
            display: flex;
            align-items: center;

            .picture-holder {
                height: 36px;
                width: 36px;
                border-radius: 999px;
                border: 2px solid $sl-color-lightblack;
            }
        }

        .name {
            grid-area: name;

            .name-wrapper {
                width: 90px;
                word-wrap: break-word;
            }
        }

        .type {
            grid-area: type;
            display: flex;
            align-items: center;

            .type-circle {
                height: 12px;
                width: 12px;
                border-radius: 999px;
                margin-right: $sl-gutter-sm;
            }

            .approved {
                background-color: $sl-color-lime-green;
            }

            .pending {
                background-color: $sl-color-bright-orange;
            }

            .declined {
                background-color: $sl-color-bright-red;
            }

            .cancelled {
                background-color: $sl-color-dark-gray;
            }
        }

        .approver {
            display: none;
        }

        .info {
            grid-area: info;
            padding-left: 16px;

            .text-bold {
                font-weight: 600;
            }
        }

        .actions {
            grid-area: actions;

            .mt-20 {
                margin-top: 20px;
            }

            .actions-buttons {
                display: flex;
                align-items: center;

                .fa-md {
                    font-size: 1.5rem;
                }

                i {
                    cursor: pointer;

                    &:hover {
                        &.fa-commenting {
                            color: $sl-color-blue;
                        }
                        &.fa-ban {
                            color: $sl-color-darkgrey;
                        }
                        &.fa-times-circle {
                            color: $sl-color-red;
                        }
                        &.fa-check-circle {
                            color: $sl-color-green;
                        }
                    }
                }

                i + i {
                    margin-left: $sl-gutter;
                }
            }

            .button--disabled {
                cursor: not-allowed;
                pointer-events: none;
            }
        }
    }

    .item + .item {
        border-top: 10px solid $sl-color-darksilver;
    }

    @media only screen and (min-width: 768px) {
        .item {
            grid-template-columns:  70px 1fr 1fr 1fr 150px;
            grid-template-areas: "picture name type info actions";
            padding: $sl-gutter;
            align-items: center;
            column-gap: $sl-gutter;

            .info {
                padding-left: 0;
            }

            .actions {
                grid-area: actions;
                padding-left: 0;
                margin-top: 0;

                .mt-20 {
                    margin-top: 20px;
                }

                .actions-buttons {
                    display: flex;
                    align-items: center;
                    padding-left: 16px;

                    .fa-md {
                        font-size: 1.5rem;
                    }

                    i {
                        cursor: pointer;

                        &:hover {
                            &.fa-commenting {
                                color: $sl-color-blue;
                            }
                            &.fa-ban {
                                color: $sl-color-darkgrey;
                            }
                            &.fa-times-circle {
                                color: $sl-color-red;
                            }
                            &.fa-check-circle {
                                color: $sl-color-green;
                            }
                        }
                    }

                    i + i {
                        margin-left: $sl-gutter;
                    }
                }

                .button--disabled {
                    cursor: not-allowed;
                    pointer-events: none;
                }
            }

            .approver {
                display: flex;
                align-items: center;

                .type-circle {
                    height: 12px;
                    width: 12px;
                    border-radius: 999px;
                    margin-right: $sl-gutter-sm;
                }

                .approved {
                    background-color: $sl-color-lime-green;
                }

                .pending {
                    background-color: $sl-color-bright-orange;
                }

                .declined {
                    background-color: $sl-color-bright-red;
                }

                .cancelled {
                    background-color: $sl-color-dark-gray;
                }

                .details {
                    font-size: 12px;
                    font-weight: 600;
                    padding-top: 10px;
                    padding-right: 10px;
                    color: #bebebe;
                    width: 150px;
                    word-wrap: break-word;
                }
            }
        }

        .item + .item {
            border-top: 1px solid $sl-color-silver;
        }
    }
</style>
