<template>
    <div class="sl-c-approve-buttons">
        <div class="sl-c-approve-btn" v-if="( isApproved && !isCanceled ) || (isPending && !hasResponseFromLowerLevel)">
            <sal-button-mobile id="approve-cancel" type="link" :onClick="cancelRequest" :disable="responding">
                <i class="fa fa-lg fa-ban sl-u-text--darkgrey"></i>
            </sal-button-mobile>
        </div>

        <div v-if="hasResponse || hasResponseFromLowerLevel || hasResponseFromSameWorkflowLevel " class="sl-c-approve-btn sl-u-grid-span">
            <span v-if="isApprovedByHigherLevel" class="sl-c-label sl-c-label--disabled sl-c-label--disabled">
                <i class="fa fa-circle fa-sm sl-u-text--disabled sl-u-gap-right--sm"></i>
                No action
            </span>

            <span v-else-if="isApproved" class="sl-c-label sl-c-label--success sl-c-label--disabled">
                <i class="fa fa-check sl-u-text--success sl-u-gap-right--sm"></i>
                Approved
            </span>

            <span v-else-if="isDeclined" class="sl-c-label sl-c-label--danger sl-c-label--disabled">
                <i class="fa fa-times sl-u-text--danger sl-u-gap-right--sm"></i>
                Declined
            </span>

            <span v-else-if="isRejected" class="sl-c-label sl-c-label--danger sl-c-label--disabled">
                <i class="fa fa-times sl-u-text--danger sl-u-gap-right--sm"></i>
                Rejected
            </span>

            <span v-else-if="isProcessing" class="sl-c-label sl-c-label--default sl-c-label--disabled">
                Approving / Declining
            </span>

            <div v-else-if="isCanceled" class="sl-c-label sl-c-label--default sl-c-label--disabled">
                <span class="sl-c-label sl-c-label--disabled">{{ status }}</span>
            </div>

            <span v-else class="sl-c-label sl-c-label--default sl-c-label--disabled">
                Pending
            </span>
        </div>

        <div class="sl-c-approve-btn sl-u-grid-span" v-else-if="isCanceled">
            <span class="sl-c-label sl-c-label--disabled">{{ status }}</span>
        </div>

        <template v-else-if="!hasResponseFromLowerLevel">
            <div class="sl-c-approve-btn">
                <sal-button-mobile id="approve-check" type="link" :onClick="approveRequest" :disable="responding">
                    <i class="fa fa-lg fa-check-circle sl-u-text--success"></i>
                </sal-button-mobile>
            </div>

            <div class="sl-c-approve-btn">
                <sal-button-mobile id="approve-decline" type="link" :onClick="declineRequest" :disable="responding">
                    <i class="fa fa-lg fa-times-circle sl-u-text--danger"></i>
                </sal-button-mobile>
            </div>
        </template>

        <div class="sl-c-approve-btn">
            <sal-button-mobile id="approve-messages" type="link" :onClick="goToRequestMessages">
                <i class="fa fa-lg fa-commenting"></i>
            </sal-button-mobile>
        </div>
    </div>
</template>
<script>
import { find, isEmpty, get } from 'lodash-es';
import { REQUEST_STATUSES } from '@/constants/employee-request';
import { employeeRequestService } from '@/utils/services/EmployeeRequestService';
import { auth } from '@/utils/Authentication';

export default {
    props: {
        approval: {
            type: Object,
            required: true
        },
        details: {
            type: Object
        },
        messagesRoute: {
            type: String,
            required: true
        },
        isDetails: {
            type: Boolean
        }
    },

    data() {
        return {
            responding: false,
            responded: false
        };
    },

    computed: {
        /**
         * Convert request status code to string.
         * @return {String}
         */
        status() {
            return this.approval.status;
        },

        /**
         * Check if request is pending.
         * @return {Boolean}
         */
        isPending() {
            return this.status === REQUEST_STATUSES.pending;
        },

        /**
         * Check if request is canceled.
         * @return {Boolean}
         */
        isCanceled() {
            return this.status === REQUEST_STATUSES.cancelled;
        },

        /**
         * Determines if Request is approved.
         *
         * @return {Boolean}  True if approved, False otherwise.
         */
        isApproved() {
            return ( this.approval.response && this.approval.response.approved && !this.isDetails )
                || this.status === REQUEST_STATUSES.approved;
        },

        /**
         * Determines if Request is declined.
         *
         * @return {Boolean}  True if declined, False otherwise.
         */
        isDeclined() {
            return ( this.approval.response && !this.approval.response.approved )
                || this.status === REQUEST_STATUSES.declined;
        },

        /**
         * Determines if Request is rejected.
         *
         * @return {Boolean}  True if rejected, False otherwise.
         */
        isRejected() {
            return this.status === REQUEST_STATUSES.rejected;
        },

        isProcessing() {
            return [ 'Approving', 'Declining', 'Canceling' ].includes( this.status );
        },

        /**
         * Determines if Request is approved by higher level.
         *
         * @return {Boolean}  True if approved, False otherwise.
         */
        isApprovedByHigherLevel() {
            return this.approval.response
                && this.approval.response.approved === null;
        },

        /**
         * Gets approver response.
         * @returns {Object} returns response or -1 if not found.
         */
        approverResponse() {
            return find( this.approval.approver_responses, ( response ) =>
                response && response.approver_id === this.currentUserId
            );
        },

        /**
         * Determines if Approval has response.
         *
         * @return {Boolean}  True if has response, False otherwise.
         */
        hasResponse() {
            if ( this.approverResponse || this.approverResponse !== undefined ) {
                return this.approverResponse !== -1 && this.approverResponse.approved;
            }

            return false;
        },

        /**
         * Determines if Approval has alredy been responded to.
         *
         * @return {Boolean}  True if has response, False otherwise.
         */
        hasResponseFromLowerLevel() {
            return !this.isPending && !this.isCanceled;
        },

        /**
         * Check does approval have response from same worklfow level.
         *
         * @returns {Boolean}
         */
        hasResponseFromSameWorkflowLevel() {
            return !isEmpty( this.approvedFromSameWorkflowLevelAsCurrentUser );
        },

        /**
         * Check is approval request approved from same workfow level.
         *
         * @returns {number|Object} -1 if not found else object
         */
        approvedFromSameWorkflowLevelAsCurrentUser() {
            if ( isEmpty( this.approverResponse ) ) {
                return false;
            }

            return find( this.approval.approver_responses, ( response ) =>
                this.approverResponse.workflow_level_position === response.workflow_level_position
            );
        }
    },

    created() {
        this.currentUserId = auth.getUserId();
    },

    methods: {
        /**
         * Decline the request if it's pending and emit "declined" event.
         */
        declineRequest() {
            if ( this.responding || !this.isPending ) return;

            this.responding = true;

            this.$modal.confirm({
                type: 'danger',
                title: 'Decline request',
                okText: 'Decline request',
                content: 'Are you sure you want to decline this request?',
                onOk: () => {
                    this.$loader.show();

                    employeeRequestService
                    .bulkDeclineRequests([this.approval.id])
                    .then( () => {
                        this.responding = false;
                        this.$loader.hide();

                        this.$emit( 'declined' );
                    });
                },
                onCancel: () => {
                    this.responding = false;
                }
            });
        },

        /**
         * Approve the request if it's pending and emit "approved" event.
         */
        approveRequest() {
            if ( this.responding || !this.isPending ) return;

            this.responding = true;

            this.$modal.confirm({
                type: 'primary',
                title: 'Approve request',
                okText: 'Approve request',
                content: 'Are you sure you want to Approve this request?',
                onOk: () => {
                    this.$loader.show();

                    employeeRequestService
                    .bulkApproveRequests([this.approval.id])
                    .then( () => {
                        this.responding = false;
                        this.$loader.hide();

                        this.$emit( 'approved' );
                    });
                },
                onCancel: () => {
                    this.responding = false;
                }
            });
        },

        /**
         * Cancel the request if it's pending/approved and emit "cancelled" event.
         */
        cancelRequest() {
            if ( this.responding || !( this.isPending || this.isApproved ) ) return;

            this.responding = true;

            const startDate = isEmpty( this.details ) ? this.approval.request.start_date : this.details.start_date;
            const endDate = isEmpty( this.details ) ? this.approval.request.end_date : this.details.end_date;
            const requestDate = isEmpty( this.details ) ? this.approval.request.date : this.details.date;

            const data = {
                id: this.approval.id,
                employee_id: this.approval.employee_id,
                dates: {
                    start_date: startDate,
                    end_date: endDate,
                    date: requestDate
                },
                status: this.approval.status
            };

            this.$modal.confirm({
                type: 'danger',
                title: 'Cancel request',
                okText: 'Cancel request',
                content: 'Are you sure you want to cancel this request?',
                onOk: () => {
                    this.$loader.show();

                    employeeRequestService.bulkCancelRequests([data])
                    .then( () => {
                        this.responding = false;
                        this.$loader.hide();

                        this.$emit( 'cancelled' );
                    }).catch( ( error ) => {
                        const { response } = error;
                        this.$flashMessage.show( get( response, 'data.message', error.message ), 'error' );

                        this.responding = false;
                        this.$loader.hide();
                    });
                },
                onCancel: () => {
                    this.responding = false;
                }
            });
        },

        /**
         * Routs to request messages.
         */
        goToRequestMessages() {
            this.$router.push({
                name: this.messagesRoute,
                params: { requestId: this.isDetails ? this.approval.request_id : this.approval.request.id }
            });
        }
    }
};
</script>
<style lang="scss" scoped>
    .sl-c-approve-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .sl-c-approve-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        &:not(:last-child) {
            border-right: 1px solid $sl-color-silver;
        }

        .sl-c-btn {
            display: block;
            width: 100%;
            padding: $sl-gutter-xs;

            .fa-lg {
                font-size: 2rem;
            }
        }
    }

    .sl-u-grid-span {
        grid-column: 2/3;
    }
</style>
