<template>
    <div class="sl-c-detail">
        <div class="sl-c-section">
            <div class="sl-c-detail-header">
                <h4 class="sl-c-detail-title">{{ requestTypeName }}</h4>
                <h4 class="sl-c-detail-status" :class="[getStatusClass]">{{ approval.status }}</h4>
                <h4 class="sl-c-detail-info">Submitted by <strong>{{ approval.params.owner.name }}</strong></h4>

                <div class="sl-c-actions">
                    <sal-button-mobile id="detail-close" size="sm" type="" :onClick="hide">
                        <i class="fa fa-times fa-lg"></i>
                    </sal-button-mobile>
                </div>
            </div>

            <div class="sl-c-section__body">
                <div class="tabs-container">
                    <div class="tab-item"
                        :class="[currentTab === 'message' ? 'selected' : '']"
                        @click="changeTab( 'message' )">
                        <h5>Message</h5>
                    </div>
                    <div class="tab-item"
                        :class="[currentTab === 'detail' ? 'selected' : '']"
                        @click="changeTab( 'detail' )">
                        <h5>Detail</h5>
                    </div>
                </div>

                <div class="tab-content">
                    <component
                        :is="getTabContent()"
                        :approval="approval"
                        :currentTab="currentTab"
                    />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment';
    import { REQUEST_TYPE_NAME, APPROVAL_REQUEST_TYPE, DATE_FORMAT } from '@/constants/employee-request';

    export default {
        name: 'sal-approval-side-panel-detail',
        data() {
            return {
                currentTab: 'detail'
            };
        },
        props: {
            approval: {
                type: Object
            }
        },
        computed: {
            from() {
                return moment( this.approval.request.date ).format( DATE_FORMAT );
            },
            to() {
                return moment( this.approval.request.date ).format( DATE_FORMAT );
            },
            requestTypeName() {
                return REQUEST_TYPE_NAME[ this.approval.request_type ];
            },
            getStatusClass() {
                const statusClass = {
                    Pending: 'pending',
                    Processing: 'pending',
                    Approved: 'approved',
                    Declined: 'declined',
                    Rejected: 'declined',
                    Cancelled: 'cancelled'
                };

                return statusClass[ this.approval.status ];
            }
        },
        created() {
            const { name } = this.$route;
            if ( name.includes( 'details' ) ) {
                this.currentTab = 'detail';
            } else if ( name.includes( 'messages' ) ) {
                this.currentTab = 'message';
            }
        },
        methods: {
            hide() {
                this.$emit( 'close' );
            },
            changeTab( tab ) {
                if ( this.currentTab !== tab ) {
                    this.currentTab = tab;
                }
            },
            getTabContent() {
                let component = '';

                switch ( this.approval.request_type ) {
                    case APPROVAL_REQUEST_TYPE.LEAVE: {
                        component = 'sal-side-panel-tabs-leave';
                        break;
                    }

                    case APPROVAL_REQUEST_TYPE.UNDERTIME: {
                        component = 'sal-side-panel-tabs-undertime';
                        break;
                    }

                    case APPROVAL_REQUEST_TYPE.OVERTIME: {
                        component = 'sal-side-panel-tabs-overtime';
                        break;
                    }

                    case APPROVAL_REQUEST_TYPE.TIME_DISPUTE: {
                        component = 'sal-side-panel-tabs-time-dispute';
                        break;
                    }

                    case APPROVAL_REQUEST_TYPE.SHIFT_CHANGE: {
                        component = 'sal-side-panel-tabs-shift-change';
                        break;
                    }

                    default:
                        break;
                }

                return component;
            }
        }
    };
</script>

<style lang="scss" scoped>
    .sl-c-detail {
        font-size: .9rem;
        overflow-y: auto;
        height: calc(100vh - 3rem);
        background-color: $sl-color-white;
        box-shadow: 0 0 14px 0 #2b2b2b;

        .sl-c-section {

            .sl-c-detail-header {
                text-align: center;
                position: relative;
                padding: $sl-gutter;

                .sl-c-detail-title,
                .sl-c-detail-status,
                .sl-c-detail-info {
                    font-style: italic;
                }

                .sl-c-detail-status,
                .sl-c-detail-info {
                    font-size: 1rem;
                }

                .sl-c-detail-status {
                    &.approved {
                        color: $sl-color-lime-green;
                    }

                    &.pending {
                        color: $sl-color-bright-orange;
                    }

                    &.declined {
                        color: $sl-color-bright-red;
                    }

                    &.cancelled {
                        color: $sl-color-dark-gray;
                    }
                }

                .sl-c-actions {
                    position: absolute;
                    top: 1rem;
                    right: 1rem;
                }
            }

            .tabs-container {
                display: flex;
                border-bottom: 1px solid $sl-color-lightgrey;
                margin-top: $sl-gutter;

                .tab-item {
                    flex: 1;
                    text-align: center;
                    padding: $sl-gutter 0;
                    cursor: pointer;

                    &.selected {
                        border-bottom: 3px solid $sl-color-blue;
                    }

                    h5 {
                        margin: 0;
                    }
                }
            }

            .detail-content {
                padding: 2rem;
            }
        }
    }
</style>
