<template>
    <div class="sl-c-filter-list">
        <div class="sl-c-section">
            <div class="sl-c-section__header">
                <h4 class="sl-c-section__title">Filter <i class="fa fa-duotone fa-spinner" v-show="showSpinner"></i></h4>

                <div class="sl-c-actions">
                    <sal-button-mobile id="filter-close" size="sm" type="" :onClick="hide">
                        <i class="fa fa-times fa-lg"></i>
                    </sal-button-mobile>
                </div>
            </div>

            <div class="sl-c-section__body">
                <h5>Show requests from</h5>
                <div class="sl-c-form-group">
                    <sal-multiselect
                        v-model="filters.affected_employees"
                        multiple
                        @search-change="getEntitledEmployeesOptions"
                        :show-no-results="false"
                        :hide-selected="true"
                        open-direction="bottom"
                        :loading="isSearchingForEntitledEmployees"
                        :options="entitledEmployeesOptions"
                        placeholder="Enter location, department, position or employee name"
                        label="name"
                        track-by="uid"
                    >
                    </sal-multiselect>
                </div>

                <h5>Approval status</h5>
                <div class="sl-c-form-group">
                    <sal-checkbox-mobile
                        v-for="(statusName, statusValue) in requestStatuses"
                        :key="statusValue"
                        :id="`request-status-${statusValue}`"
                        :label="statusName"
                        v-model="filters.statuses"
                        :input-value="statusValue" />
                </div>

                <h5>Approval types</h5>
                <div class="sl-c-form-group">
                    <sal-checkbox-mobile
                        v-for="(typeName, typeValue) in requestTypes"
                        :key="typeValue"
                        :id="`request-type-${typeValue}`"
                        :label="typeName"
                        v-model="filters.types"
                        :input-value="typeValue" />
                </div>

                <h5>Approval level</h5>
                <div class="sl-c-form-group">
                    <div class="sl-c-btn-group sl-c-btn-group--block">
                        <sal-button-mobile
                            id="my-level"
                            :class="{'sl-is-active': filters.my_level }"
                            size="sm"
                            class="sl-c-btn--square"
                            outlined
                            :onClick="() => filters.my_level = true"
                            label="My level only">
                        </sal-button-mobile>
                        <sal-button-mobile
                            id="my-and-below-level"
                            :class="{'sl-is-active': !filters.my_level }"
                            size="sm"
                            class="sl-c-btn--square"
                            outlined
                            :onClick="() => filters.my_level = false"
                            label="My level and below">
                        </sal-button-mobile>
                    </div>
                </div>

                <p>Show filed requests</p>
                <div class="sl-c-form-group">
                    <div class="sl-c-btn-group sl-c-btn-group--block">
                        <sal-button-mobile
                            id="seven-days-range"
                            :class="{'sl-is-active': dateRange === dateRanges.pastSeven}"
                            size="sm"
                            class="sl-c-btn--square"
                            :onClick="() => chooseDateRangeFilter( dateRanges.pastSeven )"
                            outlined>
                            Past 7 days
                        </sal-button-mobile>

                        <sal-button-mobile
                            id="thirty-days-range"
                            :class="{'sl-is-active': dateRange === dateRanges.pastThirty}"
                            size="sm"
                            class="sl-c-btn--square"
                            :onClick="() => chooseDateRangeFilter( dateRanges.pastThirty )"
                            outlined>
                            Past 30 days
                        </sal-button-mobile>

                        <sal-button-mobile
                            id="custom-range"
                            :class="{'sl-is-active': dateRange === dateRanges.custom}"
                            size="sm"
                            class="sl-c-btn--square"
                            :onClick="() => chooseDateRangeFilter( dateRanges.custom )"
                            outlined>
                            Custom
                        </sal-button-mobile>
                    </div>
                </div>

                <sal-date-range-picker
                    v-if="customPicker && dateRange"
                    @dates-selected="datesSelected"
                >
                </sal-date-range-picker>
            </div>
            <div class="sl-c-section__footer sl-c-block-btns">
                <sal-button-mobile id="approval-filter-reset" size="sm" type="primary" class="sl-c-btn--ghost" :onClick="reset" outlined>Reset</sal-button-mobile>
            </div>
        </div>
    </div>
</template>
<script>
    import moment from 'moment';
    import {
        STATUS,
        TYPES,
        DEFAULT_DATE_FORMAT,
        REQUEST_TYPES,
        REQUEST_STATUSES
    } from '@/constants/employee-request';
    import { debounce } from 'lodash-es';

    import { DATE_RANGES } from '@/constants/request-filter';
    import entitledEmployeesSearch from '@/mixins/entitledEmployeesSearch';

    export default {
        mixins: [
            entitledEmployeesSearch
        ],
        name: 'sal-approval-filters',
        data() {
            return {
                placeholderText: 'Enter location, department, position or employee name',
                filters: this.getFiltersDefaults(),
                customPicker: false,
                dateRange: null,
                dateRanges: DATE_RANGES,
                pastSevenDays: 7,
                pastThirtyDays: 31
            };
        },
        props: {
            showSpinner: {
                type: Boolean,
                default: false
            }
        },

        computed: {
            /**
            * Returns constant REQUEST_STATUSES.
            * @returns Object
            */
            requestStatuses() {
                return REQUEST_STATUSES;
            },
            /**
            * Returns constant REQUEST_TYPES.
            * @returns Object
            */
            requestTypes() {
                return REQUEST_TYPES;
            }
        },

        watch: {
            filters: {
                handler() {
                    this.apply();
                },
                deep: true
            }
        },

        methods: {
            /**
            * Apply the filters
            */
            apply: debounce( function () { // eslint-disable-line func-names
                this.$emit( 'apply', this.filters );
            }, 500 ),

            /**
            * Resets filter values to default ones.
            */
            reset() {
                this.filters = this.getFiltersDefaults();
                this.dateRange = null;

                this.$emit( 'reset', null );
            },
            /**
            * Gets selected dates from Flatpickr - DatePickr component event.
            * @param Object selectedDateRange
            */
            datesSelected( selectedDateRange ) {
                this.filters.start_date = this.formatDate( selectedDateRange.start );
                this.filters.end_date = this.formatDate( selectedDateRange.end );
            },
            /**
            * Formats dates to default format provided from constant in employee-requests
            * @param Date dateToBeFormated
            * @returns Date formated to 'YYYY-MM-DD'
            */
            formatDate( dateToBeFormated ) {
                return moment( dateToBeFormated ).format( DEFAULT_DATE_FORMAT );
            },
            /**
            * Opens or closes datepicker component on click
            */
            toggleCustomPicker() {
                this.customPicker = !this.customPicker;
            },
            /**
            * Calculates start date in past according to parsed daysInPastFromNow.
            * @param Number daysInPastFromNow
            */
            calculateDateRange( daysInPastFromNow ) {
                this.filters.start_date = moment().subtract( daysInPastFromNow, 'd' ).format( DEFAULT_DATE_FORMAT );
                this.filters.end_date = moment().format( DEFAULT_DATE_FORMAT );

                this.handleDateRangeValue( daysInPastFromNow );
            },
            /**
            * Handles date range to be used.
            * @param Number daysInPastFromNow
            */
            handleDateRangeValue( daysInPastFromNow ) {
                this.dateRange = daysInPastFromNow === this.pastSevenDays ? DATE_RANGES.pastSeven : DATE_RANGES.pastThirty;
            },
            /**
            * Calls method for calulating date range and sets default values
            * @param String dateRangeFilterName
            */
            chooseDateRangeFilter( dateRangeFilterName ) {
                switch ( dateRangeFilterName ) {
                    case DATE_RANGES.custom:
                        this.dateRange = DATE_RANGES.custom;
                        this.toggleCustomPicker();
                        break;
                    case DATE_RANGES.pastSeven:
                        this.calculateDateRange( this.pastSevenDays );
                        this.customPicker = false;
                        break;
                    case DATE_RANGES.pastThirty:
                        this.calculateDateRange( this.pastThirtyDays );
                        this.customPicker = false;
                        break;
                    default:
                        this.dateRange = null;
                }
            },

            /**
            * Hide filters.
            */
            hide() {
                this.$emit( 'close' );
            },

            /**
            * Gets default filter values.
            * @returns {Object}
            */
            getFiltersDefaults() {
                return {
                    statuses: [STATUS[ 0 ]],
                    types: [...TYPES],
                    my_level: true,
                    start_date: null,
                    end_date: null,
                    name: '',
                    affected_employees: []
                };
            }
        }
    };
</script>

<style lang="scss" scoped>
    .sl-c-filter-list {
        font-size: .9rem;
        overflow-y: auto;
        height: calc(100vh - 3rem);
        background-color: $sl-color-white;
        box-shadow: 0 0 14px 0 #2b2b2b;

        .sl-c-section {
            padding: $sl-gutter;
        }
    }

    .sl-c-section__title {
        font-weight: 600;

        .fa-spinner {
            margin-left: $sl-gutter-sm;
            animation-name: spin;
            animation-duration: 1500ms;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
    }

    @keyframes spin {
        from {
            transform:rotate(0deg);
        }
        to {
            transform:rotate(360deg);
        }
    }

    .sl-c-section__body {
        margin-top: 3rem;
    }

    .sl-c-block-btns {
        margin-top: 2rem;
        justify-content: center;
    }
</style>
