<template>
    <sal-approval-card-mobile
        :approval="approval"
        messagesRoute="approvals.leave-request.messages"
        @approved="$emit( 'approved' )"
        @declined="$emit( 'declined' )">
        <template slot="label">
            <span class="sl-c-label">
                <i class="fa fa-sm fa-circle sl-u-text--danger sl-u-gap-right--xs"></i>
                {{ approval.request.leave_type.name }}
            </span>
        </template>

        <div class="sl-c-grid sl-c-grid--twos view">
            <div>
                <i class="fa fa-calendar-o sl-u-text--disabled"></i> From:<br> {{ from }}
            </div>
            <div>
                <i class="fa fa-calendar-o sl-u-text--disabled"></i> To:<br> {{ to }}
            </div>
        </div>

        <a class="view-details" @click="fetchRequestById()" >View details</a>

        <div v-if="isShown">
            <sal-leave-details v-if="request" class="sl-u-gap-top" :leaves="request && request.leaves" :unit="request && request.unit" />

            <sal-request-details-attachment v-if="request" :request="request" />

            <leave-count v-if="request" :request="request" />

            <div>
                Request trail
            </div>

            <sal-request-trail
                :activities="request && request.activities"
                :requestName="request && request.leave_type.name"
            />
        </div>
    </sal-approval-card-mobile>
</template>

<script>
    import moment from 'moment';
    import requestApprovalHandler from '@/mixins/requestApprovalHandler';
    import LeaveCount from '@/components/mobile/approvals/LeaveCount';
    import { leaveRequestsService } from '@/utils/services/LeaveRequestsService';
    import { handleUpdatedRequest } from '@/mixins/requestUpdatedHandler';

    export default {
        name: 'sal-leave-request-card-approval-mobile',

        props: {
            approval: {
                type: Object,
                required: true
            }
        },

        components: {
            LeaveCount
        },

        mixins: [ requestApprovalHandler, handleUpdatedRequest ],

        data() {
            return {
                isShown: false,
                request: null
            };
        },

        computed: {
            /**
             * Format request start date.
             */
            from() {
                return moment( this.approval.request.start_date ).format( 'MMMM D, YYYY' );
            },
            /**
             * Format request end date.
             */
            to() {
                return moment( this.approval.request.end_date ).format( 'MMMM D, YYYY' );
            }
        },

        methods: {
            /**
             * Fetches undertime request by request Id
             */
            fetchRequestById() {
                this.isShown = !this.isShown;

                if ( !this.request ) {
                    this.$loader.show();
                    this.request = null;

                    leaveRequestsService
                    .fetchLeaveRequest( this.approval.request.id )
                    .then( ( leaveRequest ) => {
                        this.request = leaveRequest;
                        this.listenEssRequestChannel();
                        this.$loader.hide();
                    }).catch( () => this.$loader.hide() );
                }
            }
        }
    };
</script>

<style lang="scss" scoped>
    .view {
        margin-bottom: 1em;
    }

    .view-details {
        cursor: pointer   ;
    }
</style>
