<template>
    <div class="sl-c-card sl-c-card--default">
        <div class="sl-c-card__header">
            <p>
                <strong>Leave count</strong>
            </p>
        </div>
        <div class="sl-c-card__body">
            <div class="sl-c-grid sl-c-grid--twos">
                <div>Total leave units used:</div>
                <div>
                    <strong>{{ request.leave_credit.used | roundValueToTwoDecimals}} {{request.leave_credit.unit}}</strong>
                </div>
            </div>
            <div class="sl-c-grid sl-c-grid--twos">
                <div>Remaining {{ request.leave_type && request.leave_type.name }} units:</div>
                <div v-if="request.leave_type && request.leave_type.leave_credit_required"><strong>{{ request.leave_credit.value | roundValueToTwoDecimals }} {{request.leave_credit.unit}}</strong></div>
                <div v-else><strong>Unlimited Leave Credits</strong></div>
            </div>
        </div>
    </div>
</template>
<script>
    import valueFormats from '@/mixins/valueFormats';

    export default {
        name: 'sal-approval-leave-count',
        mixins: [valueFormats],
        props: {
            request: Object
        }
    };
</script>
<style>
</style>

