<template>
    <sal-approval-card-mobile
        :approval="approval"
        messagesRoute="approvals.overtime-request.messages"
        @approved="$emit( 'approved' )"
        @declined="$emit( 'declined' )">
        <template slot="label">
            <span class="sl-c-label sl-c-label--danger-pale">
                <i class="fa fa-sm fa-circle sl-u-text--danger sl-u-gap-right--xs"></i>
                Overtime
            </span>
        </template>

        <div class="sl-c-grid sl-c-grid--twos view">
            <div>
                <i class="fa fa-calendar-o sl-u-text--disabled"></i> From:<br> {{ from }}
            </div>
            <div>
                <i class="fa fa-calendar-o sl-u-text--disabled"></i> To:<br> {{ to }}
            </div>
        </div>

        <a class="view-details" @click="fetchRequestById()" >View details</a>

        <div v-if="isShown">
            <sal-overtime-details
                class="sl-u-gap-top"
                :overtime="request"
                v-if="request"
                :user-defined-rest-days="userDefinedRestDays"
            />

            <div>
                Request trail
            </div>

            <sal-request-trail
                :activities="request && request.activities"
                requestName="overtime"
            />
        </div>
    </sal-approval-card-mobile>
</template>

<script>
    import moment from 'moment';
    import { overtimeRequestService } from '@/utils/services/OvertimeRequestService';
    import { handleUpdatedRequest } from '@/mixins/requestUpdatedHandler';
    import requestApprovalHandler from '@/mixins/requestApprovalHandler';

    export default {
        name: 'sal-overtime-request-card-approval-mobile',
        mixins: [ requestApprovalHandler, handleUpdatedRequest ],

        props: {
            approval: {
                type: Object,
                required: true
            }
        },

        data() {
            return {
                isShown: false,
                request: null
            };
        },

        methods: {
            /**
             * Gets overtime request by request Id
             */
            fetchRequestById() {
                this.isShown = !this.isShown;

                if ( !this.request ) {
                    this.$loader.show();
                    this.request = null;

                    overtimeRequestService
                    .fetchOvertimeRequest( this.approval.request.id )
                    .then( ( overtimeRequest ) => {
                        this.request = overtimeRequest;
                        this.listenEssRequestChannel();
                        this.$loader.hide();
                    }).catch( () => this.$loader.hide() );
                }
            }
        },

        computed: {
            /**
             * Format request start date.
             */
            from() {
                return moment( this.approval.request.date ).format( 'MMMM D, YYYY' );
            },
            /**
             * Format request end date.
             */
            to() {
                return moment( this.approval.request.date ).format( 'MMMM D, YYYY' );
            }
        }
    };
</script>


<style lang="scss" scoped>
    .view {
        margin-bottom: 1em;
    }

    .view-details {
        cursor: pointer   ;
    }
</style>