<template>
    <sal-approval-card-mobile
        :approval="approval"
        messagesRoute="approvals.shift-change-request.messages"
        @approved="$emit( 'approved' )"
        @declined="$emit( 'declined' )">
        <template slot="label">
            <span class="sl-c-label sl-c-label--danger-pale">
                <i class="fa fa-sm fa-circle sl-u-text--danger sl-u-gap-right--xs"></i>
                Shift Change
            </span>
        </template>

        <div class="sl-c-grid sl-c-grid--twos view">
            <div>
                <i class="fa fa-calendar-o sl-u-text--disabled"></i> From:<br> {{ from }}
            </div>
            <div>
                <i class="fa fa-calendar-o sl-u-text--disabled"></i> To:<br> {{ to }}
            </div>
        </div>

        <a class="view-details" @click="fetchRequestById()" >View details</a>

        <div v-if="isShown">
            <sal-shift-change-details
                class="sl-u-gap-top"
                v-if="request"
                :request="request"
            />

            <div>
                Request trail
            </div>

            <sal-request-trail
                :activities="request && request.activities"
                requestName="Shift Change"
            />
        </div>
    </sal-approval-card-mobile>
</template>

<script>
    import moment from 'moment';
    import { DATE_FORMAT } from '@/constants/employee-request';
    import { shiftChangeRequestService } from '@/utils/services/ShiftChangeRequestService';
    import requestApprovalHandler from '@/mixins/requestApprovalHandler';
    import { handleUpdatedRequest } from '@/mixins/requestUpdatedHandler';

    export default {
        name: 'sal-shift-change-request-card-approval-mobile',

        props: {
            approval: {
                type: Object,
                required: true
            }
        },

        mixins: [ handleUpdatedRequest, requestApprovalHandler ],

        data() {
            return {
                isShown: false,
                request: null
            };
        },

        methods: {
            /**
             * Gets shift change request by request Id
             */
            fetchRequestById() {
                this.isShown = !this.isShown;

                if ( !this.request ) {
                    this.$loader.show();
                    this.request = null;

                    shiftChangeRequestService
                    .fetchShiftChangeRequest( this.approval.request.id )
                    .then( ( shiftChangeRequest ) => {
                        this.request = shiftChangeRequest;
                        this.listenEssRequestChannel();
                        this.$loader.hide();
                    }).catch( () => this.$loader.hide() );
                }
            }
        },

        computed: {
            /**
             * Format request start date.
             */
            from() {
                return moment( this.approval.request.start_date ).format( DATE_FORMAT );
            },
            /**
             * Format request end date.
             */
            to() {
                return moment( this.approval.request.end_date ).format( DATE_FORMAT );
            }
        }
    };
</script>

<style lang="scss" scoped>
    .view {
        margin-bottom: 1em;
    }

    .view-details {
        cursor: pointer   ;
    }
</style>
