<template>
    <div>
        <div v-show="currentTab === 'message'"
            class="message-content">
            <div class="sl-c-messages">
                <!-- messages feed component -->
                <sal-messages-feed :requestMessages="requestMessages" :currentUserId="currentUserId"></sal-messages-feed>
                <!-- messages input component -->
                <sal-message-input @send-message="sendMessage"></sal-message-input>
            </div>
        </div>

        <div v-show="currentTab === 'detail'"
            class="detail-content">
            <div class="sl-c-grid sl-c-grid--twos view">
                <div>
                    <i class="fa fa-calendar-o sl-u-text--disabled"></i> From:<br> {{ from }}
                </div>
                <div>
                    <i class="fa fa-calendar-o sl-u-text--disabled"></i> To:<br> {{ to }}
                </div>
            </div>

            <div v-if="request">
                <sal-leave-details
                    class="sl-u-gap-top"
                    :leaves="request.leaves"
                    :unit="request.unit"
                    :showLoading="false"
                />

                <sal-request-details-attachment :request="request" />

                <leave-count :request="request"></leave-count>

                <div>
                    Request trail
                </div>

                <sal-request-trail
                    :activities="request.activities"
                    :requestName="request.leave_type && request.leave_type.name"
                />
            </div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment';
    import { DATE_FORMAT } from '@/constants/employee-request';
    import requestApprovalHandler from '@/mixins/requestApprovalHandler';
    import { leaveRequestsService } from '@/utils/services/LeaveRequestsService';
    import { handleUpdatedRequest } from '@/mixins/requestUpdatedHandler';
    import { auth } from '@/utils/Authentication';
    import { requestMessagesService } from '@/utils/services/RequestMessagesService';
    import LeaveCount from '@/components/mobile/approvals/LeaveCount';

    export default {
        name: 'sal-side-panel-tabs-leave',
        props: {
            approval: {
                type: Object
            },
            currentTab: {
                type: String,
                default: 'detail'
            }
        },
        data() {
            return {
                currentUserId: auth.getUserId(),
                request: null
            };
        },
        components: {
            LeaveCount
        },
        computed: {
            from() {
                return moment( this.approval.request.start_date ).format( DATE_FORMAT );
            },
            to() {
                return moment( this.approval.request.end_date ).format( DATE_FORMAT );
            },
            requestMessages() {
                return this.request ? this.request.messages : [];
            }
        },
        mixins: [ requestApprovalHandler, handleUpdatedRequest ],
        created() {
            this.requestData();
        },
        watch: {
            'approval.id': 'requestData'
        },
        methods: {
            requestData() {
                this.request = null;

                leaveRequestsService
                    .fetchLeaveRequest( this.approval.request.id )
                    .then( ( leaveRequest ) => {
                        this.request = leaveRequest;
                        this.listenEssRequestChannel();
                    });
            },
            /**
             * Calls request messages service's storeRequestMessage method
             * @param Object message
             */
            sendMessage( message ) {
                requestMessagesService.storeRequestMessage( this.request.employee_request_id, message.content )
                    .then( ( messageData ) => {
                        this.requestMessages.push( messageData );
                    });
            }
        }
    };
</script>

<style lang="scss" scoped>
    .message-content {
        padding: 0 2rem;
    }

    .detail-content {
        padding: 2rem;
    }

    .sl-c-messages {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
</style>
