<template>
    <div class="sl-l-page sl-l-page--auth">
        <div class="sl-l-app-body">
            <div class="sl-c-page__content">
                <sal-notify-mobile
                    :message="this.notification"
                    v-if="!!this.notification"/>

                <div class="sl-c-login">
                    <section class="sl-c-section sl-c-section--white">
                        <div class="sl-u-text--center">
                            <img src="../../assets/logo-salarium-blue.png" alt="Salarium - logo">
                            <h1>EMPLOYEE SELF SERVICE</h1>
                        </div>

                        <form class="sl-u-gap-top--lg" v-on:submit.prevent="submit" novalidate>
                            <sal-input-mobile
                                id="email"
                                type="email"
                                label="Email address"
                                required
                                ref="email"
                            />

                            <sal-input-mobile
                                id="password"
                                type="password"
                                label="Password"
                                :min="6"
                                required
                                ref="password"
                            />

                            <div class="sl-c-form-group sl-u-text--center">
                                <sal-button-mobile id="login" label="LOGIN" type="primary" buttonType="submit" />
                            </div>
                        </form>

                        <p class="sl-u-text--center">Trouble signing in? <sal-a-mobile href="/forgot-password" ref="forgot">Forgot password</sal-a-mobile>.</p>
                    </section>

                    <p class="sl-u-text--center">&copy; 2017. Salarium LTD. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import AuthService from '@/utils/Authentication';
    export default {
        data() {
            return {
                notification: null,
                submitting: false
            };
        },
        methods: {
            submit() {
                if ( this.submitting ) {
                    return;
                }
                this.submitting = true;
                const { email, password } = this.$refs;

                email.validate( email.$data.input );
                password.validate( password.$data.input );

                const emailError = email.$data.error;
                const passwordError = password.$data.error;

                if ( !emailError && !passwordError ) {
                    const auth = new AuthService();
                    auth.login({ username: email.$data.input, password: password.$data.input }).then( () => {
                        this.$router.push({ name: 'dashboard' });
                    }).catch( ( message ) => {
                        this.notification = message;

                        setTimeout( () => {
                            this.notification = null;
                        }, 5000 );
                    });
                }
                this.submitting = false;
            }
        }
    };
</script>

<style lang="scss" scoped>
    .sl-l-page--auth {
        min-height: 100vh;
    }

    .sl-l-app-body {
        background-color: transparent;
    }

    .sl-c-page__content {
        justify-content: center;
    }

    .sl-c-login {

        @media (min-width: $sl-screen-xs) {
            min-width: 30rem;
            margin-right: auto;
            margin-left: auto;
        }
    }
</style>
