<template>
	<div class="sl-l-page sl-m-page sl-l-page--dashboard">
        <div class="sl-l-app-body">
            <div class="sl-c-page__content">
                <!-- Employee Profile -->
                <row container>
                    <column :xs=12>
                        <sal-employee-mobile />
                    </column>
                </row>

                <!-- Timeclock, Attendance & Schedule -->
                <row container>
                    <!-- Timeclock -->
                    <column :xs=12 :sm=12 :md=12 :lg=6 class="timeclock-column">
                        <sal-time-clock
                            @state="(state) => setState('state', state)"
                        />
                    </column>

                    <!-- Attendance & Schedule -->
                    <column :xs=12 :sm=12 :md=12 :lg=6 class="attendance-column">

                        <section class="sl-c-section sl-c-section--white attendance sl-u-gap-bottom">
                            <row container>
                                <!-- Left arrow -->
                                <column :xs=2 :sm=2 :md=2 :lg=1 class="arrow">
                                    <div class="sl-u-text--left" v-if="date">
                                        <sal-button-mobile
                                            class="sl-c-btn--sm"
                                            type="link"
                                            id="previous"
                                            :onClick="goToPrevDate"
                                            :disabled="schedulesLoading"
                                        >
                                            <i class="fa fa-arrow-circle-left sl-u-gap-right"></i>
                                        </sal-button-mobile>
                                    </div>
                                </column>

                                <!-- Items -->
                                <column :xs=8 :sm=8 :md=8 :lg=10 class="padding attendance-today">
                                    <!-- Attendance Today -->
                                    <row container :gutter=10>
                                        <column :xs=12>
                                            <hidden :xs="true" :sm="true" :md="true">
                                                <p> Attendance for <strong> {{ selectedDate }} </strong> </p>
                                            </hidden>

                                            <hidden :lg="true" :xl="true">
                                                <p>
                                                    Attendance for<br />
                                                    <strong> {{ selectedDate }} </strong>
                                                </p>
                                            </hidden>
                                        </column>

                                        <column :xs=12>
                                            <div v-if="attendaceLoading">
                                                <p><i class="fa fa-spinner fa-spin fa-sm"></i> loading.... </p>
                                            </div>

                                            <row container>
                                                <column :xs=12>
                                                    <div v-if="!attendaceLoading">
                                                        <row container :gutter=0>
                                                            <column :xs=12>
                                                            </column>
                                                        </row>

                                                        <sal-button-mobile
                                                            class="sl-c-btn--sm"
                                                            type="link"
                                                            label="view more"
                                                            id="view-more-attendance"
                                                            :disabled="attendaceLoading"
                                                            :onClick="fetchDateSchedulesAndTimeclocks"
                                                        >
                                                            {{ viewMoreLabel }}
                                                        </sal-button-mobile>
                                                    </div>
                                                </column>
                                            </row>
                                            <!-- Timesheet details -->
                                            <row container v-if="attendanceViewMore && !attendaceLoading">
                                                <column :xs=12 :sm=12 :md=12 :lg=12>
                                                    <row container>
                                                        <column :xs=12>
                                                            <hr />
                                                        </column>
                                                    </row>
                                                    <strong v-if="isNowWithinSelectedShift">{{ attendanceTotalHours }}</strong>
                                                    <div v-else-if="computedAttendanceTotalHours" class="sl-c-section__today-items" v-for="( total, index ) of computedAttendanceTotalHours" :key="index">
                                                        <strong> {{ total }} </strong>
                                                    </div>
                                                    <strong v-else> 00:00 </strong>

                                                    <div class="sl-c-grid sl-c-grid--twos sl-u-gap-top" v-for="(clockPair, index) in attendance" :key="index">
                                                        <div class="sl-c-media__body">
                                                            Clock In:
                                                            <br />
                                                            {{ clockPair.clockIn ? handleTimestampFormating( clockPair.clockIn.timestamp ) : "--:--:--"}}
                                                        </div>
                                                        <div class="sl-c-media__body">
                                                            Clock Out:
                                                            <br />
                                                            <span :class="{ 'sl-u-text--danger': clockPair.clockOut && clockPair.clockOut.max_clock_out }">
                                                                {{ clockPair.clockOut ? handleTimestampFormating( clockPair.clockOut.timestamp ) : "--:--:--"}}
                                                            </span>
                                                        </div>
                                                    </div>

                                                    <div class="max-clock-out-warning" v-if="isMaxClockOut">
                                                        <p class="sl-u-text--danger">Time log is beyond maximum clock-out rule.</p>

                                                        <router-link :to="{ name: 'requests.time-dispute.add', query: { selectedDate: formattedSelectedDate } }">
                                                            <sal-button-mobile class="sl-c-label--danger sl-c-btn--sm" type="default">
                                                                <p class="sl-u-text--blue">File Time Correction</p>
                                                            </sal-button-mobile>
                                                        </router-link>
                                                    </div>

                                                    <row container>
                                                        <column :xs=12>
                                                            <hr />
                                                        </column>
                                                    </row>

                                                    <div class="sl-c-grid sl-c-grid--twos sl-u-gap-top">
                                                        <div class="sl-c-media__body">
                                                            Expected Time: <br> <strong>{{ attendanceExpectedHours }}</strong>
                                                        </div>

                                                        <div class="sl-c-media__body">
                                                            Estimated Hours Worked:
                                                            <sal-tooltip message="Estimated hours worked does not consider things such as unpaid breaks, excessive breaks and other factors in its computation." />
                                                            <br> <strong>{{ attendanceTotalHours }}</strong>
                                                        </div>
                                                    </div>
                                                </column>
                                            </row>
                                        </column>
                                    </row>

                                    <row container :gutter=10>
                                        <column :xs=12>
                                            <hr />
                                        </column>
                                    </row>

                                    <!-- Schedule Today -->
                                    <row container :gutter=10>
                                        <column :xs=12>
                                            <hidden :xs="true" :sm="true" :md="true">
                                                <p> Schedule for <strong> {{ selectedDate }} </strong> </p>
                                            </hidden>

                                            <hidden :lg="true" :xl="true">
                                                <p>
                                                    Schedule for<br />
                                                    <strong> {{ selectedDate }} </strong>
                                                </p>
                                            </hidden>
                                        </column>

                                        <column :xs=12>
                                            <div v-if="schedulesLoading" class="sl-c-section__today-items">
                                                <p><i class="fa fa-spinner fa-spin fa-sm"></i> loading.... </p>
                                            </div>
                                            <div v-else-if="!schedulesLoading && schedules">
                                                <div class="sl-c-section__today-items" v-for="(schedule, index ) of schedules" :key="index">
                                                    <strong v-if="schedule"> {{ schedule.name }} ({{ schedule.start + ' - ' + schedule.end }}) </strong>
                                                </div>
                                            </div>
                                            <div v-else-if="!schedules && scheduleError">
                                                <div class="sl-c-section__today-items">
                                                    <strong class="sl-u-text--danger"> {{ scheduleError }} </strong>
                                                </div>
                                            </div>
                                            <div v-else class="sl-c-section__today-items">
                                                <strong> ---- </strong>
                                            </div>
                                        </column>
                                    </row>

                                    <!-- View Calendar Button -->
                                    <row container :gutter=12>
                                        <column :xs=12 class="sl-u-text--center sl-u-gap-top">
                                            <sal-button-mobile
                                                class="sl-c-btn--sm"
                                                type="default"
                                                id="go-to-calendar"
                                                :onClick="goToCalendar"
                                            >
                                                <p class="sl-u-text--blue"> View Calendar </p>
                                            </sal-button-mobile>
                                        </column>
                                    </row>
                                </column>

                                <!-- Right arrow -->
                                <column :xs=2 :sm=2 :md=2 :lg=1 class="arrow">
                                    <div class="sl-u-text--right" v-if="date">
                                        <sal-button-mobile
                                            class="sl-c-btn--sm"
                                            type="link"
                                            id="next"
                                            :onClick="goToNextDate"
                                            :disabled="schedulesLoading"
                                        >
                                            <i class="fa fa-arrow-circle-right sl-u-gap-left"></i>
                                        </sal-button-mobile>
                                    </div>
                                </column>
                            </row>
                        </section>
                    </column>
                </row>

                <!-- Requests Icons -->
                <hidden :xs="true" :sm="true" :md="true">
                    <row container class="requests">
                        <column :xs=12>
                            <section class="sl-c-section sl-c-section--white padding">
                                <row container>
                                    <column :xs=12>
                                    <p><strong>REQUESTS</strong></p>
                                        <hr class="sl-u-gap-bottom" />
                                    </column>
                                </row>
                                <row container class="request-item">
                                    <column :xs=6 :sm=6 :md=4 :lg=2>
                                        <div class="sl-c-media__object sl-u-gap-bottom" @click="gotoRequest({ name: 'requests.leave-request.add' })">
                                            <div class="sl-c-icon-circle sl-c-icon--request sl-c-icon-circle--size">
                                                <i class="fa fa-calendar fa-lg"></i>
                                            </div>
                                            <p class="sl-u-text--black"><strong>Leave Request</strong></p>
                                        </div>
                                    </column>
                                    <column :xs=6 :sm=6 :md=4 :lg=2>
                                        <div class="sl-c-media__object sl-u-gap-bottom" @click="gotoRequest({ name: 'requests.overtime.add' })">
                                            <div class="sl-c-icon-circle sl-c-icon--request sl-c-icon-circle--size">
                                                <i class="fa fa-clock-o fa-lg"></i>
                                            </div>
                                            <p class="sl-u-text--black"><strong>Overtime Request</strong></p>
                                        </div>
                                    </column>
                                    <column :xs=6 :sm=6 :md=4 :lg=2>
                                        <div class="sl-c-media__object sl-u-gap-bottom" @click="gotoRequest({ name: 'requests.shift-change.add' })">
                                            <div class="sl-c-icon-circle sl-c-icon--request sl-c-icon-circle--size">
                                                <i class="fa fa-retweet fa-lg"></i>
                                            </div>
                                            <p class="sl-u-text--black">
                                                <strong>
                                                    Shift Change
                                                    Request
                                                </strong>
                                            </p>
                                        </div>
                                    </column>
                                    <column :xs=6 :sm=6 :md=4 :lg=2>
                                        <div class="sl-c-media__object sl-u-gap-bottom" @click="gotoRequest({ name: 'requests.time-dispute.add' })">
                                            <div class="sl-c-icon-circle sl-c-icon--request sl-c-icon-circle--size">
                                                <i class="fa fa-calendar-check-o fa-lg sl-u-text--black"></i>
                                            </div>
                                            <p class="sl-u-text--black">
                                                <strong>
                                                    Time Correction
                                                    Request
                                                </strong>
                                            </p>
                                        </div>
                                    </column>
                                    <column :xs=6 :sm=6 :md=4 :lg=2>
                                        <div class="sl-c-media__object sl-u-gap-bottom" @click="gotoRequest({ name: 'requests.undertime.add' })">
                                            <div class="sl-c-icon-circle sl-c-icon--request sl-c-icon-circle--size">
                                                <i class="fa fa-calendar-minus-o fa-lg sl-u-text--black"></i>
                                            </div>
                                            <p class="sl-u-text--black"><strong>Undertime Request</strong></p>
                                        </div>
                                    </column>
                                </row>
                            </section>
                        </column>
                    </row>
                </hidden>
            </div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment';
    import { orderBy, isEmpty, head, last, get } from 'lodash-es';
    import { shiftsService } from '@/utils/services/ShiftsService';
    import { timeClockService } from '@/utils/services/TimeClockService';
    import { attendanceRecordService } from '@/utils/services/AttendanceRecordService';
    import { Row, Column, Hidden } from 'vue-grid-responsive';
    import {
        DEFAULT_DATE_FORMAT,
        DEFAULT_DATETIME_FORMAT,
        TIME_FORMAT
    } from '@/constants/schedules';

    export default {
        components: {
            row: Row,
            column: Column,
            hidden: Hidden
        },

        data() {
            return {
                date: null,
                schedules: {},
                schedulesLoading: false,
                scheduleError: null,
                shiftParamStart: null,
                shiftParamEnd: null,
                attendance: null,
                computedAttendace: null,
                computedAttendanceTotalHours: null,
                attendaceLoading: false,
                attendanceExpectedHours: '00:00',
                attendanceTotalHours: '00:00',
                attendanceViewMore: false,
                beforeShiftBufferInSeconds: 4 * 60 * 60,
                afterShiftBufferInSeconds: 4 * 60 * 60,
                isNowPastSelectedShift: false,
                isNowWithinCurrentShift: false,
                isNowWithinSelectedShift: false,
                clockState: false,
                currentScheduleStart: null,
                currentScheduleEnd: null,
                getTimesheetRetry: 3,
                isMaxClockOut: false
            };
        },

        created() {
            this.date = moment().format( DEFAULT_DATE_FORMAT );
            this.fetchInitialCurrentSchedules();
        },

        computed: {
            selectedDate() {
                return this.date && moment( this.date ).format( 'MMMM DD, YYYY' );
            },

            formattedSelectedDate() {
                return this.date && moment( this.date ).format( 'YYYY-MM-DD' );
            },

            employeeId() {
                return JSON.parse( localStorage.getItem( 'user' ) ).employee_id;
            },

            employeeName() {
                return JSON.parse( localStorage.getItem( 'user' ) ).employee.full_name;
            },

            employeePosition() {
                return JSON.parse( localStorage.getItem( 'user' ) ).employee.position_name;
            },

            viewMoreLabel() {
                const label = this.attendanceViewMore ? 'less' : 'more';
                return `view ${label}`;
            }
        },

        methods: {
            resetThisDateData() {
                this.shiftParamStart = null;
                this.shiftParamEnd = null;
                this.schedules = null;
                this.attendance = null;
                this.computedAttendace = null;
                this.computedAttendanceTotalHours = null;
                this.attendanceTotalHours = '00:00';
                this.attendanceExpectedHours = '00:00';
                this.attendanceViewMore = false;
            },

            fetchDataByThisDate() {
                this.resetThisDateData();
                this.fetchInitialCurrentSchedules();
            },

            gotoRequest( route ) {
                this.$router.push( route );
            },

            goToCalendar() {
                this.$router.push({ name: 'calendar' });
            },

            goToNextDate() {
                this.date = moment( this.date ).add( 1, 'day' ).format( DEFAULT_DATE_FORMAT );
                this.fetchDataByThisDate();
            },

            goToPrevDate() {
                this.date = moment( this.date ).subtract( 1, 'day' ).format( DEFAULT_DATE_FORMAT );
                this.fetchDataByThisDate();
            },

            setState( type, value ) {
                this.clockState = value;

                if ( !this.attendanceViewMore && this.attendance ) {
                    this.attendance = null;
                }

                if ( this.attendanceViewMore ) {
                    this.attendance = null;
                    this.attendanceViewMore = false;
                    this.fetchDateSchedulesAndTimeclocks();
                }
            },

            handleTimestampFormating( timestamp ) {
                return moment( timestamp, 'X' ).format( TIME_FORMAT );
            },

            /**
             * Calculates expected hours
             *
             * @return {Object} Expected hours
             */
            setExpectedHours( shifts ) {
                if ( !shifts ) return;

                let total = 0;
                shifts.forEach( ( shift ) => {
                    const shiftTotalHours = parseInt( moment( `${this.date} ${shift.total_hours}` ).format( 'HH' ), 10 );
                    total += shiftTotalHours;
                });

                total = total > 9 ? total : `0${total}`;

                this.attendanceExpectedHours = moment( `${this.date} ${total}` ).format( 'HH:mm' );
            },

            /**
             * Calculates estimated hours
             *
             * @return {Object} Estimated hours
             */
            setEstimatedHours( attendance ) {
                if ( !attendance ) return;

                const lastTimeclock = last( attendance );
                if ( lastTimeclock && lastTimeclock.clockOut === undefined ) {
                    this.attendanceTotalHours = '00:00';
                    return;
                }

                const totalHours = moment().startOf( 'day' );
                attendance.forEach( ( item ) => {
                    let clockIn = null;
                    let clockOut = null;
                    let total = null;

                    if ( item.clockIn && item.clockOut ) {
                        clockIn = this.handleTimestampFormating( item.clockIn.timestamp );
                        clockOut = this.handleTimestampFormating( item.clockOut.timestamp );
                        total = moment( clockOut, 'HH:mm' ).diff( moment( clockIn, 'HH:mm' ), 'seconds' );

                        totalHours.add( total, 's' );
                    }
                });

                this.attendanceTotalHours = totalHours.format( 'HH:mm' );
            },

            setTotalHoursFromComputedAttendace( attendance ) {
                const computedTotalAttendance = [];
                // iterate through computed shifts ex. {ds_84953: {REGULAR: 180, UNDERTIME: 300}}
                // eslint-disable-next-line no-unused-vars
                Object.entries( attendance ).forEach( ([ key, value ]) => {
                    // iterate through computed sched type attendance ex. {REGULAR: 180, UNDERTIME: 300}
                    Object.entries( value ).forEach( ([ index, item ]) => {
                        const time = moment().startOf( 'day' );
                        time.add( item, 'm' );

                        computedTotalAttendance.push( `${time.format( 'HH:mm' )} (${index})` );
                    });
                });

                if ( computedTotalAttendance.length > 0 ) {
                    this.computedAttendanceTotalHours = computedTotalAttendance;
                }
            },

            setAttendanceFromComputedAttendaceShifts( shifts ) {
                const timesheets = [];
                let computedAttendance = 0;

                // get timesheet, if not available get raw_timesheet
                shifts.forEach( ( item ) => {
                    if ( item.raw_timesheet && item.raw_timesheet.length > 0 ) {
                        item.raw_timesheet.forEach( ( value ) => {
                            timesheets.push( value );
                        });
                    } else if ( item.timesheet && item.timesheet.length > 0 ) {
                        item.timesheet.forEach( ( value ) => {
                            timesheets.push( value );
                        });
                    }

                    computedAttendance += item.computed_attendance;
                });

                if ( computedAttendance > 0 ) {
                    this.attendanceTotalHours = moment( computedAttendance / 60 ).format( 'HH:mm' );
                }

                if ( timesheets.length > 0 ) {
                    const sortedTimesheets = orderBy( timesheets, 'timestamp' );
                    this.attendance = timeClockService.handleAttendancePairing( sortedTimesheets );
                }
            },

            prepareTimesheetParamsFromSchedules( schedules ) {
                if ( !schedules ) return;

                const start = head( schedules );
                const shiftStart = start && start.shift_start;
                if ( shiftStart ) {
                    this.shiftParamStart = shiftStart - this.beforeShiftBufferInSeconds;

                    if ( !this.currentScheduleStart ) {
                        this.currentScheduleStart = shiftStart;
                    }
                }

                const end = last( schedules );
                const shiftEnd = end && end.shift_end;
                if ( shiftEnd ) {
                    this.shiftParamEnd = shiftEnd + this.afterShiftBufferInSeconds;

                    if ( !this.currentScheduleEnd ) {
                        this.currentScheduleEnd = shiftEnd;

                        this.isNowPastSelectedShift = moment().isAfter( moment( this.shiftParamEnd, 'X' ) );
                        this.isNowWithinCurrentShift = moment().isBetween( moment( this.shiftParamStart, 'X' ), moment( this.shiftParamEnd, 'X' ) );
                    }
                }
            },

            parsedSchedules( schedules ) {
                if ( !schedules ) return null;

                const parsedSchedules = [];

                schedules.forEach( ( schedule ) => {
                    const startDateTime = moment( `${schedule.start_date} ${schedule.start}`, DEFAULT_DATETIME_FORMAT );
                    const endDateTime = moment( `${schedule.end_date} ${schedule.end}`, DEFAULT_DATETIME_FORMAT );

                    schedule.shift_start = parseInt( startDateTime.format( 'X' ), 10 );
                    schedule.shift_end = parseInt( endDateTime.format( 'X' ), 10 );

                    parsedSchedules.push( schedule );
                });

                return parsedSchedules;
            },

            fetchInitialCurrentSchedules() {
                if ( !this.date ) return;

                shiftsService.getEmployeeShiftDateSchedule( this.date, false )
                    .then( ( currentSchedule ) => {
                        const sortedSchedules = orderBy( currentSchedule, 'start' );
                        this.schedules = this.parsedSchedules( sortedSchedules );
                        this.scheduleError = null;
                    }).catch( () => {
                        this.scheduleError = 'Unexpected error encountered while fetching shift schedules.';
                    });
            },

            fetchDateSchedulesAndTimeclocks() {
                if ( !this.date ) return;

                if ( !this.attendanceViewMore && !this.attendance ) {
                    this.attendaceLoading = true;
                    shiftsService.getEmployeeShiftDateSchedule( this.date )
                    .then( ([ currentSchedule, nextSchedule ]) => {
                        this.setAfterShiftBufferInSeconds( currentSchedule, nextSchedule );

                        const sortedSchedules = orderBy( currentSchedule, 'start' );
                        this.schedules = this.parsedSchedules( sortedSchedules );
                        this.setExpectedHours( currentSchedule );
                        this.prepareTimesheetParamsFromSchedules( this.schedules );

                        this.scheduleError = null;

                        // current date
                        if ( this.shiftParamStart && this.shiftParamEnd ) {
                            this.isNowWithinSelectedShift = moment().isBetween( moment( this.shiftParamStart, 'X' ), moment( this.shiftParamEnd, 'X' ) );
                            if ( this.isNowWithinSelectedShift ) {
                                timeClockService.getTimeClockTimesheet( this.shiftParamStart, this.shiftParamEnd )
                                .then( ( attendance ) => {
                                    this.attendance = attendance;
                                    if ( attendance && attendance.length > 0 ) {
                                        this.attendance = timeClockService.handleAttendancePairing( attendance );
                                        this.setEstimatedHours( this.attendance );
                                    }
                                    this.attendaceLoading = false;
                                });
                            }
                        }

                        // previous dates
                        if ( !this.isNowWithinSelectedShift ) {
                            // get from computed attendance
                            attendanceRecordService.getAttendanceRecordForDate( this.employeeId, moment( this.date ).format( DEFAULT_DATE_FORMAT ) )
                                .then( ({ data }) => {
                                    if ( !isEmpty( data ) ) {
                                        this.computedAttendace = data;
                                        this.attendance = [];
                                        this.setTotalHoursFromComputedAttendace( data.attendance );
                                        this.setAttendanceFromComputedAttendaceShifts( data.scheduled_shifts.assigned_shifts );
                                        this.attendaceLoading = false;
                                    }
                                })
                                .catch( () => {
                                    // if no computed attendance, fetch timesheet
                                    if ( this.shiftParamStart && this.shiftParamEnd ) {
                                        timeClockService.getTimeClockTimesheet( this.shiftParamStart, this.shiftParamEnd )
                                        .then( ( attendance ) => {
                                            this.attendance = attendance;
                                            if ( attendance && attendance.length > 0 ) {
                                                this.attendance = timeClockService.handleAttendancePairing( attendance );
                                                this.setEstimatedHours( this.attendance );
                                            }
                                            this.attendaceLoading = false;
                                        })
                                        .catch( () => {
                                            this.attendaceLoading = false;
                                        });
                                    }
                                });
                        }

                        this.checkIfMaxClockOut();
                    }).catch( () => {
                        this.scheduleError = 'Unexpected error encountered while fetching shift schedules.';
                    });
                }
                this.attendanceViewMore = !this.attendanceViewMore;
            },

            setAfterShiftBufferInSeconds( currentSchedule, nextSchedule ) {
                const sortedCurrentSchedule = orderBy( currentSchedule, 'start' );
                const parsedCurrentSchedules = this.parsedSchedules( sortedCurrentSchedule );

                const sortedNextSchedule = orderBy( nextSchedule, 'start' );
                const parsedNextSchedules = this.parsedSchedules( sortedNextSchedule );

                const currentShiftEndTime = get( parsedCurrentSchedules, '0.shift_end' );
                const nextShiftStartTime = get( parsedNextSchedules, '0.shift_start' );

                if ( currentShiftEndTime && nextShiftStartTime ) {
                    const parsedCurrentShiftEndTime = moment.unix( currentShiftEndTime );
                    const parsedNextShiftStartTime = moment.unix( nextShiftStartTime ).subtract( 4, 'hour' );
                    const computedDiffHours = parsedNextShiftStartTime.diff( parsedCurrentShiftEndTime, 'hour' );

                    this.afterShiftBufferInSeconds = computedDiffHours * 60 * 60;

                    return;
                } else if ( currentShiftEndTime ) {
                    const parsedCurrentShiftEndTime = moment.unix( currentShiftEndTime );
                    let computedDiffHours = moment( parsedCurrentShiftEndTime.format( 'YYYY-MM-DD' ) )
                        .add( 2, 'day' )
                        .diff( parsedCurrentShiftEndTime, 'hour' );
                    computedDiffHours = computedDiffHours > 4 ? computedDiffHours : 4;

                    this.afterShiftBufferInSeconds = computedDiffHours * 60 * 60;

                    return;
                }

                this.afterShiftBufferInSeconds = 4 * 60 * 60;
            },

            checkIfMaxClockOut() {
                const isMaxClockOut = ( this.attendance || [])
                    .find( ( attendance ) => get( attendance, 'clockOut.max_clock_out' ) );

                this.isMaxClockOut = isMaxClockOut;
            }
        }
    };
</script>


<style lang="scss" scoped>
    .sl-l-page--dashboard {
        .sl-l-app-body {
            background-color: $sl-color-white;
        }

        .sl-c-page__content {
            width: 70%;
            margin: 2% auto;
            display: block;
        }

        .attendance {
            min-height: 285px;
            padding: $sl-gutter;
            border-radius: $sl-radius-sm;
            background-color: $sl-color-white;
            box-shadow: 0 0 .5rem 0 $sl-color-grey;
        }

        .requests {
            margin-bottom: $sl-gutter;
            vertical-align: top;
        }

        .request-item {
            font-size: 20px;
            display: center;
            justify-content: center;
            text-align: center;

            p {
                font-size: 13px;
            }

            &:hover{
                cursor: pointer;
            }

            .sl-c-icon-circle--size {
                padding: $sl-gutter-xs;
                width: 4rem;
                height: 4rem;
            }
        }

        .padding {
            padding: $sl-gutter;
        }

        .attendance-today {
            display: center;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .schedule-today {
            display: center;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .sl-c-icon--request {
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            box-shadow: 0 0 20px #eee;
            background-color: #00A5E5;
        }

        .sl-c-icon--request:hover {
            background-position: right center;
            color: #3a3b3f;
            font-weight: 900;
            text-decoration: none;
            background-color: #7fd7f9;
        }

        .arrow {
            display: flex;
            align-items: center;
            justify-content: center;
            vertical-align: middle;
            font-weight: 700;
        }

        @media (min-width: 200px) {
            .attendance-today {
                display: center;
                align-items: center;
                justify-content: center;
                text-align: center;
            }

            .arrow {
                .fa {
                    font-size: 35px;
                }
            }

            .attendance-column {
                padding-left: 0;
                padding-top: $sl-gutter;
            }

            .timeclock-column {
                min-height: 22vh;
                padding-top: 0;
            }
        }

        @media (min-width: 800px) {
            .attendance-today {
                display: center;
                align-items: center;
                justify-content: center;
                text-align: center;
            }

            .arrow {
                .fa {
                    font-size: 35px;
                }
            }

            .request-item {
                font-size: 20px;
                display: center;
                justify-content: center;
                text-align: center;

                p {
                    font-size: 12px;
                }

                .sl-c-icon-circle--size {
                    padding: $sl-gutter-xs;
                    width: 3.5rem;
                    height: 3.5rem;
                }
            }
        }

        @media (min-width: 1000px) {
            .arrow {
                .fa {
                    font-size: 38px;
                }
            }

            .attendance-column {
                padding-left: $sl-gutter;
                padding-top: 0;
            }
        }

        .max-clock-out-warning {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            padding: 16px 0;
            flex-wrap: wrap;
        }
    }
</style>
