<template >
    <div class="sl-c-message-item sl-c-media" :class="{ 'sl-c-message-item--reply': isCurrentUsersMessage }">
        <div class="sl-c-media__object">
            <img :src="message.sender_picture" alt="" class="sender-image">
        </div>
        <div class="sl-c-media__body">
            <p class="sl-u-text--disabled">{{ formatMessageAuthorNameCreatedAtTime() }}</p>
            <div class="sl-c-message-cloud">
                {{ message.content }}
            </div>
        </div>
    </div>
</template>

<script>
import moment from 'moment';
import { TIMESTAMP_FORMAT } from '@/constants/request-trail';

export default {
    name: 'sal-message',

    props: {
        message: Object,
        currentUserId: Number
    },

    data() {
        return {
            isCurrentUsersMessage: false
        };
    },

    created() {
        this.isCurrentUserMessageAuthor();
    },

    methods: {
        /**
         * Checks is logged user message owner and stores result in isLoggedUsersMessage var
         */
        isCurrentUserMessageAuthor() {
            this.isCurrentUsersMessage = !!( this.message.sender_id === this.currentUserId );
        },

        /**
        * formats message author name and time when message is created
        * @returns String
        */
        formatMessageAuthorNameCreatedAtTime() {
            return this.message.created_at
                ? ` ${this.formatMessageCreatorName()}
                    ${this.formatMessageCreatedAtTime()}`
                : '';
        },

        /**
        * Formats message created at date to 'HH:mm MMMM D, YYYY' format
        * @returns String
        */
        formatMessageCreatedAtTime() {
            return moment( this.message.created_at, 'YYYY-MM-DD HH:mm:ss' ).format( TIMESTAMP_FORMAT );
        },

        /**
         * Formats message creator name
         * If logged user is message author shows 'You' instead of full name
         * @returns String
         */
        formatMessageCreatorName() {
            return this.isCurrentUsersMessage ? 'You ' : this.message.params.sender.name;
        }
    }
};
</script>

<style lang="scss" scoped>
    .sl-c-message-item {
        align-items: flex-end;
        margin-bottom: $sl-gutter;
    }

    .sl-c-message-item--reply {
        flex-direction: row-reverse;

        .sl-c-media__object {
            margin-right: 0;
            margin-left: $sl-gutter;
        }

        .sl-c-media__body {
            text-align: right;
        }
    }

    .sl-c-message-cloud {
        position: relative;
        padding: $sl-gutter-sm;
        border: 1px solid $sl-color-silver;
        word-break: break-all;

        &:before,
        &:after {
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            content: '';
        }

        &:before {
            top: 0px;
            left: -10px;
            z-index: 2;
            border-width: 0 10px 5px 0;
            border-color: transparent $sl-color-white transparent transparent;
        }

        &:after {
            top: -1px;
            left: -12px;
            z-index: 1;
            border-width: 0 12px 7px 0;
            border-color: transparent $sl-color-silver transparent transparent;
        }

        .sl-c-message-item--reply & {
            &:before {
                right: -10px;
                left: auto;
                z-index: 2;
                border-width: 0px 0 5px 10px;
                border-color: transparent transparent transparent $sl-color-white;
            }

            &:after {
                right: -12px;
                left: auto;
                z-index: 1;
                border-width: 0 0 7px 12px;
                border-color: transparent transparent transparent $sl-color-silver;
            }
        }
    }

    .sender-image {
        height: 40px;
        width: 40px;
        border-radius: 999px;
        border: 1px solid $sl-color-lightblack;
    }
</style>
