<template>
    <form class="sl-c-message-reply-form" @submit.prevent="sendMessage">
        <div class="sl-c-form-group" >
            <div class="sl-c-input-group sl-c-input-group--rounded">
                <sal-textarea-mobile
                    v-if="isAnnouncementReply"
                    id="sl-announcement-reply-input"
                    class="sl-c-form-control"
                    :class="{'sl-c-textarea-border': isAnnouncementReply}"
                    type="text"
                    name="message"
                    :rows="1"
                    v-model="message.content"
                    placeholder="Write a reply"
                />
                <input
                    v-else
                    id="sl-message-input"
                    class="sl-c-form-control"
                    type="text"
                    name="message"
                    autocomplete="off"
                    v-model="message.content"
                    placeholder="Write a reply"
                />

                <div class="sl-c-input-group__addon">
                    <sal-button-mobile
                        id="sl-message-btn"
                        class="sl-c-btn sl-c-btn--link"
                        :class="{ 'sl-is-visually-hidden': !message.content && !showButton }"
                        :onClick="sendMessage"
                    >
                        <i class="fa fa-paper-plane fa-lg sl-u-text--success"></i>
                    </sal-button-mobile>
                </div>
            </div>
        </div>
    </form>
</template>

<script>
    export default {
        name: 'sal-message-input',
        props: {
            showButton: {
                type: Boolean,
                default: false
            },
            isAnnouncementReply: {
                type: Boolean,
                default: false
            },
            isInitialMessage: {
                type: Boolean,
                default: false
            }
        },

        data() {
            return {
                message: {
                    content: null
                }
            };
        },
        methods: {
            /**
             * Emmits send message event on click passing message object to listener
             */
            sendMessage() {
                if ( !this.message.content ) {
                    return;
                }

                const message = this.isInitialMessage ? this.message.content : this.message;
                this.$emit( 'send-message', message );
                this.message.content = null;
            }
        }
    };
</script>

<style lang="scss" scoped>
    .sl-c-message-reply-form {
        margin-right: -$sl-gutter;
        margin-left: -$sl-gutter;
        padding: $sl-gutter;
        border-top: 1px solid $sl-color-darksilver;
    }

    .sl-c-input-group {
        .sl-c-btn {
            background-color: transparent;
            border: none;
        }
    }

    .sl-c-input-group--rounded {
        > .sl-c-form-control {
            border-top-left-radius: $sl-radius-lg;
            border-bottom-left-radius: $sl-radius-lg;

            + .sl-c-input-group__addon {
                border-top-right-radius: $sl-radius-lg;
                border-bottom-right-radius: $sl-radius-lg;
            }
        }
    }

    .sl-is-visually-hidden {
        visibility: hidden;
    }
</style>

