<template>
    <div class="sl-c-message-feed">
        <div v-for="( message, index ) in requestMessages" :key="index">
            <sal-message v-if="currentUserId" :message="message" :currentUserId="currentUserId"></sal-message>
        </div>
    </div>
</template>

<script>
export default {
    name: 'sal-messages-feed',

    props: {
        requestMessages: Array,
        currentUserId: Number
    }
};
</script>

<style lang="scss" scoped>
    .sl-c-message-feed {
        margin-top: $sl-gutter-lg;
        margin-bottom: $sl-gutter;
        overflow-y: auto;
    }
</style>


