<template>
    <div class="sl-l-app-body">
        <sal-back :to="{ name: 'requests.index' }">Back to Requests</sal-back>

        <div class="sl-c-page__content">
             <nav class="sl-c-tabs sl-u-gap-bottom">
                <a :class="isDetailsView ? 'sl-is-active' : ''" @click="showDetails">
                    Details
                </a>
                <a :class="!isDetailsView ? 'sl-is-active' : ''" @click="showMessages">
                    Messages
                </a>
            </nav>

            <add-leave-request-form
                v-show="isDetailsView"
                @submit="submitLeaveRequest"
                @first-part-filled="showTabs"
            />

            <sal-initial-messages-feed
                v-show="!isDetailsView"
                :requestMessages="requestMessages"
                @send-message="sendMessage"
            />
        </div>
    </div>
</template>

<script>
    import { get } from 'lodash-es';
    import AddLeaveRequestForm from '@/components/mobile/requests/AddLeaveRequestForm';
    import { leaveRequestsService } from '@/utils/services/LeaveRequestsService';

    export default {
        components: {
            AddLeaveRequestForm
        },

        data() {
            return {
                isDetailsView: true,
                requestMessages: [],
                areTabsVisible: false
            };
        },

        methods: {
            /**
             * Show tabs.
             */
            showTabs() {
                this.areTabsVisible = true;
            },
            /**
             * Shows details component.
             */
            showDetails() {
                this.isDetailsView = true;
            },

            /**
             * Shows messages component.
             */
            showMessages() {
                this.isDetailsView = false;
            },

            /**
             * Listens for send-message child event and pushes message to array.
             */
            sendMessage( message ) {
                this.requestMessages.push( message );
            },

            /**
             * Submit Leave Request Data.
             * @param {Object}
             */
            async submitLeaveRequest( leaveRequest ) {
                if ( this.requestMessages && this.requestMessages.length ) {
                    leaveRequest.messages = this.requestMessages;
                }

                this.$loader.show();

                try {
                    await leaveRequestsService.submitLeaveRequest( leaveRequest );

                    this.$flashMessage.queue( 'Request submitted successfully', 'success' );

                    this.$router.push({ name: 'requests.index' });
                } catch ( error ) {
                    this.$loader.hide();
                    this.$flashMessage.show( get( error, 'response.data.message', error.message ), 'error' );
                }
            }
        }
    };
</script>

<style lang="scss" scoped>
    .sl-c-panel__header {
        word-break: break-all;

        .sl-c-media__body {
            margin-bottom: 0;
        }
    }
</style>
