<template>
    <div class="sl-l-app-body">
        <sal-back :to="{ name: 'requests.index' }">Back to Requests</sal-back>

        <!-- details and messages tabs section -->
        <div class="sl-c-page__content">
            <nav class="sl-c-tabs">
                <a :class="isDetailsView ? 'sl-is-active' : ''" @click="showDetails">
                    Details
                </a>
                <a :class="!isDetailsView ? 'sl-is-active' : ''" @click="showMessages">
                    Messages
                </a>
            </nav>

            <add-overtime-request-form
                v-show="isDetailsView"
                :pendingOvertimeRequests="pendingOvertimeRequests"
                @save="handleSave"
                @cancel="removeRequestFromArray"
                @edit-canceled="removeRequestFromArray"
            />

            <sal-initial-messages-feed
                v-show="!isDetailsView"
                :requestMessages="requestMessages"
                @send-message="sendMessage"
            />

            <div class="sl-c-section__footer sl-c-block-btns sl-u-gap-top--lg" v-if="isDetailsView">
                <sal-button-mobile
                    id="cancel-request"
                    label="Cancel"
                    size="sm"
                    type="primary"
                    outlined
                    buttonType="button"
                    :onClick="cancelRequest"
                />
                <sal-button-mobile
                    id="submit-request"
                    :class="{ 'sl-is-disable': isSubmiting || !overtimeRequestsList.length }"
                    label="Submit"
                    size="sm"
                    type="primary"
                    buttonType="submit"
                    :onClick="submitOvertimeRequest"
                    :disabled="isSubmiting || !overtimeRequestsList.length"
                />
            </div>
        </div>
    </div>
</template>
<script>
    import moment from 'moment';
    import { findIndex } from 'lodash-es';
    import { overtimeRequestService } from '@/utils/services/OvertimeRequestService';
    import { DEFAULT_DATE_FORMAT } from '@/constants/employee-request';
    import AddOvertimeRequestForm from '@/components/mobile/requests/AddOvertimeRequestForm';
    import addRequest from '@/mixins/addRequest';

    export default {
        mixins: [addRequest],
        components: {
            AddOvertimeRequestForm
        },

        data() {
            return {
                requestMessages: [],
                isSubmiting: false,
                selectedDate: null,
                overtimeRequestsList: [],
                pendingOvertimeRequests: []
            };
        },

        created() {
            this.getPendingRequests( 'overtime', this.setPendingOvertimeRequests );
        },

        methods: {
            /**
             * Sets pending overtime requests.
             * @param {Array} requests
             */
            setPendingOvertimeRequests( requests ) {
                this.pendingOvertimeRequests = requests.data;
            },

            /**
             * Removes request from array
             * @param {Number} shiftId shifts id
             */
            removeRequestFromArray( shiftId ) {
                const index = findIndex( this.overtimeRequestsList, { shift_id: shiftId });
                if ( index === -1 ) return;

                this.overtimeRequestsList.splice( index, 1 );
            },

            /**
             * Submits overtime request.
             */
            submitOvertimeRequest() {
                if ( !this.overtimeRequestsList || !this.overtimeRequestsList.length ) return;

                this.isSubmiting = true;
                this.$loader.show();
                const data = {
                    date: this.selectedDate,
                    messages: this.requestMessages,
                    shifts: this.overtimeRequestsList
                };

                overtimeRequestService.submitOvertimeRequest( data )
                    .then( () => {
                        this.isSubmiting = false;
                        this.$loader.hide();
                        this.$flashMessage.show( 'Request submitted successfully', 'success' );
                        this.$router.push({ name: 'requests.index' });
                    })
                    .catch( ( error ) => {
                        this.isSubmiting = false;
                        this.$loader.hide();

                        this.$flashMessage.show( error.response.data.message, 'error' );
                    });
            },

            /**
             * Handles request parsing.
             * If overtime request is in array - replaces.
             * If not adds it to array.
             * @param {Number} shiftId id of request shift
             * @param {Objet} overtimeRequest overtime request object
             */
            handleRequestParsing( shiftId, overtimeRequest ) {
                const index = findIndex( this.overtimeRequestsList, { shift_id: shiftId });
                index !== -1
                    ? this.overtimeRequestsList[ index ] = overtimeRequest
                    : this.overtimeRequestsList.push( overtimeRequest );
            },

            /**
             * Handles overtime request data saving.
             * @param {Object} data request data
             */
            handleSave( data ) {
                this.selectedDate = moment( data.date ).format( DEFAULT_DATE_FORMAT );
                const overtimeRequest = {
                    shift_id: data.overtime.shift_id,
                    start_time: data.overtime.start_time,
                    hours: data.overtime.hours
                };

                this.handleRequestParsing( data.overtime.shift_id, overtimeRequest );
            }
        }
    };
</script>
<style lang="scss" scoped>
</style>
