<template>
    <div class="sl-l-app-body">
        <sal-back :to="{ name: 'requests.index' }">Back to Requests</sal-back>

        <!-- details and messages tabs section -->
        <div class="sl-c-page__content">
            <nav class="sl-c-tabs">
                <a :class="isDetailsView ? 'sl-is-active' : ''" @click="showDetails">
                    Details
                </a>
                <a :class="!isDetailsView ? 'sl-is-active' : ''" @click="showMessages">
                    Messages
                </a>
            </nav>

            <add-shift-change-request-form
                v-show="isDetailsView"
                :pending-shift-change-requests="pendingShiftChangeRequests"
            />

            <sal-initial-messages-feed
                v-show="!isDetailsView"
                :request-messages="requestMessages"
                @send-message="sendMessage"
            />
        </div>
    </div>
</template>
<script>
    import AddShiftChangeRequestForm from '@/components/mobile/requests/AddShiftChangeRequestForm';
    import addRequest from '@/mixins/addRequest';

    export default {
        mixins: [addRequest],
        components: {
            AddShiftChangeRequestForm
        },
        data() {
            return {
                pendingShiftChangeRequests: []
            };
        },

        created() {
            this.getPendingRequests( 'shift_change', this.setPendingShiftChangeRequests );
        },

        methods: {
            /**
             * Sets shift change requests.
             */
            setPendingShiftChangeRequests( requests ) {
                this.pendingShiftChangeRequests = requests.data;
            },

            /**
             * Emits submit event.
             */
            sendMessage( message ) {
                this.requestMessages.push( message );
                this.$emit( 'sent-message', message );
            }
        }
    };
</script>

<style lang="scss" scoped>
</style>
       