<template>
    <div class="sl-l-app-body">
        <sal-back :to="{ name: 'requests.index' }">Back to Requests</sal-back>

        <!-- details and messages tabs section -->
        <div class="sl-c-page__content">
            <nav class="sl-c-tabs">
                <a :class="isDetailsView ? 'sl-is-active' : ''" @click="showDetails">
                    Details
                </a>
                <a :class="!isDetailsView ? 'sl-is-active' : ''" @click="showMessages">
                    Messages
                </a>
            </nav>

            <add-time-dispute-request-form
                v-show="isDetailsView"
                :pending-time-dispute-requests="pendingTimeDisputeRequests"
                @save="handleSave"
                @cancel="removeRequestFromArray"
            />

            <sal-initial-messages-feed
                v-show="!isDetailsView"
                :request-messages="requestMessages"
                @send-message="sendMessage"
            />

            <div class="sl-c-section__footer sl-c-block-btns sl-u-gap-top--lg" v-if="isDetailsView">
                <sal-button-mobile
                    id="cancel-request"
                    label="Cancel"
                    size="sm"
                    type="primary"
                    outlined
                    buttonType="button"
                    :onClick="cancel"
                />
                <sal-button-mobile
                    id="submit-request"
                    label="Submit"
                    size="sm"
                    type="primary"
                    buttonType="submit"
                    :disabled="!timeDisputeRequests.shifts.length"
                    :onClick="submit"
                />
            </div>
        </div>
    </div>
</template>
<script>
    import { findIndex } from 'lodash-es';
    import moment from 'moment';
    import AddTimeDisputeRequestForm from '@/components/mobile/requests/AddTimeDisputeRequestForm';
    import { employeeRequestService } from '@/utils/services/EmployeeRequestService';
    import { timeDisputeRequestService } from '@/utils/services/TimeDisputeRequestService';

    export default {
        components: {
            AddTimeDisputeRequestForm
        },

        data() {
            return {
                areTabsVisible: false,
                isDetailsView: true,
                requestMessages: [],
                pendingTimeDisputeRequests: [],
                timeDisputeRequests: {
                    messages: [],
                    shifts: []
                }
            };
        },

        created() {
            this.getPendingTimeDisputeRequest();
        },

        methods: {
            /**
             * Gets the pending requests.
             */
            getPendingTimeDisputeRequest() {
                const data = {
                    statuses: ['pending'],
                    types: ['time_dispute']
                };
                this.$loader.show();
                employeeRequestService.getEmployeeRequests( 1, data ).then( ( requests ) => {
                    this.pendingTimeDisputeRequests = requests.data;
                    this.$loader.hide();
                })
                .catch( () => this.$loader.hide() );
            },

            /**
             * Shows details component.
             */
            showDetails() {
                this.isDetailsView = true;
            },

            /**
             * Shows messages component.
             */
            showMessages() {
                this.isDetailsView = false;
            },
            /**
             * Listens for send-message child event and pushes message to array.
             */
            sendMessage( message ) {
                this.requestMessages.push( message );
            },

            /**
             * Handles save data
             *
             * @param {Object} data
             */
            handleSave( data ) {
                const numberOfChanges = data.timeDispute.number_of_changes;

                if ( numberOfChanges !== 0 ) {
                    const message = numberOfChanges === 1
                        ? `There is ${numberOfChanges} change made.`
                        : `There are ${numberOfChanges} changes made.`;

                    this.$flashMessage.show( `${message} Records are marked with red indicator.`, 'info' );
                }

                this.timeDisputeRequests.start_date = data.startDate;
                this.timeDisputeRequests.end_date = data.endDate;

                const index = findIndex( this.timeDisputeRequests.shifts, ( shift ) =>
                    moment( shift.date ).isSame( data.timeDispute.date, 'day' ) && shift.shift_id === data.timeDispute.shift_id
                );

                if ( index > -1 ) {
                    this.timeDisputeRequests.shifts[ index ] = data.timeDispute;

                    return;
                }

                this.timeDisputeRequests.shifts.push( data.timeDispute );
            },

            /**
             * Removes request from array
             * @param {Number} shiftId shifts id
             */
            removeRequestFromArray( shiftId, date ) {
                const index = findIndex( this.timeDisputeRequests.shifts, ( shift ) =>
                    moment( shift.date ).isSame( date, 'day' ) && shift.shift_id === shiftId
                );

                if ( index > -1 ) {
                    this.timeDisputeRequests.shifts.splice( index, 1 );
                }
            },

            submit() {
                if ( !this.timeDisputeRequests.shifts.length ) return;
                this.$loader.show();
                const submitData = this.timeDisputeRequests;
                submitData.start_date = moment( submitData.start_date ).format( 'YYYY-MM-DD' );
                submitData.end_date = moment( submitData.end_date ).format( 'YYYY-MM-DD' );
                submitData.messages = this.requestMessages;

                timeDisputeRequestService.submitTimeDisputeRequest( submitData )
                    .then( () => {
                        this.$loader.hide();
                        this.$router.push({ name: 'requests.index' });
                        this.$flashMessage.show( 'Request submitted successfully', 'success' );
                    })
                    .catch( ( error ) => {
                        this.$loader.hide();
                        this.$flashMessage.show( error.response.data.message, 'error' );
                    });
            },

            /**
             * Cancels the request
             */
            cancel() {
                this.$modal.confirm({
                    type: 'danger',
                    title: 'Discard changes',
                    cancelText: 'Stay on this page',
                    okText: 'Discard',
                    content: 'You are about to leave page with unsaved changes. Do you wish to proceed?',
                    onOk: () => {
                        this.$router.push({ name: 'requests.index' });
                    }
                });
            }
        }
    };
</script>

<style lang="scss" scoped>
</style>
