<template>
    <div class="sl-l-app-body">
        <sal-back :to="{ name: 'requests.index' }">Back to Requests</sal-back>

        <!-- details and messages tabs section -->
        <div class="sl-c-page__content">
            <nav class="sl-c-tabs">
                <a :class="isDetailsView ? 'sl-is-active' : ''" @click="showDetails">
                    Details
                </a>
                <a :class="!isDetailsView ? 'sl-is-active' : ''" @click="showMessages">
                    Messages
                </a>
            </nav>

            <add-undertime-request-form
                v-show="isDetailsView"
                :pendingUndertimeRequests="pendingUndertimeRequests"
                @save="handleSave"
                @cancel="handleCancel"
                @remove-file="removeUploadedFile"
            />

            <sal-initial-messages-feed
                v-show="!isDetailsView"
                :requestMessages="requestMessages"
                @send-message="sendMessage"
            />

            <div class="sl-c-section__footer sl-c-block-btns sl-u-gap-top--lg" v-if="isDetailsView">
                <sal-button-mobile
                    id="cancel-request"
                    label="Cancel"
                    size="sm"
                    type="primary"
                    outlined
                    buttonType="button"
                    :onClick="cancelRequest"
                />
                <sal-button-mobile
                    id="submit-request"
                    :class="{ 'sl-is-disable': isSubmiting || !undertimeRequests.length }"
                    label="Submit"
                    size="sm"
                    type="primary"
                    buttonType="submit"
                    :onClick="submitRequest"
                    :disabled="isSubmiting || !undertimeRequests.length"
                />
            </div>
        </div>
    </div>
</template>
<script>
    import moment from 'moment';
    import { findIndex } from 'lodash-es';
    import AddUndertimeRequestForm from '@/components/mobile/requests/AddUndertimeRequestForm';
    import addRequest from '@/mixins/addRequest';
    import { DEFAULT_DATE_FORMAT } from '@/constants/employee-request';
    import { undertimeRequestService } from '@/utils/services/UndertimeRequestService';

    export default {
        mixins: [addRequest],
        components: {
            AddUndertimeRequestForm
        },

        data() {
            return {
                requestMessages: [],
                isSubmiting: false,
                selectedDate: null,
                undertimeRequests: [],
                pendingUndertimeRequests: [],
                fileIds: []
            };
        },

        methods: {
            /**
             * Handles save.
             * @param {Object} data.
             */
            handleSave( data ) {
                this.selectedDate = moment( data.date ).format( DEFAULT_DATE_FORMAT );
                this.addOrReplaceRequest( data.undertime.shift_id, data.undertime );
            },

            /**
             * Handles request's cancel.
             * Finds index of request in undertimeRequests.
             * If index is found removes request from array.
             * @param {Number} shiftId shifts's id.
             */
            handleCancel( shiftId ) {
                const index = findIndex( this.undertimeRequests, { shift_id: shiftId });
                if ( index === -1 ) return;

                this.undertimeRequests.splice( index, 1 );
            },

            /**
             * Removes uploaded file.
             * @param {Number} fileId id of file to be removed.
             */
            removeUploadedFile( fileId ) {
                const index = findIndex( this.fileIds, ( id ) => id === fileId );
                this.fileIds.splice( index, 1 );
            },

            /**
             * Adds or replace request.
             * If undertime request is in array - replaces.
             * If not adds it to array.
             * @param {Number} shiftId id of request shift
             * @param {Object} undertime undertimr request object
             */
            addOrReplaceRequest( shiftId, undertime ) {
                const index = findIndex( this.undertimeRequests, { shift_id: shiftId });
                index !== -1
                    ? this.undertimeRequests[ index ] = undertime
                    : this.undertimeRequests.push( undertime );
            },
            /**
             * Submits undertime request.
             */
            submitRequest() {
                if ( !this.undertimeRequests || !this.undertimeRequests.length ) return;

                this.isSubmiting = true;
                this.$loader.show();
                const data = {
                    date: this.selectedDate,
                    attachments: this.fileIds,
                    messages: this.requestMessages,
                    shifts: this.undertimeRequests
                };

                undertimeRequestService.submitRequest( data )
                    .then( () => {
                        this.isSubmiting = false;
                        this.$loader.hide();
                        this.$flashMessage.show( 'Request submitted successfully', 'success' );
                        this.$router.push({ name: 'requests.index' });
                    })
                    .catch( ( error ) => {
                        this.isSubmiting = false;
                        this.$loader.hide();

                        this.$flashMessage.show( error.response.data.message, 'error' );
                    });
            },

            /**
             * Cancels undertime request
             */
            cancelRequest() {
                this.$modal.confirm({
                    type: 'danger',
                    title: 'Confirm Action',
                    cancelText: 'Cancel',
                    okText: 'Confirm',
                    content: 'You are about to leave page with unsaved changes. Do you wish to proceed?',
                    onOk: () => {
                        this.$router.push({ name: 'requests.index' });
                    }
                });
            }
        }
    };
</script>
