<template>
    <div class="sl-l-app-body">
        <sal-back :to="{ name: 'dashboard'}">Dashboard</sal-back>
        <div class="sl-l-page-wrapper">
            <div class="notifications">
                <div class="header">
                    <h2>View Payslips</h2>
                    <p>You can view your payslip by selecting the payout date from the list below</p>
                </div>

                <div class="year-options">
                    <span>Year</span>
                    <sal-select-mobile
                        v-model="year"
                        :options="yearOptions"
                        id="year"
                        class="sl-c-form-control--slim sl-c-form-control--narrow"
                    />
                </div>

                <template v-if="payslips.length > 0">
                    <div v-for="(payslip, index) in payslips" class="entry" :key="index">
                        <div class="title" :style="{ fontWeight: Boolean( payslip.read_at ) ? '500' : '600' }" >
                            {{parseDate( payslip.payroll_date )}}
                        </div>
                        <div class="action" v-on:click="getPayslip( index )">
                            <i :class="`fa fa-${Boolean( payslip.read_at ) ? 'check' : 'search'}`" :style="{ color: Boolean( payslip.read_at ) ? '#adadad' : '#8ed65a' }"/>
                            {{Boolean( payslip.read_at ) ? 'Viewed' : 'View'}}
                        </div>
                    </div>
                </template>
                <template v-else>
                    <span class="no-data">
                        No payslips available
                    </span>
                </template>

                <a :href="link" download ref="download" />
            </div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment/moment';
    import get from 'lodash-es/get';
    import { payslipsService } from '@/utils/services/PayslipsService';
    import { auth } from '@/utils/Authentication';
    import { USER_STATUS } from '@/constants';

    export default {
        name: 'view-payslips',

        data() {
            return {
                payslips: [],
                link: '',
                year: moment().year()
            };
        },

        beforeCreate() {
            this.$loader.show();

            payslipsService.getPayslips( this.year )
                .then( ( payslips ) => {
                    this.payslips = payslips;
                    this.$loader.hide();
                });
        },

        mounted() {
            if ( auth.getUser().status === USER_STATUS.SEMI_ACTIVE ) {
                this.$flashMessage.show(
                    'Your employee status has been updated to semi-active. Please contact your administrator for more information.',
                    'error'
                );
            }
        },

        computed: {
            /**
             * Generates options for select
             */
            yearOptions() {
                const years = [];
                const currentYear = moment().year();

                for ( let year = currentYear + 1; year > ( currentYear - 5 ); year -= 1 ) {
                    years.push({ value: year, text: year });
                }

                return years;
            }
        },

        methods: {
            getPayslips( year = this.year ) {
                this.$loader.show();

                payslipsService.getPayslips( year )
                    .then( ( payslips ) => {
                        this.payslips = payslips;
                        this.$loader.hide();
                    });
            },

            getPayslip( index ) {
                this.$loader.show();

                payslipsService.getPayslip( this.payslips[ index ].id )
                    .then( ( response ) => {
                        const link = document.createElement( 'a' );

                        link.href = response.uri;
                        link.setAttribute( 'download', '' );
                        document.body.appendChild( link );
                        link.click();

                        document.body.removeChild( link );
                        this.payslips[ index ].read_at = moment().format();
                    })
                    .catch( ( error ) => {
                        this.$flashMessage.show( get( error, 'response.data.message', error.message ), 'error' );
                    }).finally( () => {
                        this.$loader.hide();
                    });
            },

            parseDate( date ) {
                return moment( date ).format( 'MMMM DD, YYYY' );
            }
        },

        watch: {
            year( value ) {
                this.getPayslips( value );
            }
        }
    };
</script>

<style lang="scss" scoped>
    .sl-l-page-wrapper {
        min-height: 100vh;
        display: flex;
        justify-content: center;

        .notifications {
            text-align: center;
            min-height: 80vh;
            width: 64vh;
            padding: 5vh 8vw;
            background: $sl-color-white;

            .header {
                width: 100%;
                margin-bottom: 30px;
            }
        }

        .entry {
            display: flex;
            width: 100%;
            justify-content: space-between;
            font-size: 16px;
            padding: 2vh 0;

            .action {
                font-weight: 600;

                &:hover{
                    cursor: pointer;
                }
            }
        }

        .no-data {
            font-size: 16px;
            color: $sl-color-grey;
        }

        .year-options {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 30px;

            span {
                margin-top: 14px;
            }

            & > div {
                width: 7rem;
            }
        }
    }
</style>
