<template>
    <sal-change-password />
</template>

<script>
    import ChangePassword from '@/components/mobile/profile/ChangePassword';

    export default {
        components: {
            'sal-change-password': ChangePassword
        }
    };
</script>

<style lang="scss">
</style>
