<template>
    <sal-profile :employee="employee" :leave-credits="leaveCredits" v-if="employee" />
</template>

<script>
    import Profile from '@/components/mobile/profile/Profile';
    import { leaveRequestsService } from '@/utils/services/LeaveRequestsService';
    import { auth } from '@/utils/Authentication';

    export default {
        components: {
            'sal-profile': Profile
        },
        data() {
            return {
                employee: null,
                leaveCredits: null
            };
        },
        created() {
            this.fetchEmployee();
            this.fetchLeaveCredits();
        },
        methods: {
            /**
             * Fetches user informations
             */
            fetchEmployee() {
                this.$loader.show();

                const data = auth.fetchUser();

                if ( data && data.employee ) {
                    this.employee = data.employee;
                    this.$loader.hide();
                }
            },

            /**
             * Fetches leave credits for employee
             */
            fetchLeaveCredits() {
                this.$loader.show();

                leaveRequestsService.getLeaveCredits()
                    .then( ( response ) => {
                        this.leaveCredits = response.data;
                        this.$loader.hide();
                    }).catch( () => this.$loader.hide() );
            }
        }
    };
</script>

<style lang="scss">
</style>
