<template>
        <div ref="calendar" class='sl-c-calendar'></div>
</template>

<script>
    import 'fullcalendar';
    import moment from 'moment';
    import { merge, camelCase, each, isEmpty } from 'lodash-es';
    import { TEAM_CALENDAR_CONFIGURATION, CALENDAR_COLORS, ATTENDANCE_SUMMARY } from '@/constants/calendar';

    export default {
        name: 'sal-team-view-calendar',

        data() {
            return {
                currentDate: moment().format( 'YYYY-MM-DD' ),
                selectedweek: moment().format( 'YYYY-MM-DD' )
            };
        },

        props: {
            calendarData: {
                type: Object,
                required: true,
                default: []
            },
            totalMembers: {
                type: Number,
                required: true,
                default: 0
            },
            selectedDate: {
                type: String,
                required: true,
                default: moment().format( 'YYYY-MM-DD' )
            }
        },

        created() {
            this.initialize();
        },

        computed: {
            defaultSummary() {
                const defaultSummary = [];
                const startDate = moment( this.selectedweek, 'YYYY-MM-DD' ).startOf( 'week' );
                const endDate = moment( this.selectedweek, 'YYYY-MM-DD' ).endOf( 'week' );

                while ( startDate.isSameOrBefore( endDate ) ) {
                    defaultSummary.push({
                        title: 'No data available',
                        allDay: false,
                        start: startDate.format( 'YYYY-MM-DD' ),
                        end: startDate.format( 'YYYY-MM-DD' ),
                        eventBackgroundColor: CALENDAR_COLORS.TEAM_VIEW.default.background,
                        eventBorderColor: CALENDAR_COLORS.TEAM_VIEW.default.border
                    });

                    startDate.add( 1, 'day' );
                }

                return defaultSummary;
            },

            attendanceSummary() {
                const daySummary = [];

                const noData = {
                    title: 'No data available',
                    allDay: false,
                    eventBackgroundColor: CALENDAR_COLORS.TEAM_VIEW.default.background,
                    eventBorderColor: CALENDAR_COLORS.TEAM_VIEW.default.border
                };

                if ( !isEmpty( this.calendarData ) ) {
                    each( this.calendarData, ( day, index ) => {
                        const itemValuesPerDay = Object.values( day.summary );

                        if ( itemValuesPerDay.every( ( value ) => value === 0 ) ) {
                            daySummary.push( Object.assign({}, noData, {
                                start: index,
                                end: index
                            }) );
                        }

                        each( day.summary, ( value, item ) => {
                            if ( day.summary[ item ] > 0 ) {
                                daySummary.push({
                                    title: this.handleSummaryFormatting( item, value ),
                                    start: index,
                                    end: index,
                                    allDay: false,
                                    eventBackgroundColor: CALENDAR_COLORS.TEAM_VIEW[ camelCase( item ) ].background,
                                    eventBorderColor: CALENDAR_COLORS.TEAM_VIEW[ camelCase( item ) ].border
                                });
                            }
                        });
                    });

                    $( this.$refs.calendar ).fullCalendar( 'removeEvents' );
                    $( this.$refs.calendar ).fullCalendar( 'addEventSource', daySummary );
                    $( this.$refs.calendar ).fullCalendar( 'rerenderEvents' );
                }

                return daySummary;
            }
        },

        methods: {
            initialize() {
                $( document ).ready( () => {
                    $( this.$refs.calendar ).fullCalendar(
                        merge(
                            TEAM_CALENDAR_CONFIGURATION,
                            {
                                defaultDate: moment().format( 'YYYY-MM-DD' ),
                                events: this.attendanceSummary,
                                eventRender: ( event, element ) => {
                                    const content = element.find( '.fc-list-item-title', '.fc-widget-content' );

                                    content.css( 'word-break', 'break-all' );
                                    element.find( '.fc-event-dot' ).css( 'background-color', event.eventBackgroundColor );
                                    element.find( '.fc-event-dot' ).css( 'border', `1px solid ${event.eventBorderColor}` );
                                },
                                viewRender: () => {
                                    this.hideDayView();
                                    this.hideMonthView();
                                    this.selectDayHeader();

                                    const selectedWeek = $( this.$refs.calendar ).fullCalendar( 'getDate' ).format( 'YYYY-MM-DD' );
                                    this.selectedweek = selectedWeek;

                                    $( this.$refs.calendar ).fullCalendar( 'removeEvents' );
                                    $( this.$refs.calendar ).fullCalendar( 'addEventSource', this.defaultSummary );
                                    $( this.$refs.calendar ).fullCalendar( 'rerenderEvents' );

                                    this.$emit( 'changeWeek', selectedWeek );
                                },
                                eventAfterRender: ( event, element ) => {
                                    const $prevHeading = $( element ).prev( '.fc-list-heading' );
                                    const date = $prevHeading.data( 'date' );

                                    if ( date === this.selectedDate && date !== this.currentDate ) {
                                        $prevHeading.find( '.fc-widget-header' ).addClass( 'selected' );
                                    }

                                    if ( date === this.currentDate ) {
                                        $prevHeading.find( '.fc-widget-header' ).addClass( 'currentDay' );
                                    }
                                }
                            }
                        )
                    );
                });
            },

            hideDayView() {
                $( '.fc-agendaDay-button' )
                    .prop( 'disabled', true )
                    .addClass( 'fc-state-disabled' );
            },

            hideMonthView() {
                $( '.fc-month-button' )
                    .prop( 'disabled', true )
                    .addClass( 'fc-state-disabled' );
            },

            selectDayHeader() {
                $( 'body' ).on( 'click', '.fc-list-heading', ( object ) => {
                    $( '.fc-widget-header' ).removeClass( 'selected' );

                    this.$emit( 'selectedDay', moment( object.target.lastChild.innerText, 'MMMM DD, YYYY' ).format( 'YYYY-MM-DD' ) );
                    $( object.target ).addClass( 'selected' );
                });
                $( 'body' ).on( 'click', 'span', ( e ) => {
                    e.stopPropagation();
                });
            },

            handleSummaryFormatting( type, value ) {
                switch ( type ) {
                    case ATTENDANCE_SUMMARY.INFRACTIONS:
                        return `With Infractions: ${value}/${this.totalMembers}`;
                    case ATTENDANCE_SUMMARY.NO_INFRACTIONS:
                        return `No Infractions/Pendings: ${value}/${this.totalMembers}`;
                    case ATTENDANCE_SUMMARY.PENDING:
                        return `With Pending Requests: ${value}/${this.totalMembers}`;

                    default:
                        return '';
                }
            }
        },

        watch: {
            calendarData() {
                this.initialize();
            },

            totalMembers() {
                this.initialize();
            }
        }
    };
</script>

<style lang="scss" scoped>
    @import "~fullcalendar/dist/fullcalendar.css";

    .sl-c-calendar {
        margin-bottom: 1rem;

        /deep/ .fc-header-toolbar {
            display: grid;
            grid-template-columns: 6rem 1fr 5rem;
            margin-bottom: 0;
            grid-column-gap: $sl-gutter-sm;
            grid-row-gap: $sl-gutter;
            grid-template-areas: "arrows name name"
                                "range range range";

            h2 {
                font-size: 13pt;
            }

            .fc-icon{
                font-size: 13pt;
            }

            .fc-left {
                grid-area: arrows;
                box-shadow: 0 8px 8px -7px $sl-color-grey;
                padding-right: 110%;
                padding-left: 1rem;
                padding-bottom: 8px;


                .fc-state-default {
                    border-color: transparent;
                    z-index: 1
                }
            }

            .fc-right {
                grid-area: name;
                display: grid;
                grid-template-columns: 1fr 5rem;
                grid-column-gap: $sl-gutter-sm;
                box-shadow: 0 8px 8px -7px $sl-color-grey;
                padding-bottom: 8px;


                .fc-state-default {
                    border-color: transparent;
                    z-index: 1
                }
            }

            .fc-center {
                grid-area: range;
                text-align: center;

                .fc-button-group {
                    display: flex;
                    width: 100%;

                    > * {
                        flex-grow: 1;
                    }

                    .fc-state-default {
                        border-color: transparent;
                        font-weight: bolder;
                    }
                }
            }

            .fc-state-default {
                background-color: $sl-color-white;
                background-image: none;
                box-shadow: none;
                text-shadow: none;
                border-color: $sl-color-grey;

                &.fc-state-active {
                    color: $sl-color-blue;
                    background-color: $sl-color-white;
                }
            }

        }

        /deep/ .fc-view-container{
            margin: 0 4vw;

            .fc-scroller{
                &::-webkit-scrollbar {
                    display:none;
                }
            }
        }

        /deep/.fc-list-table{
            .fc-list-item{
                cursor: default;
                pointer-events: none;
            }

            .fc-list-item-marker{
                .fc-event-dot{
                    border-radius: 4px;
                }
            }

            .fc-list-item-time{
                color: transparent;
            }

            .fc-list-item-title{
                font-weight: bold;
                font-size: 9pt;
            }

            .fc-list-heading{
                cursor: pointer;
                border-width: 1px;

                .fc-widget-header{
                    border-width: 1px;
                    border-left-width: 1px;

                    &.currentDay{
                        background-color: #ffecb9;
                    }

                    &.selected{
                        border: solid .5px #00a5e5;
                        background-color: #cdeefa;
                    }
                }

                &:hover{
                    .fc-widget-header{
                        border: solid .5px #00a5e5;
                        background-color: #cdeefa;
                    }
                }
            }
        }

        /deep/ .fc-state-highlight {
            background: $sl-color-lightblue;
        }
    }
</style>
