<template>
    <div class="wrapper" >
        <div :class="['sl-c-form-group', 'select', { 'sl-has-error': $v.schedule_id.$error } ]">
            <label class="sl-c-control-label">
            * Schedule
                <sal-tooltip message="Covers working hours, break periods, and other planned activities" />
            </label>
            <sal-multiselect
                v-model="shift"
                placeholder="Choose a schedule"
                :options="schedules"
                :searchable="true"
                track-by="id"
                open-direction="bottom"
                :close-on-select="true"
                @select="updateValue"
                label="name"
            />
            <sal-validation-message v-if="$v.schedule_id.$error">
                This field is required.
            </sal-validation-message>
        </div>

        <div v-if="selectedSchedule">
            <p class="summary">{{ `${ selectedSchedule.type } ${selectedSchedule.name} Summary`}}</p>
            <div class="shift-card">
                <div>
                    <div>
                        <p>Schedule Type:</p>
                        <p>{{ selectedSchedule.type }}</p>
                    </div>
                    <div>
                        <p>Start and End time:</p>
                        <p>{{ `${selectedSchedule.start_time} to ${selectedSchedule.end_time}` }}</p>
                    </div>
                </div>
                <div>
                    <p>Schedule validity start date:</p>
                    <p>{{ selectedSchedule.start_date }}</p>
                </div>
                <div>
                    <p>Schedule validity end date:</p>
                    <p>{{ selectedSchedule.end_date }}</p>
                </div>
            </div>
        </div>

        <div class="sl-c-calendar-overlay">
            <div :class="['sl-c-form-group', 'sl-u-gap-top', { 'sl-has-error': $v.start_date.$error } ]">
                <label class="sl-c-control-label">
                * Shift effective start date
                    <sal-tooltip message="Start date refers to the date when the employee should start following the selected schedule." />
                </label>
                <sal-datepicker
                    id="startDate"
                    v-model="start_date"
                    :minDate='minStartDate'
                    :maxDate='minEndDate'
                    requestType='Assign Shift'
                    label=""
                />
                <sal-validation-message v-if="$v.start_date.$error">
                    This field is required.
                </sal-validation-message>
            </div>
            <div :class="['sl-c-form-group', 'sl-u-gap-top--lg', { 'sl-has-error': $v.end_date.$error } ]">
                <label class="sl-c-control-label">
                * Shift effective end date
                    <sal-tooltip message="The employee should follow the selected schedule until the end date indicated here." />
                </label>
                <sal-datepicker
                    id="endDate"
                    v-model="end_date"
                    :minDate='maxStartDate'
                    :maxDate='maxEndDate'
                    requestType='Assign Shift'
                    label=""
                />
                <sal-validation-message v-if="$v.end_date.$error">
                    This field is required.
                </sal-validation-message>
            </div>
        </div>

        <sal-button-mobile
            class="sl-c-btn--block submit-btn "
            type="primary"
            :onClick="() => assignShift()"
        >
            Assign
        </sal-button-mobile>
    </div>
</template>

<script>
    import moment from 'moment';
    import { find, isEmpty, get } from 'lodash-es';
    import { teamService } from '@/utils/services/TeamRequestService';
    import { required } from 'vuelidate/lib/validators';

    export default {
        name: 'sal-team-assign-shift',

        data() {
            return {
                // DS stands for Default Schedule
                schedule_id: 'DS',
                start_date: '',
                end_date: '',
                shift: null
            };
        },

        props: {
            schedules: {
                type: Array,
                required: true
            },
            shifts: {
                type: Array,
                required: true
            },
            teamId: {
                type: [ String, Number ],
                required: true
            },
            memberId: {
                type: [ String, Number ],
                required: true
            },
            selectedDate: {
                type: [ String, Date ],
                required: true
            }
        },

        mounted() {
            this.initialLoading();
        },

        computed: {
            scheduleOptions() {
                return this.schedules.map( ( item ) => ({ value: item.id, text: item.name }) );
            },

            selectedSchedule() {
                return find( this.schedules, ( schedule ) => schedule.id === this.schedule_id );
            },

            assignedShift() {
                return !isEmpty( this.shifts ) ? this.shifts[ 0 ] : {};
            },

            minStartDate() {
                if ( this.schedule_id === 'DS' ) {
                    return '';
                }

                return this.selectedSchedule && this.handleDateFormatting( this.selectedSchedule.start_date );
            },

            maxEndDate() {
                if ( this.schedule_id === 'DS' ) {
                    return '';
                }

                return this.selectedSchedule && this.handleDateFormatting( this.selectedSchedule.end_date );
            },

            maxStartDate() {
                return this.start_date || ( this.selectedSchedule && this.handleDateFormatting( this.selectedSchedule.start_date ) );
            },

            minEndDate() {
                return this.end_date || ( this.selectedSchedule && this.handleDateFormatting( this.selectedSchedule.end_date ) );
            }
        },

        methods: {
            initialLoading() {
                if ( !isEmpty( this.shifts ) ) {
                    this.schedule_id = this.assignedShift.schedule_id;
                }

                this.$nextTick( () => {
                    this.start_date = this.handleDateFormatting( this.assignedShift.start_date || this.selectedDate );
                    this.end_date = this.handleDateFormatting( this.assignedShift.end_date || this.selectedDate );
                });
            },

            updateValue( value ) {
                this.schedule_id = value.id;
            },

            async assignShift() {
                this.$v.$touch();

                const payload = {
                    schedule_id: this.schedule_id === 'DS' ? 0 : this.schedule_id,
                    start_date: moment( this.start_date, 'MMM DD, YYYY' ).format( 'YYYY-MM-DD' ),
                    end_date: moment( this.end_date, 'MMM DD, YYYY' ).format( 'YYYY-MM-DD' )
                };

                if ( !this.$v.$invalid ) {
                    try {
                        this.$loader.show();

                        await teamService.assignEmployeeShift( this.teamId, this.memberId, payload );
                        this.$flashMessage.show( 'Request submitted successfully', 'success' );

                        this.$router.push({
                            name: 'member-view'
                        });
                    } catch ( error ) {
                        this.$flashMessage.show( get( error, 'response.data.message', error.message ), 'error' );
                    } finally {
                        this.$loader.hide();
                    }
                }
            },

            handleDateFormatting( date ) {
                return moment( date ).format( 'MMM DD, YYYY' );
            }
        },

        validations: {
            schedule_id: {
                required
            },
            start_date: {
                required
            },
            end_date: {
                required
            }
        },

        watch: {
            schedules() {
                this.initialLoading();
            },

            shifts() {
                this.initialLoading();
            }
        }
    };
</script>

<style lang="scss" scoped>
.wrapper{
    .select{
        margin-bottom: $sl-gutter-lg;

        .sl-c-form-group{
            margin-top: 0;
        }
    }

    .summary{
        font-weight: 600;
        margin-bottom: $sl-gutter-xs;

        &:first-letter{
            text-transform: uppercase;
        }
    }

    .shift-card{
        border-radius: .5rem;
        background-color: rgba(205, 238, 250, .5);
        padding: 1px $sl-gutter-md;
        margin-bottom: 3rem;
        font-weight: bold;


        div:first-child{
            display: flex;

            div{
                margin-top: 0;
                display: inline-block;
                width: 50%;
                margin-bottom: 0;


                p:not(:first-child){
                    margin-top: 0%;
                    font-weight: normal;
                    text-transform: capitalize;
                }
            }
        }

        div{
            margin: $sl-gutter-md 0;

            p:not(:first-child){
                    margin-top: 0%;
                    font-weight: normal;
                    text-transform: capitalize;
            }
        }
    }

    .submit-btn{
        width: 60%;
        margin: 5rem 20%;
        }

    .sl-c-calendar-overlay {
        & /deep/ .sl-c-overlay-content {
            padding: 0;
            width: 100vw;
            max-width: 100vw;
        }

        & /deep/ .flatpickr-calendar {
            margin-right: auto;
            margin-left: auto;
        }
    }
}
</style>
