<template>
    <div class="sl-c-calendar-overlay">
        <div :class="['sl-c-form-group', 'sl-u-gap-top', { 'sl-has-error': $v.start_date.$error } ]">
            <label class="sl-c-control-label">
                * Rest day effective start date
                <sal-tooltip message="When will the employee start having the selected rest day/s?" />
            </label>
            <sal-datepicker
                v-model="start_date"
                requestType='Assign Rest Day'
                label=""
            />
            <sal-validation-message v-if="$v.start_date.$error">
                This field is required.
            </sal-validation-message>
        </div>

        <div class="sl-c-form-group repeat-toggle">
            <sal-checkbox-mobile
                class="switch"
                v-model="repeatRestDay"
                id="repeat"
                :announcementCheckbox="true"
            />

            <label class="sl-c-control-label">
                Repeat rest day
                <sal-tooltip message="Which days of the week will the rest
                day/s fall on? How often and until when will the
                employee have the selected rest day/s?" />
            </label>
        </div>

        <template v-if="repeatRestDay">
            <div :class="['sl-c-form-group', { 'sl-has-error': $v.repeat.rest_days.$error } ]">
                <label class="sl-c-control-label">* Repeat on</label>

                <div v-for="( item, index ) in repeatDayOptions" :key="index" class="checkbox">
                    <sal-checkbox-mobile
                        :id="item.value"
                        v-model="repeat.rest_days"
                        :inputValue="item.value"
                        :label="item.label"
                    />
                </div>
                <sal-validation-message v-if="$v.repeat.rest_days.$error">
                    This field is required.
                </sal-validation-message>
            </div>

            <div class="sl-c-form-group">
                <label class="sl-c-control-label sl-u-gap-top--lg">* Repeat every</label>

                <div class="week-options">
                    <sal-select-mobile
                        v-model="repeat.repeat_every"
                        :options="weekOptions"
                        id="week"
                        class="sl-c-form-control--slim sl-c-form-control--xs"
                    />

                    <label class="sl-c-control-label">week(s)</label>
                </div>
            </div>

            <div class="radio-buttons">
                <label class="sl-c-control-label">* Repeat ends</label>
                <sal-radio-mobile
                    v-model="occurencesOptions"
                    name="repeat-occurences"
                    inputValue="never"
                    label="never"
                    id="never"
                />

                <div class="occurences">
                    <sal-radio-mobile
                        v-model="occurencesOptions"
                        name="repeat-occurences"
                        inputValue="after"
                        label="after"
                        id="after"
                    />

                    <div :class="['sl-c-form-group', { 'sl-has-error': $v.repeat.end_after.$error } ]">
                        <input
                            class="sl-c-form-control sl-c-form-control--inline sl-u-gap-right"
                            :disabled="repeat.end_never"
                            v-model.number="repeat.end_after"
                            type="number"
                            required
                        >

                        <sal-validation-message v-if="$v.repeat.end_after.$error">
                            Minimum of 1
                        </sal-validation-message>
                        <label class="sl-c-control-label"> Occurrences</label>
                    </div>
                </div>
            </div>

            <div class="summary">
                <strong>Summary:</strong>
                <p>Repeat rest day <strong>{{ summary }}</strong></p>
            </div>
        </template>

        <sal-button-mobile
            class="sl-c-btn--block submit-btn "
            type="primary"
            :onClick="() => assignRestDay()"
        >
            Assign
        </sal-button-mobile>

    </div>
</template>


<script>
    import moment from 'moment';
    import { get, has, isEmpty, lowerCase, upperFirst, each } from 'lodash-es';
    import { teamService } from '@/utils/services/TeamRequestService';
    import { REPEAT_DAYS, TOTAL_WEEK_COUNT } from '@/constants/schedules';
    import { required, minLength, minValue } from 'vuelidate/lib/validators';

    export default {
        name: 'sal-team-rest-day',

        data() {
            return {
                start_date: null,
                repeatRestDay: false,
                occurencesOptions: 'never',
                repeat: {
                    end_after: null,
                    end_never: true,
                    repeat_every: 1,
                    rest_days: []
                }
            };
        },

        props: {
            restDays: {
                type: Object,
                required: true
            },
            selectedDate: {
                type: [ String, Date ],
                required: true
            },
            teamId: {
                type: [ String, Number ],
                required: true
            },
            memberId: {
                type: [ String, Number ],
                required: true
            }
        },

        created() {
            this.start_date = moment( this.selectedDate ).format( 'MMM DD, YYYY' );
        },

        computed: {
            weekOptions() {
                const weeks = [];

                for ( let week = 1; week <= TOTAL_WEEK_COUNT; week += 1 ) {
                    weeks.push({ value: week, text: week });
                }

                return weeks;
            },

            repeatDayOptions() {
                return REPEAT_DAYS;
            },

            summary() {
                const days = [];

                each( this.repeat.rest_days, ( day ) => {
                    days.push( upperFirst( day ) );
                });

                const occurences = !this.repeat.end_never ? `, ${this.repeat.end_after} times` : '';
                const repeat = this.repeat.repeat_every === 1 ? 'Weekly' : `Every ${this.repeat.repeat_every} weeks`;
                const repeatDays = this.repeat.rest_days.length > 0 ? `on ${days.join( ', ' )}` : '';

                return `${repeat} ${repeatDays} ${occurences}`;
            }
        },

        methods: {
            async assignRestDay() {
                this.$v.$touch();

                if ( !this.$v.$invalid ) {
                    try {
                        this.$loader.show();

                        const payload = {
                            start_date: moment( this.start_date, 'MMM DD, YYYY' ).format( 'YYYY-MM-DD' ),
                            repeat: this.repeatRestDay ? this.repeat : null
                        };

                        await teamService.assignEmployeeRestDay( this.teamId, this.memberId, payload );

                        this.$flashMessage.show( 'Request submitted successfully', 'success' );
                        this.$router.push({
                            name: 'member-view'
                        });
                    } catch ( error ) {
                        this.$flashMessage.show( get( error, 'response.data.message', error.message ), 'error' );
                    } finally {
                        this.$loader.hide();
                    }
                }
            }
        },

        validations() {
            const validation = {
                start_date: {
                    required
                },
                repeat: {
                    end_after: {
                        minValue: minValue( 1 )
                    },
                    rest_days: {
                        minLength: minLength( 1 )
                    }
                }
            };

            if ( this.repeatRestDay ) {
                Object.assign( validation.repeat.rest_days, { required });

                if ( !this.repeat.end_never ) {
                    Object.assign( validation.repeat.end_after, { required });
                }
            }

            return validation;
        },

        watch: {
            occurencesOptions: {
                handler( value ) {
                    if ( value === 'never' ) {
                        this.repeat.end_never = true;
                    } else {
                        this.repeat.end_never = false;

                        if ( !this.repeat.end_after ) {
                            this.repeat.end_after = 35;
                        }
                    }
                }
            },
            start_date: {
                handler( value ) {
                    const date = value && moment( value, 'MMMM DD, YYYY' ).format( 'YYYY-MM-DD' );
                    this.repeatRestDay = false;
                    this.occurencesOptions = 'never';

                    this.$emit( 'selectedDay', date );
                }
            },
            restDays() {
                if ( !isEmpty( this.restDays ) && has( this.restDays, 'repeat' ) ) {
                    this.repeatRestDay = true;
                    this.repeat = this.restDays.repeat;

                    if ( !this.restDays.repeat.end_never ) {
                        this.occurencesOptions = 'after';
                    }
                } else {
                    this.repeat = {
                        end_after: null,
                        end_never: true,
                        repeat_every: 1,
                        rest_days: [lowerCase( moment( this.start_date ).format( 'dddd' ) )]
                    };
                }
            }
        }
    };
</script>


<style lang="scss" scoped>

    .sl-c-calendar-overlay {

        & /deep/ .sl-c-overlay-content {
            padding: 0;
            width: 100vw;
            max-width: 100vw;
        }

        & /deep/ .flatpickr-calendar {
            margin-right: auto;
            margin-left: auto;
        }

        .repeat-toggle{
            display: inline-flex;
            align-items: flex-end;

            label{
                margin: .25rem 0;
                line-height: 2;;
            }

            .switch{
                margin: .5rem 0;
                & /deep/ .sl-c-toggle-btn{
                    &:after{
                        background-color: $sl-color-darkgrey;
                    }

                }

                & /deep/ .sl-c-toggle{
                    &:checked ~ label {
                        &:after {
                            left: 1rem;
                            background: $sl-color-green;
                        }
                    }
                }
            }
        }

        .checkbox{
            display: inline-flex;
            margin-right: 15%;
            width: 5%;
            padding: .5rem 0;
        }

        .week-options {
            display: flex;
            align-items: center;
            justify-content: start;

            label{
                margin-left: 1rem;
            }

            & > div {
                width: 4rem;

                & > option{
                    max-height: 5rem;
                }
            }
        }

        .radio-buttons{
            margin-top: $sl-gutter-lg;

            .occurences{
                & /deep/ .sl-c-form-control {
                    min-width: 4rem;
                    min-height: auto;
                    width: 4rem;
                }

                .sl-u-help-text{
                    margin-bottom: .3rem;
                    margin-right: .2rem;
                }

                .sl-c-form-group {
                    display: inline-flex;
                    align-items: flex-end;
                }
            }
        }

        .submit-btn{
            width: 60%;
            margin: 4rem 20%;
        }

        .summary{
            margin-top: 2rem;
            background-color: $sl-color-silver;
            border-radius: 5px;
            padding: .75rem;

            p{
                margin-top: 0
            }
        }
    }
</style>
