<template>
    <div class="wrapper">
        <template v-if="pairedTimeRecords.length > 0">
        <div v-for="( item, index ) in pairedTimeRecords" :key="index" class="body">
            <div>
                <template v-if="index === 0">
                    <strong>Clock in</strong>
                    <sal-pill type="success" class="pill" :label="selectedDate" />
                </template>

                <template v-else-if="item.clockOut">
                    <sal-pill
                        v-if="handleDateFormating( item.clockOut.timestamp ) !== selectedDate"
                        type="transparent"
                    />
                </template>

                <li class="stepper-clockIn">
                    {{ item.clockIn ? handleTimestampFormating( item.clockIn.timestamp ) : " ..... " }}
                </li>
            </div>
            <div>
                <template v-if="index === 0">
                    <strong>Clock Out</strong>
                    <sal-pill type="alt-red" class="pill" :label="selectedDate" />
                </template>

                <template v-else-if="item.clockOut">
                    <sal-pill
                        v-if="handleDateFormating( item.clockOut.timestamp ) !== selectedDate"
                        type="alt-red" class="pill" :label="handleDateFormating( item.clockOut.timestamp )"
                    />
                </template>

                <li class="stepper-clockOut">
                    {{ item.clockOut ? handleTimestampFormating( item.clockOut.timestamp ) : " ..... " }}
                </li>
            </div>
        </div>
        </template>
        <template v-else>
            <div class="body">
                <div>
                    <strong>Clock in</strong>
                    <p>No timestamp available</p>
                </div>
                <div>
                    <strong>Clock Out</strong>
                    <p>No timestamp available</p>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
    import moment from 'moment';

    export default {
        name: 'sal-team-time-clock',

        props: {
            pairedTimeRecords: {
                type: Array,
                default: []
            },
            shifts: {
                type: Array,
                default: []
            },
            selectedDate: {
                type: String,
                required: true
            }
        },

        methods: {
            handleDateFormating( timestamp ) {
                return moment( timestamp, 'X' ).format( 'YYYY-MM-DD' );
            },

            handleTimestampFormating( timestamp ) {
                return moment( timestamp, 'X' ).format( 'HH:mm:ss' );
            }
        }
    };
</script>

<style lang='scss' scoped>

.wrapper{
    border-top: solid 0.5px #cdeefa;
    border-bottom: solid 0.5px #cdeefa;
}

.body{
    display: inline-flex;
    flex-direction: row;
    width: 100%;

    &:first-child{
        div{
            padding-top: 1rem
        }

        p{
            margin: 0;
            color: $sl-color-lightgrey;
            font-size: .85rem;
            font-weight: 800;
        }
    }

    div:not(li){
        justify-content: start;
        padding: 0 $sl-gutter;
        flex: 1;

        &:first-child{
            border-right: solid 0.5px #cdeefa;
        }

        &.pill, .pill-transparent{
            border: none;
            margin: .5rem 0;
            padding: 3px;

            & > .content{
                line-height: 2;
            }
        }
    }

    li{
        list-style-type: none;
        position: relative;
        font-size: .65rem;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        padding: 0.5rem 2rem;

        &:before {
            position: absolute;
            top: 0px;
            left: 13px;
            width: 1px;
            height: 27px;
            content: '';
        }

        &:after {
            position: absolute;
            top: 11px;
            left: 12px;
            width: 3px;
            height: 3px;
            content: '';
            border-radius: 100%;
        }

        &.stepper-clockIn{
            &:before {
                border-left:1px dotted $sl-color-blue;
            }

            &:after {
                background-color: $sl-color-blue;
            }
        }

        &.stepper-clockOut{
            &:before {
                border-left:1px dotted $sl-color-red;
            }

            &:after {
                background-color: $sl-color-red;
            }
        }

    }

    &:last-child{

        div{
            padding-bottom: 1rem
        }

        li{
            &:before {
                top: 0px;
                height: 11px;
            }
        }

        .pill-transparent ~ li{
            &:before {
                top: -30px;
                height: 41px;
            }
        }
    }
}

</style>
