<template>
    <div
        class="sl-c-card--default"
        v-on:click="onClick()"
        :disabled="disabled"
    >
        <div
            v-if="data.avatar === null"
            :class="['sl-c-card--place-holder', `sl-c-card-${mode}`]"
        >
            <p>{{ handleInitialsPlaceHolder( data.first_name || data.name, data.last_name  ) }}</p>
        </div>

        <img
            v-else
            :src="data.avatar"
            alt="Avatar"
            class="sl-u-img--round sl-c-card--image"
            width="10%"
        >

        <div class="sl-c-card--body">
            <div>{{ data.name || data.full_name }}</div>
            <div>
                <p v-if="data.members_count" class="sl-c-grey">{{ data.members_count + ' members' }}</p>

                <div v-for="(item, index) in schedules" :key="index">
                    <div v-if=" index === 0">
                        <p :class="scheduleStyling" >
                            {{ item.schedule.name }}
                        </p>
                        <p v-if="mode === 'Member-header'">
                            {{ handleScheduleTimeFormatting( item.schedule.start_time, item.schedule.end_time ) }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div v-if="badges">
            <div v-for="(badge, index) in badges" :key="index">
                <div v-if="index < 2">
                    <sal-pill
                        class="sl-c-card--pill"
                        :type="badge.color"
                        :label="badge.label"
                    />
                </div>
            </div>
            <div v-if="badges.length > 2">
                <sal-pill class="sl-c-btn--default" >
                        +{{ badges.length - 2 }} more
                </sal-pill>
            </div>
        </div>

        <div class="sl-c-card--icon" v-if="mode !== 'Team-header'">
            <div v-if="mode === 'Member-header'">
                <img src="../../../assets/icons/teams-calendar_edit.svg">
            </div>
            <div v-else-if="data.is_leader">
                <img src="../../../assets/icons/teams-crown.svg">
            </div>
            <div v-else>
                <i class="fa fa-angle-right" />
            </div>
        </div>
    </div>
</template>

<script>
import moment from 'moment';
import isEmpty from 'lodash-es/isEmpty';
import { SCHEDULES } from '@/constants/schedules';

export default {
    name: 'sal-team-card',

    props: {
        data: {
            type: Object,
            required: true
        },
        schedules: {
            type: Array,
            default: () => []
        },
        badges: {
            type: Array,
            default: () => []
        },
        disabled: Boolean,
        mode: String,
        onClick: Function
    },

    computed: {
        scheduleStyling() {
            if ( !isEmpty( this.schedules ) ) {
                if ( this.schedules[ 0 ].schedule.default || this.schedules[ 0 ].schedule.day_type === 'rest_day' ) {
                    return 'sl-c-default-schedule';
                }

                return this.handleScheduleFormatting( this.schedules[ 0 ].schedule.type );
            }

            return 'sl-c-grey';
        }
    },

    methods: {
        handleScheduleFormatting( type ) {
            switch ( type ) {
                case SCHEDULES.FIXED:
                    return 'sl-c-fixed-schedule';
                case SCHEDULES.FLEXI:
                    return 'sl-c-flexi-schedule';
                default:
                    return 'sl-c-grey';
            }
        },

        handleScheduleTimeFormatting( startTime, endTime ) {
            const start = moment( startTime, 'HH:mm:ss' ).format( 'HH:mm' );
            const end = moment( endTime, 'HH:mm:ss' ).format( 'HH:mm' );

            return startTime && endTime ? `${start} - ${end}` : '';
        },

        handleInitialsPlaceHolder( firstName, lastName ) {
            const first = firstName.toUpperCase().split( '' ).shift();

            if ( lastName ) {
                return first + lastName.toUpperCase().split( '' ).shift();
            }

            return first;
        }
    }
};

</script>

<style lang="scss" scoped>
.sl-c-card--default{
    border-radius: $sl-radius-sm;
    display: flex;
    align-items: center;
    padding: $sl-gutter-mn;
    font-size: .85rem;

    &:hover,
    &:focus,
    &:active,
    &.sl-is-active {
        cursor: pointer;
        background-color: lighten($sl-color-darksilver, 5%);
    }

    &[disabled],
    &.sl-is-disabled {
        cursor: not-allowed;
        pointer-events: none;
    }

    .sl-c-card--image{
        vertical-align: middle;
        margin: 0 $sl-gutter-sm;
    }

    .sl-c-card--place-holder{
        border-radius: 50%;
        color: #ECECEC;
        margin-right: .5rem;
        background-color: #7BC6DB;
        width: 3rem;
        height: 3rem;
        font-size: 1.5rem;
        padding: .5rem;
        line-height: 1.5;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: center;
        font-weight: bold;

        &.sl-c-card-Team-header{
            background-color: white;
            border: 3px solid #7BC6DB;
            color: #7BC6DB;
            line-height: 1.2;
        }
    }

    .sl-c-card--body{
        flex: 1;
        align-content: start;

        div:first-child{
            font-weight: 800;
        }

        div:last-child{
            font-style: italic;
            font-weight: 800;


            .sl-c-flexi-schedule{
                color: $sl-color-violet;
            }

            .sl-c-default-schedule{
                color: $sl-color-alt-blue;
            }

            .sl-c-fixed-schedule{
                color: $sl-color-green;
            }

            .sl-c-grey{
                color: $sl-color-lightgrey;
            }

            p:last-child{
                margin-top: 0;
                font-style: normal;

            }
        }
    }

    .sl-c-card--pill{
        margin-bottom: $sl-gutter-xs;
        margin-right: $sl-gutter;
    }

    .sl-c-btn--default{
        background-color: darken($sl-color-silver, 8%);
        border-color: transparent;
        color: $sl-color-blue;
        margin-right: $sl-gutter;
    }

    .sl-c-card--icon{
        padding-right:$sl-gutter-sm;
        width: 3rem;
        line-height: 1.5;



        img{
            height:1.25rem;
        }

        i{
            font-size: $sl-font-size-md;
            color: $sl-color-blue;
            border: hidden;
            background-color: transparent;
        }

        div:last-child{
            text-align: center
        }
    }
}

</style>


