<template>
<div class="sl-l-page-wrapper">
    <div class="container">
        <sal-back :to="{ name: 'member-view' }">Back to Team Member Details</sal-back>

        <div class="header">
            <template v-if="assignShift">
                <h4>Assign Shift</h4>
                <p>You can assign a new shift schedule of your team member through this module.</p>
            </template>

            <template v-else>
                <h4>Assign Rest Day</h4>
                <p>You can assign a new rest day to your team member through this module.</p>
            </template>
        </div>
        <div class="body">
            <div class="switch">
                <sal-button-mobile
                    size="sm"
                    class="sl-c-btn--square"
                    :class="{ 'sl-c-btn--success': assignShift }"
                    :onClick="() => setAssignShift( true )"
                >
                    Shift
                </sal-button-mobile>
                <sal-button-mobile
                    size="sm"
                    class="sl-c-btn--square"
                    :class="{ 'sl-c-btn--success': !assignShift }"
                    :onClick="() => setAssignShift( false )"
                >
                    Rest Day
                </sal-button-mobile>
            </div>
            <template v-if="assignShift">
                <sal-team-assign-shift
                    :schedules='entitledSchedules'
                    :shifts='assignedShifts'
                    :teamId='teamId'
                    :memberId='memberId'
                    :selectedDate='selectedDate'
                />
            </template>
            <template v-else>
                <sal-team-rest-day
                    :restDays ='assignedRestDay'
                    :teamId='teamId'
                    :memberId='memberId'
                    :selectedDate='selectedDate'
                    @selectedDay='selectedDay'
                />
            </template>
        </div>
    </div>
</div>

</template>

<script>
    import moment from 'moment';
    import find from 'lodash-es/find';
    import get from 'lodash-es/get';
    import { teamService } from '@/utils/services/TeamRequestService';
    import { shiftsService } from '@/utils/services/ShiftsService';

    export default {
        data() {
            return {
                entitledSchedules: [],
                assignedRestDay: {},
                assignedShifts: [],
                assignShift: true
            };
        },

        props: {
            teamId: {
                type: [ Number, String ],
                required: true
            },
            memberId: {
                type: [ Number, String ],
                required: true
            },
            selectedDate: {
                type: [ Date, String ],
                required: true
            }
        },

        created() {
            this.getAssignedShift();
            this.getAssignedRestday();
            this.getEntitledSchedules();
        },

        methods: {
            setAssignShift( value ) {
                this.assignShift = value;
            },

            getAssignedShift() {
                this.$loader.show();

                teamService.getEmployeeAssignedShift( this.teamId, this.memberId, this.selectedDate )
                    .then( ( response ) => {
                        this.assignedShifts = response.data;
                    })
                    .catch( ( error ) => {
                        this.$flashMessage.show( get( error, 'response.data.message', error.message ), 'error' );
                    })
                    .finally( () => {
                        this.$loader.hide();
                    });
            },

            /**
             * Sort schedules by name
             * @param {Array} schedules
             */
            sortSchedules( schedules ) {
                return schedules.sort( ( a, b ) => {
                    const fa = a.name.toLowerCase();
                    const fb = b.name.toLowerCase();
                    if ( fa < fb ) {
                        return -1;
                    }
                    if ( fa > fb ) {
                        return 1;
                    }
                    return 0;
                });
            },

            getEntitledSchedules() {
                this.$loader.show();

                teamService.getEmployeeSchedules( this.teamId, this.memberId )
                    .then( ( response ) => {
                        this.entitledSchedules = response.data;

                        this.getDefaultSchedule();

                        this.entitledSchedules = this.sortSchedules( this.entitledSchedules );
                    })
                    .catch( ( error ) => {
                        this.$flashMessage.show( get( error, 'response.data.message', error.message ), 'error' );
                    })
                    .finally( () => {
                        this.$loader.hide();
                    });
            },

            getDefaultSchedule() {
                this.$loader.show();
                const companyId = JSON.parse( localStorage.getItem( 'user' ) ).company_id;

                shiftsService.fetchDefaultScheduleForCompany( companyId )
                .then( ( response ) => {
                    let defaultSchedule = find( response, ( schedule ) =>
                        schedule.day_of_week === moment( this.selectedDate, 'YYYY-MM-DD' ).isoWeekday()
                    );

                    defaultSchedule = Object.assign({}, defaultSchedule, {
                        id: 'DS',
                        name: 'Default Schedule',
                        type: 'fixed',
                        start_time: defaultSchedule.work_start,
                        end_time: defaultSchedule.work_end
                    });

                    this.entitledSchedules.push( defaultSchedule );
                    this.entitledSchedules = this.sortSchedules( this.entitledSchedules );
                })
                .catch( ( error ) => {
                    this.$flashMessage.show( get( error, 'response.data.message', error.message ), 'error' );
                })
                .finally( () => {
                    this.$loader.hide();
                });
            },

            getAssignedRestday( value ) {
                this.$loader.show();

                const date = value || this.selectedDate;

                teamService.getEmployeeAssignedRestDay( this.teamId, this.memberId, date )
                    .then( ( response ) => {
                        this.assignedRestDay = response.data || {};
                    })
                    .catch( ( error ) => {
                        this.$flashMessage.show( get( error, 'response.data.message', error.message ), 'error' );
                    })
                    .finally( () => {
                        this.$loader.hide();
                    });
            },

            selectedDay( value ) {
                this.getAssignedRestday( value );
            }
        }
    };
</script>

<style lang="scss" scoped>
.sl-l-page-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-content: flex-start;

    .container{
        width: 64vh;
        background: $sl-color-white;
        font-family: 'sourcesanspro-regular';
        font-size: 0.8rem;
        padding: 0 3rem;

        .sl-c-page-back {
            margin: 0 -3rem;
            background: $sl-color-white;
            font-size: 1rem;
        }

        .header {
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            margin: $sl-gutter-lg 0;

            h4{
                font-weight: bold
            }

            p{
                color: #919191;
                margin-top: 0.2rem;
            }

        }

        .body{
            .switch{
                display: inline-flex;
                width: 100%;
                justify-content: space-evenly;
                margin-bottom: $sl-gutter-lg;

                button{
                    border-radius: 0%;
                    width: inherit;
                    height: 2.5rem;

                    &:not(.sl-c-btn--success){
                        color: $sl-color-blue;
                        background-color: transparent
                    }

                    &:first-child{
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                    }

                    &:last-child{
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                    }
                }
            }


        }

    }
}

</style>
