<template>
    <div class="sl-l-page-wrapper">
        <div class="container">
            <sal-back :to="{ name: 'team-list' }">Back to Teams</sal-back>

            <div class="header">
                <sal-team-card
                    class="card"
                    :data="teamDetails"
                    mode="Team-header"
                    disabled
                />
            </div>

            <sal-team-view-calendar
                :calendarData="calendarData"
                :totalMembers="teamDetails.members_count"
                :selectedDate="selectedDate"
                @changeWeek="changeWeek"
                @selectedDay="selectedDay"
            />

            <div class="body">
                <div v-if="teamDetails.regenerate_team_attendance" style="display: flex; justify-content: flex-end">
                    <sal-button-mobile
                        id="icon"
                        type="link"
                        :onClick="() => regenerateAttendance()"
                    >
                    <img src="../../assets/icons/teams-regenerate.svg">
                    </sal-button-mobile>
                </div>

                <div class="title">
                    <sal-pill
                        class="pill"
                        :label="selectedDate"
                    />
                    <h5>Team Members</h5>
                    <p><strong>Showing {{ pagination.from }} - {{ pagination.to }} of {{ pagination.total }} entries</strong></p>
                </div>

                <div v-if="team.length">

                    <div v-for="(member, index) in team" :key="index">
                        <sal-team-card
                            class="card"
                            :data="member"
                            :onClick="() => navigateToMemberView( teamId, member.id, selectedDate )"
                            :schedules="assignedShifts( member.id )"
                            :badges="assignedBadges( member.id )"
                        />
                    </div>
                </div>

                <div v-if="!team.length">
                    No members.
                </div>

                <br/>

                <div class="sl-l-block-btns">
                    <sal-button-mobile
                        size="sm"
                        id="previous"
                        :disabled="buttonPreviousDisabled"
                        :onClick="previous"
                    >
                        Previous
                    </sal-button-mobile>
                    <sal-button-mobile
                        size="sm"
                        id="next"
                        :disabled="buttonNextDisabled"
                        :onClick="next"
                    >
                        Next
                    </sal-button-mobile>
                </div>

                <br/>
            </div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment';
    import get from 'lodash-es/get';
    import isEmpty from 'lodash-es/isEmpty';
    import { teamService } from '@/utils/services/TeamRequestService';

    export default {
        data() {
            return {
                teamDetails: {},
                calendarData: {},
                membersCalendarData: {},
                selectedDate: '',
                jobPolling: null,
                regenerated: false,
                team: [],
                pagination: {
                    current_page: 1,
                    total: 0
                },
                page: 1,
                perPage: 5,
                loading: false
            };
        },

        props: {
            teamId: {
                type: [ Number, String ],
                required: true
            }
        },

        computed: {
            /**
             * Disable "previous" button if there is no previous page.
             */
            buttonPreviousDisabled() {
                return this.loading || this.pagination.current_page < 2;
            },

            /**
             * Disable "next" button if there is no next page.
             */
            buttonNextDisabled() {
                return this.pagination.current_page >= this.pagination.last_page;
            }
        },

        created() {
            this.getTeamDetails();
            this.getTeamMembers();
            this.selectedDate = moment().format( 'YYYY-MM-DD' );
        },

        methods: {
            getTeamDetails() {
                this.$loader.show();

                teamService.getTeamDetails( this.teamId )
                    .then( ( response ) => {
                        this.teamDetails = response;
                    })
                    .finally( () => {
                        this.$loader.hide();
                    });
            },

            getTeamMembers() {
                this.$loader.show();
                this.loading = true;

                teamService.getTeamMembers( this.teamId, this.page, this.perPage )
                    .then( ( response ) => {
                        const { data, ...others } = response;
                        this.team = data;
                        this.pagination = others;
                    })
                    .finally( () => {
                        this.$loader.hide();
                        this.loading = false;
                    });
            },

            getCalendarData( value ) {
                this.$loader.show();

                const startDate = moment( value || this.selectedDate, 'YYYY-MM-DD' ).startOf( 'week' ).format( 'YYYY-MM-DD' );
                const endDate = moment( value || this.selectedDate, 'YYYY-MM-DD' ).endOf( 'week' ).format( 'YYYY-MM-DD' );

                teamService.getTeamCalendarData( this.teamId, startDate, endDate )
                    .then( ( response ) => {
                        this.calendarData = response.data;
                    })
                    .catch( ( error ) => {
                        this.$flashMessage.show( get( error, 'response.data.message', error.message ), 'error' );
                    })
                    .finally( () => {
                        this.$loader.hide();
                    });
            },

            regenerateAttendance() {
                this.$loader.show();

                try {
                    const payload = {
                        date: this.selectedDate
                    };

                    teamService.regenerateAttendance( this.teamId, payload )
                    .then( ({ data }) => {
                        let delay;

                        switch ( this.team.length ) {
                            case 20:
                            case 40:
                                delay = 3000;
                                break;
                            case 60:
                                delay = 5000;
                                break;
                            case 80:
                                delay = 7000;
                                break;
                            case 100:
                                delay = 9000;
                                break;
                            default:
                                delay = 5000;
                        }

                        this.getJobStatus( data.data.job_id, delay, () => {
                            this.getCalendarData();
                        });
                    });
                } catch ( error ) {
                    this.$flashMessage.show( get( error, 'response.data.message', error.message ), 'error' );
                    clearInterval( this.jobPolling );
                    this.jobPolling = null;
                }
            },

            getJobStatus( jobId, delay, callback ) {
                if ( jobId ) {
                    this.jobPolling = setInterval( () => {
                        teamService.regenerationStatus( this.teamId, jobId )
                            .then( ({ data }) => {
                                switch ( data.status ) {
                                    case 'FINISHED':
                                        clearInterval( this.jobPolling );
                                        this.jobPolling = null;
                                        this.regenerated = true;
                                        callback();
                                        break;
                                    case 'FAILED':
                                        this.getJobErrors( jobId, callback, data.error );
                                        clearInterval( this.jobPolling );
                                        this.jobPolling = null;
                                        break;
                                    default:
                                }
                            })
                            .catch( ( error ) => {
                                this.$flashMessage.show( get( error, 'response.data.message', error.message ), 'error' );
                                clearInterval( this.jobPolling );
                                this.jobPolling = null;
                            });
                    }, delay );
                } else {
                    callback();
                }
            },

            getJobErrors( jobId, callback, errorCount ) {
                try {
                    teamService.regenerationErrors( this.teamId, jobId )
                    .then( ({ data }) => {
                        let errorMessage = 'a calculation error';

                        if ( errorCount > 1 ) {
                            errorMessage = `${errorCount} calculation errors`;
                        }

                        this.$flashMessage.show( `The system has encountered ${errorMessage} while processing your request. Click the download button for more details`, 'error',
                            {
                                closable: true,
                                timeout: 100000,
                                showIcon: true,
                                donwloadURI: data.url
                            });
                    });
                } catch ( error ) {
                    this.$flashMessage.show( get( error, 'response.data.message', error.message ), 'error' );
                } finally {
                    clearInterval( this.jobPolling );
                    this.jobPolling = null;
                    callback();
                }
            },

            /**
             * Show previous page.
             */
            previous() {
                this.page -= 1;
                this.getTeamMembers();
            },

            /**
             * Show next page.
             */
            next() {
                this.page += 1;
                this.getTeamMembers();
            },

            assignedShifts( memberId ) {
                return get( this.membersCalendarData, [ this.selectedDate, 'members', memberId, 'shifts' ], []);
            },

            assignedBadges( memberId ) {
                return get( this.membersCalendarData, [ this.selectedDate, 'members', memberId, 'badges' ], []);
            },

            changeWeek( value ) {
                this.getCalendarData( value );
            },

            selectedDay( value ) {
                this.selectedDate = value;

                if ( this.membersCalendarData[ value ] === undefined ) {
                    this.membersCalendarData = { ...this.calendarData };
                }
            },

            navigateToMemberView( teamId, memberId, selectedDate ) {
                this.$router.push({
                    name: 'member-view',
                    params: {
                        teamId,
                        memberId,
                        selectedDate
                    }
                });
            }
        },

        watch: {
            calendarData: {
                handler( value ) {
                    if ( isEmpty( this.membersCalendarData ) || this.regenerated ) {
                        this.membersCalendarData = { ...value };
                        this.regenerate = false;
                    }
                }
            }
        },

        beforeDestroy() {
            clearInterval( this.jobPolling );
        }
    };

</script>

<style lang="scss" scoped>

.sl-l-page-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-content: flex-start;

    .container{
        width: 64vh;
        background: $sl-color-white;

        .header {
            width: 100%;
            margin-bottom: 10px;

            .card{
                border-radius: 0%;
            }
        }

        .body{
            padding: 0 4vw;

            .title {
                display: flex;
                margin-bottom: $sl-gutter-sm;
                align-items: flex-end;

                .pill{
                    margin-bottom: $sl-gutter-sm;
                }

                h5 {
                    font-family: 'sourcesanspro-regular';
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    flex: 1;
                    margin-left: $sl-gutter-sm;
                    margin-bottom: $sl-gutter-xs
                }

                .sl-c-btn{
                    padding: 0;
                    margin-right: 1rem;
                    line-height: 0;
                }
            }

            .card{
                margin-bottom: $sl-gutter
            }
        }
    }
}


.sl-l-block-btns {
    display: flex;
    justify-content: space-between;

    .sl-c-btn {
        width: 49%;
    }
}

</style>


