<template>
    <div class='sl-l-page-wrapper'>
        <div class='notifications'>
            <div class='header'>
                <h2>Teams</h2>
                <p>You can view your list of teams, manage team shifts and rest day schedules and check your teams' attendance</p>
            </div>
            <div v-for="(team, index) in teams" :key="index">
                <sal-team-card
                    class="card"
                    :data="team"
                    :onClick="() => navigateToTeamView( team.id )"
                />
            </div>
        </div>
    </div>
</template>

<script>
    import TeamCard from '@/components/mobile/teams/TeamCard';
    import get from 'lodash-es/get';
    import { teamService } from '@/utils/services/TeamRequestService';

    export default {
        components: {
            TeamCard
        },

        data() {
            return {
                teams: []
            };
        },

        created() {
            this.getTeams();
        },

        methods: {
            getTeams() {
                this.$loader.show();

                teamService.getTeamsList()
                    .then( ( response ) => {
                        this.teams = response;
                    })
                    .catch( ( error ) => {
                        this.$flashMessage.show( get( error, 'response.data.message', error.message ), 'error' );
                    })
                    .finally( () => {
                        this.$loader.hide();
                    });
            },

            navigateToTeamView( teamId ) {
                this.$router.push({
                    name: 'team-view',
                    params: { teamId }
                });
            }
        }
    };

</script>

<style lang='scss' scoped>
.sl-l-page-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;

    .notifications{
        min-height: 80vh;
        width: 64vh;
        padding: 5vh 8vw;
        background: $sl-color-white;

        .header {
            text-align: center;
            width: 100%;
            margin-bottom: 30px;
        }

        .card{
            margin: $sl-gutter 0;
            cursor: pointer;
        }
    }
}

</style>


