<template>
    <div class="sl-l-page-wrapper">
        <div class="container">
            <sal-back :to="{ name: 'team-view', teamId }">Back to Team Details</sal-back>

            <div class="header">
                <sal-team-card
                    class="card"
                    :data="memberInfo"
                    :schedules="shifts"
                    mode="Member-header"
                    disabled
                />
            </div>
            <sal-horizontal-calendar
                :selectedDate="calendarDate"
                @selectedDay="selectedDay"
            />
            <sal-team-time-clock
                :paired-time-records="pairedTimeRecords"
                :shifts="shifts"
                :selectedDate="calendarDate"
                mode="clockIn"
            />
            <div class="badges">
                <strong>Details for {{calendarDate}}</strong>
                <template v-if="badges.length > 0">
                    <div v-for="( badge, index ) in badges" :key="index" class="badge">

                        <sal-pill
                            class="pill"
                            :type="badge.color"
                            :label="badge.label"
                        />
                    </div>
                </template>
                <template v-else>
                    <p>No attendance badge available</p>
                </template>
            </div>
            <template v-if="assignOrEditShift">
                <sal-button-mobile
                    type="success"
                    class="button"
                    :onClick="() => navigateToAssignShift( teamId, memberId, calendarDate )"
                >
                    <img src="../../assets/icons/teams-icon-calendar_plus.svg" width="50%">
                </sal-button-mobile>
            </template>
        </div>
    </div>
</template>

<script>
    import moment from 'moment';
    import get from 'lodash-es/get';
    import { teamService } from '@/utils/services/TeamRequestService';
    import { timeClockService } from '@/utils/services/TimeClockService';

    export default {
        data() {
            return {
                memberInfo: {},
                memberCalendarData: {},
                pairedTimeRecords: [],
                shifts: [],
                badges: [],
                calendarDate: '',
                assignOrEditShift: false
            };
        },

        props: {
            teamId: {
                type: [ Number, String ],
                required: true
            },
            memberId: {
                type: [ Number, String ],
                required: true
            },
            selectedDate: {
                type: [ Date, String ],
                required: true
            }
        },

        created() {
            this.calendarDate = this.selectedDate;
            this.getMemberData();
            this.getMemberCalendarData();
            this.getTeamDetails();
        },

        methods: {
            getTeamDetails() {
                this.$loader.show();

                teamService.getTeamDetails( this.teamId )
                    .then( ( response ) => {
                        this.assignOrEditShift = response.edit_team_schedule;
                    })
                    .catch( ( error ) => {
                        this.$flashMessage.show( get( error, 'response.data.message', error.message ), 'error' );
                    })
                    .finally( () => {
                        this.$loader.hide();
                    });
            },

            getMemberData() {
                this.$loader.show();

                teamService.getMemberInfo( this.teamId, this.memberId )
                    .then( ( response ) => {
                        this.memberInfo = response.data;
                    })
                    .catch( ( error ) => {
                        this.$flashMessage.show( get( error, 'response.data.message', error.message ), 'error' );
                    })
                    .finally( () => {
                        this.$loader.hide();
                    });
            },

            getMemberCalendarData() {
                this.$loader.show();

                const startDate = moment( this.calendarDate ).startOf( 'month' ).format( 'YYYY-MM-DD' );
                const endDate = moment( this.calendarDate ).endOf( 'month' ).format( 'YYYY-MM-DD' );

                teamService.getMemberCalendarData( this.teamId, this.memberId, startDate, endDate )
                    .then( ( response ) => {
                        this.memberCalendarData = response.data;

                        this.selectedDay( this.calendarDate );
                    })
                    .catch( ( error ) => {
                        this.$flashMessage.show( get( error, 'response.data.message', error.message ), 'error' );
                    })
                    .finally( () => {
                        this.$loader.hide();
                    });
            },

            selectedDay( value ) {
                this.calendarDate = value;

                if ( this.memberCalendarData[ value ] === undefined ) {
                    this.getMemberCalendarData();
                } else {
                    this.badges = this.memberCalendarData[ value ].badges;
                    this.shifts = this.memberCalendarData[ value ].shifts;
                    this.pairedTimeRecords = timeClockService.handleAttendancePairing( this.memberCalendarData[ value ].timesheet );
                }
            },

            navigateToAssignShift( teamId, memberId, selectedDate ) {
                this.$router.push({
                    name: 'assign-view',
                    params: {
                        teamId,
                        memberId,
                        selectedDate
                    }
                });
            }
        }
    };
</script>

<style lang='scss' scoped>
.sl-l-page-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-content: flex-start;

    .container{
        width: 64vh;
        position: relative;
        background: $sl-color-white;

        .header {
            width: 100%;

            .card{
                border-radius: 0%;
            }
        }

        .badges{
            padding: $sl-gutter;

            strong{
                display: block;
                margin-bottom: .5rem;
            }

            p{
                margin: 0;
                color: $sl-color-lightgrey;
                font-size: .85rem;
                font-weight: 800;
            }

            .badge{
                display: inline-flex;
                margin-left: $sl-gutter-xs;
            }

            .pill{
                margin-bottom: $sl-gutter-xs;;
                padding-left: $sl-gutter-md;
                padding-right: $sl-gutter-md;
                width: 100%;
            }
        }

        .button{
            border-radius: 50%;
            width: 3.5rem;
            height: 3.5rem;
            padding: 0.5rem;
            line-height: 0.5;

            position: sticky;
            float: right;
            right: 10%;
            bottom: 10%;
            top: 90%;
            margin-right: 3rem;
            margin-bottom: 3rem;
        }
    }
}

</style>
