<template>
    <div class="sl-c-modal sl-is-active" v-show="isShow">
        <div class="sl-c-modal-background"></div>

        <div class="sl-c-modal-card sl-c-modal-card--dialog" id="modal-content" :style="modalWidth" v-show="isShow">
            <header class="sl-c-modal-card__header" v-if="showHeader">
                <p class="sl-c-modal-card__title">{{ title }}</p>
            </header>

            <section class="sl-c-modal-card__body" v-html="content"></section>

            <footer
                :class="{
                    'sl-c-modal-card__footer': true,
                    'sl-c-modal-card__footer--btn-fullwidth': btnFullWidth
                    }"
                v-if="showFooter"
            >
                <sal-button-mobile size="sm" :type="type" :onClick="handleOk" v-if="showOk" id="modal-ok">
                    {{ okText }}
                </sal-button-mobile>

                <sal-button-mobile size="sm" :onClick="handleCancel" v-if="showCancel" id="modal-cancel">
                    {{ cancelText }}
                </sal-button-mobile>
            </footer>
        </div>
    </div>
</template>

<script>
    import ModalMixin from './ModalMixin';

    export default {
        mixins: [ModalMixin],

        props: {
            content: String,
            width: {
                type: Number,
                default: 400
            },
            type: {
                type: String,
                default: 'primary'
            },
            btnFullWidth: Boolean
        },

        mounted() {
            setTimeout( () => {
                this.isShow = true;
            }, 100 );
        }
    };
</script>

<style lang="scss">
    .sl-c-modal-card__footer--btn-fullwidth {
        &.sl-c-modal-card__footer {
            padding-right: $sl-gutter-lg;
            padding-left: $sl-gutter-lg;
        }

        .sl-c-btn {
            width: 100%;
        }
    }
</style>
