<template>
    <div class="sl-c-page__body">
        <sal-back :to="{ name: 'announcements.my-announcements.responses', announcementId }">Back to Announcements</sal-back>
        <div class="sl-c-page__content"  v-if="!!reply">
            <div v-if="isCurrentUserReplier" class="sl-c-announcement__sender">
                <i class="fa fa-check-circle sl-u-text--primary"></i>
                <strong>Sent to: {{ reply.announcement.sender.full_name }}</strong>
            </div>
            <div v-else class="sl-c-announcement__sender">
                <strong>From: {{ reply.sender.full_name }}</strong>
            </div>
            <strong v-if="!isCurrentUserReplier">Subject: {{ reply.announcement.subject }}</strong>
            <div>{{ reply.created_at | date }}</div>
            <div class="sl-u-gap-top--lg sl-u-text">
                <p class="sl-u-text" v-html="replyMessage"></p>
            </div>
        </div>
    </div>
</template>
<script>
    import moment from 'moment';
    import { announcementService } from '@/utils/services/AnnouncementService';
    import { auth } from '@/utils/Authentication';
    import { ANNOUNCEMENT_DEFAULT_DATETIME_FORMAT } from '@/constants/announcement-date';

    export default {
        props: {
            announcementId: {
                type: [ String, Number ],
                required: true
            },
            replyId: {
                type: [ String, Number ],
                required: true
            }
        },

        data() {
            return {
                reply: null
            };
        },

        computed: {
            /**
             * Escapes special chars in reply message content and replaces them with html tag <br />.
             * @returns {String} announcement reply message
             */
            replyMessage() {
                return this.reply.message.replace( /(\r\n|\n|\r)/gm, '<br />' );
            },

            /**
             * Checks is current user replier.
             * @returns {Boolean}
             */
            isCurrentUserReplier() {
                return auth.getUserId() === this.reply.sender_id;
            }
        },

        created() {
            this.getReplyById();
        },

        methods: {
            /**
             * Gets reply by id and marks reply as read.
             */
            getReplyById() {
                this.$loader.show();

                announcementService.getReply( this.replyId )
                    .then( ( reply ) => {
                        this.reply = reply;
                        this.markReplyAsRead();
                        this.$loader.hide();
                    })
                    .catch( () => {
                        this.$loader.hide();
                    });
            },

            /**
             * Sets reply as read.
             */
            markReplyAsRead() {
                if ( this.reply.seen || this.isCurrentUserReplier ) {
                    return;
                }

                announcementService.markReplyAsRead( this.replyId );
            }
        },

        filters: {
            /**
             * Formats reply created_at date.
             * @returns {Date}
             */
            date( date ) {
                return moment( date ).format( ANNOUNCEMENT_DEFAULT_DATETIME_FORMAT );
            }
        }
    };
</script>
<style>

</style>
