<template>
    <div class="sl-c-page__content">
        <div class="sl-u-text--center sl-u-gap-bottom">
            <h3>Announcements</h3>
            <!-- <p>lorem ipsum dolor sit amet consectetur adipiscing elit</p> -->
        </div>

        <sal-announcement-filters-container
            v-show="filtersAreVisible"
            @close="closeFilters"
            @apply="applyFilters"
            @reset="applyFilters"
        >
        </sal-announcement-filters-container>

        <div class="sl-c-control-btns sl-u-gap-bottom sl-u-gap-top">
            <sal-button-mobile
                id="publish-announcement"
                class="sl-c-btn--main"
                type="primary"
                :onClick="() => navigateToPublishAnnouncement()"
            >
                Publish an Announcement
            </sal-button-mobile>

            <sal-button-mobile id="filter-requests" :onClick="toggleFilters">
                <i class="fa fa-filter"></i>
            </sal-button-mobile>
        </div>

        <nav class="sl-c-tabs sl-u-gap-top sl-u-gap-bottom">
            <router-link :to="{name: 'announcements.my-announcements'}" replace>
                Created by Me
            </router-link>

            <router-link :to="{name: 'announcements.other-announcements'}" replace>
                Sent to Me
            </router-link>
        </nav>

        <router-view :filters="filters"/>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                filtersAreVisible: false,
                filters: {
                    'my-announcements': {
                        created_by_me: true
                    },
                    'other-announcements': {
                        created_by_me: false
                    }
                }
            };
        },
        methods: {
            /**
             * Show filtered announcements page
             */
            toggleFilters() {
                this.filtersAreVisible = !this.filtersAreVisible;
            },
            /**
             * Apply filters
             *
             * @param {Object} filters The filters
             */
            applyFilters( filters ) {
                this.filters = filters;
            },
            /**
             * Closes filters.
             */
            closeFilters() {
                this.filtersAreVisible = false;
            },

            /**
             * Go to publish announcements page
             */
            navigateToPublishAnnouncement() {
                this.$router.push({
                    name: 'announcements.create-announcement'
                });
            }
        }
    };
</script>

<style lang="scss" scoped>
    .sl-c-control-btns {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .sl-c-btn--main {
            margin-right: $sl-gutter;
            flex-grow: 1;
        }
    }
</style>
