<template>
    <div class="sl-l-page sl-l-page--dashboard">
        <div class="sl-l-app-body">
            <router-view />
        </div>
    </div>
</template>
<script>
    export default {

    };
</script>
