<template>
    <div>
        <sal-back :to="{ name: 'announcements.index' }">Back to Announcements</sal-back>

        <header class="sl-c-page__header">
            <h1 class="sl-c-page__title">Publish an Announcement</h1>
            <!-- <p>lorem ipsum dolor sit amet consectetur adipiscing elit</p> -->
        </header>

        <div class="sl-c-page__content">
            <div class="sl-c-form-group">
                <label class="sl-c-control-label" :for="'announcement-affected-employees'">
                    *Recipients
                </label>
                <sal-multiselect
                    id="announcement-affected-employees"
                    v-model="announcement.affected_employees"
                    multiple
                    @search-change="getAnnouncementRecipientOptions"
                    :show-no-results="false"
                    :hide-selected="true"
                    open-direction="bottom"
                    :loading="isSearchingForEntitledEmployees"
                    :options="entitledEmployeesOptions"
                    placeholder="Enter location, department, position or employee name"
                    label="name"
                    track-by="uid"
                >
                </sal-multiselect>
                <sal-input-mobile
                    :value="announcement.subject"
                    :onChange="( input ) => announcement.subject = input"
                    label="*Subject"
                    id="annoucement-subject">
                </sal-input-mobile>
                <sal-textarea-mobile
                    v-model="announcement.message"
                    label="*Message"
                    placeholder="Write your message here"
                    id="annoucement-message">
                </sal-textarea-mobile>
                <div class="sl-c-form-group">
                    <sal-checkbox-mobile
                        v-model="announcement.read_receipt"
                        :id="'show-read-recipient'"
                        :label="'Show read receipt?'"
                        :announcementCheckbox="true"
                    />
                </div>
                <div class="sl-c-form-group">
                    <sal-checkbox-mobile
                        v-model="announcement.allow_response"
                        :id="'allow-response'"
                        :label="'Allow response from recipients'"
                        :announcementCheckbox="true"
                    />
                </div>
                <div class="sl-c-section__footer sl-c-block-btns">
                    <sal-button-mobile
                        id="cancel-announcement"
                        label="Cancel"
                        size="sm"
                        type="primary"
                        outlined
                        buttonType="button"
                        :onClick="cancel"
                    />
                    <sal-button-mobile
                        id="submit-announcement"
                        label="Publish"
                        size="sm"
                        type="primary"
                        buttonType="submit"
                        :onClick="handleSubmit"
                        :disabled="!validate()"
                    />
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import entitledEmployeesSearch from '@/mixins/entitledEmployeesSearch';
    import { announcementService } from '@/utils/services/AnnouncementService';
    import get from 'lodash-es/get';

    export default {
        mixins: [
            entitledEmployeesSearch
        ],
        data() {
            return {
                announcement: {
                    subject: '',
                    message: '',
                    affected_employees: [],
                    read_receipt: false,
                    allow_response: false
                }
            };
        },
        methods: {
            /**
             * Get recipients for announcements.
             *
             * @param {String} term
             * @return {Promise}
             */
            getAnnouncementRecipientOptions( term ) {
                return this.getEntitledEmployeesOptions( term, true );
            },

            /**
             * Handles showing and configuring modal according to triggered action.
             */
            handleSubmit() {
                if ( !this.validate() ) {
                    return;
                }

                this.$loader.show();

                this.getViewCount().then( ( count ) => {
                    const people = count === 1 ? 'person' : 'people';

                    this.$modal.confirm({
                        type: 'primary',
                        title: 'Publish Announcement',
                        cancelText: 'Cancel',
                        okText: count === 0 ? 'Ok' : 'Send',
                        content: `${this.handleModalContent( count, people )}`,
                        onOk: () => {
                            if ( count === 0 ) {
                                return;
                            }

                            this.submitAnnouncement();
                        },
                        btnFullWidth: true
                    });
                }).catch( ( error ) => {
                    this.$flashMessage.show( get( error, 'response.data.message', error.message ), 'error' );
                }).finally( () => {
                    this.$loader.hide();
                });
            },

            /**
             * Handles modal text content.
             * @param {Number} count
             * @param {String} people
             * @returns {String} modal text content
             */
            handleModalContent( count, people ) {
                return count === 0
                    ? 'There are no affected recipients. Please make some changes.'
                    : `<strong>This announcement will be sent to ${count} ${people}.</strong> Do you wish to proceed?`;
            },

            /**
             * Gets employee view count.
             * @returns {Promise}
             */
            getViewCount() {
                return announcementService.getViewCount( this.announcement.affected_employees );
            },

            /**
             * Submits announcement.
             */
            submitAnnouncement() {
                this.$loader.show();

                announcementService.submitAnnouncement( this.announcement )
                    .then( () => {
                        this.$loader.hide();
                        this.$router.push({ name: 'announcements.my-announcements' });
                    })
                    .catch( () => {
                        this.$loader.hide();
                    });
            },

            /**
             * Validates are all required fields filled.
             * @returns {Boolean}
             */
            validate() {
                return this.announcement.subject
                    && this.announcement.message
                    && this.announcement.affected_employees.length;
            },

            /**
             * Cancels submiting announcement and redirects to my-announcements list.
             */
            cancel() {
                this.$modal.confirm({
                    type: 'danger',
                    title: 'Discard changes',
                    cancelText: 'Stay on this page',
                    okText: 'Discard',
                    content: 'You are about to leave page with unsaved changes. Do you wish to proceed?',
                    onOk: () => {
                        this.$router.push({ name: 'announcements.my-announcements' });
                    }
                });
            }
        }
    };
</script>
