<template>
    <div class="sl-l-page sl-l-page--dashboard">
        <div class="sl-l-app-body">
            <sal-back :to="{ name: 'announcements.my-announcements'}">Back to Announcements</sal-back>

            <div class="sl-c-page__content" v-if="!!announcement">
                <div class="sl-c-grid">
                    <div class="sl-u-text">
                        <strong>To: {{ recipients }}</strong>
                    </div>
                    <div>
                        <strong>Sender: You</strong>
                    </div>
                    <div class="sl-u-text">
                        <strong>Subject: {{ announcement.subject }}</strong>
                    </div>
                    <div class="sl-u-text">
                        {{ formatedDate }}
                    </div>
                </div>

                <div class="sl-u-gap-top sl-u-text">
                    <p v-for="( paragraph, index ) in announcementMessageParagraphs" :key="index">
                        {{ paragraph }}
                    </p>
                </div>

                <nav class="sl-c-tabs sl-u-gap-top sl-u-gap-bottom"
                    :class="{'sl-c-tabs-single': !hasResponseAndRecipients}"
                    v-if="announcement.allow_response || announcement.read_receipt"
                >
                    <router-link
                        :to="{name: 'announcements.my-announcements.responses'}"
                        replace
                        v-if="announcement.allow_response"
                    >
                        <span>{{ announcement.replies.length }}</span>
                        {{ responses && responses > 1 ? 'Responses' : 'Response' }}
                    </router-link>
                    <router-link
                        :to="{name: 'announcements.my-announcements.views'}"
                        replace
                        v-if="announcement.read_receipt"
                    >
                        {{ viewsCount }} {{ viewsCount === 1 ? 'View' : 'Views'}}
                    </router-link>
                </nav>

                <router-view :responses="announcement.replies" :announcement="announcement" />
            </div>
        </div>
    </div>
</template>
<script>
    import { get } from 'lodash-es';
    import { auth } from '@/utils/Authentication';
    import { announcementService } from '@/utils/services/AnnouncementService';
    import announcementDetails from '@/mixins/announcementDetails';

    export default {
        mixins: [
            announcementDetails
        ],

        computed: {
            /**
             * Checks does announcement has allowed responses and views.
             * @returns {Boolean}
             */
            hasResponseAndRecipients() {
                return this.announcement.allow_response && this.announcement.read_receipt;
            },
             /**
             * Escapes special chars in message content and replaces them with html tag <br />.
             * @returns {String} announcement message
             */
            announcementMessage() {
                return this.announcement.message.replace( /(\r\n|\n|\r)/gm, '<br />' );
            },
            /**
             * Computes views
             * @return {Number}
             */
            viewsCount() {
                return get( this.announcement, 'recipients', [])
                    .filter( ( recipient ) => recipient.seen ).length;
            },

            /**
             * Gets number of recipients
             * @return {String}
             */
            recipients() {
                return this.announcement.recipient_groups.map( ( group ) => group.name ).join( ', ' );
            }
        },

        created() {
            this.getAnnouncementById();
        },

        methods: {
            /**
             * Gets announcement by parsed Id
             */
            getAnnouncementById() {
                this.$loader.show();

                return announcementService
                    .getAnnouncementById( this.announcementId )
                    .then( ( announcement ) => {
                        if ( !this.currentUserIsSender( announcement ) ) {
                            this.$router.replace({
                                name: 'announcements.my-announcements'
                            });
                        }

                        this.announcement = announcement;
                        this.error = null;
                        this.$loader.hide();
                    })
                    .catch( ( error ) => {
                        this.error = error.message;
                        this.$loader.hide();
                    });
            },

            /**
             * Check if current user is sender.
             * @param {Object} announcement
             * @return {Boolean}
             */
            currentUserIsSender( announcement ) {
                return announcement.sender_id === auth.getUserId();
            }
        }
    };
</script>
<style lang="scss">
    .sal-response-seen {
        color: black
    }
</style>
