<template>
    <div class="sl-c-request-details" v-if="announcements.length">
        <p>
            <strong>Showing {{ from }} - {{ to }} of {{ total }} entries</strong>
        </p>
        <sal-my-announcement-card
            v-for="announcement in announcements"
            :key="announcement.id"
            :announcement="announcement"
        />

        <div class="sl-c-section__footer sl-c-block-btns">
            <sal-button-mobile
                size="sm"
                id="previous"
                :disabled="buttonPreviousDisabled"
                :onClick="previous">
                Previous
            </sal-button-mobile>
            <sal-button-mobile
                size="sm"
                id="next"
                :disabled="buttonNextDisabled"
                :onClick="next">
                Next
            </sal-button-mobile>
        </div>
    </div>
    <div class="sl-u-text--center" v-else>
        No announcements.
    </div>
</template>
<script>
    import { announcementService } from '@/utils/services/AnnouncementService';
    import { auth } from '@/utils/Authentication';
    import announcementsList from '@/mixins/announcementsList';

    export default {
        mixins: [
            announcementsList
        ],

        props: {
            filters: Object
        },

        computed: {
            /**
             * Filters my-announcements from announcements.
             * @returns {Object}
             */
            announcementFilter() {
                return this.filters[ 'my-announcements' ];
            }
        },

        created() {
            this.getAnnouncements();
        },

        methods: {
            /**
             * Get announcements created by me.
             * @return {Array}
             */
            setAnnouncements( announcements ) {
                announcementService.parseAnnouncements( announcements, auth.getUser() );

                this.announcements = announcementService.getMyAnnouncements();
                this.loading = false;
                this.$loader.hide();
            },

            /**
             * Gets the announcements.
             */
            getAnnouncements() {
                this.$loader.show();
                this.loading = true;

                announcementService.getAnnouncements( this.filters[ 'my-announcements' ], this.page )
                    .then( ( response ) => {
                        this.pagination = response.meta.pagination;
                        this.setAnnouncements( response.data );
                    });
            }
        }
    };
</script>

<style lang="scss" scoped>
    .sl-c-request-details {
        margin-top: $sl-gutter-lg;
        margin-bottom: $sl-gutter;

        .sl-c-card__body {
            max-height: 8rem;
        }
    }
</style>
