<template>
    <div v-show="!!responses">
        <div v-for="( response, index ) in responses" :key="index">
            <div class="sl-c-card" @click="goToReply( response )">
                <div class="sl-c-card__body">
                    <div class="sl-c-grid sl-c-grid--twos">
                        <div class="sl-u-text">
                            <span :class="{ 'sal-response-seen': response.seen }">
                                <i v-if="!response.seen" class="fa fa-circle fa-sm sl-u-text--danger sl-u-gap-right--sm"></i>
                                From:
                                {{ response.sender.full_name }}
                            </span>
                        </div>
                        <div class="sl-u-text--right sl-u-text--disabled">
                            {{ response.created_at | formatDate }}
                        </div>
                    </div>
                    <p class="sl-u-text--ellipsis">
                        {{ formatResponseMessage( response.message ) }}...
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import moment from 'moment';
    import { ANNOUNCEMENT_DEFAULT_DATE_FORMAT } from '@/constants/announcement-date';

    export default {
        props: {
            responses: {
                type: [ Object, Array ]
            }
        },

        methods: {
            /**
             * Routes to reply.
             */
            goToReply( reply ) {
                this.$router.push({ name: 'announcements.reply', params: { announcementId: reply.announcement_id, replyId: reply.id }});
            },

            /**
             * Splits message on new line chars.
             * @returns {Array} splited announcement message
             */
            formatResponseMessage( responseMessage ) {
                return responseMessage.split( /(\r\n|\n|\r)/gm )[ 0 ];
            }
        },

        filters: {
            formatDate( date ) {
                return moment( date ).format( ANNOUNCEMENT_DEFAULT_DATE_FORMAT );
            }
        }
    };
</script>
<style>

</style>
