<template>
    <div class="sl-c-announcement-views-list">
        <div class="sl-c-announcement-views-list__item">
            <sal-announcement-view-stats-mobile :views="views.length" :total="recipients.length" />
        </div>

        <div class="sl-c-announcement-views-list__item" v-for="view in views">
            <div>{{ view.recipient.name }}</div>
            <div class="sl-u-text--disabled"><span class="sl-u-text--darksilver"><i class="fa fa-fw fa-clock-o" /></span> {{ view.seen_at }}</div>
            <div class="sl-u-text--disabled"><span class="sl-u-text--darksilver"><i class="fa fa-fw fa-map-marker" /></span> {{ view.ip_address }}</div>
        </div>
    </div>
</template>
<script>
    import { get } from 'lodash-es';
    import ViewStats from '@/components/mobile/announcements/AnnouncementViewStats';

    export default {
        components: {
            [ ViewStats.name ]: ViewStats
        },

        props: {
            announcement: {
                type: Object,
                required: true
            }
        },

        computed: {
            /**
             * Data of recipients that have seen the announcement.
             * @return {Array}
             */
            views() {
                return this.recipients.filter( ( recipient ) => recipient.seen );
            },

            /**
             * Recipients data.
             * @return {Array}
             */
            recipients() {
                return get( this.announcement, 'recipients', []);
            }
        }
    };
</script>
<style lang="scss">
    .sl-c-announcement-views-list {
        margin: -$sl-gutter;
    }

    .sl-c-announcement-views-list__item {
        padding: $sl-gutter $sl-gutter-md;
        border-bottom: 1px solid $sl-color-darksilver;
    }
</style>
