<template>
    <div class="sl-l-page sl-l-page--dashboard">
        <div class="sl-l-app-body">
            <sal-back :to="{ name: 'announcements.other-announcements'}">Back to Announcements</sal-back>

            <div class="sl-c-page__content" v-if="!!announcement">
                <div class="sl-c-grid">
                    <div class="sl-u-text">
                        <strong>From: {{ announcement.sender.name }}</strong>
                    </div>
                    <div class="sl-u-text">
                        <strong>To: {{ recipients }}</strong>
                    </div>
                    <div class="sl-u-text">
                        <strong>Subject: {{ announcement.subject }}</strong>
                    </div>
                    <div class="sl-u-text">
                        {{ formatedDate }}
                    </div>
                </div>

                <div class="sl-u-gap-top sl-u-text" v-html="announcementMessage"></div>

                <div class="sl-c-card sl-u-gap-top--lg" v-if="isSending || hasReply" @click="goToReplyDetails">
                    <div class="sl-c-card__body">        
                        <div class="sl-c-grid sl-c-grid--twos">
                            <div class="sl-u-text">
                                <span v-if="isSending">
                                    <i class="fa fa-check-circle sl-u-text--disabled"></i>
                                    Sending to:
                                    {{ announcement.sender.name }}
                                </span>
                                <span v-else>
                                    <i class="fa fa-check-circle sl-u-text--primary"></i>
                                    Sent to:
                                    {{ announcement.sender.name }}
                                </span>
                            </div>
                             <div class="sl-u-text--right sl-u-text--disabled">
                                {{ setAnnouncementDate }}
                            </div>
                        </div>
                        <div class="sl-u-text">
                            <p class="sl-u-gap-top" v-html="announcementReplyMessage"></p>
                        </div>
                    </div>
                </div>            
            </div>

            <div class="sl-u-gap-bottom sl-c-messages"  v-if="!hasReply && announcementRepliable">
                <sal-message-input @send-message="sendMessage" :show-button="true" :isAnnouncementReply="true" />
            </div>
        </div>
    </div>
</template>
<script>
    import moment from 'moment';
    import announcementDetails from '@/mixins/announcementDetails';
    import { announcementService } from '@/utils/services/AnnouncementService';
    import { auth } from '@/utils/Authentication';
    import { ANNOUNCEMENT_DEFAULT_DATE_FORMAT } from '@/constants/announcement-date';

    export default {
        mixins: [
            announcementDetails
        ],

        data() {
            return {
                user: auth.getUser(),
                isSending: false
            };
        },

        computed: {
            /**
             * Checks is announcement repliable.
             * @returns {Boolean}
             */
            announcementRepliable() {
                return this.announcement && this.announcement.allow_response;
            },

            /**
             * Escapes special chars in message content and replaces them with html tag <br />.
             * @returns {String} announcement message
             */
            announcementMessage() {
                return this.announcement.message.replace( /(\r\n|\n|\r)/gm, '<br />' );
            },

            /**
             * Replaces announcement reply message newline chars using regexp with <br /> tag.
             * @returns {String} announcement message with replaced chars
             */
            announcementReplyMessage() {
                return this.announcement.reply.message.replace( /(\r\n|\n|\r)/gm, '<br />' );
            },

            /**
             * Get recipients
             * @return {String}
             */
            recipients() {
                return this.announcement.recipient_groups.length > 1
                    ? `You, ${this.announcement.recipient_groups.map( ( group ) => group.name ).join( ', ' )}`
                    : 'You';
            },

            /**
             * Checks is announcement alredy replied to.
             * @return {Boolean}
             */
            hasReply() {
                return this.announcement && this.announcement.reply;
            },

            /**
             * Formats announcement created_at date.
             * @returns {Date} formated date to 'HH:MM MMM D, YYYY'
             */
            setAnnouncementDate() {
                return moment( this.announcement.reply.created_at ).format( ANNOUNCEMENT_DEFAULT_DATE_FORMAT );
            }
        },

        created() {
            this.getAnnouncementById().then( () => {
                announcementService.markAnnouncementAsSeen( this.announcementId );
            });
        },

        methods: {

            /**
             * Formats seen date.
             * @returns {Date}
             */
            formatSeenDate() {
                return moment( this.announcement.created_at ).format( ANNOUNCEMENT_DEFAULT_DATE_FORMAT );
            },

            /**
             * Calls request messages service's storeRequestMessage method
             * @param {Object} message
             */
            sendMessage( message ) {
                if ( this.isReplied ) return;

                this.isSending = true;
                this.setAnnouncement( message.content );

                announcementService.submitReply( this.announcement.id, message.content )
                    .then( ( reply ) => {
                        this.announcement.reply = reply;
                        this.isSending = false;
                    });
            },

            /**
             * Sets announcement.
             * @param {Object} message
             */
            setAnnouncement( messageContent ) {
                this.$set( this.announcement, 'reply', {
                    message: messageContent,
                    sender_id: this.user.user_id,
                    params: {
                        sender: this.user.employee
                    },
                    announcement_id: this.announcement.id,
                    announcement: this.announcement,
                    created_at: moment().format( ANNOUNCEMENT_DEFAULT_DATE_FORMAT )
                });
            },

            /**
             * Routes to relpy details.
             */
            goToReplyDetails() {
                this.$router.push({ name: 'announcements.reply', params: { announcementId: this.announcement.id, replyId: this.announcement.reply.id }});
            }
        }
    };
</script>
<style lang="scss" scoped>
    .sl-c-messages {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            height: calc(100vh - 8.2rem);
            padding: $sl-gutter;
        }
</style>
