<template>
    <div class="sl-c-media">
        <div class="sl-c-media__object">
            <i :class="icon" class="fa-lg"></i>
        </div>
        <div class="sl-c-media__body">
            <p>{{ message }}</p>
            <p class="sl-u-text--disabled">{{ timestamp }}</p>
        </div>
    </div>
</template>

<script>
    import moment from 'moment';
    import { auth } from '@/utils/Authentication';
    import {
        REQUEST_TRAIL_DATA,
        COMPLEX_ACTIVITIES,
        TIMESTAMP_FORMAT
    } from '@/constants/request-trail';

    export default {
        name: 'sal-request-trail-item',

        props: {
            /**
             * Set request activity
             */
            activity: {
                type: Object,
                required: true
            },

            /**
             * Set request name
             */
            requestName: {
                type: String,
                required: false
            }
        },

        computed: {
            /**
             * Activity status icon style
             *
             * @return {String}
             */
            icon() {
                return REQUEST_TRAIL_DATA[ this.activity.type ].icon;
            },

            /**
             * Activity message
             *
             * @return {String}
             */
            message() {
                if ( COMPLEX_ACTIVITIES.includes( this.activity.type ) ) {
                    const adminInput = this.activity.params.approver.user_id === auth.getUserId() ? 'You' : this.activity.params.approver.name;
                    const employeeInput = this.activity.params.owner.user_id === auth.getUserId() ? 'your' : this.activity.params.owner.name;
                    const parseMessage = REQUEST_TRAIL_DATA[ this.activity.type ].message_template;

                    return parseMessage( adminInput, employeeInput );
                }

                const defaultInputs = REQUEST_TRAIL_DATA[ this.activity.type ].default_inputs;
                const [ firstInput, secondInput ] = defaultInputs;

                const input = this.isCurrentUserOwnerOfActivity ?
                    firstInput : ( secondInput || this.activityOwner.name );
                const parseMessage = REQUEST_TRAIL_DATA[ this.activity.type ].message_template;

                return parseMessage( input, this.requestName );
            },

            /**
             * Activity timestamp
             *
             * @return {String}
             */
            timestamp() {
                return this.isWithTimestamp
                    ? moment( this.activity.created_at, 'YYYY-MM-DD HH:mm:ss' ).format( TIMESTAMP_FORMAT )
                    : '';
            },

            /**
             * Check if activity displays timestamp
             *
             * @return {Boolean}
             */
            isWithTimestamp() {
                return REQUEST_TRAIL_DATA[ this.activity.type ].timestamp;
            },

            /**
             * Activity timestamp
             *
             * @return {Object}
             */
            activityOwner() {
                return this.activity.params[ REQUEST_TRAIL_DATA[ this.activity.type ].employee ];
            },

            /**
             * Check if activity owner is currently logged in
             *
             * @return {Boolean}
             */
            isCurrentUserOwnerOfActivity() {
                return this.activityOwner.user_id === auth.getUserId();
            }
        }
    };
</script>

<style lang="scss">
    .sl-c-activity-list {
        .sl-c-media {
            &:not(:last-child) {
                .sl-c-media__object {
                    position: relative;

                    &:after {
                        position: absolute;
                        top: 1.75rem;
                        bottom: .25rem;
                        left: 50%;
                        transform: translateX(-50%);
                        content: '';
                        border-left: 1px solid $sl-color-grey;
                    }
                }
            }

            .sl-c-media__object {
                width: 1.5rem;
                text-align: center;
            }
        }
    }

    .sl-c-media__body {
        margin-bottom: $sl-gutter;
        word-break: break-word;

        p {
            margin: 0;
        }
    }
</style>
