<template>
    <div class="sl-c-card">
        <div class="sl-c-card__body">
            <div class="sl-c-activity-list" v-if="activities.length">
                <sal-request-trail-item
                    v-for="activity in activities"
                    :key="activity.id"
                    :activity="activity"
                    :requestName="requestName"
                >
                </sal-request-trail-item>
            </div>
            <div class="sl-c-activity-list" v-else>
                <p class="sl-u-text--center">
                    <strong>No activities.</strong>
                </p>
            </div>
        </div>
    </div>
</template>

<script>
    import RequestTrailItem from './RequestTrailItem';

    export default {
        name: 'sal-request-trail',

        components: {
            [ RequestTrailItem.name ]: RequestTrailItem
        },

        props: {
            /**
             * Set request activity trail
             */
            activities: {
                type: Array,
                required: true
            },

            /**
             * Set request name
             */
            requestName: {
                type: String,
                required: false
            }
        }
    };
</script>
