<template>
	<div>
		<sal-menu />

		<router-view @loading="(loading) => onLoading('routerView', loading)" />

        <sal-announcements-overlay-mobile v-if="showUnreadAnnouncements"/>
	</div>
</template>
<script>
export default {
    data() {
        return {
            loading: {
                routerView: false
            }
        };
    },

    computed: {
        showUnreadAnnouncements() {
            return this.$route.matched.some( ( record ) => record.meta.showUnreadAnnouncements );
        },

        isLoading() {
            return Object.values( this.loading ).includes( true );
        }
    },

    methods: {
        onLoading( component, loading ) {
            this.loading[ component ] = loading;
            this.triggerLoader();
        },

        /**
         * Trigger loader; show it or hide it depending on loading of components.
         */
        triggerLoader() {
            if ( this.isLoading ) {
                return this.$loader.show();
            }

            return this.$loader.hide();
        }
    }
};
</script>
<style>

</style>
