<template>
    <div class="sl-l-page-wrapper">
        <!-- <div v-if="$resize && $mq.below( 992 )" class="notifications"> -->
        <div class="notifications">
            <sal-notify-mobile
                :message="this.notification"
                v-if="!!this.notification"
            />
            <div class="header">
                <h2>View Payslips</h2>
                <p>Your payslip for the date/s specified below is ready for viewing.</p>
            </div>

            <div v-for="(payslip, index) in payslips" class="entry" :key="index">
                <div class="title" :style="{ fontWeight: payslip.viewed ? '500' : '600' }" >
                    {{parseDate( payslip.payroll_date )}}
                </div>
                <div class="action" v-on:click="getPayslip( index )">
                    <i :class="`fa fa-${payslip.viewed ? 'check' : 'search'}`" :style="{ color: payslip.viewed ? '#adadad' : '#8ed65a' }"/>
                    {{payslip.viewed ? 'Viewed' : 'View'}}
                </div>
            </div>

            <a :href="link" download ref="download" />
        </div>

        <!-- non-mobile devices -->
        <!-- <section class="sl-c-section" v-else>
            <img src="../assets/logo-salarium-blue.png" alt="Salarium - logo">
            <h1 class="sl-u-gap-top">Device Not Supported</h1>
        </section> -->
    </div>
</template>

<script>
    import moment from 'moment';
    import { Fetch } from '../utils/request';
    import router from '../router';
    export default {
        data() {
            return {
                payslips: [],
                link: '',
                notification: null
            };
        },
        beforeCreate() {
            this.$loader.show();
            Fetch( '/ess/payslips/unread', { method: 'GET' }).then( ( response ) => {
                const payslips = response;
                if ( payslips.length ) {
                    payslips.forEach( ( payslip, index ) => {
                        payslips[ index ].viewed = false;
                    });
                }
                this.payslips = payslips;
                this.$loader.hide();
            });
        },
        methods: {
            getPayslip( index ) {
                if ( this.payslips[ index ].viewed ) {
                    return;
                }

                Fetch( `/ess/payslip/${this.payslips[ index ].id}`, { method: 'GET' }).then( ( response ) => {
                    this.link = response.uri;
                    this.notification = null;

                    setTimeout( () => {
                        this.$refs.download.click();
                    }, 500 );

                    this.payslips[ index ].viewed = true;

                    const unreads = this.payslips.filter( ( payslip ) => payslip.viewed === false );
                    if ( unreads.length === 0 ) {
                        setTimeout( () => {
                            router.push( '/dashboard' );
                        }, 3000 );
                    }
                }).catch( ( error ) => {
                    const { response } = error;
                    this.notification = response.data.error_description || response.statusText;

                    setTimeout( () => {
                        this.notification = null;
                    }, 5000 );
                });
            },
            parseDate( date ) {
                return moment( date ).format( 'MMMM DD, YYYY' );
            }
        }
    };
</script>

<style lang="scss" scoped>
    .sl-l-page-wrapper {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .notifications {
            min-height: 80vh;
            width: 64vh;
            padding: 10vh 8vw;
            background: #fff;

            .header {
                width: 100%;
                margin-bottom: 100px;
            }
        }

        .entry {
            display: flex;
            width: 100%;
            justify-content: space-between;
            font-size: 46px;
            padding: 2vh 0;

            .action {
                font-weight: 600;
            }
        }
    }
</style>
