<template>
    <div class="sl-l-app">
        <header class="sl-l-app-header">
            <a href="#" class="sl-c-menu-btn">
                <i class="fa fa-bars fa-lg"></i>
            </a>

            <div>
                <a href="#" class="sl-c-menu-btn">
                    <i class="fa fa-bell fa-lg"></i>
                </a>
                <a href="#" class="sl-c-menu-btn">
                    <i class="fa fa-user-circle fa-lg"></i>
                </a>
            </div>
        </header>

        <main class="sl-l-app-body">
            <header class="sl-c-page-header">
                <h1 class="sl-c-page-title">Styleguide</h1>
            </header>

            <div class="sl-c-page-content">
                <section class="sl-c-section">
                    <sal-input-mobile id="input"></sal-input-mobile>
                    <sal-checkbox-mobile id="checkbox">dsf</sal-checkbox-mobile>
                    <sal-radio-mobile id="radio">sdf</sal-radio-mobile>
                    <sal-textarea-mobile id="textarea"></sal-textarea-mobile>
                    <sal-select-mobile id="select" :options="[{text:'One'},{text:'Two'}]"></sal-select-mobile>
                </section>

                <section class="sl-c-section">
                    <p>
                        <sal-button-mobile id="1" label="text">Button</sal-button-mobile>
                        <sal-button-mobile id="1" label="text" type="primary">Button</sal-button-mobile>
                        <sal-button-mobile id="1" label="text" type="danger">Button</sal-button-mobile>
                        <sal-button-mobile id="1" label="text" type="warning">Button</sal-button-mobile>
                        <sal-button-mobile id="1" label="text" type="link">Button</sal-button-mobile>
                    </p>
                    <p>
                        <sal-button-mobile id="2" label="text">Button</sal-button-mobile>
                        <sal-button-mobile id="2" label="text" size="lg">Button</sal-button-mobile>
                        <sal-button-mobile id="2" label="text" size="sm">Button</sal-button-mobile>
                        <sal-button-mobile id="2" label="text" size="xs">Button</sal-button-mobile>
                    </p>
                </section>
            </div>
        </main>
    </div>
</template>

<script>
    export default {};
</script>
