<template>
  <div class="sl-l-page sl-u-center">
    <div class="sl-u-container">
      <img class="svg" src="../assets/icons/unauthorized.svg">

      <div class="sl-u-text--center">
          <h1 class="sl-c-section__title sl-u-text--info">
              Unauthorized Access
          </h1>
          <h3> The page or resource you're trying to access is forbidden. </h3>
          <h5> If you think this is incorrect, please contact your company administrator <br>
                to provide you with permission to access.
          </h5>
      </div>
    </div>
  </div>
</template>
<style lang="scss" scoped>
  .sl-u-container {
    max-width: 80vw;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10rem;

    .svg {
      width: 100%;
    }

    .sl-u-text--center{
      @media (max-width: $sl-screen-xs) {
        h1, h3, h5 {
          font-size: normal;
        }

        h1 {
          color: $sl-color-blue;
        }
    
        h3 {
          line-height: normal;
        }
    
        h5 {
          font-weight: 400;
          line-height: normal;
        }
      }

      @media (min-width: $sl-screen-xs) {
        h1 {
          font-size: 36px;
          color: $sl-color-blue;
        }
    
        h3 {
          font-size: 26px;
        }
    
        h5 {
          font-size: 17px;
          font-weight: 400;
          line-height: normal;
        }
      }

  
    }

  }

</style>
