<template>
    <div class="sl-l-page sl-l-page--dashboard">
        <div class="sl-l-app-body">
            <sal-back :to="{ name: 'requests.index'}">Back to Requests</sal-back>

            <div class="sl-c-page__content">
                <nav class="sl-c-tabs">
                    <router-link :to="{ name: 'requests.leave-request.details', params: { requestId: this.requestId }}">
                        Details
                    </router-link>

                    <router-link :to="{ name: 'requests.leave-request.messages', params: { requestId: this.requestId }}">
                        Messages
                    </router-link>
                </nav>

                <router-view v-if="!!request" :request="request" :currentUserId="currentUserId"></router-view>
            </div>
        </div>
    </div>
</template>

<script>
    import { leaveRequestsService } from '@/utils/services/LeaveRequestsService';
    import { auth } from '@/utils/Authentication';
    import { handleUpdatedRequest } from '@/mixins/requestUpdatedHandler';

    export default {
        props: {
            requestId: [ String, Number ]
        },

        mixins: [handleUpdatedRequest],

        data() {
            return {
                currentUserId: auth.getUserId(),
                request: null
            };
        },

        watch: {
            requestId( newVal, oldVal ) {
                this.leaveEssRequestChannel( oldVal );
                this.getRequestById();
            }
        },

        created() {
            this.getRequestById();
        },

        methods: {
            /**
             * Gets leave request by request Id
             */
            getRequestById() {
                this.$loader.show();
                this.request = null;

                leaveRequestsService
                    .fetchLeaveRequest( this.requestId )
                    .then( ( leaveRequest ) => {
                        if ( !this.currentUserIsOwner( leaveRequest ) ) {
                            this.$router.replace({
                                name: 'requests.index'
                            });
                        }

                        this.request = leaveRequest;
                        this.listenEssRequestChannel();
                        this.$loader.hide();
                    }).catch( () => this.$loader.hide() );
            },

            /**
             * Check if current user has filed the request.
             * @param {Object} request
             * @return {Boolean}
             */
            currentUserIsOwner( request ) {
                return request.employee_id === auth.getUser().employee_id;
            }
        }
    };
</script>
