<template>
    <div class="sl-c-messages">
        <!-- messages feed component -->
        <sal-messages-feed :requestMessages="requestMessages" :currentUserId="currentUserId"></sal-messages-feed>
        <!-- messages input component -->
        <sal-message-input @send-message="sendMessage"></sal-message-input>
    </div>
</template>

<script>
import { requestMessagesService } from '@/utils/services/RequestMessagesService';

export default {
    props: {
        request: Object,
        currentUserId: Number
    },

    computed: {
        requestMessages() {
            return this.request ? this.request.messages : [];
        }
    },

    methods: {
        /**
         * Calls request messages service's storeRequestMessage method
         * @param Object message
         */
        sendMessage( message ) {
            requestMessagesService.storeRequestMessage( this.request.employee_request_id, message.content )
                .then( ( messageData ) => {
                    this.requestMessages.push( messageData );
                });
        }
    }
};
</script>

<style lang="scss" scoped>
    .sl-c-messages {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        height: calc(100vh - 8.2rem);
    }
</style>
