<template>
    <div class="sl-l-app-body">
        <div class="sl-c-page__header">
            <h1 class="sl-c-page__title">Requests</h1>
            <!-- <p class="sl-c-page__desc">Lipsum page description text...</p> -->
        </div>

        <div>
            <sal-quick-add></sal-quick-add>
        </div>

        <div class="sl-c-page__content">
            <section class="sl-c-section">
                <header class="sl-c-section__header">
                    <h4 class="sl-c-section__title">
                        <i class="fa fa-file sl-u-text--disabled"></i>
                        My Filed Requests
                    </h4>

                    <div class="sl-c-section__actions">
                        <sal-button-mobile size="sm" id="filter-requests" :onClick="toggleFilters">
                            <i class="fa fa-filter"></i>
                        </sal-button-mobile>
                    </div>
                </header>

                <sal-request-filters v-show="filtersAreVisible"
                    @apply="applyFilters"
                    @reset="applyFilters(null)"
                    @close="filtersAreVisible = false" />

                <div v-if="requests && pagination">
                    <div class="sl-c-section__body">
                        <p><strong>Showing {{ from }} - {{ to }} of {{ total }} entries</strong></p>

                        <component
                            v-for="request in employeeRequests"
                            :is="getRequestCardName( request )"
                            :key="request.id"
                            :employee-request="request"
                            :user-defined-rest-days="userDefinedRestDays"
                        >
                        </component>

                        <div class="sl-u-text--center" v-if="!requests.length">
                            No requests.
                        </div>
                    </div>

                    <div class="sl-c-section__footer sl-c-block-btns">
                        <sal-button-mobile
                            size="sm"
                            id="previous"
                            :disabled="buttonPreviousDisabled"
                            :onClick="previous"
                        >
                            Previous
                        </sal-button-mobile>
                        <sal-button-mobile
                            size="sm"
                            id="next"
                            :disabled="buttonNextDisabled"
                            :onClick="next"
                        >
                            Next
                        </sal-button-mobile>
                    </div>
                </div>
            </section>
        </div>
    </div>
</template>

<script>
import { each } from 'lodash-es';
import { employeeRequestService } from '@/utils/services/EmployeeRequestService';
import { timeClockService } from '@/utils/services/TimeClockService';

export default {
    data() {
        return {
            requests: null,
            pagination: null,
            page: 1,
            loading: false,
            filtersAreVisible: false,
            filters: {},
            userDefinedRestDays: []
        };
    },

    computed: {
        /**
         * Calculate start offset number for current page.
         */
        from() {
            return this.pagination.count ? this.pagination.current_page * this.pagination.per_page - this.pagination.per_page + 1 : 0;
        },

        /**
         * Calculate end offset number for current page.
         */
        to() {
            return this.pagination.count ? this.from + this.pagination.count - 1 : 0;
        },

        /**
         * Return total number of requests.
         */
        total() {
            return this.pagination.total;
        },

        /**
         * Disable "previous" button if there is no previous page.
         */
        buttonPreviousDisabled() {
            return this.loading || this.pagination.current_page < 2;
        },

        /**
         * Disable "next" button if there is no next page.
         */
        buttonNextDisabled() {
            return this.loading || this.pagination.current_page >= this.pagination.total_pages;
        },

        employeeRequests() {
            return each( this.requests, ( employeeRequest ) => {
                if ( employeeRequest.request_type === 'overtime_request' ) {
                    employeeRequest.request.timesheet = this.timesheet;
                }
            });
        }
    },

    created() {
        this.getRequests();
    },

    methods: {
        /**
         * Send request to api for requests and pagination information.
         */
        getRequests() {
            this.$loader.show();
            this.loading = true;

            const requests = employeeRequestService
                .getEmployeeRequests( this.page, this.filters )
                .then( ( response ) => {
                    this.requests = response.data;
                    this.pagination = response.meta.pagination;
                });

            const timesheets = timeClockService.getTimeClockTimesheet()
                .then( ( timesheet ) => {
                    this.timesheet = timesheet;
                });

            const restDays = employeeRequestService.getEmployeeRestDays()
                .then( ( userDefinedRestDays ) => {
                    this.userDefinedRestDays = userDefinedRestDays;
                });

            Promise.all([ requests, timesheets, restDays ])
                .finally( () => {
                    this.$loader.hide();
                    this.loading = false;
                });
        },
        /**
         * Show previous page.
         */
        previous() {
            this.page -= 1;
            this.getRequests();
        },

        /**
         * Show next page.
         */
        next() {
            this.page += 1;
            this.getRequests();
        },

        /**
         * Show filtered requests page
         */
        toggleFilters() {
            this.filtersAreVisible = !this.filtersAreVisible;
        },

        /**
         * Handle components according to request type
         * @param Object request request object containing request_type
         * @returns String component name
         */
        getRequestCardName( request ) {
            return `sal-${request.request_type.replace( /_/g, '-' )}-card-mobile`;
        },

        /** Applies filters and gets requests with applied filters
         * @param Object filters
         */
        applyFilters( filters ) {
            this.filters = filters;
            this.getRequests();
        }
    }
};
</script>

<style lang="scss" scoped>
    .sl-c-block-btns {
        display: flex;
        justify-content: space-between;

        .sl-c-btn {
           width: 49%;
        }
    }
</style>
