<template>
    <div class="sl-c-request-details">
        <sal-card>
            <template slot="header">
                <h4 class="sl-c-card__title">
                    {{ request.owner.name }}
                </h4>
            </template>

            <template slot="actions">
                <span class="sl-c-label" :class="statusClass">
                    <i class="fa fa-info sl-u-gap-right--sm" :class="statusIcon"></i>
                    {{ status }}
                </span>
            </template>

            <div class="sl-c-grid sl-c-grid--twos">
                <div>
                    <i class="fa fa-calendar-o sl-u-text--disabled"></i> From:<br> {{ from }}
                </div>
                <div>
                    <i class="fa fa-calendar-o sl-u-text--disabled"></i> To:<br> {{ to }}
                </div>
            </div>

            <sal-shift-change-details class="sl-u-gap-top" v-if="request" :request="request" />

            <sal-button-mobile
                v-if="isRequestCancelable"
                id="removeRequest"
                type="primary"
                outlined
                class="sl-c-btn--block"
                :onClick="cancelRequest"
                :disabled="isCancelingRequest"
            >
                Cancel request
            </sal-button-mobile>

        </sal-card>

        <div>
            Request trail
        </div>

        <sal-request-trail
            :activities="request && request.activities"
            requestName="Shift Change"
        />
    </div>
</template>

<script>
    import moment from 'moment';
    import { employeeRequestService } from '@/utils/services/EmployeeRequestService';
    import requestDetails from '@/mixins/requestDetails';
    import { DATE_FORMAT } from '@/constants/overtime-request';
    import { get } from 'lodash-es';

    export default {
        mixins: [requestDetails],
        props: {
            request: {
                type: Object,
                required: true
            }
        },

        data() {
            return {
                isCancelingRequest: false
            };
        },

        computed: {
            /**
             * Formats request start date.
             * @returns {String} formated date string.
             */
            from() {
                return moment( this.request.start_date ).format( DATE_FORMAT );
            },
            /**
             * Formats request end date.
             * @returns {String} formated date string.
             */
            to() {
                return moment( this.request.end_date ).format( DATE_FORMAT );
            }
        },
        methods: {
            /**
             * Cancel request
             */
            cancelRequest() {
                this.isCancelingRequest = true;
                this.$modal.confirm({
                    type: 'danger',
                    title: 'Cancel request',
                    cancelText: 'Cancel',
                    okText: 'Cancel request',
                    content: 'Are you sure you want to cancel this request?',
                    onOk: () => {
                        employeeRequestService.cancelRequest({
                            id: this.request.request.id,
                            employee_id: this.request.employee_id,
                            dates: {
                                start_date: this.request.start_date,
                                end_date: this.request.end_date,
                                date: null
                            },
                            status: this.request.status
                        })
                        .then( ( request ) => {
                            this.request.status = request.status;
                            this.isCancelingRequest = false;
                            this.$flashMessage.show( 'You canceled the request', 'success' );
                        }).catch( ( error ) => {
                            const { response } = error;
                            this.$flashMessage.show( get( response, 'data.message', error.message ), 'error' );
                            this.isCancelingRequest = false;
                        });
                    },
                    onCancel: () => { this.isCancelingRequest = false; }
                });
            }
        }
    };
</script>

<style lang="scss" scoped>
    .sl-c-request-details {
        margin-top: $sl-gutter-lg;
        margin-bottom: $sl-gutter;
    }
</style>
