<template>
    <div class="sl-c-request-details">
        <sal-card>
            <template slot="header">
                <h4 class="sl-c-card__title">
                    {{ request.owner.name }}
                </h4>
            </template>

            <template slot="actions">
                <span class="sl-c-label" :class="statusClass">
                    <i class="fa fa-info sl-u-gap-right--sm" :class="statusIcon"></i>
                    {{ request.status }}
                </span>
            </template>

            <div class="sl-c-grid sl-c-grid--twos">
                <div>
                    <i class="fa fa-calendar-o sl-u-text--disabled"></i> From:<br> {{ from }}
                </div>
                <div>
                    <i class="fa fa-calendar-o sl-u-text--disabled"></i> To:<br> {{ to }}
                </div>
            </div>

            <sal-undertime-details class="sl-u-gap-top" v-if="request" :undertime="request" />

            <sal-button-mobile
                v-if="isRequestCancelable"
                id="removeRequest"
                type="primary"
                outlined
                class="sl-c-btn--block"
                :onClick="cancelRequest"
                :disabled="isCancelingRequest"
            >
                Cancel request
            </sal-button-mobile>

        </sal-card>

        <div>
            Request trail
        </div>

        <sal-request-trail
            :activities="request && request.activities"
            requestName="Undertime"
        />
    </div>
</template>

<script>
    import moment from 'moment';
    import { REQUEST_STATUSES, DATE_FORMAT } from '@/constants/employee-request';
    import { employeeRequestService } from '@/utils/services/EmployeeRequestService';
    import { get } from 'lodash-es';

    export default {
        props: {
            request: {
                type: Object,
                required: true
            }
        },

        data() {
            return {
                isCancelingRequest: false
            };
        },

        computed: {
            /**
             * Returns request status
             * @returns {String} status
             */
            status() {
                return this.request.status;
            },

            /**
             * Format request start date.
             * @returns {String}
             */
            from() {
                return moment( this.request.date ).format( DATE_FORMAT );
            },

            /**
             * Format request end date.
             * @returns {String}
             */
            to() {
                return moment( this.request.date ).format( DATE_FORMAT );
            },

            /**
             * Check if request status is pending
             *
             * @return boolean
             */
            isStatusPending() {
                return this.status === REQUEST_STATUSES.pending;
            },

            /**
             * Sets icon for status field label
             * @returns String css class name
             */
            statusIcon() {
                return {
                    'fa-times sl-u-text': this.status === REQUEST_STATUSES.declined || this.status === REQUEST_STATUSES.cancelled,
                    'fa-check sl-u-text': this.status === REQUEST_STATUSES.approved
                };
            },

            /**
             * Sets class for status field
             * @returns {String} css class name
             */
            statusClass() {
                return {
                    'sl-c-label--danger': this.status === REQUEST_STATUSES.declined || this.status === REQUEST_STATUSES.cancelled,
                    'sl-c-label--success': this.status === REQUEST_STATUSES.approved
                };
            },

            /**
             * Check if request status is pending or approved
             *
             * @return boolean
             */
            isRequestCancelable() {
                return [ REQUEST_STATUSES.pending, REQUEST_STATUSES.approved ].includes( this.status );
            }
        },
        methods: {
            /**
             * Cancel request
             */
            cancelRequest() {
                this.isCancelingRequest = true;
                this.$modal.confirm({
                    type: 'danger',
                    title: 'Cancel request',
                    cancelText: 'Cancel',
                    okText: 'Cancel request',
                    content: 'Are you sure you want to cancel this request?',
                    onOk: () => {
                        employeeRequestService.cancelRequest({
                            id: this.request.request.id,
                            employee_id: this.request.employee_id,
                            dates: {
                                start_date: null,
                                end_date: null,
                                date: this.request.date
                            },
                            status: this.request.status
                        })
                        .then( ( request ) => {
                            this.request.status = request.status;
                            this.isCancelingRequest = false;
                            this.$flashMessage.show( 'You canceled the request', 'success' );
                        }).catch( ( error ) => {
                            const { response } = error;
                            this.$flashMessage.show( get( response, 'data.message', error.message ), 'error' );
                            this.isCancelingRequest = false;
                        });
                    },
                    onCancel: () => { this.isCancelingRequest = false; }
                });
            }
        }
    };
</script>

<style lang="scss" scoped>
    .sl-c-request-details {
        margin-top: $sl-gutter-lg;
        margin-bottom: $sl-gutter;
    }
</style>
