<template >
    <div class="sl-c-message-item sl-c-media sl-c-message-item--reply">
        <div class="sl-c-media__object">
            <img src="https://placehold.it/50x50" alt="" class="sl-u-img--round">
        </div>
        <div class="sl-c-media__body">
            <p class="sl-u-text--disabled">{{ formatedMessageHeading }}</p>
            <div class="sl-c-message-cloud">
                {{ message }}
            </div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment';
    import { MESSAGE_DATETIME_FORMAT } from '@/constants/employee-request';

    export default {
        name: 'sal-message',

        props: {
            message: String
        },

        computed: {
            /**
             * Formats message author name and datetime heading.
             * @returns {String}
             */
            formatedMessageHeading() {
                return `You ${moment().format( MESSAGE_DATETIME_FORMAT )}`;
            }
        }
    };
</script>

<style lang="scss" scoped>
    .sl-c-message-item {
        align-items: flex-end;
        margin-bottom: $sl-gutter;
    }

    .sl-c-message-item--reply {
        flex-direction: row-reverse;

        .sl-c-media__object {
            margin-right: 0;
            margin-left: $sl-gutter;
        }

        .sl-c-media__body {
            text-align: right;
        }
    }

    .sl-c-message-cloud {
        position: relative;
        padding: $sl-gutter-sm;
        border: 1px solid $sl-color-silver;
        word-break: break-all;

        &:before,
        &:after {
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            content: '';
        }

        &:before {
            top: 0px;
            left: -10px;
            z-index: 2;
            border-width: 0 10px 5px 0;
            border-color: transparent $sl-color-white transparent transparent;
        }

        &:after {
            top: -1px;
            left: -12px;
            z-index: 1;
            border-width: 0 12px 7px 0;
            border-color: transparent $sl-color-silver transparent transparent;
        }

        .sl-c-message-item--reply & {
            &:before {
                right: -10px;
                left: auto;
                z-index: 2;
                border-width: 0px 0 5px 10px;
                border-color: transparent transparent transparent $sl-color-white;
            }

            &:after {
                right: -12px;
                left: auto;
                z-index: 1;
                border-width: 0 0 7px 12px;
                border-color: transparent transparent transparent $sl-color-silver;
            }
        }
    }
</style>
