<template>
    <div class="sl-c-messages">
        <!-- messages feed component -->
        <div class="sl-c-message-feed">
            <div v-for="( message, index ) in messages" :key="index">
                <sal-initial-message v-if="message" :message="message" />
            </div>
        </div>

        <sal-message-input @send-message="sendMessage" :isInitialMessage="true" />
    </div>
</template>

<script>
export default {
    name: 'sal-initial-messages-feed',
    props: {
        requestMessages: Array
    },

    computed: {
        /**
         * returns requestMessages from props.
         * @returns {Array}
         */
        messages() {
            return this.requestMessages;
        }
    },

    methods: {
        /**
         * Emits  send-message event and parses message through event.
         * @param Object message
         */
        sendMessage( message ) {
            this.$emit( 'send-message', message );
        }
    }
};
</script>

<style lang="scss" scoped>
    .sl-c-messages {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        height: calc(100vh - 10.2rem);
    }
    .sl-c-message-feed {
        margin-top: $sl-gutter-lg;
        margin-bottom: $sl-gutter;
        overflow-y: auto;
    }
</style>
