<template>
    <section class="sl-c-section sl-c-section--white" v-if="loading || approvals.length > 0">
        <div class="sl-c-section__header">
            <h4 class="sl-c-section__title">
                <span class="sl-c-count" v-show="totalCount">{{ totalCount }}</span>
                Requests For Approval
            </h4>
        </div>

        <div class="sl-c-section__body">
            <div v-if="loading">
                Loading...
            </div>
            <div class="sl-c-grid sl-c-grid--twos" v-else v-for="(item, index) in approvals" :key="index">
                <div>
                    {{ item.params.owner.name }}
                </div>
                <div class="sl-u-text--disabled">
                    {{ getRequestName( item ) }}
                </div>
            </div>
        </div>

        <div class="sl-c-section__footer">
            <router-link :to="{ name: 'approvals.index' }">
                <strong>
                    View all requests for approval
                    <i class="fa fa-arrow-circle-right"></i>
                </strong>
            </router-link>
        </div>
    </section>
</template>

<script>
    import { employeeRequestService } from '@/utils/services/EmployeeRequestService';
    import { getRequestName } from '@/utils/employeeRequests';

    export default {
        name: 'sal-approvals-mobile',

        data() {
            return {
                approvals: [],
                loading: false,
                totalCount: 0
            };
        },

        created() {
            this.getApprovals();
        },

        methods: {
            /**
             * Fetch approvals using service.
             * @return {Promise}
             */
            getApprovals() {
                this.loading = true;
                this.$emit( 'loading', this.loading );

                return employeeRequestService
                    .getEmployeeApprovals( 1, { statuses: ['pending']})
                    .then( ( approvals ) => {
                        this.approvals = approvals.data;
                        this.totalCount = approvals.meta.pagination.total;
                    })
                    .finally( () => {
                        this.loading = false;
                        this.$emit( 'loading', this.loading );
                    });
            },

            getRequestName
        }
    };
</script>

<style lang="scss" scoped>
    .sl-c-count {
        background-color: $sl-color-blue;
        color: $sl-color-white;
        padding-left: $sl-gutter-xs;
        padding-right: $sl-gutter-xs;
    }
</style>
