<template>
    <section class="sl-c-section sl-c-section--white">
        <div class="sl-c-section__body">
            <sal-calendar-mobile @loading="onLoading"/>
        </div>

        <div class="sl-c-section__footer">
            <router-link :to="{ name: 'calendar' }">
                <strong>
                    Go to Calendar
                    <i class="fa fa-arrow-circle-right"></i>
                </strong>
            </router-link>
        </div>
    </section>
</template>

<script>
    import Calendar from '@/components/mobile/calendar/Calendar';

    export default {
        name: 'sal-calendar-widget-mobile',

        components: {
            'sal-calendar-mobile': Calendar
        },

        methods: {
            onLoading( loading ) {
                this.$emit( 'loading', loading );
            }
        }
    };
</script>
