<template>
    <section class="sl-c-section sl-c-section--white">
        <div class="sl-c-section__header">
            <h4 class="sl-c-section__title">
                <i class="fa fa-file sl-u-text--disabled"></i>
                My filed requests
            </h4>

            <div class="sl-c-actions">
                <router-link :to="{name: 'requests.leave-request.add'}"
                    class="sl-c-icon-circle sl-c-icon-circle--sm sl-c-icon-circle--primary">
                    <i class="fa fa-plus sl-u-text--base"></i>
                </router-link>
            </div>
        </div>

        <div class="sl-c-section__body">
            <div class="sl-c-grid sl-c-grid--twos"
                v-for="(item, index) in requests"
                :key="index">
                <div>
                    <router-link :to="getRequestDetailsRoute( item )">
                        <i :class="icon( item )"></i>
                        {{ getRequestName( item ) }}
                    </router-link>
                </div>
                <div>
                    <span :class="color( item )">
                        {{ item.status }}
                    </span>
                </div>
            </div>
            <div class="sl-u-text--center" v-if="!requests.length">
                <p class="sl-u-text--disabled">There are no requests made yet.</p>
                <router-link :to="{name: 'requests.leave-request.add'}">
                    <strong>
                        File a Request
                    </strong>
                </router-link>
            </div>
        </div>

        <div class="sl-c-section__footer">
            <router-link :to="{name: 'requests.index'}">
                <strong>
                    View all requests
                    <i class="fa fa-arrow-circle-right"></i>
                </strong>
            </router-link>
        </div>
    </section>
</template>

<script>
    import { employeeRequestService } from '@/utils/services/EmployeeRequestService';
    import { REQUEST_STATUS_DATA } from '@/constants/employee-request';
    import { getRequestDetailsRoute, getRequestName } from '@/utils/employeeRequests';

    export default {
        name: 'sal-filed-requests',

        data() {
            return {
                requests: []
            };
        },

        created() {
            this.fetchData();
        },

        methods: {
            fetchData() {
                this.$emit( 'loading', true );

                return employeeRequestService
                    .getEmployeeRequests( 1 )
                    .then( ( response ) => {
                        this.requests = response.data;
                        this.$emit( 'loading', false );
                    })
                    .catch( () => {
                        this.requests = [];
                        this.$emit( 'loading', false );
                    });
            },

            /**
             * Get icon class depends on status code
             */
            icon( request ) {
                const icon = REQUEST_STATUS_DATA[ request.status ].icon;
                const color = this.color( request );

                return `${icon} ${color}`;
            },

            /**
             * Get color class depends on status code
             */
            color( request ) {
                return REQUEST_STATUS_DATA[ request.status ].color;
            },

            getRequestDetailsRoute,

            getRequestName
        }
    };
</script>
