<template>
    <div class="sl-l-page">
        <div class="sl-l-app-body">
            <div class="sl-c-page__content">
                <sal-calendar-mobile @loading="onLoading"/>
            </div>
        </div>
    </div>
</template>

<script>
    import Calendar from '@/components/mobile/calendar/Calendar';

    export default {
        components: {
            'sal-calendar-mobile': Calendar
        },
        methods: {
            onLoading( loading ) {
                if ( loading ) {
                    return this.$loader.show();
                }

                return this.$loader.hide();
            }
        }
    };
</script>

<style lang="scss">
    @import "~fullcalendar/dist/fullcalendar.css";

    .fc-header-toolbar {
        display: grid;
        grid-template-columns: 6rem 1fr 5rem;
        grid-column-gap: $sl-gutter-sm;
        grid-row-gap: $sl-gutter;
        grid-template-areas: "arrows name name"
                             "range range range";

        h2 {
            font-size: 1rem;
        }

        .fc-left {
            grid-area: arrows;
        }

        .fc-right {
            grid-area: name;
            display: grid;
            grid-template-columns: 1fr 5rem;
            grid-column-gap: $sl-gutter-sm;
        }

        .fc-center {
            grid-area: range;
            text-align: center;

            .fc-button-group {
                display: flex;
                width: 100%;

                > * {
                    flex-grow: 1;
                }
            }
        }

        .fc-state-default {
            background-color: $sl-color-white;
            background-image: none;
            box-shadow: none;
            text-shadow: none;
            border-color: $sl-color-grey;

            &.fc-state-active {
                color: $sl-color-white;
                background-color: $sl-color-blue;
            }
        }
    }

    .fc-head-container {
        .fc-day-header {
            padding: $sl-gutter-sm 0;
        }
    }

    .fc-day-grid-container {
        height: auto !important;
    }

    .fc-event-month {
        background-color: transparent;
        border: none;
        text-align: right;

        .fc-content-month {
            display: inline-block;
            width: 5px;
            height: 5px;
            margin-left: $sl-gutter-xs;
            background-color: $sl-color-grey;
            border-radius: $sl-radius-round;
        }
    }

    .fc-state-highlight {
        background: $sl-color-lightblue;
    }
</style>
