<template>
    <div class="sl-c-grid sl-c-grid--twos sl-u-gap-top--sm">
        <div :class="{ 'sl-is-disabled': isTimeRecordActive }">
            <sal-select-mobile
                :options="hoursWork.availableTimeTypes"
                :disabled="isTimeRecordActive"
                id="time-clock"
                class="sl-c-form-control--slim"
                v-model="hoursWork.type"
            />
        </div>

        <div class="sl-c-input-group sl-c-input-group--empty">
            <flat-pickr
                v-model="hoursWork.time"
                :config="config"
                :disabled="isTimeRecordActive"
                class="sl-c-form-control sl-c-form-control--slim sl-c-form-control--inline"
            />
            <div class="sl-c-input-group__addon">
                <i class="fa fa-clock-o"></i>
            </div>
            <i @click="removeHoursWork" class="fa fa-lg fa-minus-circle sl-u-text--danger sl-u-gap-left--sm"></i>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            defaultHoursWork: String,
            isTimeRecordActive: Boolean,
            hoursWork: Object
        },

        data() {
            return {
                config: {
                    disableMobile: true,
                    noCalendar: true,
                    enableTime: true,
                    dateFormat: 'H:i',
                    minuteIncrement: 1,
                    time_24hr: true
                }
            };
        },

        computed: {
            type() {
                return this.hoursWork.type;
            }
        },

        watch: {
            type( newType, oldType ) {
                if ( !this.hoursWork.type || newType === oldType ) return;
                this.$emit( 'change-hours-work-type', oldType );
            }
        },

        methods: {
            removeHoursWork() {
                this.$emit( 'remove-hours-work', this.hoursWork.type );
            }
        }
    };
</script>

<style lang="scss" scoped>
    .sl-c-form-control--inline {
        width: 6rem;
    }
</style>
