<template>
    <div>
        <header class="sl-c-page__header">
            <h1 class="sl-c-page__title">File a Leave Request</h1>
        </header>
        <div class="sl-c-calendar-overlay">
            <section class="sl-c-section">
                <div class="sl-c-section__body">
                    <div class="sl-c-panel">
                        <sal-add-leave-request-details :leaveCredits="leaveCredits" />
                    </div>
                    <div class="sl-c-panel__body">
                        <sal-add-request-details
                            v-if="pendingLeaveRequests && pendingLeaveRequests.length"
                            :requests="pendingLeaveRequests"
                            type="Leave"
                        />
                    </div>
                    <div class="sl-c-panel__header sl-u-gap-top--lg"
                        @click="toggleFirstStepForm"
                        :class="{'sl-u-has-border--bottom': !firstStepFormIsVisible}"
                    >
                        <h4 class="sl-c-panel__title">
                            <span class="sl-c-badge sl-c-badge--circle sl-u-gap-right">1</span>
                            Choose a leave type and date
                        </h4>
                        <div class="sl-c-actions">
                            <i class="fa sl-u-text--primary" :class="firstStepArrowClass" />
                        </div>
                    </div>
                    <div v-show="firstStepFormIsVisible">
                        <sal-select-mobile
                            id="selectType"
                            class="sl-u-gap-top"
                            label="* Leave type"
                            :options="leaveTypes"
                            v-model="selectedLeaveTypeIdAndUnit"
                            placeholder="Choose a leave type"
                        />

                        <sal-datepicker v-model="dateFrom" class="sl-u-gap-top" label="* Start date" />

                        <sal-datepicker v-model="dateTo" class="sl-u-gap-top" label="* End date" />

                        <sal-file-upload
                            @filesUploaded="storeUploadedFiles"
                            @remove-file="removeUploadedFile"
                            accept="fileTypes"
                        />
                    </div>
                    <h4 class="sl-u-gap-top">
                        <span class="sl-c-badge sl-c-badge--circle sl-u-gap-right">2</span>
                        Leave Details
                    </h4>
                    <div v-if="firstStepCompleted">
                        <p class="sl-u-gap-top" v-if="hasFilteredShifts">
                            Below are the shifts assigned to you. Select which shift you'd like to file a leave for.
                        </p>
                        <p class="sl-u-gap-top" v-else>
                            There are no shifts assigned to you!
                        </p>
                    </div>


                    <div v-for="( shifts, date ) in filteredShifts"
                        :key="date"
                        class="sl-u-gap-top"
                    >
                        {{ date | moment }}

                        <div v-for="( shift, index ) in shifts" :key="index">
                            <div class="sl-u-gap-top--sm sl-c-panel sl-c-panel--default">
                                <div class="sl-c-panel__header">
                                    <div class="sl-c-media">
                                        <div class="sl-c-media__object" @click="selectShift( shift )">
                                            <i class="fa fa-check-circle fa-lg sl-u-text--disabled" :class="[shift.selected ? 'sl-u-text--success' : 'sl-u-text--disabled']" />
                                        </div>

                                        <div class="sl-c-media__body" @click="toggleExpandShift( shift )">
                                            <h5 class="sl-c-panel__title">
                                                {{ shift.schedule.name }} ({{ shift.schedule.start_time }} to {{ shift.schedule.end_time }})
                                            </h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="sl-c-panel__body" v-if="shift.expanded">
                                    <div class="sl-c-form-group">
                                        <label class="sl-c-control-label">* Leave start time</label>
                                        <flat-pickr
                                            v-model="shift.start"
                                            :config="timeConfig"
                                            @input="(value) => handleShiftTimeRangeChangeCalculation(date, value, shift, true)"
                                            class="sl-c-form-control"
                                        />
                                    </div>
                                    <div class="sl-c-form-group">
                                        <label class="sl-c-control-label">* Leave end time</label>
                                        <flat-pickr
                                            v-model="shift.end"
                                            :config="timeConfig"
                                            @input="(value) => handleShiftTimeRangeChangeCalculation(date, value, shift)"
                                            class="sl-c-form-control"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sl-u-gap-top sl-c-panel sl-c-panel--default">
                            <div class="sl-c-panel__header">
                                <span>Leave Units Used:</span>
                                <span class="sl-c-panel__actions">
                                    <strong>{{ calculatedLeaveValue[date] || '0.00' }} {{selectedLeaveType.unit}}</strong>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sl-c-section__footer sl-c-block-btns">
                    <sal-button-mobile
                        id="cancel-request"
                        label="Cancel"
                        size="sm"
                        type="primary"
                        outlined
                        buttonType="button"
                        :onClick="cancel"
                    />
                    <sal-button-mobile
                        id="submit-request"
                        label="Submit"
                        size="sm"
                        type="primary"
                        buttonType="submit"
                        :onClick="submitLeaveRequest"
                        :disabled="!selectedLeaves.length"
                    />
                </div>
            </section>
        </div>
    </div>
</template>

<script>
    import moment from 'moment';
    import { map, findIndex, find, isEmpty, flatMap, has, isEqual } from 'lodash-es';
    import { shiftsService } from '@/utils/services/ShiftsService';
    import { leaveRequestsService } from '@/utils/services/LeaveRequestsService';
    import { employeeRequestService } from '@/utils/services/EmployeeRequestService';
    import { auth } from '@/utils/Authentication';
    import { FILE_TYPES, DATE_FORMAT, DEFAULT_DATE_FORMAT } from '@/constants/employee-request';
    import AddLeaveRequestForm from '@/components/mobile/requests/AddLeaveRequestForm';
    import requestForm from '@/mixins/requestForm';
    import addRequest from '@/mixins/addRequest';

    export default {
        mixins: [
            requestForm,
            addRequest
        ],

        components: {
            AddLeaveRequestForm
        },

        data() {
            return {
                dateFrom: this.setDateFrom(),
                dateTo: null,
                dateConfig: {
                    disableMobile: true,
                    dateFormat: 'M d, Y'
                },
                timeConfig: {
                    disableMobile: true,
                    noCalendar: true,
                    enableTime: true,
                    dateFormat: 'H:i',
                    time_24hr: true
                },
                filteredDates: {},
                leaveTypes: [],
                selectedLeaveTypeIdAndUnit: null,
                leaveCredits: [],
                pendingLeaveRequests: [],
                parsedShifts: {},
                firstStepFormIsVisible: true,
                fileTypes: FILE_TYPES,
                uploadedFiles: [],
                employee: {},
                defaultScheduleData: {},
                selectedLeaves: [],
                calculatedLeaveValue: {},
                shifts: {}
            };
        },
        computed: {
            /**
             * Checks are filtered shifts defined.
             *
             * @returns {Boolean}
             */
            hasFilteredShifts() {
                console.log( 'hasFilteredShifts' );
                console.log( 'this.filteredShifts' );
                console.log( this.filteredShifts );
                console.log( 'Object.keys( this.filteredShifts ).length' );
                console.log( Object.keys( this.filteredShifts ).length );
                return !!( this.filteredShifts && Object.keys( this.filteredShifts ).length );
            },

            /**
             * Check are leaves selected.
             *
             * @returns {Boolean}
             */
            hasSelectedLeaves() {
                return !!( this.selectedLeaves && Object.keys( this.selectedLeaves ).length );
            },

            /**
             * Check if first part of the form is filled.
             *
             * @return {Boolean}
             */
            firstPartFilled() {
                return this.dateFrom && this.dateTo && this.selectedLeaveTypeIdAndUnit;
            },

            /**
             * Filtered shifts by date range from first part.
             *
             * @return {Object}
             */
            filteredShifts() {
                console.log( 'filteredShifts' );
                if ( !this.firstPartFilled ) {
                    return {};
                }
                console.log( 'after firstPartFilled' );
                const filteredShifts = {};

                Object.keys( this.parsedShifts ).forEach( ( date ) => {
                    console.log( 'this.dateFrom' );
                    console.log( this.dateFrom );
                    console.log( 'this.dateTo' );
                    console.log( this.dateTo );
                    console.log( 'every shift' );
                    console.log( this.parsedShifts[ date ]);
                    console.log( this.parsedShifts[ date ][ 0 ].shift_id );
                    console.log( 'this.shifts' );
                    console.log( this.shifts );
                    console.log( 'before test' );
                    console.log( Object.values( this.shifts ) );
                    // console.log( Object.values( this.shifts[ 4 ]).indexOf( 'shift_id' ) );
                    // console.log( Object.values( this.shifts[ 4 ]).indexOf( 'id' ) );
                    console.log( Object.values( this.shifts[ 4 ]).indexOf( this.parsedShifts[ date ][ 0 ].shift_id ) );
                    console.log( Object.values( this.shifts ).indexOf( 991853 ) );
                    console.log( typeof this.shifts );
                    // this.parsedShifts[ date ].every( ( shift ) =>
                        // Object.values( this.shifts ).every( ( shifts ) =>
                        // console.log( shifts.indexOf( 'shift_id' ) === shift.shift_id )
                        // console.log( shift.shift_id )
                        // console.log( !Object.values( this.shifts ).indexOf( shift.shift_id ) > -1 )
                        // console.log( Object.values( this.shifts ).indexOf( shift.shift_id ) )
                        // )
                    // );
                    console.log( 'after test' );
                    const hasShift = this.shifts.every( ( item ) =>
                        Object.values( item ).indexOf( this.parsedShifts[ date ][ 0 ].shift_id )
                    );
                    console.log( 'hasShift' );
                    console.log( hasShift );
                    // const isNotRestDay = this.parsedShifts[ date ].every( ( shift ) =>
                    //    !has( shift, 'day_type' ) || shift.day_type !== 'rest_day' ||
                    //    hasShift > -1
                    // );

                    const isNotRestDay = this.parsedShifts[ date ].some( ( shift ) =>
                        !has( shift, 'day_type' ) || shift.day_type !== 'rest_day'
                    );

                    console.log( 'date' );
                    console.log( date );
                    console.log( 'this.isDateInRange( date )' );
                    console.log( this.isDateInRange( date ) );
                    console.log( 'isNotRestDay' );
                    console.log( isNotRestDay );
                    if ( this.isDateInRange( date ) && isNotRestDay ) {
                        console.log( 'in this.isDateInRange( date ) && isNotRestDay' );
                        filteredShifts[ date ] = this.parsedShifts[ date ];
                    }
                });

                const currentDate = moment( this.dateFrom, 'MMM DD, YYYY' );

                for (
                    currentDate;
                    currentDate.isSameOrBefore( moment( this.dateTo, 'MMM DD, YYYY' ) );
                    currentDate.add( 1, 'day' )
                ) {
                    const formattedDate = currentDate.format( DEFAULT_DATE_FORMAT );
                    // console.log( 'isEmpty( filteredShifts[ formattedDate ]) && !has( this.parsedShifts, formattedDate )' );
                    if ( isEmpty( filteredShifts[ formattedDate ]) && !has( this.parsedShifts, formattedDate ) ) {
                        const defaultScheduleForDate = this.getDefaultScheduleForDate( formattedDate );
                        // console.log( 'in isEmpty( filteredShifts[ formattedDate ]) && !has( this.parsedShifts, formattedDate )' );
                        if ( defaultScheduleForDate && defaultScheduleForDate.day_type !== 'rest_day' ) {
                            filteredShifts[ formattedDate ] = [
                                shiftsService.parseDefaultScheduleForDisplay(
                                    defaultScheduleForDate,
                                    formattedDate,
                                    false,
                                    true
                                )
                            ];
                        }
                    }
                }
                console.log( 'filteredShifts' );
                console.log( filteredShifts );
                return shiftsService.sortObjectByKey( filteredShifts );
            },

            /**
             * Checks is first step completed.
             *
             * @returns {String}
             */
            firstStepCompleted() {
                return this.leaveTypes.length && this.dateFrom && this.dateTo;
            },

            /**
             * Gets selected leave type.
             *
             * @returns {Object}
             */
            selectedLeaveType() {
                return find( this.leaveTypes, { value: this.selectedLeaveTypeIdAndUnit });
            }
        },

        watch: {
            /**
             * If first part form if filled emits event.
             */
            firstPartFilled( newVal ) {
                if ( newVal ) {
                    this.firstStepFormIsVisible = false;
                    this.$emit( 'first-part-filled' );
                }
            },

            filteredShifts( newVal, oldVal ) {
                if ( newVal && !isEqual( newVal, oldVal ) ) {
                    this.updateSelectedLeaves();
                }
            },

            selectedLeaveType( newVal, oldVal ) {
                if ( newVal && !isEqual( newVal, oldVal ) ) {
                    this.updateSelectedLeaves();
                }
            }
        },

        created() {
            this.fetchData();
        },

        methods: {
            /**
             * Fetches all required data
             */
            fetchData() {
                this.$loader.show();

                Promise.all([
                    this.getLeaveCredits(),
                    this.getShiftsAndUserDefinedRestDays(),
                    this.getLeaveTypes(),
                    this.getPendingRequests( 'leaves', this.getPendingLeaveRequests ),
                    this.fetchUser()
                ]).finally( () => {
                    this.$loader.hide();
                });
            },

            /**
             * Handles shift time range change and calculates leave value accordingly.
             *
             * @param {String} date
             * @param {String} value
             * @param {Object} shift
             * @param {Boolean} isShiftStartTime
             */
            handleShiftTimeRangeChangeCalculation( date, value, shift, isShiftStartTime = false ) {
                const formatedDate = moment( date ).format( DEFAULT_DATE_FORMAT );
                const shiftTimeKey = isShiftStartTime ? 'start' : 'end';

                this.$set( shift, shiftTimeKey, value );

                if ( !this.isLeaveDateIncludedInSelectedLeaves( formatedDate ) ) {
                    return;
                }

                this.handleFiledLeaveTotalValueCalculation( formatedDate );
                this.$forceUpdate();
            },

            /**
             * Check is leave date included in selected leave.
             *
             * @param {String} date
             *
             * @returns {Boolean}
             */
            isLeaveDateIncludedInSelectedLeaves( date ) {
                return find(
                    this.selectedLeaves, ( selectedLeave ) => moment( selectedLeave.date ).isSame( date, 'day' )
                );
            },

            /**
             * Fetches user informations
             *
             * @returns {Promise}
             */
            fetchUser() {
                const employee = auth.getUser().employee;

                if ( employee ) {
                    this.employee = employee;
                    return this.fetchDefaultScheduleForCompany();
                }

                return [];
            },

            /**
             * Handles filedLeave total value calculation.
             *
             * @param {String} date
             */
            handleFiledLeaveTotalValueCalculation( date ) {
                this.calculatedLeaveValue[ date ] = leaveRequestsService.handleFiledLeaveTotalValueCalculation({
                    filteredLeavesByDate: this.getFilteredSelectedLeavesByDate( date ),
                    unit: this.selectedLeaveType.unit,
                    employee: this.employee
                });
            },

            /**
             * Fetches companies default schedule.
             *
             * @returns {Promise}
             */
            fetchDefaultScheduleForCompany() {
                return shiftsService.fetchDefaultScheduleForCompany( this.employee.company_id )
                    .then( ( response ) => {
                        this.defaultScheduleData = response;
                    });
            },

            /**
             * Get Default ScheduleForDate.
             *
             * @returns {Object}
             */
            getDefaultScheduleForDate( date ) {
                return shiftsService.getDefaultScheduleForDate({ defaultScheduleData: this.defaultScheduleData }, date );
            },

            /**
             * Filter selectedLeaves by parsed date.
             *
             * @param {String} date
             *
             * @returns {Array} filteredSelectedLeaves
             */
            getFilteredSelectedLeavesByDate( date ) {
                return this.filteredShifts[ date ].filter(
                    ( shift ) => shift && moment( date ).isSame( shift.date, 'day' ) && shift.selected
                );
            },

            /**
             * Toggles first step section.
             */
            toggleFirstStepForm() {
                if ( !this.firstPartFilled ) {
                    return;
                }

                this.firstStepFormIsVisible = !this.firstStepFormIsVisible;
            },

            /**
             * Sets dateFrom to selectedDate if parsed.
             *
             * @returns {Object}
             */
            setDateFrom() {
                return this.$route.query.selectedDate
                    ? moment( this.$route.query.selectedDate ).toDate()
                    : null;
            },

            /**
             * Stores uploaded files to array.
             *
             * @param {Object}
             */
            storeUploadedFiles( files ) {
                this.uploadedFiles.unshift( files );
            },

            /**
             * Get employee's leave credits.
             *
             * @returns {Promise}
             */
            getLeaveCredits() {
                return leaveRequestsService.getLeaveCredits().then( ( leaveCredits ) => {
                    this.leaveCredits = leaveCredits.data;
                });
            },

            /**
             * Gets the shifts and user defined rest days.
             *
             * @returns {Promise}
             */
            async getShiftsAndUserDefinedRestDays() {
                try {
                    const [ shifts, userDefinedRestDays ] = await Promise.all([
                        shiftsService.getEmployeeShifts(),
                        employeeRequestService.getEmployeeRestDays()
                    ]);

                    this.parsedShifts = shiftsService.parseShifts([ ...shifts, ...userDefinedRestDays ], true );
                    this.shifts = shifts;
                    console.log( 'shifts' );
                    console.log( shifts );
                    console.log( 'parsedShifts' );
                    console.log( this.parsedShifts );
                    console.log( 'userDefinedRestDays' );
                    console.log( userDefinedRestDays );
                    return Promise.resolve( 'ok' );
                } catch ( error ) {
                    return Promise.reject( error );
                }
            },

            /**
             * Gets the leave types.
             *
             * @returns {Promise}
             */
            getLeaveTypes() {
                return leaveRequestsService.getLeaveTypes().then( ( leaveTypes ) => {
                    this.leaveTypes = flatMap( leaveTypes, 'selectable_leave_types' );
                });
            },

            /**
             * Gets the pending requests.
             * @param {Array} requests
             */
            getPendingLeaveRequests( requests ) {
                this.pendingLeaveRequests = requests.data;
            },

            /**
             * Determines if date is in range.
             *
             * @param {String} date
             *
             * @return {boolean} True if date in range, False otherwise.
             */
            isDateInRange( date ) {
                return moment( date ).isSameOrBefore( moment( this.dateTo, 'MMM DD, YYYY' ) )
                    && moment( date ).isSameOrAfter( moment( this.dateFrom, 'MMM DD, YYYY' ) );
            },

            /**
             * Select shift for which we're requesting leave.
             *
             * @param {Object} shift
             */
            selectShift( shift ) {
                shift.selected = !shift.selected;
                this.calculatedLeaveValue = {};

                this.setSelectedLeaves();
                this.calculateTotalLeaveValueForSelectedLeaves();

                this.$forceUpdate();
            },

            /**
             * Expand shift time to change it.
             * @param {Object} shift
             */
            toggleExpandShift( shift ) {
                shift.expanded = !shift.expanded;
                this.$forceUpdate();
            },

            /**
             * Submit Leave Request Data.
             * Emits submit leave request event.
             */
            async submitLeaveRequest() {
                if ( !this.validateData() || !this.validateTimes() || !this.selectedLeaves.length ) {
                    this.$flashMessage.show( 'Invalid Time Record', 'error' );
                    return;
                }

                this.$loader.show();

                const data = {
                    leave_type_id: this.selectedLeaveType.id,
                    start_date: moment( this.dateFrom, 'MMM DD, YYYY' ).format( 'Y-MM-DD' ),
                    end_date: moment( this.dateTo, 'MMM DD, YYYY' ).format( 'Y-MM-DD' ),
                    unit: this.selectedLeaveType.unit,
                    leaves: this.getSelectedLeaves()
                };

                if ( this.uploadedFiles.length ) {
                    data.attachments_ids = this.mapAttachmentIds();
                }

                this.$emit( 'submit', data );
            },

            /**
             * Map attachment Ids.
             *
             * @returns {Array} ids
             */
            mapAttachmentIds() {
                return map( this.uploadedFiles, 'id' );
            },

            /**
             * Cancels leave request and redirect to requests
             */
            cancel() {
                this.$modal.confirm({
                    type: 'danger',
                    title: 'Discard changes',
                    cancelText: 'Stay on this page',
                    okText: 'Discard',
                    content: 'You are about to leave page with unsaved changes. Do you wish to proceed?',
                    onOk: () => {
                        this.$router.push({ name: 'requests.index' });
                    }
                });
            },

            /**
             * Check if Leave Type Id and Schedule are selected.
             *
             * @return {Boolean} True if Leave Type Id and Schedule are selected, False otherwise
             */
            validateData() {
                return this.selectedLeaveType.id;
            },

            /**
             * Validate times for leaves so they are in bounds of schedules.
             *
             * @return {Boolean}
             */
            validateTimes() {
                return !this.selectedLeaves.filter( ( shift ) => !this.validateTime( shift ) ).length;
            },

            /**
             * Check if selected leave time is in range of selected Schedule time
             *
             * @param {Object} shift
             *
             * @return {Boolean}
             */
            validateTime( shift ) {
                return leaveRequestsService.isLeaveTimeBetweenScheduleTimeRange( shift );
            },

            /**
             * Removes uploaded file.
             * @param {Number} fileId id of file to be removed.
             */
            removeUploadedFile( fileId ) {
                if ( !fileId ) return;

                const index = findIndex( this.uploadedFiles, { id: fileId });
                this.uploadedFiles.splice( index, 1 );
            },

            /**
             * Set Selected Leaves.
             */
            setSelectedLeaves() {
                this.calculatedLeaveValue = {};
                this.selectedLeaves = this.getSelectedLeaves();
            },

            /**
             * Calculated total leave value for selected leaves.
             */
            calculateTotalLeaveValueForSelectedLeaves() {
                this.selectedLeaves.forEach( ( leave ) => {
                    this.handleFiledLeaveTotalValueCalculation( leave.date );
                });
            },

            /**
             * Gets selected leaves from filtered shifts.
             *
             * @returns {Array} leaves
             */
            getSelectedLeaves() {
                const leaves = [];

                Object.keys( this.filteredShifts ).forEach( ( date ) => {
                    this.filteredShifts[ date ]
                        .filter( ( shift ) => shift.selected )
                        .forEach( ( shift ) => {
                            leaves.push({
                                schedule: shift.schedule,
                                schedule_id: shift.schedule.id,
                                date: moment( shift.date ).format( DEFAULT_DATE_FORMAT ),
                                start_time: shift.start,
                                end_time: shift.end
                            });
                        });
                });

                return leaves || [];
            },

            updateSelectedLeaves() {
                this.setSelectedLeaves();
                this.calculateTotalLeaveValueForSelectedLeaves();
            }
        },
        filters: {
            /**
             * Formats date
             *
             * @param {String} date
             * @return {String} formated date
             */
            moment( date ) {
                return moment( date ).format( DATE_FORMAT );
            }
        }
    };
</script>

<style lang="scss">
    .sl-c-calendar-overlay {
        .sl-c-overlay-content {
            padding: 0;
            width: 100vw;
            max-width: 100vw;
        }

        .flatpickr-calendar {
            margin-right: auto;
            margin-left: auto;
        }
    }

    .sl-c-panel__header {
        word-break: break-all;

        .sl-c-media__body {
            margin-bottom: 0;
        }
    }
</style>
