<template>
    <div>
        <div class="sl-c-panel__header" @click="toggleDetails">
            <h5 class="sl-c-panel__title">Leave Details</h5>
            <div class="sl-c-actions">
                <i class="fa sl-u-text--primary" :class="arrowClass"></i>
            </div>
        </div>

        <div class="sl-c-panel__body" v-if="detailsAreVisible">
            <div v-for="( leaveCredit, index ) of leaveCredits" :key="index">
                <div class="sl-c-grid sl-c-grid--twos">
                    <div>Leave type:</div>
                    <div>{{ leaveCredit.leave_type.name }}</div>
                </div>
                <div class="sl-c-grid sl-c-grid--twos">
                    <div>Remaining {{ leaveCredit.unit }}:</div>
                    <div>
                        {{ leaveCredit.leave_type.leave_credit_required
                            ? ( leaveCredit.value )
                            : 'Unlimited Leave Credits'
                        }}
                    </div>
                </div>
                <div class="sl-c-grid sl-c-grid--twos">
                    <div>Consumed {{ leaveCredit.unit }}:</div>
                    <div>{{ leaveCredit.used | roundValueToTwoDecimals}}</div>
                </div>
                <hr class="sl-u-hr--white">
            </div>
        </div>
    </div>
</template>
<script>
    import valueFormats from '@/mixins/valueFormats';

    export default {
        name: 'sal-add-leave-reqeust-details',
        props: {
            leaveCredits: {
                type: Array,
                required: true
            }
        },
        mixins: [valueFormats],
        data() {
            return {
                detailsAreVisible: false
            };
        },
        computed: {
            /**
             * Changes arrow icon's direction if section is visible or not.
             * @param Boolean sectionIsVisible
             * @returns String css class name for icon
             */
            arrowClass() {
                return {
                    'fa-arrow-circle-down': !this.detailsAreVisible,
                    'fa-arrow-circle-up': this.detailsAreVisible
                };
            }
        },
        methods: {
            /**
             * Shows or hides leave details section.
             */
            toggleDetails() {
                this.detailsAreVisible = !this.detailsAreVisible;
            }
        }
    };
</script>

<style lang="scss" scoped>
    .sl-c-panel__body {
        > div {
            &:last-child {
                .sl-u-hr--white {
                    display: none;
                }
            }
        }
    }
</style>
