<template>
    <div>
        <header class="sl-c-page__header sl-u-gap-top--lg">
            <h1 class="sl-c-page__title">File an Overtime Request</h1>
        </header>

        <div class="sl-c-calendar-overlay">
            <section class="sl-c-section">
                <div class="sl-c-section__body">
                    <sal-add-request-details
                        v-if="pendingOvertimeRequests && pendingOvertimeRequests.length"
                        :requests="pendingOvertimeRequests"
                        type="Overtime"
                    />
                    <div class="sl-c-panel__header sl-u-gap-top--lg"
                        @click="toggleFirstStepForm"
                        :class="{'sl-u-has-border--bottom': !firstStepFormIsVisible}"
                    >
                        <h4 class="sl-c-panel__title">
                            <span class="sl-c-badge sl-c-badge--circle sl-u-gap-right">1</span>
                            Select a date to file overtime
                        </h4>
                        <div class="sl-c-actions">
                            <i class="fa sl-u-text--primary" :class="firstStepArrowClass" />
                        </div>
                    </div>

                    <!-- date picker component -->
                    <sal-datepicker
                        v-model="date"
                        class="sl-u-gap-top"
                        v-if="firstStepFormIsVisible"
                        requestType="Overtime" />
                    <!-- -->
                    <template v-if="selectedDate">
                        <h4 class="sl-u-gap-top">
                            <span class="sl-c-badge sl-c-badge--circle sl-u-gap-right">2</span>
                            Add overtime request
                        </h4>

                        <p>
                            Below are the shifts assigned to you. You can request to add overtime.
                        </p>
                    </template>

                    <sal-card v-for="(shifts, date) in filteredShifts" :key="date" class="sl-u-gap-top">
                        <div class="sl-c-grid sl-c-grid--twos" v-if="!isEditing">
                            <div>
                                <i class="fa fa-calendar-o sl-u-text--disabled"></i>
                                From:<br> {{ selectedDate | formatDate }}
                            </div>
                            <div>
                                <i class="fa fa-calendar-o sl-u-text--disabled"></i>
                                To:<br> {{ selectedDate | formatDate }}
                            </div>
                        </div>
                        <template slot="header">
                            <strong class="sl-u-gap-left--sm">{{ date | formatDate }}</strong>
                        </template>
                        <template slot="actions">
                            <sal-button-mobile
                                id="edit-request"
                                :label="showTags ? 'Hide Tags' : 'Show Tags'"
                                size="sm"
                                type="primary"
                                :disabled="!tagsButtonEnabled"
                                buttonType="edit"
                                :onClick="toggleTags"
                            />
                        </template>

                        <sal-overtime-edit-request-card
                            v-for="(shift, index) in shifts"
                            :key="index"
                            :shift="shift"
                            :timesheet="getTimesheetForShift( shift.shift_id )"
                            :rawTimesheet="getRawTimesheetForShift( shift.shift_id )"
                            :showTags="showTags"
                            :nextShift="shifts[index + 1] || nextDayShift"
                            :isHoliday="isDateAHoliday"
                            @tags-btn-enabled="handleTagsButton"
                            @save="save"
                            @edit="enableEdit"
                            @cancel-edit="cancelEdit"
                        />
                    </sal-card>
                </div>
            </section>
        </div>
    </div>
</template>
<script>
    import moment from 'moment';
    import { isEmpty, each, has, get, sortBy } from 'lodash-es';
    import { shiftsService } from '@/utils/services/ShiftsService';
    import { employeeRequestService } from '@/utils/services/EmployeeRequestService';
    import { attendanceRecordService } from '@/utils/services/AttendanceRecordService';
    import { auth } from '@/utils/Authentication';
    import {
        DATE_FORMAT,
        DEFAULT_SHIFT_DATETIME_FORMAT,
        HOURS_MINUTES_FORMAT,
        NOT_AVAILABLE,
        REST_DAY_TYPE
    } from '@/constants/overtime-request';
    import { DEFAULT_DATE_FORMAT } from '@/constants/employee-request';
    import requestForm from '@/mixins/requestForm';

    export default {
        mixins: [
            requestForm
        ],
        name: 'sal-add-overtime-request-form',
        props: {
            pendingOvertimeRequests: [ Array, Object ]
        },
        data() {
            return {
                selectedDate: this.getSelectedDate(),
                clicked: false,
                editModeEnabled: true,
                showTags: false,
                parsedShifts: {},
                isSubmiting: false,
                isEditing: true,
                tagsButtonEnabled: false,
                user: auth.getUser(),
                defaultSchedules: [],
                overtimes: {},
                attendanceRecord: null
            };
        },

        computed: {
            /**
             * Filtered shifts by date range from first part.
             * @return {Object}
             */
            filteredShifts() {
                if ( !this.date ) {
                    return {};
                }

                const filteredShifts = {};

                Object.keys( this.parsedShifts ).forEach( ( date ) => {
                    if ( this.isDateInRange( date ) ) {
                        filteredShifts[ date ] = this.parsedShifts[ date ];
                    }
                });

                if ( isEmpty( filteredShifts ) && this.defaultSchedules.length ) {
                    const formattedDate = moment( this.date ).format( DEFAULT_DATE_FORMAT );
                    const defaultScheduleForDate = this.getDefaultScheduleForDate();
                    const shift = shiftsService.parseDefaultScheduleForDisplay( defaultScheduleForDate, this.date );

                    if ( defaultScheduleForDate.day_type !== 'rest_day' ) {
                        filteredShifts[ formattedDate ] = [shift];
                    } else {
                        const shiftId = get( shift, 'shift_id' );
                        filteredShifts[ formattedDate ] = [{
                            day_type: defaultScheduleForDate.day_type,
                            schedule: {
                                name: shiftsService.getDefaultScheduleNameForDayType( defaultScheduleForDate.day_type ),
                                start_time: NOT_AVAILABLE,
                                end_time: NOT_AVAILABLE,
                                id: null
                            },
                            shift_id: shiftId,
                            date: this.date,
                            start: NOT_AVAILABLE,
                            end: NOT_AVAILABLE,
                            expanded: false,
                            selected: false
                        }];
                    }
                }

                return filteredShifts;
            },

            /**
             * Assigned shifts for the selected date
             *
             * @returns {Array}
             */
            assignedShifts() {
                return get( this.attendanceRecord, 'scheduled_shifts.assigned_shifts', []);
            },

            date: {
                /**
                 * Computed properties getter.
                 */
                get() {
                    if ( this.selectedDate ) {
                        return this.selectedDate;
                    }

                    const fromRoute = moment( this.$route.query.selectedDate, DEFAULT_SHIFT_DATETIME_FORMAT );
                    if ( fromRoute.isValid() ) {
                        return fromRoute.toDate();
                    }

                    return null;
                },

                /**
                 * Computed properties setter.
                 */
                set( value ) {
                    this.selectedDate = value;
                }
            },

            nextDayShift() {
                const nextDayDate = moment( this.selectedDate ).add( 1, 'day' );
                const nextDayDateFormatted = nextDayDate.format( DEFAULT_DATE_FORMAT );

                let [nextDayShift] = !isEmpty( this.parsedShifts[ nextDayDateFormatted ])
                    ? this.parsedShifts[ nextDayDateFormatted ]
                    : [this.getDefaultScheduleForDate( nextDayDate )];

                if ( nextDayShift.day_type === REST_DAY_TYPE ) {
                    return {};
                }

                if ( !has( nextDayShift, 'start' ) ) {
                    nextDayShift = {
                        ...nextDayShift,
                        start: nextDayShift.work_start,
                        end: nextDayShift.work_end,
                        date: nextDayDateFormatted
                    };
                }

                return nextDayShift;
            },

            /**
             * Checks if selected date is a holiday
             * @returns {Boolean}
             */
            isDateAHoliday() {
                const date = get( this.attendanceRecord, 'date', '' );
                const isHoliday = get( this.attendanceRecord, [ 'scheduled_shifts', 'shift_dates', date, 'holiday_type' ]);

                return Boolean( isHoliday );
            }
        },

        watch: {
            /**
             * Watches date change and emits event if changed.
             * Resets overtime request list if date is changed.
             */
            date( newVal, oldVal ) {
                if ( oldVal ) {
                    this.$emit( 'date-changed' );
                    this.tagsButtonEnabled = false;
                    this.showTags = false;
                }
                if ( newVal ) {
                    this.firstStepFormIsVisible = false;

                    this.$loader.show();
                    attendanceRecordService.getAttendanceRecordForDate( this.user.employee_id, moment( newVal ).format( DEFAULT_DATE_FORMAT ) )
                        .then( ({ data }) => {
                            this.attendanceRecord = data;
                        })
                        .catch( () => {
                            this.$flashMessage.show( 'Something went wrong...' );
                        })
                        .finally( () => this.$loader.hide() );
                }
            }
        },

        created() {
            this.fetchData();
            this.listenToParentsCancelEvent();
        },

        methods: {
            /**
             * Fetch all data.
             */
            async fetchData() {
                this.$loader.show();
                const [ shifts, defaultSchedules, userDefinedRestDays ] = await Promise.all([
                    shiftsService.getEmployeeShifts(),
                    shiftsService.fetchDefaultScheduleForCompany( this.user.company_id ),
                    employeeRequestService.getEmployeeRestDays()
                ]);

                this.parsedShifts = shiftsService.parseShifts([ ...shifts, ...userDefinedRestDays ]);
                this.defaultSchedules = defaultSchedules;
                this.$loader.hide();
            },
            /**
             * Toggles first step section.
             */
            toggleFirstStepForm() {
                if ( !this.selectedDate ) return;

                this.firstStepFormIsVisible = !this.firstStepFormIsVisible;
            },

            /**
             * Enables form editing.
             */
            enableEdit() {
                this.isEditing = true;
            },

            /**
             * Returns selectedDate if exists in query params.
             *
             * @returns {Object}
             */
            getSelectedDate() {
                return this.$route.query.selectedDate
                    ? moment( this.$route.query.selectedDate ).toDate()
                    : null;
            },

            /**
             * Emits edit-canceled event.
             * Turns disables editing.
             *
             * @param {Number} shiftId
             */
            cancelEdit( shiftId ) {
                this.isEditing = false;
                delete this.overtimes[ shiftId ];

                this.$emit( 'edit-canceled', shiftId );
            },

            /**
             * Handles show tags button disabled status.
             */
            handleTagsButton() {
                this.tagsButtonEnabled = true;
            },

            /**
             * Listens to parents request-canceled event and triggers cancel method.
             */
            listenToParentsCancelEvent() {
                this.$parent.$on( 'request-canceled', () => {
                    this.cancel();
                });
            },

            /**
             * Toggles tags section visibility.
             */
            toggleTags() {
                this.showTags = !this.showTags;
            },

            /**
             * Determines if date is in range.
             *
             * @param {String} date
             *
             * @return {boolean} True if date in range, False otherwise.
             */
            isDateInRange( date ) {
                return moment( date ).isSame( moment( this.date ) );
            },

            /**
             * Get Default ScheduleForDate.
             *
             * @returns {Object}
             */
            getDefaultScheduleForDate( date = this.date ) {
                return shiftsService.getDefaultScheduleForDate({ defaultScheduleData: this.defaultSchedules }, date );
            },

            /**
             * Toggles flatpickr calendar.
             */
            toggleFlatpickrCalendar() {
                !this.clicked ? this.flatpickr.open() : this.flatpickr.close();
            },

            /**
             * Checks is next day overtime period valid.
             *
             * @param {Object} overtimeEndDate
             *
             * @returns {Boolean}
             */
            isNextDayOvertimeTimeValid( overtimeEndDate ) {
                const nextDayDate = moment( this.selectedDate ).add( 1, 'day' ).format( DEFAULT_DATE_FORMAT );
                const nextDayShifts = !isEmpty( this.parsedShifts[ nextDayDate ])
                    ? this.parsedShifts[ nextDayDate ]
                    : [];

                return !nextDayShifts.some( ( nextDayShift ) => {
                    if ( nextDayShift.schedule.type === 'flexi' ) {
                        const hasCoreTimes = has( nextDayShift.schedule, 'core_times' ) && nextDayShift.schedule.core_times.length > 0;

                        if ( hasCoreTimes ) {
                            return this.isOvertimeEndOverlappingWithFlexiCoreTime( overtimeEndDate, nextDayShift );
                        }
                        return false;
                    }
                    return moment( overtimeEndDate, HOURS_MINUTES_FORMAT ).isAfter( nextDayShift.schedule.start_time, 'hour' );
                });
            },

            /**
             * Gets overtime start datetime.
             *
             * @param {Object} overtimeStart moment object.
             *
             * @returns {String} formated overtime start datetime.
             */
            getOvertimeStartDateTimeString( overtimeStart ) {
                return moment( this.selectedDate ).add({
                    hours: overtimeStart.hours(),
                    minutes: overtimeStart.minutes()
                }).format( DEFAULT_SHIFT_DATETIME_FORMAT );
            },

            /**
             * Gets overtime end datetime.
             *
             * @param {Object} overtimeStartDateTime overtime start datetime.
             * @param {Object} numberOfHours overtime request number of hours.
             *
             * @returns {Object}
             */
            getOvertimeEndDateTime( overtimeStartDateTime, numberOfHours ) {
                return moment( overtimeStartDateTime, DEFAULT_SHIFT_DATETIME_FORMAT ).add({
                    hours: numberOfHours.hours(),
                    minutes: numberOfHours.minutes()
                });
            },

            /**
             * Gets timesheet for provided shift ID
             *
             * @param {String|Integer} id - shift ID
             * @returns {Array} Array of timesheets
             */
            getTimesheetForShift( id ) {
                const shiftId = id || 'RD';
                const shift = this.assignedShifts.find( ( assignedShift ) => assignedShift.shift_id === shiftId );
                return get( shift, 'timesheet' ) || [];
            },

            /**
             * Gets raw timesheet by assigned shift ID
             *
             * @param {String|Integer} id - shift ID
             * @returns {Object} First clock-in and last clock-out data from raw timesheet
             */
            getRawTimesheetForShift( id ) {
                const shift = this.assignedShifts.find( ( assignedShift ) => assignedShift.shift_id === id );
                const sortedRawTimeSheet = sortBy( get( shift, 'raw_timesheet', []), 'timestamp' );
                const filteredRawTimesheet = {
                    clockIn: sortedRawTimeSheet.find( ( timesheet ) => timesheet.state ),
                    clockOut: sortedRawTimeSheet.reverse().find( ( timesheet ) => !timesheet.state )
                };

                return filteredRawTimesheet;
            },

            /**
             * Validates overtime start and end time.
             *
             * @param {Object} overtime overtime request data
             * @param {Object} shift shift data
             *
             * @returns {Boolean}
             */
            isOvertimeRequestTimeValid( overtime, shift ) {
                const overtimeStart = moment( overtime.start_time, HOURS_MINUTES_FORMAT );
                const overtimeNumberOfHours = moment( overtime.hours, HOURS_MINUTES_FORMAT );
                const overtimeEnd = this.getOvertimeEndDateTime( overtimeStart, overtimeNumberOfHours );
                const isNextDay = moment( overtimeEnd ).isAfter( moment( overtimeStart ), 'day' );

                if ( isNextDay ) {
                    return this.isNextDayOvertimeTimeValid( overtimeEnd );
                }

                if ( this.isDateAHoliday ) {
                    return true;
                }

                const overtimeValidationData = {
                    shiftStart: moment( shift.schedule.start_time, HOURS_MINUTES_FORMAT ),
                    shiftEnd: moment( shift.schedule.end_time, HOURS_MINUTES_FORMAT ),
                    overtimeStart,
                    overtimeEnd
                };

                if ( shift.schedule.type === 'flexi' ) {
                    const hasCoreTimes = has( shift.schedule, 'core_times' ) && shift.schedule.core_times.length > 0;

                    if ( hasCoreTimes ) {
                        return shift.schedule.core_times.some( ( coreTime ) => {
                            overtimeValidationData.shiftStart = moment( coreTime.start, HOURS_MINUTES_FORMAT );
                            overtimeValidationData.shiftEnd = moment( coreTime.end, HOURS_MINUTES_FORMAT );

                            return !(
                                this.isOvertimeRangeBetweenShiftRange( overtimeValidationData ) ||
                                this.isOvertimeOverlappingShiftRange( overtimeValidationData )
                            );
                        });
                    }

                    return true;
                }

                return !(
                    this.isOvertimeRangeBetweenShiftRange( overtimeValidationData ) ||
                    this.isOvertimeOverlappingShiftRange( overtimeValidationData )
                );
            },

            /**
             * Checks is overtime range overlaping shift range.
             *
             * @param {Object} overtimeValidationData object with shiftStart, shiftDate, overtimeStart, overtimeEnd
             *
             * @returns {Boolean}
             */
            isOvertimeOverlappingShiftRange( overtimeValidationData ) {
                const { overtimeStart, overtimeEnd, shiftStart } = overtimeValidationData;
                return overtimeStart.isBefore( shiftStart )
                    && overtimeEnd.isAfter( shiftStart );
            },

            /**
             * Checks is overtime end after shift start.
             *
             * @param {Object} overtimeValidationData object with shiftStart, shiftDate, overtimeStart, overtimeEnd
             *
             * @returns {Boolean}
             */
            isOvertimeRangeBetweenShiftRange( overtimeValidationData ) {
                const { overtimeStart, overtimeEnd, shiftStart, shiftEnd } = overtimeValidationData;
                return overtimeStart.isBetween( shiftStart, shiftEnd, 'minute', '[)' )
                    || overtimeEnd.isBetween( shiftStart, shiftEnd, 'minute', '(]' );
            },

            /**
             * Checks is overtime request start and end time valid.
             *
             * @param {Object} overtime overtime request
             *
             * @returns {Boolean}
             */
            isOvertimeRequestValid( overtime ) {
                const formattedDate = moment( this.selectedDate ).format( DEFAULT_DATE_FORMAT );
                const shifts = this.filteredShifts[ formattedDate ];

                for ( const shift of shifts ) {
                    if ( !this.isOvertimeRequestTimeValid( overtime, shift ) ) {
                        return false;
                    }
                }

                return overtime.shift_id ? !this.isOvertimeOverlapping( overtime ) : true;
            },

            /**
             * Check if overtime is overlapping with another overtime.
             *
             * @param {Object} overtime
             *
             * @returns {Boolean}
             */
            isOvertimeOverlapping( overtime ) {
                let overlapping = false;

                const overtimeStart = moment( overtime.start_time, HOURS_MINUTES_FORMAT );
                const overtimeStartDateTime = this.getOvertimeStartDateTimeString( overtimeStart );
                const overtimeNumberOfHours = moment( overtime.hours, HOURS_MINUTES_FORMAT );
                const overtimeEndDateTime = this.getOvertimeStartDateTimeString(
                    this.getOvertimeEndDateTime( overtimeStartDateTime, overtimeNumberOfHours )
                );

                each( Object.keys( this.overtimes ), ( key ) => {
                    if ( +key === overtime.shift_id ) {
                        return true;
                    }

                    const o = this.overtimes[ key ];

                    const start = moment( o.start_time, HOURS_MINUTES_FORMAT );
                    const startDateTime = this.getOvertimeStartDateTimeString( start );
                    const numberOfHours = moment( o.hours, HOURS_MINUTES_FORMAT );
                    const endDateTime = this.getOvertimeStartDateTimeString(
                        this.getOvertimeEndDateTime( startDateTime, numberOfHours )
                    );

                    if (
                        moment( overtimeStartDateTime ).isBetween( startDateTime, endDateTime, null, '[)' ) ||
                        moment( overtimeEndDateTime ).isBetween( startDateTime, endDateTime, null, '(]' )
                    ) {
                        overlapping = true;
                    }

                    return true;
                });

                return overlapping;
            },

            /**
             * Checks if overtime is overlapping with flexi core hours
             *
             * @param {Object} overtimeEnd Overtime end (moment object)
             * @param {Object} shift Shift object
             */
            isOvertimeEndOverlappingWithFlexiCoreTime( overtimeEnd, shift ) {
                return shift.schedule.core_times.some( ( coreTime ) => {
                    const coreTimeStart = moment( `${shift.date} ${coreTime.start}`, DEFAULT_SHIFT_DATETIME_FORMAT );
                    const coreTimeEnd = moment( `${shift.date} ${coreTime.end}`, DEFAULT_SHIFT_DATETIME_FORMAT );
                    return overtimeEnd.isBetween( coreTimeStart, coreTimeEnd, 'minute', '(]' ) || overtimeEnd.isAfter( coreTimeEnd, 'minute' );
                });
            },

            /**
             * Saves entered overtime request data.
             *
             * @param {Object} overtime overtime data
             */
            save( overtime ) {
                if ( isEmpty( overtime ) ) return;

                if ( !this.isOvertimeRequestValid( overtime ) ) {
                    this.$flashMessage.show( 'Invalid Time Record', 'error' );
                    this.$emit( 'invalid-data', true );

                    return;
                }

                if ( overtime.shift_id ) {
                    this.overtimes[ overtime.shift_id ] = overtime;
                }

                this.isEditing = false;
                this.$emit( 'save', {
                    overtime,
                    date: this.selectedDate
                });
            },

            /**
             * Emits request cancellation
             */
            cancel() {
                this.selectedDate = null;
                this.isEditing = false;
                this.overtimes = {};

                this.$emit( 'cancel' );
            }
        },

        filters: {
            /**
             * Formats date to 'MMMM DD, YYYY'
             */
            formatDate( date ) {
                return moment( date ).format( DATE_FORMAT );
            }
        }
    };
</script>

<style lang="scss">
    .sl-c-calendar-overlay {
        margin: 0;

        .sl-c-overlay-content {
            padding: 0;
            width: 100vw;
            max-width: 100vw;
        }

        .flatpickr-calendar {
            margin-right: auto;
            margin-left: auto;
        }
    }
</style>
