<template>
    <sal-card class="sl-c-card--white sl-u-gap-top">
        <template slot="title">
        <router-link :to="{
            name: routeName,
            params: { requestId: request.request.id }
        }">
            {{ requestType }}
        </router-link>
        </template>

        <template slot="actions">
            <span class="sl-c-label" :class="statusClass">
                <i class="fa sl-u-gap-right--sm" :class="statusIcon"></i>
                {{ request.status }}
            </span>
        </template>
        <div class="sl-c-grid sl-c-grid--twos">
            <div>
                <i class="fa fa-calendar-o sl-u-text--disabled" />
                From:<br> {{ from | formatDate }}
            </div>
            <div>
                <i class="fa fa-calendar-o sl-u-text--disabled" />
                To:<br> {{ to | formatDate }}
            </div>
        </div>
    </sal-card>
</template>
<script>
    import requestDetails from '@/mixins/requestDetails';
    export default {
        mixins: [requestDetails],
        name: 'sal-request-details-card',
        props: {
            request: Object
        }
    };
</script>
