<template>
    <div class="sl-c-panel">
        <div class="sl-c-panel__header" @click="toggleDetails">
            <h5 class="sl-c-panel__title">
                {{ requestDetailsTitle }}
            </h5>
            <div class="sl-c-actions">
                <i class="fa sl-u-text--primary" :class="arrowClass" />
            </div>
        </div>

        <div v-show="detailsAreVisible">
            <sal-add-request-details-card
                v-if="requests.length"
                v-for="(request, index) in requests"
                :key="index"
                :request="request"
            />
        </div>

    </div>
</template>
<script>
    export default {
        name: 'sal-add-request-details',
        props: {
            type: String,
            requests: {
                type: [ Array, Object ]
            }
        },
        data() {
            return {
                detailsAreVisible: false
            };
        },
        computed: {
            /**
             * Computes request details title.
             * @returns {String}
             */
            requestDetailsTitle() {
                return `${this.requests.length} Pending ${this.type} ${this.requests.length > 1 ? 'Requests' : 'Request'}`;
            },
            /**
             * Changes arrow icon's direction if section is visible or not.
             * @param Boolean sectionIsVisible
             * @returns String css class name for icon
             */
            arrowClass() {
                return {
                    'fa-arrow-circle-down': !this.detailsAreVisible,
                    'fa-arrow-circle-up': this.detailsAreVisible
                };
            }
        },
        methods: {
            /**
             * Shows or hides leave details section.
             */
            toggleDetails() {
                if ( !this.requests.length ) return;
                this.detailsAreVisible = !this.detailsAreVisible;
            }
        }
    };
</script>

<style lang="scss" scoped>
    .sl-c-panel__body {
        > div {
            &:last-child {
                .sl-u-hr--white {
                    display: none;
                }
            }
        }
    }
</style>
