<template>
    <sal-card class="sl-c-card--default sl-u-gap-top">
        <template slot="title">
            <i class="fa fa-check-circle sl-u-gap-right--sm" :class="shiftIcon" />
            {{ getEventNameByType( shift ) }}
        </template>

        <sal-button-mobile
            id="unassigne-request"
            :type="buttonType"
            size="sm"
            class="sl-c-btn--block"
            :onClick="() => handleUnassign()"
        >
        {{ buttonLabel }}
        </sal-button-mobile>
    </sal-card>
</template>
<script>
    import shiftChangeRequest from '@/mixins/shiftChangeRequest';
    import shiftChangeRequestValidation from '@/mixins/shiftChangeRequestValidation';

    export default {
        name: 'add-shift-change-shift-details-card',
        mixins: [ shiftChangeRequest, shiftChangeRequestValidation ],
        props: {
            shift: Object,
            nextDayShifts: [ Array, Object ],
            previouseDayShifts: [ Array, Object ],
            dayShifts: [ Array, Object ]
        },

        computed: {
            /**
             * Parses shift icon according to is shift assigned.
             * @returns {String}
             */
            shiftIcon() {
                return this.shift.isAssigned
                    ? 'sl-u-text--success'
                    : 'sl-u-text--disabled';
            },

            /**
             * Handles button type according to is shift assigned or not.
             * @returns {String}
             */
            buttonType() {
                return this.shift.isAssigned ? 'danger' : 'primary';
            },

            /**
             * Handles button label text.
             * @returns {String}
             */
            buttonLabel() {
                return this.shift.isAssigned ? 'Unassign' : 'Re-assign';
            }
        },

        created() {
            this.listenForUnAssignAllShiftsEvent();
        },

        methods: {
            /**
             * Listens for unassing-all event.
             * Sets shifts isAssigned property status accordingly.
             */
            listenForUnAssignAllShiftsEvent() {
                this.$parent.$parent.$on( 'unassign-all', () => {
                    this.shift.isAssigned = false;
                });
            },

            /**
             * Handles unassign/re-assign actions.
             */
            handleUnassign() {
                if ( this.shift && this.shift.isAssigned ) {
                    this.setIsAssignedState( false );
                    this.$emit( 'unassign', this.shift );

                    return;
                }

                if ( this.isAddEventActionValid( this.shift ) ) {
                    this.setIsAssignedState();
                    this.$emit( 're-assign', this.shift );
                }
            },

            /**
             * Sets assigned state of shift.
             * @param {Boolean} isAssigned default value true
             */
            setIsAssignedState( isAssigned = true ) {
                this.shift.isAssigned = isAssigned;
            }
        }
    };
</script>
