<template>
    <div>
        <div class="sl-u-gap-top" v-for="( dayShifts, date ) in parsedShifts" :key="date">
            <add-shift-change-day-details-card
                :employee-day-shifts="dayShifts"
                :date="date"
                :default-schedule-data="defaultScheduleData"
                :next-day-shifts="getDayShifts( date )"
                :previouse-day-shifts="getDayShifts( date , 'subtract' )"
                :all-events="allEvents"
                @add-shift="addShift"
                @unassign="unassign"
                @re-assign="reAssign"
                @unassign-all="unassignAllShifts"
            />
        </div>
        <div class="sl-c-section__footer sl-c-block-btns sl-u-gap-top--lg">
            <sal-button-mobile
                id="cancel-request"
                label="Cancel"
                size="sm"
                type="primary"
                outlined
                buttonType="button"
                :onClick="cancelRequest"
            />

            <sal-button-mobile
                id="submit-request"
                label="Submit"
                size="sm"
                type="primary"
                :disabled="!submitAllowed"
                buttonType="submit"
                :onClick="submit"
            />
        </div>
    </div>
</template>
<script>
    import moment from 'moment';
    import { findIndex, cloneDeep, remove, isEqual, sortBy } from 'lodash-es';
    import { shiftsService } from '@/utils/services/ShiftsService';
    import { DEFAULT_DATE_FORMAT } from '@/constants/employee-request';
    import AddShiftChangeDayDetailsCard from './AddShiftChangeDayDetailsCard';

    export default {
        name: 'add-shift-change-request-days-list',

        components: {
            AddShiftChangeDayDetailsCard
        },
        props: {
            parsedEmployeeShifts: [ Object, Array ],
            allEvents: Array,
            defaultScheduleData: Array
        },
        data() {
            return {
                parsedEventsForSubmit: {},
                parsedShifts: cloneDeep( this.parsedEmployeeShifts ),
                submitAllowed: false
            };
        },

        watch: {
            /**
             * Watches changes on parsedShifts and sets default shifts for submit.
             */
            parsedEmployeeShifts() {
                this.setDefaultShiftsForSubmit();
            }
        },

        created() {
            this.setDefaultShiftsForSubmit();
        },

        methods: {
            /**
             * Gets day shifts.
             * @param {String} date
             * @param {String} action
             * @returns {Array}
             */
            getDayShifts( date, action ) {
                const dateKey = this.getDayFromDates( date, action );
                const dayShifts = this.parsedShifts[ dateKey ];

                return shiftsService.sortDayEvents( dayShifts );
            },

            /**
             * Check's is submit allowd (are old shifts and new shifts the same)
             */
            checkIsSubmitAllowed() {
                const orderedNewShifts = this.getOrderedShiftsForSubmit( this.parsedEventsForSubmit.new );
                const orderedOldShifts = this.getOrderedShiftsForSubmit( this.parsedEventsForSubmit.old );

                this.submitAllowed = !isEqual( orderedNewShifts, orderedOldShifts );
            },

            /**
             * Return's ordered shifts by key and by shift_id - prepare for submit
             * @param {Object} shifts
             * @return {Object} orderedShifts
             */
            getOrderedShiftsForSubmit( shifts ) {
                const orderedShifts = {};
                Object.keys( shifts ).sort().forEach( ( key ) => {
                    orderedShifts[ key ] = sortBy( shifts[ key ], 'shift_id' );
                });

                return orderedShifts;
            },

            /**
             * Triggers confirmation modal for request cancellation.
             * Redirects to request list if action is confirmed.
             */
            cancelRequest() {
                this.$modal.confirm({
                    type: 'danger',
                    title: 'Discard changes',
                    cancelText: 'Stay on this page',
                    okText: 'Discard',
                    content: 'You are about to leave page with unsaved changes. Do you wish to proceed?',
                    onOk: () => {
                        this.$router.push({ name: 'requests.index' });
                    }
                });
            },

            /**
             * Emits submit event.
             */
            submit() {
                if ( this.submitAllowed ) {
                    this.$emit( 'submit', this.getNonEmptyChangedDays() );
                }
            },

            /**
             * Gets non empty days.
             * Checks events by date and if old and new state for date is empty removes it.
             * @returns {Object}
             */
            getNonEmptyChangedDays() {
                const dateKeys = Object.keys( this.parsedEventsForSubmit.old );
                const filteredEvents = cloneDeep( this.parsedEventsForSubmit );

                dateKeys.forEach( ( dateKey ) => {
                    if ( !filteredEvents.old[ dateKey ].length && !filteredEvents.new[ dateKey ].length ) {
                        delete filteredEvents.old[ dateKey ];
                        delete filteredEvents.new[ dateKey ];
                    } else if ( isEqual( filteredEvents.old[ dateKey ], filteredEvents.new[ dateKey ]) ) {
                        delete filteredEvents.old[ dateKey ];
                        delete filteredEvents.new[ dateKey ];
                    }
                });

                return filteredEvents;
            },

            /**
             * Sets default shifts for submit.
             */
            setDefaultShiftsForSubmit() {
                this.parsedShifts = cloneDeep( this.parsedEmployeeShifts );
                this.parsedEventsForSubmit = {
                    old: cloneDeep( this.parsedShifts ),
                    new: cloneDeep( this.parsedShifts )
                };
            },

            /**
             * Adds a day to date.
             * @param {String} date
             * @param {String} action 'add' by default
             * @returns {String}
             */
            getDayFromDates( date, action = 'add' ) {
                return moment( date, DEFAULT_DATE_FORMAT )[ action ]( 1, 'day' )
                    .format( DEFAULT_DATE_FORMAT );
            },

            /**
             * Listens unassign child event and removes shift from parsedEventsForSubmit.
             * @param {Object} eventPropertyId
             * @param {String} shiftDate
             */
            unassign( eventPropertyId, shiftDate ) {
                const index = this.findIndexOfShiftInParsedShiftsForSubmit( eventPropertyId, shiftDate );

                if ( index !== -1 ) {
                    this.parsedEventsForSubmit.new[ shiftDate ].splice( index, 1 );
                    this.checkIsSubmitAllowed();
                }
            },

            /**
             * Re-assigns shift.
             * Pushes shift to new shifts array or replaces if exists.
             * @param {Object} shift
             * @param {Object} eventPropertyId
             * @param {String} shiftDate
             */
            reAssign( shift, eventPropertyId, shiftDate ) {
                const index = this.findIndexOfShiftInParsedShiftsForSubmit( eventPropertyId, shiftDate );

                if ( index !== -1 ) {
                    this.parsedEventsForSubmit.new[ shiftDate ][ index ] = shift;
                    this.checkIsSubmitAllowed();

                    return;
                }

                this.parsedEventsForSubmit.new[ shiftDate ].splice( index, 0, shift );
                this.checkIsSubmitAllowed();
            },

            /**
             * Listens child event and adds shift to array for request submit.
             * @param {Object} shift
             * @param {String} date
             */
            addShift( shift, date ) {
                const eventPropertyId = shiftsService.getIdPropertyByType( shift );
                const shiftDate = moment( date ).format( DEFAULT_DATE_FORMAT );
                const index = this.findIndexOfShiftInParsedShiftsForSubmit( eventPropertyId, shiftDate );

                if ( index !== -1 ) {
                    this.parsedEventsForSubmit.new[ shiftDate ][ index ] = shift;
                    this.parsedShifts[ shiftDate ][ index ] = shift;
                    this.checkIsSubmitAllowed();
                }

                this.parsedEventsForSubmit.new[ shiftDate ].push( shift );
                this.parsedShifts[ shiftDate ].push( shift );
                this.checkIsSubmitAllowed();
            },

            /**
             * Finds index of parsed shift in dayShifts array.
             * @param {Object} eventPropertyId
             * @param {String} shiftDate
             * @returns {Number}
             */
            findIndexOfShiftInParsedShiftsForSubmit( eventPropertyId, shiftDate ) {
                return findIndex( this.parsedEventsForSubmit.new[ shiftDate ], eventPropertyId );
            },

            /**
             * Removes all unassigned shifts.
             * @param {String} shiftDate
             */
            unassignAllShifts( shiftDate ) {
                remove( this.parsedEventsForSubmit.new[ shiftDate ], ( shift ) => shift.isAssigned );
                this.checkIsSubmitAllowed();
            }
        }
    };
</script>
<style lang="scss" scoped>
</style>
