<template>
    <sal-card>
        <template slot="header">
            <strong>{{ date | formatDateToMonthDayYear }}</strong>
        </template>
        <template slot="actions">
            <i class="fa fa-minus-circle sl-u-text--danger sl-u-gap-right--sm" />
            <a id="remove-changes"
               :disabled="!areShiftsAssigned()"
               @click="handleRemoveConfirmationModal()">
               Remove
            </a>
        </template>
        <template>
            <add-shift-change-shift-details-card
                v-for="(shift, index) in orderedEmployeeDayShifts"
                :key="index"
                :shift="shift"
                :previouse-day-shifts="previouseDayShifts"
                :next-day-shifts="nextDayShifts"
                :day-shifts="dayShifts"
                @unassign="unassignShift"
                @re-assign="reAssignShift"
            />
        </template>
        <template v-if="!hasAssignedUserDefinedShifts">
            <sal-card class="sl-c-card--default sl-u-gap-top">
                <template slot="title">
                    <i class="fa fa-check-circle sl-u-gap-right--sm sl-u-text--success" />
                    {{ defaultScheduleName }} <br />
                    {{ defaultScheduleTimeRange }}
                </template>
            </sal-card>
        </template>

        <sal-multiselect-dropdown
            :available-options="options"
            @shift-chosen="handleShiftAdding"
            v-if="isAddingShift"
        />

        <sal-button-mobile
            class="sl-c-btn--block sl-u-gap-top"
            id="add-shift"
            label="Add shift"
            size="sm"
            type="success"
            buttonType="edit"
            :onClick="() => addShift()"
        />
    </sal-card>
</template>
<script>
    import {
        findIndex,
        find,
        cloneDeep,
        filter,
        remove,
        uniq
    } from 'lodash-es';
    import moment from 'moment';
    import { shiftsService } from '@/utils/services/ShiftsService';
    import dateFilter from '@/mixins/dateFilter';
    import shiftChangeRequestValidation from '@/mixins/shiftChangeRequestValidation';
    import AddShiftChangeShiftDetailsCard from './AddShiftChangeShiftDetailsCard';

    export default {
        name: 'add-shift-change-day-details-card',
        mixins: [ dateFilter, shiftChangeRequestValidation ],
        components: {
            AddShiftChangeShiftDetailsCard
        },
        props: {
            employeeDayShifts: [ Array, Object ],
            date: [ String, Date ],
            nextDayShifts: Array,
            previouseDayShifts: Array,
            defaultScheduleData: Array,
            allEvents: Array
        },
        data() {
            return {
                isAddingShift: false,
                dayShifts: cloneDeep( this.employeeDayShifts ),
                allAvailableOptions: cloneDeep( this.allEvents ),
                dayDefaultSchedule: {},
                options: [],
                defaultScheduleTypes: {
                    regular: 'Regular',
                    rest_day: 'Rest Day'
                }
            };
        },
        computed: {
            /**
             * Checks has assigned user defined shifts.
             *
             * @returns {Boolean}
             */
            hasAssignedUserDefinedShifts() {
                return !!filter( this.orderedEmployeeDayShifts, ( employeeShift ) => employeeShift.isAssigned ).length;
            },

            /**
             * Orders employeeDayShifts by shift start in asc order.
             * @returns {Array}
             */
            orderedEmployeeDayShifts() {
                return shiftsService.sortDayEvents( this.employeeDayShifts );
            },

            /**
             * Gets formated default schedule name.
             *
             * @returns {String}
             */
            defaultScheduleName() {
                return `Default Schedule - ${this.defaultScheduleTypes[ this.dayDefaultSchedule.day_type ]}`;
            },

            /**
             * Gets default schedule time range.
             *
             * @returns {String}
             */
            defaultScheduleTimeRange() {
                return this.dayDefaultSchedule.day_type === 'regular'
                    ? `(${this.formatTime( this.dayDefaultSchedule.work_start )} to ${this.formatTime( this.dayDefaultSchedule.work_end )})`
                    : '';
            }
        },

        created() {
            this.getDefaultScheduleForDate();
        },

        methods: {
            /**
             * Formats time to hours and minutes.
             *
             * @param {String} time
             * @returns {String}
             */
            formatTime( time ) {
                return moment( time, 'HH:mm:ss' ).format( 'HH:mm' );
            },

            /**
             * Gets default schedule for date.
             *
             * @returns {Object}
             */
            getDefaultScheduleForDate() {
                const payload = {
                    defaultScheduleData: this.defaultScheduleData
                };

                this.dayDefaultSchedule = shiftsService.getDefaultScheduleForDate( payload, this.date );
            },

            /**
             * Sort options by name
             * @param {Array} options
             */
            sortOptions( options ) {
                return options.sort( ( a, b ) => {
                    const fa = a.name.toLowerCase();
                    const fb = b.name.toLowerCase();
                    if ( fa < fb ) {
                        return -1;
                    }
                    if ( fa > fb ) {
                        return 1;
                    }
                    return 0;
                });
            },

            /**
             * Computes available options.
             */
            checkAvailableOptions() {
                let options = cloneDeep( this.allAvailableOptions );
                options = this.sortOptions( options );
                this.employeeDayShifts.forEach( ( dayShift ) => {
                    if ( !dayShift ) return;

                    remove( options, ( option ) =>
                        option && option.schedule.name === dayShift.schedule.name
                    );
                });

                this.setUniqDayEvents( this.getFilteredOptions( options ) );
            },

            /**
             * Filters options.
             * Returns values which are defined and have name or schedule property.
             * @param {Array} options
             * @returns {Array} filtered options
             */
            getFilteredOptions( options ) {
                return filter( options, ( option ) => option && option.name || option && option.schedule );
            },

            /**
             * Sets uniq day events from dayEvents array.
             * @param {Array} dayEvents
             */
            setUniqDayEvents( dayEvents ) {
                const calculatedOptions = uniq( dayEvents );
                this.allAvailableOptions = calculatedOptions;
                this.options = this.sortOptions( calculatedOptions );
            },

            /**
             * Handles showing of confirmation modal.
             * @param {Number} shiftId
             */
            handleRemoveConfirmationModal() {
                if ( !this.dayShifts || !this.dayShifts.length ) return;

                this.$modal.confirm({
                    type: 'danger',
                    title: 'Unassign Shifts',
                    cancelText: 'Cancel',
                    okText: 'Unassign Shifts',
                    content: 'You are about to unassign all shifts. Do you wish to proceed?',
                    onOk: () => {
                        this.unassignAllShifts();
                    }
                });
            },

            /**
             * Checks is there assigned shift on day.
             * @returns {Boolean}
             */
            areShiftsAssigned() {
                const assignedShift = find( this.dayShifts, ( dayShift ) => dayShift && dayShift.isAssigned );

                return !!assignedShift;
            },

            /**
             * Iterates through array and sets isAddingShift state to false.
             */
            unassignAllShifts() {
                this.dayShifts.forEach( ( dayShift ) => {
                    dayShift.isAssigned = false;
                });
                this.$emit( 'unassign-all', this.date );
            },

            /**
             * Unassignes shift.
             * Emits unassign event.
             * @param {Object} shift
             */
            unassignShift( shift ) {
                const shiftId = shiftsService.getIdPropertyByType( shift );
                const index = this.findIndexOfShiftInDayShifts( shiftId );

                if ( index !== -1 ) {
                    const dayShift = this.dayShifts[ index ];
                    dayShift.isAssigned = false;
                }

                this.$emit( 'unassign', shiftId, this.date );
            },

            /**
             * Re-assigns shift.
             * @param {Object} employeeShift
             */
            reAssignShift( employeeShift ) {
                const shiftId = shiftsService.getIdPropertyByType( employeeShift );
                const index = this.findIndexOfShiftInDayShifts( shiftId );

                if ( index !== -1 ) {
                    const shift = this.dayShifts[ index ];
                    shift.isAssigned = true;
                }

                this.$emit( 're-assign', employeeShift, shiftId, this.date );
            },

            /**
             * Removes shift from array.
             * @param {Object} typeParamId
             */
            removeShiftFromAvailableShifts( typeParamId ) {
                const index = findIndex( this.allAvailableOptions, typeParamId );

                if ( index !== -1 ) {
                    this.allAvailableOptions.splice( index, 1 );
                }
            },

            /**
             * Finds index of parsed shift in dayShifts array.
             * @param {Object} shiftId
             * @returns {Number}
             */
            findIndexOfShiftInDayShifts( shiftId ) {
                return findIndex( this.dayShifts, shiftId );
            },

            /**
             * Handles request parsing.
             * If shift is in array - replaces.
             * If not adds it to array.
             * @param {Number} shift request shift
             * @param {Objet} overtimeRequest overtime request object
             */
            handleShiftAdding( shift ) {
                this.isAddingShift = false;
                shift.isAssigned = true;
                shift.date = this.date;

                const shiftId = shiftsService.getIdPropertyByType( shift );

                if ( !this.isAddEventActionValid( shift ) ) {
                    return;
                }

                this.removeShiftFromAvailableShifts( shiftId );
                this.dayShifts.push( shift );
                this.$emit( 'add-shift', shift, this.date );
            },

            /**
             * Shows sectin for selecting shifts.
             */
            addShift() {
                this.isAddingShift = true;
                this.checkAvailableOptions();
            }
        }
    };
</script>
