<template>
    <div>
        <header class="sl-c-page__header sl-u-gap-top--lg">
            <h1 class="sl-c-page__title">File a Shift Change Request</h1>
        </header>

        <div class="sl-c-calendar-overlay">
            <section class="sl-c-section">
                <div class="sl-c-section__body">
                    <sal-add-request-details
                        v-if="pendingShiftChangeRequests && pendingShiftChangeRequests.length"
                        :requests="pendingShiftChangeRequests"
                        type="Shift Change"
                    />

                    <div class="sl-c-panel__header sl-u-gap-top--lg"
                        @click="toggleFirstStepForm"
                        :class="{'sl-u-has-border--bottom': !firstStepFormIsVisible}"
                    >
                        <h4 class="sl-c-panel__title">
                            <span class="sl-c-badge sl-c-badge--circle sl-u-gap-right">1</span>
                            Choose a date range
                        </h4>
                        <div class="sl-c-actions">
                            <i class="fa sl-u-text--primary" :class="firstStepArrowClass" />
                        </div>
                    </div>
                    <div v-show="isFirstStepVisible()">
                        <sal-datepicker
                            v-model="startDate"
                            :max-date="endDate"
                            class="sl-u-gap-top"
                            label="* Start date"
                            request-type="Shift Change"
                        />

                        <sal-datepicker
                            v-model="endDate"
                            :min-date="startDate"
                            class="sl-u-gap-top"
                            label="* End date"
                            request-type="Shift Change"
                        />
                    </div>

                    <div v-if="startDate && endDate && employeeShifts">
                        <h4 class="sl-u-gap-top">
                            <span class="sl-c-badge sl-c-badge--circle sl-u-gap-right">2</span>
                            Add shift change details
                        </h4>

                        <p>
                            Below are the shifts assigned to you. You can request to add or remove shift.
                        </p>
                        <add-shift-change-request-days-list
                            v-if="employeeSchedulesRestDays && employeeSchedules.length"
                            :parsed-employee-shifts="orderedParsedShiftsByKey"
                            :default-schedule-data="defaultScheduleData"
                            :all-events="employeeSchedulesRestDays"
                            @submit="validateShiftsRelatedToEmployeeRequests"
                        />
                    </div>
                </div>
            </section>
        </div>
    </div>
</template>
<script>
    import moment from 'moment';
    import { extendMoment } from 'moment-range';
    import {
        map,
        get,
        isEmpty,
        forIn,
        first,
        uniqBy,
        flatten,
        each,
        keys,
        groupBy,
        values,
        startCase
    } from 'lodash-es';
    import requestForm from '@/mixins/requestForm';
    import { shiftsService } from '@/utils/services/ShiftsService';
    import { auth } from '@/utils/Authentication';
    import { shiftChangeRequestService } from '@/utils/services/ShiftChangeRequestService';
    import { employeeRequestService } from '@/utils/services/EmployeeRequestService';
    import { DEFAULT_DATE_FORMAT } from '@/constants/employee-request';
    import AddShiftChangeRequestDaysList from './AddShiftChangeRequestDaysList';

    export default {
        name: 'sal-add-shift-change-request-form',
        mixins: [
            requestForm
        ],

        components: {
            AddShiftChangeRequestDaysList
        },

        props: {
            pendingShiftChangeRequests: [ Array, Object ]
        },

        data() {
            return {
                startDate: this.getSelectedDate(),
                endDate: this.getSelectedDate(),
                parsedShifts: [],
                availableEmployeeShifts: [],
                employeeShifts: null,
                employeeSchedules: [],
                employeeRestDays: [],
                restDays: [],
                parsedEmployeeRestDays: [],
                isAddingShift: false,
                requestMessages: [],
                shiftIdParamNames: {
                    shift_id: 'shift_id',
                    schedule_id: 'schedule_id',
                    rest_day_id: 'rest_day_id'
                },
                restDayName: 'Rest Day',
                momentRange: {},
                defaultScheduleData: {}
            };
        },

        computed: {
            /**
             * Merges employee schedules and restDays.
             * This is used as options for adding new shift.
             * @returns {Array}
             */
            employeeSchedulesRestDays() {
                return [
                    ...this.employeeSchedules,
                    first( this.restDays )
                ];
            },

            /**
             * Computes ordered parsed shifts by key
             * @returns {Object} parsedShifts
             */
            orderedParsedShiftsByKey() {
                this.mergeRestDaysWithShifts();

                return this.orderParsedShiftsByKey( this.parsedShifts );
            },

            /**
             * Check is first step completed.
             * @returns {Boolean}
             */
            firstPartFormCompleted() {
                const completed = this.startDate && this.endDate;
                if ( completed ) {
                    this.firstStepFormIsVisible = false;
                    this.fetchEmployeeShifts();
                    this.fetchEmployeeRestDays();
                    this.fetchEmployeeSchedules();

                    this.$emit( 'date-changed' );
                }

                return completed;
            }
        },

        created() {
            this.listenToParentsEvents();
            this.momentRange = extendMoment( moment );
            this.fetchCompanyDefaultSchedule();
        },

        methods: {
            /**
             * Fetches company default schedule.
             */
            fetchCompanyDefaultSchedule() {
                this.$loader.show();

                const user = auth.getUser();
                shiftsService.fetchDefaultScheduleForCompany( user.company_id )
                    .then( ( response ) => {
                        this.defaultScheduleData = response;
                        this.$loader.hide();
                    }).catch( () => {
                        this.$loader.hide();
                    });
            },

            /**
             * Formats date to DB default 'YYYY-MM-DD' format.
             *
             * @param {String} date
             * @returns {String} date
             */
            formatDateToDBDefaultFormat( date ) {
                return moment( date ).format( DEFAULT_DATE_FORMAT );
            },

            /**
             * Prepares payload for validation is shift related to some employee request.
             *
             * @param {Object} data
             * @returns {Object} payload
             */
            preparePayloadForShiftsValidation( data ) {
                const unassignedShiftIds = this.getOldParsedEventsForSubmitIds( data.old );

                return {
                    start: this.formatDateToDBDefaultFormat( this.startDate ),
                    end: this.formatDateToDBDefaultFormat( this.endDate ),
                    shift_ids: unassignedShiftIds || [],
                    employee_ids: isEmpty( unassignedShiftIds ) ? [auth.getEmployeeId()] : []
                };
            },

            /**
             * Validates are shifts related to employee requests.
             * Shows modal if there is related employeeRequests else proceeds with request submit
             * @param {String} data
             * @returns {Void}
             */
            validateShiftsRelatedToEmployeeRequests( data ) {
                this.$loader.show();

                shiftsService.shiftHasRelatedEmployeeRequests( this.preparePayloadForShiftsValidation( data ) )
                    .then( ( employeeRequests ) => {
                        this.$loader.hide();

                        if ( !isEmpty( employeeRequests ) ) {
                            this.handleShowConfirmationModal( data, employeeRequests );

                            return;
                        }

                        this.submit( data );
                    })
                    .catch( ( error ) => {
                        this.$flashMessage.show( get( error, 'response.data.message', error.message ), 'error' );
                        this.$loader.hide();
                    });
            },

            /**
             * Shows confirmation modal for unassign shift with related requests action.
             * @param {Object} data data for submit.
             * @param {Array} employeeRequests
             * @returns {Object}
             */
            showConfirmationModal( data, employeeRequests ) {
                return this.$modal.confirm({
                    title: 'Confirm Your Action',
                    content: this.getEmployeeRequestsOverlappingModalContent( employeeRequests ),
                    okText: 'Confirm',
                    cancelText: 'Cancel',
                    onOk: () => this.submit( data )
                });
            },

            /**
             * Handles showing confirmation modal.
             *
             * @param {Array} data
             * @param {Array} employeeRequests
             */
            handleShowConfirmationModal( data, employeeRequests ) {
                const shiftChangeRequest = this.filterShiftChangeRequests( employeeRequests );

                if ( isEmpty( shiftChangeRequest ) ) {
                    this.showConfirmationModal( data, employeeRequests );

                    return;
                }

                this.showValidationModal( shiftChangeRequest );
            },

            /**
             * Checks is overlaping with existing pending shift change request.
             *
             * @param {Array} employeeRequests
             * @returns {array}
             */
            showValidationModal( employeeRequests ) {
                return this.$modal.danger({
                    title: 'Warning',
                    content: this.getEmployeeRequestsOverlappingModalContent( employeeRequests, false ),
                    width: '300',
                    showOk: true,
                    okText: 'Close',
                    showCancel: false
                });
            },

            /**
             * Filters out shift change requests.
             *
             * @param {Array} employeeRequests
             * @return {Array}
             */
            filterShiftChangeRequests( employeeRequests = []) {
                return employeeRequests.filter(
                    ( employeeRequest ) => employeeRequest.request_type === 'shift_change_request'
                );
            },

            /**
             * Gets employeeRequests request status and type list for modal content.
             *
             * @param {Array} employeeRequests
             * @param {Bool} isConfirmationModal true by default
             * @returns {String}
             */
            getEmployeeRequestsOverlappingModalContent( employeeRequests, isConfirmationModal = true ) {
                const employeeRequestStatusAndType = this.generateConfirmationModalsListOfEmployeeRequests(
                    this.groupEmployeeRequestsByRequestType( employeeRequests )
                );

                return isConfirmationModal
                    ? `The shift you are requesting to change has: <br /> ${employeeRequestStatusAndType} tied to it. <br /> All requests tied to it will be auto rejected!`
                    : 'You have pending shift change request in given date range. <br /> Please cancel pending request to be able to submit new one on same date range.';
            },

            /**
             * Generates confirmation modals list of employee requests for confirmation modal content.
             *
             * @param {Array} groupedRequests
             * @returns {String}
             */
            generateConfirmationModalsListOfEmployeeRequests( groupedRequests ) {
                let employeeRequestStatusAndType = '';

                each( keys( groupedRequests ), ( key ) => {
                    groupedRequests[ key ] = groupBy( groupedRequests[ key ], ( request ) => request.status );
                    const status = keys( groupedRequests[ key ])[ 0 ];
                    const numberOfDuplicates = values( groupedRequests[ key ])[ 0 ].length;

                    employeeRequestStatusAndType += `&emsp; &#9670; ${status} ${key} Request (${numberOfDuplicates}) <br />`;
                });

                return employeeRequestStatusAndType;
            },

            /**
             * Groups employee requests by request type.
             *
             * @param {Array} employeeRequests
             * @returns {Array}
             */
            groupEmployeeRequestsByRequestType( employeeRequests ) {
                return groupBy( employeeRequests, ( request ) => this.getEmployeeRequestType( request ) );
            },

            /**
             * Gets employee request type name according to request type.
             *
             * @param {Object} employeeRequest
             * @returns {String}
             */
            getEmployeeRequestType( employeeRequest ) {
                const employeeRequestsNames = this.getEmployeeRequestNames( employeeRequest );

                return employeeRequest.request_type === 'leave_request'
                    ? employeeRequestsNames[ employeeRequest.request_type ]( employeeRequest )
                    : employeeRequestsNames[ employeeRequest.request_type ];
            },

            /**
             * Gets employee request name.
             *
             * @param {Object} employeeRequest
             * @returns {String}
             */
            getEmployeeRequestNames( employeeRequest ) { // eslint-disable-line
                return {
                    leave_request: ( employeeRequest ) => startCase( employeeRequest.request.leave_type.name ),  // eslint-disable-line
                    time_dispute_request: 'Time Correction',
                    overtime_request: 'Overtime',
                    shift_change_request: 'Shift Change',
                    undertime_request: 'Undertime'
                };
            },

            /**
             * Gets oldParsedEventsForSubmit ids.
             * @param {Array} oldParsedEventsForSubmit
             * @returns {Array} ids
             */
            getOldParsedEventsForSubmitIds( oldParsedEventsForSubmit ) {
                const ids = [];

                Object.keys( oldParsedEventsForSubmit ).forEach( ( key ) => {
                    if ( !key ) {
                        return;
                    }

                    ids.push( this.getShiftsIdsFromParsedEventsForSubmit( oldParsedEventsForSubmit[ key ]) );
                });

                return flatten( ids );
            },

            /**
             * Gets shiftIdsFromParsedEventsForSubmit.
             * @param {Array} parsedDayEvents
             * @returns {Array} shiftIds
             */
            getShiftsIdsFromParsedEventsForSubmit( parsedDayEvents ) {
                return parsedDayEvents
                    .map( ( event ) => event && event.shift_id )
                    .filter( ( shiftId ) => shiftId );
            },

            /**
             * Gets uniq values by parsed param.
             * @param {Array} paramValues
             * @param {String} param
             * @returns {Array}
             */
            getUniqValues( paramValues, param ) {
                return uniqBy( paramValues, ( value ) => value[ param ]);
            },

            /**
             * Fetches employee schedules.
             */
            fetchEmployeeSchedules() {
                shiftsService.getEmployeeSchedules()
                    .then( ( response ) => {
                        this.employeeSchedules = this.mapEmployeeSchedules( response );
                    });
            },

            /**
             * Maps employee schedules.
             * @param {Array} schedules
             * @returns {Array} mapped schedules.
             */
            mapEmployeeSchedules( schedules ) {
                return map( schedules, ( schedule ) => ({
                    name: schedule.name,
                    schedule_id: schedule.id,
                    schedule,
                    start: schedule.start_time,
                    end: schedule.end_time,
                    isAssigned: false
                }) );
            },

            /**
             * Handles parsing rest days for date range.
             * @param {Array} response
             */
            handleRestDaysDateRange( response ) {
                const restDays = shiftsService.processRestDays( response, {
                    start: moment( this.startDate ).format( DEFAULT_DATE_FORMAT ),
                    end: moment( this.endDate ).format( DEFAULT_DATE_FORMAT )
                });

                this.employeeRestDays = this.mapRestDays( restDays );
                this.parsedEmployeeRestDays = this.parseEmployeeRestDays( restDays );
            },

            /**
             * Listens to parents events.
             */
            listenToParentsEvents() {
                this.$parent.$on( 'sent-message', ( message ) => {
                    this.requestMessages.push( message );
                });
            },

            /**
             * Submits shift change request.
             *
             * @param {Object} data
             */
            async submit( data ) {
                this.$loader.show();

                try {
                    await shiftChangeRequestService.submitShiftChangeRequest( this.prepareDataForSubmit( data ) );

                    this.$flashMessage.queue( 'Request submitted successfully', 'success' );

                    this.$router.push({ name: 'requests.index' });
                } catch ( error ) {
                    this.$loader.hide();
                    this.$flashMessage.show( get( error, 'response.data.message', error.message ), 'error' );
                }
            },

            /**
             * Maps data items ids.
             * @param {Array} dataArray
             * @param {Object} itemParamId
             * @returns {Array}
             */
            mapDataItemsIds( dataArray, itemParamId ) {
                const mappedItems = dataArray.map( ( item ) => item[ itemParamId ]);

                return mappedItems.filter( ( id ) => !!id );
            },

            /**
             * Gets data for submit.
             * @param {Object} data
             */
            getShiftChangeDates( data ) {
                const dateKeys = Object.keys( data.new );

                return dateKeys.map( ( date ) => ({
                    date,
                    old_state: {
                        shifts_ids: this.mapDataItemsIds( data.old[ date ], this.shiftIdParamNames.shift_id ),
                        rest_days_ids: this.mapDataItemsIds( data.old[ date ], this.shiftIdParamNames.rest_day_id )
                    },

                    new_state: {
                        shifts_ids: this.mapDataItemsIds( data.new[ date ], this.shiftIdParamNames.shift_id ),
                        schedules_ids: this.mapDataItemsIds( data.new[ date ], this.shiftIdParamNames.schedule_id ),
                        rest_day: !!this.mapDataItemsIds( data.new[ date ], this.shiftIdParamNames.rest_day_id ).length
                    }
                }) );
            },

            /**
             * Prepares data for submit.
             *
             * @param {Object} data
             *
             * @returns {Object}
             */
            prepareDataForSubmit( data ) {
                return {
                    start_date: moment( this.startDate ).format( DEFAULT_DATE_FORMAT ),
                    end_date: moment( this.endDate ).format( DEFAULT_DATE_FORMAT ),
                    messages: this.requestMessages,
                    shift_change_dates: this.getShiftChangeDates( data )
                };
            },

            /**
             * Maps shift for submit.
             * @param {Array} shifts
             * @returns {Array}
             */
            mapShifts( shifts ) {
                return map( shifts, ( shift ) => ({
                    shift_id: shift.shift_id,
                    date: moment( shift.date ).format( DEFAULT_DATE_FORMAT )
                }) );
            },

            /**
             * Maps restDays.
             * @param {Array} restDays
             * @returns {Array}
             */
            mapRestDays( restDays ) {
                return map( restDays, ( restDay ) => ({
                    rest_day_id: restDay.id,
                    name: this.restDayName,
                    date: moment( restDay.date ).format( DEFAULT_DATE_FORMAT ),
                    schedule: {
                        name: this.restDayName
                    },
                    isAssigned: true
                }) );
            },

            /**
             * Toggles first step section.
             */
            toggleFirstStepForm() {
                if ( !this.firstPartFormCompleted ) return;

                this.firstStepFormIsVisible = !this.firstStepFormIsVisible;
            },

            /**
             * Fetches employeeShifts.
             */
            fetchEmployeeShifts() {
                if ( !this.startDate || !this.endDate ) return;

                const dateRange = {
                    start_date: moment( this.startDate ).format( DEFAULT_DATE_FORMAT ),
                    end_date: moment( this.endDate ).format( DEFAULT_DATE_FORMAT )
                };

                this.$loader.show();

                shiftsService.getEmployeeShiftsForDateRange( dateRange )
                    .then( ( shifts ) => {
                        this.shifts = shifts;
                        this.parsedShifts = this.parseShifts( shifts );
                        this.employeeShifts = this.parseEmployeeShifts( shifts );
                        this.availableEmployeeShifts = this.parseAvailableEmployeeShifts( shifts );

                        this.$loader.hide();
                    }).catch( () => this.$loader.hide() );
            },

            /**
             * Fetch employeeRestDays.
             */
            fetchEmployeeRestDays() {
                this.$loader.show();
                employeeRequestService.getEmployeeRestDays()
                    .then( ( response ) => {
                        if ( !response || !response.length ) return;
                        this.restDays = this.mapRestDays( response );
                        this.handleRestDaysDateRange( response );

                        this.$loader.hide();
                    }).catch( () => this.$loader.hide() );
            },

            /**
             * Parses employeeRestDays.
             * @param {Array} restdays employee rest days.
             * @returns {Object} parsedRestDays
             */
            parseEmployeeRestDays( restDays ) {
                const parsedRestDays = {};

                restDays.forEach( ( restDay ) => {
                    if ( isEmpty( restDay ) || !this.isShiftDateInDateRange( restDay.start_date ) ) return;

                    const parsedRestDay = {
                        date: restDay.start_date,
                        isAssigned: true,
                        name: this.restDayName,
                        rest_day_id: restDay.id,
                        isRestDay: true,
                        schedule: {
                            name: this.restDayName
                        }
                    };

                    parsedRestDays[ restDay.start_date ] = [parsedRestDay];
                });

                return parsedRestDays;
            },

            /**
             * Handles restDays merging with shifts.
             */
            mergeRestDaysWithShifts() {
                forIn( this.parsedEmployeeRestDays, ( restDay, dateIndex ) => {
                    this.parsedShifts[ dateIndex ] = this.parsedShifts[ dateIndex ]
                            ? [ ...this.parsedShifts[ dateIndex ], ...restDay ]
                            : restDay;
                });
            },

            /**
             * Parses employeeShifts available for selection.
             * @param {Array} shifts
             * @return {Array}
             */
            parseAvailableEmployeeShifts( shifts ) {
                return map( shifts, ( shift ) => ({
                    schedule: shift.schedule,
                    shift_id: shift.id,
                    name: shift.schedule.name,
                    date: shift.start,
                    start: shift.schedule.start_time,
                    end: shift.schedule.end_time
                }) );
            },

            /**
             * Parses employeeShifts.
             * @param {Array} shifts
             * @returns {Array}
             */
            parseEmployeeShifts( shifts ) {
                const employeeShifts = [];

                shifts.forEach( ( shift ) => {
                    if ( isEmpty( shift ) ) return;
                    shift.dates.forEach( ( date ) => {
                        if ( isEmpty( date ) ) return;
                        const employeeShift = {
                            schedule: shift.schedule,
                            shift_id: shift.id,
                            name: shift.schedule.name,
                            date,
                            start: shift.schedule.start_time,
                            end: shift.schedule.end_time,
                            isAssigned: true
                        };
                        employeeShifts.push( employeeShift );
                    });
                });

                return employeeShifts;
            },

            /**
             * Parsing shifts
             * @param {Array}  shifts  The shifts
             * @return {Object}
             */
            parseShifts( shifts ) {
                const parsedShifts = {};

                shifts.forEach( ( shift ) => {
                    shift.dates.forEach( ( date ) => { // eslint-disable-line consistent-return
                        if ( !this.isShiftDateInDateRange( date ) ) return null;

                        if ( !parsedShifts[ date ]) {
                            parsedShifts[ date ] = [];
                        }

                        const found = parsedShifts[ date ].find(
                            ( schedule ) => schedule.name === shift.schedule.name
                        );

                        if ( !found ) {
                            parsedShifts[ date ].push({
                                date,
                                schedule: shift.schedule,
                                shift_id: shift.id,
                                name: shift.schedule.name,
                                start: shift.schedule.start_time,
                                end: shift.schedule.end_time,
                                isAssigned: true
                            });
                        }
                    });
                });

                return parsedShifts;
            },

            /**
             * Checks is shift date in selected date range.
             * @param {String} date shift's date.
             * @returns {Boolean}
             */
            isShiftDateInDateRange( date ) {
                const rangeStart = moment( this.startDate ).format( DEFAULT_DATE_FORMAT );
                const rangeEnd = moment( this.endDate ).format( DEFAULT_DATE_FORMAT );

                return moment( date, DEFAULT_DATE_FORMAT ).isBetween( rangeStart, rangeEnd, null, []);
            },

            /**
             * Checks is first step visible.
             * @returns {Boolean}
             */
            isFirstStepVisible() {
                return !this.firstPartFormCompleted || this.firstStepFormIsVisible;
            },

            /**
             * Gets the selectedDate.
             *
             * @return {Object} The selected date.
             */
            getSelectedDate() {
                return this.$route.query.selectedDate
                    ? moment( this.$route.query.selectedDate ).toDate()
                    : null;
            },

            /**
             * Orders parsedShifts object props by key value.
             * @param {Object} object
             * @returns {Object} result
             */
            orderParsedShiftsByKey( parsedShifts ) {
                const dateRange = this.parseDatesBetweenDateRange();

                return Object.keys( dateRange ).sort()
                    .reduce( ( result, key ) => {
                        result[ key ] = this.getUniqParsedShifts( parsedShifts, key );

                        return result;
                    }, {});
            },
            /**
             * Get uniq parsed shifts.
             * @param {Object} parsedShifts
             * @param {String} key
             * @returns {Array}
             */
            getUniqParsedShifts( parsedShifts, key ) {
                return uniqBy( shiftsService.sortDayEvents( parsedShifts[ key ]),
                    ( parsedShift ) => parsedShift.name
                );
            },

            /**
             * Gets dates between startDate and endDate.
             * @returns {Array}
             */
            getDatesBetweenDateRange() {
                const start = moment( this.startDate );
                const end = moment( this.endDate );
                const range = this.momentRange.range( start, end );

                return Array.from( range.by( 'day' ) );
            },

            /**
             * Parses dates between date range.
             * @returns {Object}
             */
            parseDatesBetweenDateRange() {
                const datesBetweenDateRange = this.getDatesBetweenDateRange();
                const datesInRange = {};

                datesBetweenDateRange.forEach( ( date ) => {
                    const formatedDate = moment( date ).format( DEFAULT_DATE_FORMAT );
                    datesInRange[ formatedDate ] = [];
                });

                return datesInRange;
            }
        }
    };
</script>

<style lang="scss">
    .sl-c-calendar-overlay {
        .sl-c-overlay-content {
            padding: 0;
            width: 100vw;
            max-width: 100vw;
        }

        .flatpickr-calendar {
            margin-right: auto;
            margin-left: auto;
        }
    }
</style>
