<template>
    <div>
        <header class="sl-c-page__header sl-u-gap-top--lg">
            <h1 class="sl-c-page__title">File a Time Correction</h1>
        </header>

        <div class="sl-c-calendar-overlay">
            <section class="sl-c-section">
                <div class="sl-c-section__body">
                    <sal-add-request-details
                        v-if="pendingTimeDisputeRequests && pendingTimeDisputeRequests.length"
                        :requests="pendingTimeDisputeRequests"
                        type="Time Correction"
                    />

                    <div class="sl-c-panel__header sl-u-gap-top--lg"
                        @click="toggleFirstStepForm"
                        :class="{'sl-u-has-border--bottom': !firstStepFormIsVisible}"
                    >
                        <h4 class="sl-c-panel__title">
                            <span class="sl-c-badge sl-c-badge--circle sl-u-gap-right">1</span>
                            Select date to correct
                        </h4>
                        <div class="sl-c-actions">
                            <i class="fa sl-u-text--primary" :class="firstStepArrowClass" />
                        </div>
                    </div>
                    <div v-show="isFirstStepVisible()">
                        <sal-datepicker
                            v-model="startDate"
                            :max-date="endDate"
                            class="sl-u-gap-top"
                            label="* Start date"
                            request-type="Time Correction"
                        />

                        <sal-datepicker
                            v-model="endDate"
                            :min-date="startDate"
                            class="sl-u-gap-top"
                            label="* End date"
                            request-type="Time Correction"
                        />
                    </div>

                    <template type="text/x-template" v-if="start && end">
                        <h4 class="sl-u-gap-top">
                            <span class="sl-c-badge sl-c-badge--circle sl-u-gap-right">2</span>
                            Edit Time Record
                        </h4>

                        <p>
                            Below are your time records on the date/s selected. You can choose to add, edit or remove.
                        </p>
                        <div class="sl-u-gap-top">
                            <div class="sl-c-grid sl-c-grid--twos">
                                <div>
                                    <i class="fa fa-calendar-o sl-u-text--disabled"></i>
                                    From:<br> {{ startDate | formatDate }}
                                </div>
                                <div>
                                    <i class="fa fa-calendar-o sl-u-text--disabled"></i>
                                    To:<br> {{ endDate | formatDate }}
                                </div>
                            </div>
                        </div>
                        <sal-card v-for="(shifts, date, dateIndex) in filteredShifts" :key="date" class="sl-u-gap-top">
                            <template slot="header">
                                <strong>{{ date | formatDate }}</strong>
                            </template>
                            <sal-time-dispute-edit-request-card
                                v-for="(shift, shiftIndex) in shifts"
                                :key="shiftIndex"
                                :shift="shift"
                                :nextShift="getNextShift(date, dateIndex, shiftIndex)"
                                :previousShift="getPreviousShift(date, dateIndex, shiftIndex)"
                                :date="date"
                                :timesheet="timesheet"
                                :time-types="timeTypes"
                                :hours-worked="hoursWorked"
                                :user-defined-rest-days="userDefinedRestDays"
                                @save="save"
                                @cancel-edit="cancelEdit"
                            />
                        </sal-card>
                    </template>
                </div>
            </section>
        </div>
    </div>
</template>
<script>
    import moment from 'moment';
    import requestForm from '@/mixins/requestForm';
    import { isEmpty, includes, get } from 'lodash-es';
    import { shiftsService } from '@/utils/services/ShiftsService';
    import { timeClockService } from '@/utils/services/TimeClockService';
    import { timeDisputeRequestService } from '@/utils/services/TimeDisputeRequestService';
    import { hoursWorkedService } from '@/utils/services/HoursWorkedService';
    import { employeeRequestService } from '@/utils/services/EmployeeRequestService';
    import { auth } from '@/utils/Authentication';
    import { DATE_FORMAT, DEFAULT_SHIFT_DATETIME_FORMAT } from '@/constants/overtime-request';
    import { DEFAULT_DATE_FORMAT } from '@/constants/employee-request';

    export default {
        name: 'sal-add-time-dispute-request-form',

        mixins: [
            requestForm
        ],

        props: {
            pendingTimeDisputeRequests: [ Array, Object ]
        },

        data() {
            return {
                startDate: this.getSelectedDate(),
                endDate: this.getSelectedDate(),
                parsedShifts: [],
                timesheet: [],
                hoursWorked: null,
                user: auth.getUser(),
                defaultSchedules: [],
                userDefinedRestDays: []
            };
        },

        computed: {
            /**
             * Check is first step completed.
             *
             * @returns {Boolean}
             */
            firstPartFormCompleted() {
                const completed = this.startDate && this.endDate;

                if ( completed ) {
                    this.firstStepFormIsVisible = false;
                }

                return completed;
            },

            /**
             * Filter employee shifts.
             *
             * @returns {Object}
             */
            filteredShifts() {
                if ( !this.start || !this.end || !this.hoursWorked ) {
                    return {};
                }

                const filteredShifts = {};

                this.dateOcurencesForRequestDateRange.forEach( ( date ) => {
                    if ( this.isDateInRange( date ) ) {
                        filteredShifts[ date ] = this.parsedShifts[ date ];
                    }

                    // Prepare the default schedule data. This can be used
                    // to set data for rest day default schedule
                    const defaultSchedule = this.parseDefaultScheduleBydate( date );

                    // add user defined rest days to day shifts
                    filteredShifts[ date ] = this.getUserDefinedRestDaysWithDayShifts( filteredShifts[ date ], date, defaultSchedule );

                    // add default schedule / default schedule rest day to day without user defined shifts or rest days
                    if ( isEmpty( filteredShifts[ date ]) ) {
                        filteredShifts[ date ] = defaultSchedule;
                    }
                });

                return shiftsService.sortObjectByKey( filteredShifts );
            },

            start: {
                /**
                 * Computed properties getter.
                 */
                get() {
                    if ( this.startDate ) {
                        return this.startDate;
                    }

                    const fromRoute = moment( this.$route.query.selectedDate, DEFAULT_SHIFT_DATETIME_FORMAT );
                    if ( fromRoute.isValid() ) {
                        return fromRoute.toDate();
                    }

                    return null;
                },

                /**
                 * Computed properties setter.
                 */
                set( value ) {
                    this.startDate = value;
                }
            },

            end: {
                /**
                 * Computed properties getter.
                 */
                get() {
                    if ( this.endDate ) {
                        return this.endDate;
                    }

                    const fromRoute = moment( this.$route.query.selectedDate, DEFAULT_SHIFT_DATETIME_FORMAT );
                    if ( fromRoute.isValid() ) {
                        return fromRoute.toDate();
                    }

                    return null;
                },

                /**
                 * Computed properties setter.
                 */
                set( value ) {
                    this.endDate = value;
                }
            },

            /**
             * Date ocurences for requet date range.
             *
             * @returns {Array}
             */
            dateOcurencesForRequestDateRange() {
                if ( !this.startDate || !this.endDate ) {
                    return [];
                }

                return moment().recur( this.startDate, this.endDate ).all( DEFAULT_DATE_FORMAT );
            }
        },

        created() {
            this.fetchData();
        },

        methods: {
            /**
             * Parses default schedule by date.
             *
             * @param {String} date
             *
             * @returns {Array}
             */
            parseDefaultScheduleBydate( date ) {
                return [
                    shiftsService.parseDefaultScheduleForDisplay(
                        this.getDefaultScheduleForDate( date ),
                        date
                    )
                ];
            },

            /**
             * Fetch needed data for time correction request form
             */
            async fetchData() {
                try {
                    this.$loader.show();

                    const [ shifts, timesheet, types, hoursWorked, defaultSchedules, userDefinedRestDays ] = await Promise.all([
                        shiftsService.getEmployeeShifts(),
                        timeClockService.getTimeClockTimesheet(),
                        timeDisputeRequestService.getTimeTypes(),
                        hoursWorkedService.getEmployeeHoursWorked(),
                        shiftsService.fetchDefaultScheduleForCompany( this.user.company_id ),
                        employeeRequestService.getEmployeeRestDays()
                    ]);

                    this.parsedShifts = shiftsService.parseShifts( shifts );
                    this.timesheet = timesheet;
                    this.timeTypes = types;
                    this.hoursWorked = hoursWorked;
                    this.defaultSchedules = defaultSchedules;
                    this.userDefinedRestDays = userDefinedRestDays;
                } catch ( error ) {
                    this.$loader.hide();
                }
            },

            /**
             * Gets rest days or rest days merget with day shifts.
             *
             * @param {Array} dayShifts
             * @param {String} date
             * @param {Array} defaultSchedule
             *
             * @returns {Array}
             */
            getUserDefinedRestDaysWithDayShifts( dayShifts, date, defaultSchedule ) {
                if ( !isEmpty( dayShifts ) ) {
                    return dayShifts;
                }

                const parsedSchedule = this.mapDefaultSchedule(
                    date,
                    defaultSchedule
                );

                return isEmpty( dayShifts ) ? parsedSchedule : dayShifts.concat( parsedSchedule );
            },

            /**
             * Maps user defined rest days.
             *
             * @param {Array} restDays
             * @param {String} date
             * @param {Array} defaultSchedule
             *
             * @returns {Array}
             */
            mapDefaultSchedule( date, defaultSchedule ) {
                const {
                    schedule,
                    shift_id: shiftID,
                    day_type: dayType,
                    selected,
                    expanded,
                    start,
                    end
                } = defaultSchedule.find( ( sched ) => sched.date === date );

                return [{
                    schedule,
                    day_type: dayType,
                    shift_id: shiftID,
                    date,
                    start,
                    end,
                    expanded,
                    selected
                }];
            },

            /**
             * Filters user defined rest days by request dates.
             *
             * @param {String} date
             *
             * @returns {Array}
             */
            filterUserDefinedRestDaysByRequestDates( date ) {
                return this.userDefinedRestDays.filter( ( restDay ) => restDay && includes( restDay.dates, date ) );
            },

            /**
             * Checks is date within rest day days.
             *
             * @param {String} restDay
             * @param {String} date
             *
             * @returns {Boolean}
             */
            isDateAmongRestDayDays( restDay, date ) {
                return restDay && restDay.dates.includes( date );
            },

            /**
             * Checks is Date within date range.
             *
             * @param {String} date
             * @returns {Boolean}
             */
            isDateWithinDateRange( date ) {
                if ( !date ) {
                    return false;
                }

                const formatedStartDate = moment( this.startDate ).format( DEFAULT_DATE_FORMAT );
                const formatedEndDate = moment( this.startDate ).format( DEFAULT_DATE_FORMAT );

                return moment( date ).isBetween( formatedStartDate, formatedEndDate, null, []);
            },

            /**
             * Toggles first step section.
             */
            toggleFirstStepForm() {
                if ( !this.firstPartFormCompleted ) return;

                this.firstStepFormIsVisible = !this.firstStepFormIsVisible;
            },

            /**
             * Checks is first step visible.
             * @returns {Boolean}
             */
            isFirstStepVisible() {
                return !this.firstPartFormCompleted || this.firstStepFormIsVisible;
            },

            /**
             * Gets the selected date.
             *
             * @return {Object} The selected date.
             */
            getSelectedDate() {
                return this.$route.query.selectedDate
                    ? moment( this.$route.query.selectedDate ).toDate()
                    : null;
            },

            /**
             * Determines if date is in range.
             *
             * @param {String} date
             * @return {boolean} True if date in range, False otherwise.
             */
            isDateInRange( date ) {
                return moment( date ).isBetween( moment( this.start ), moment( this.end ), null, '[]' );
            },

            /**
             * Saves time correction
             *
             * @param {Object} timeDispute
             */
            save( timeDispute ) {
                if ( isEmpty( timeDispute ) ) return;

                this.$emit( 'save', {
                    timeDispute,
                    startDate: this.startDate,
                    endDate: this.endDate
                });
            },

            /**
             * Emits edit-canceled event.
             * Turns disables editing.
             * @param {Number} shiftId
             */
            cancelEdit( shiftId, date ) {
                this.$emit( 'cancel', shiftId, date );
            },

            /**
             * Get Default ScheduleForDate.
             *
             * @returns {Object}
             */
            getDefaultScheduleForDate( date ) {
                return shiftsService.getDefaultScheduleForDate({ defaultScheduleData: this.defaultSchedules }, date );
            },

            /**
             * Returns the next shift after the current date and shift. This helps determine
             * the post-buffer that will be applied when sorting or grouping time records.
             * @param {string} date
             * @param {number} dateIndex
             * @param {number} shiftIndex
             */
            getNextShift( date, dateIndex, shiftIndex ) {
                const filteredShifts = Object.values( this.filteredShifts || []);
                const nextShift = get( filteredShifts, `${dateIndex}.${shiftIndex + 1}` );
                let nextShiftForNextDay = get( filteredShifts, `${dateIndex + 1}.0` );

                if ( !nextShift && !nextShiftForNextDay && date ) {
                    const nextDate = moment( date ).add( 1, 'day' ).format( 'YYYY-MM-DD' );

                    nextShiftForNextDay = this.parsedShifts[ nextDate ];

                    // Get default schedule instead
                    const defaultSchedule = this.parseDefaultScheduleBydate( nextDate );
                    nextShiftForNextDay = this.getUserDefinedRestDaysWithDayShifts( nextShiftForNextDay, nextDate, defaultSchedule );

                    if ( isEmpty( nextShiftForNextDay ) ) {
                        nextShiftForNextDay = defaultSchedule;
                    }
                }

                nextShiftForNextDay = Array.isArray( nextShiftForNextDay )
                    ? get( nextShiftForNextDay, '0' )
                    : nextShiftForNextDay;

                return nextShift || nextShiftForNextDay;
            },

            getPreviousShift( date, initialDateIndex, initialShiftIndex ) {
                const filteredShifts = Object.values( this.filteredShifts || []);
                let dateIndex;
                let shiftIndex;

                if ( initialShiftIndex > 0 ) {
                    // Set index to previous shift
                    shiftIndex = initialShiftIndex - 1;
                    dateIndex = initialDateIndex;
                } else if ( initialDateIndex > 0 ) {
                    // Access previous date
                    dateIndex = initialDateIndex - 1;

                    const currentDateShiftsLength = filteredShifts[ dateIndex ].length;
                    shiftIndex = currentDateShiftsLength > 0 ? currentDateShiftsLength - 1 : undefined;
                } else if ( initialDateIndex === 0 && initialShiftIndex === 0 ) {
                    const previousDate = moment( date ).subtract( 1, 'day' ).format( 'YYYY-MM-DD' );

                    let previousShift = this.parsedShifts[ previousDate ];

                    // Get default schedule instead
                    const defaultSchedule = this.parseDefaultScheduleBydate( previousDate );
                    previousShift = this.getUserDefinedRestDaysWithDayShifts( previousShift, previousDate, defaultSchedule );

                    if ( isEmpty( previousShift ) ) {
                        previousShift = defaultSchedule;
                    }

                    return Array.isArray( previousShift )
                        ? previousShift[ previousShift.length - 1 ]
                        : previousShift;
                }

                if ( dateIndex !== undefined && shiftIndex !== undefined ) {
                    return get( filteredShifts, `${dateIndex}.${shiftIndex}` );
                }

                return undefined;
            }
        },

        filters: {
            /**
             * Formats date to 'MMMM DD, YYYY'
             */
            formatDate( date ) {
                return moment( date ).format( DATE_FORMAT );
            }
        }
    };
</script>

<style lang="scss">
    .sl-c-calendar-overlay {
        .sl-c-overlay-content {
            padding: 0;
            width: 100vw;
            max-width: 100vw;
        }

        .flatpickr-calendar {
            margin-right: auto;
            margin-left: auto;
        }
    }
</style>
