<template>
    <div class="sl-c-grid sl-c-grid--twos">
        <div v-if="isNewTimeRecord" :class="{ 'sl-is-disabled': !isTimeRecordActive }">
            <sal-select-mobile
                v-model="timeRecord.type"
                :options="options"
                :disabled="!isTimeRecordActive"
                id="time-clock"
                class="sl-c-form-control--slim">
            </sal-select-mobile>
        </div>
        <div v-else>
            {{ timeRecord | timeRecordLabel }}
        </div>

        <div class="sl-c-input-group sl-c-input-group--empty">
            <flat-pickr
                :value="datetime"
                :config="config"
                :disabled="!isTimeRecordActive"
                class="sl-c-form-control sl-c-form-control--slim sl-c-form-control--inline"
                @input="value => timeRecord.datetime = formatDatetime(value)"
            />
            <div class="sl-c-input-group__addon">
                <i class="fa fa-clock-o"></i>
            </div>
            <i @click="removeTimeRecord" class="fa fa-lg fa-minus-circle sl-u-text--danger sl-u-gap-left--sm"></i>
        </div>
    </div>
</template>

<script>
    import moment from 'moment';
    import { capitalize } from 'lodash-es';

    export default {
        props: {
            isTimeRecordActive: Boolean,
            timeRecord: Object,
            isNewTimeRecord: {
                type: Boolean,
                required: false,
                default: true
            },
            isNightShift: {
                type: Boolean,
                required: true
            },
            shiftDate: {
                type: String,
                required: true
            }
        },

        computed: {
            type() {
                return this.timeRecord.type;
            },

            datetime() {
                return this.isNightShift
                    ? moment( this.timeRecord.datetime, 'YYYY-MM-DD HH:mm' ).format( 'MMM DD, HH:mm' )
                    : moment( this.timeRecord.datetime, 'YYYY-MM-DD HH:mm' ).format( 'HH:mm' );
            },

            config() {
                const options = {
                    disableMobile: true,
                    enableTime: true,
                    minuteIncrement: 1,
                    time_24hr: true
                };

                if ( !this.isNightShift ) {
                    return {
                        ...options,
                        noCalendar: true,
                        dateFormat: 'H:i'
                    };
                }

                const minDate = moment( this.shiftDate, 'YYYY-MM-DD' ).format( 'MMM DD, HH:mm' );
                const maxDate = moment( this.shiftDate, 'YYYY-MM-DD' )
                    .add( 1, 'days' ).add( 23, 'hours', 59, 'minutes' ).format( 'MMM DD, HH:mm' );

                return {
                    ...options,
                    noCalendar: false,
                    dateFormat: 'M d, H:i',
                    minDate,
                    maxDate
                };
            }
        },

        data() {
            return {
                options: [
                    { text: 'Clock In', value: 'clock_in' },
                    { text: 'Clock Out', value: 'clock_out' }
                ]
            };
        },

        watch: {
            type() {
                if ( !this.timeRecord ) return;
                this.$emit( 'change-time-record', this.timeRecord );
            },

            datetime() {
                if ( !this.timeRecord ) return;
                this.$emit( 'change-time-record', this.timeRecord );
            }
        },

        methods: {
            /**
             * Format datetime
             *
             * @param {String} datetime datetime
             * @returns {String}
             */
            formatDatetime( datetime ) {
                return this.isNightShift
                    ? moment( datetime, 'MMM DD, HH:mm' ).format( 'YYYY-MM-DD HH:mm' )
                    : `${this.shiftDate} ${datetime}`;
            },

            /**
             * Raise remove time record event
             */
            removeTimeRecord() {
                this.$emit( 'remove-time-record' );
            }
        },

        filters: {
            /**
             * Format time record label
             *
             * @param  {Object} timeRecord
             * @return {String}
             */
            timeRecordLabel( timeRecord ) {
                return `${timeRecord.action ? capitalize( timeRecord.action ) : ''}
                    ${capitalize( timeRecord.type.replace( /_/g, ' ' ) )}:`;
            }
        }
    };
</script>

<style lang="scss" scoped>
    .sl-c-form-control--inline {
        width: 6rem;
    }
</style>
