<template>
    <div>
        <header class="sl-c-page__header sl-u-gap-top--lg">
            <h1 class="sl-c-page__title">File an Undertime Request</h1>
        </header>

        <div class="sl-c-calendar-overlay">
            <section class="sl-c-section">
                <div class="sl-c-section__body">
                    <sal-add-request-details
                        v-if="pendingUndertimeRequests && pendingUndertimeRequests.length"
                        :requests="pendingUndertimeRequests"
                        type="Undertime"
                    />
                    <div class="sl-c-panel__header sl-u-gap-top--lg"
                        @click="toggleFirstStepForm"
                        :class="{'sl-u-has-border--bottom': !firstStepFormIsVisible}"
                    >
                        <h4 class="sl-c-panel__title">
                            <span class="sl-c-badge sl-c-badge--circle sl-u-gap-right">1</span>
                            Select a date to file undertime
                        </h4>
                        <div class="sl-c-actions">
                            <i class="fa sl-u-text--primary" :class="firstStepArrowClass" />
                        </div>
                    </div>

                    <!-- date picker component -->
                    <sal-datepicker
                        v-model="date"
                        class="sl-u-gap-top"
                        v-if="firstStepFormIsVisible"
                        requestType="Undertime" />
                    <!-- -->

                    <sal-file-upload
                        v-show="firstStepFormIsVisible"
                        @filesUploaded="storeUploadedFiles"
                        @remove-file="removeUploadedFile"
                        accept="fileTypes"
                    />

                    <template v-if="selectedDate">
                        <h4 class="sl-u-gap-top">
                            <span class="sl-c-badge sl-c-badge--circle sl-u-gap-right">2</span>
                            Add undertime request
                        </h4>

                        <p>
                            Below are the shifts assigned to you. You can request to add undertime.
                        </p>
                    </template>

                    <sal-card v-for="(shifts, date) in filteredShifts" :key="date" class="sl-u-gap-top">
                        <div class="sl-c-grid sl-c-grid--twos" v-if="!isEditing">
                            <div>
                                <i class="fa fa-calendar-o sl-u-text--disabled" />
                                From:<br> {{ selectedDate | formatDate }}
                            </div>
                            <div>
                                <i class="fa fa-calendar-o sl-u-text--disabled" />
                                To:<br> {{ selectedDate | formatDate }}
                            </div>
                        </div>
                        <template slot="header">
                            <strong class="sl-u-gap-left--sm">{{ date | formatDate }}</strong>
                        </template>
                        <template slot="actions">
                            <sal-button-mobile
                                id="edit-request"
                                :label="showTags ? 'Hide Tags' : 'Show Tags'"
                                size="sm"
                                type="primary"
                                :disabled="!tagsButtonEnabled"
                                buttonType="edit"
                                :onClick="toggleTags"
                            />
                        </template>

                        <!-- Undertime edit form -->
                        <sal-undertime-edit-request-card
                            v-for="(shift, index) in shifts"
                            :key="index"
                            :shift="shift"
                            :timesheet="timesheet"
                            :selected-date="selectedDate"
                            :showTags="showTags"
                            :nextShift="shifts[index + 1] || nextDayShift"
                            @tags-btn-enabled="handleTagsButton"
                            @save="( undertime, isActive ) => save( undertime, isActive )"
                            @edit="enableEdit"
                            @cancel-edit="( shift, isActive ) => cancelEdit( shift, isActive )"
                            @activate="activate"
                        />
                    </sal-card>
                </div>
            </section>
        </div>
    </div>
</template>
<script>
    import moment from 'moment';
    import { isEmpty, map, findIndex, has } from 'lodash-es';
    import { shiftsService } from '@/utils/services/ShiftsService';
    import { timeClockService } from '@/utils/services/TimeClockService';
    import { employeeRequestService } from '@/utils/services/EmployeeRequestService';
    import { auth } from '@/utils/Authentication';
    import { DATE_FORMAT, DEFAULT_SHIFT_DATETIME_FORMAT, REST_DAY_TYPE } from '@/constants/overtime-request';
    import { DEFAULT_DATE_FORMAT } from '@/constants/employee-request';
    import requestForm from '@/mixins/requestForm';

    export default {
        mixins: [
            requestForm
        ],
        name: 'sal-add-undertime-request-form',
        props: {
            pendingUndertimeRequests: [ Array, Object ]
        },
        data() {
            return {
                selectedDate: this.getSelectedDate(),
                clicked: false,
                editModeEnabled: true,
                showTags: false,
                parsedShifts: [],
                timesheet: [],
                isSubmiting: false,
                isEditing: true,
                tagsButtonEnabled: false,
                uploadedFiles: [],
                user: auth.getUser(),
                defaultSchedules: []
            };
        },

        computed: {
            /**
             * Filtered shifts by date range from first part.
             * @return {Object}
             */
            filteredShifts() {
                if ( !this.date ) {
                    return {};
                }

                const filteredShifts = {};

                Object.keys( this.parsedShifts ).forEach( ( date ) => {
                    if ( this.isDateSame( date ) ) {
                        filteredShifts[ date ] = this.parsedShifts[ date ];
                    }
                });

                if ( isEmpty( filteredShifts ) && this.defaultSchedules.length ) {
                    const formatedDate = moment( this.date ).format( DEFAULT_DATE_FORMAT );
                    const defaultScheduleForDate = this.getDefaultScheduleForDate();

                    if ( defaultScheduleForDate.day_type !== 'rest_day' ) {
                        filteredShifts[ formatedDate ] = [
                            shiftsService.parseDefaultScheduleForDisplay(
                                defaultScheduleForDate,
                                formatedDate,
                                true,
                                true
                            )
                        ];
                    }
                }

                return filteredShifts;
            },

            date: {
                /**
                 * Computed properties getter.
                 */
                get() {
                    if ( this.selectedDate ) {
                        return this.selectedDate;
                    }

                    const fromRoute = moment( this.$route.query.selectedDate, DEFAULT_SHIFT_DATETIME_FORMAT );
                    if ( fromRoute.isValid() ) {
                        return fromRoute.toDate();
                    }

                    return null;
                },

                /**
                 * Computed properties setter.
                 */
                set( value ) {
                    this.selectedDate = value;
                }
            },

            nextDayShift() {
                const nextDayDate = moment( this.selectedDate ).add( 1, 'day' );
                const nextDayDateFormatted = nextDayDate.format( DEFAULT_DATE_FORMAT );

                let [nextDayShift] = !isEmpty( this.parsedShifts[ nextDayDateFormatted ])
                    ? this.parsedShifts[ nextDayDateFormatted ]
                    : [this.getDefaultScheduleForDate( nextDayDate )];

                if ( nextDayShift.day_type === REST_DAY_TYPE ) {
                    return {};
                }

                if ( !has( nextDayShift, 'start' ) ) {
                    nextDayShift = {
                        ...nextDayShift,
                        start: nextDayShift.work_start,
                        end: nextDayShift.work_end,
                        date: nextDayDateFormatted
                    };
                }

                return nextDayShift;
            }
        },

        created() {
            this.fetchData();
        },

        methods: {
            /**
             * Fetch all data.
             */
            async fetchData() {
                this.$loader.show();
                const [ shifts, defaultSchedules, timesheet, userDefinedRestDays ] = await Promise.all([
                    shiftsService.getEmployeeShifts(),
                    shiftsService.fetchDefaultScheduleForCompany( this.user.company_id ),
                    timeClockService.getTimeClockTimesheet(),
                    employeeRequestService.getEmployeeRestDays()
                ]);

                this.parsedShifts = shiftsService.parseShifts([ ...shifts, ...userDefinedRestDays ], true, true );
                this.defaultSchedules = defaultSchedules;
                this.timesheet = timesheet;
                this.$loader.hide();
            },
            /**
             * Toggles first step section.
             */
            toggleFirstStepForm() {
                if ( !this.selectedDate ) return;

                this.firstStepFormIsVisible = !this.firstStepFormIsVisible;
            },

            /**
             * Enables form editing.
             */
            enableEdit() {
                this.isEditing = true;
            },

            /**
             * Returns selectedDate if exists in query params
             * @returns {Object}
             */
            getSelectedDate() {
                return this.$route.query.selectedDate
                    ? moment( this.$route.query.selectedDate ).toDate()
                    : null;
            },

            /**
             * Emits edit-canceled event.
             * Turns disables editing.
             * @param {Number} shiftId
             */
            cancelEdit( shift ) {
                if ( shift.selected ) {
                    this.isEditing = false;
                }

                this.$emit( 'cancel', shift.shift_id );
            },

            /**
             * Handles show tags button disabled status.
             */
            handleTagsButton() {
                this.tagsButtonEnabled = true;
            },

            /**
             * Toggles tags section visibility.
             */
            toggleTags() {
                this.showTags = !this.showTags;
            },

            /**
             * Determines if date is same as selected.
             *
             * @param {String} date
             * @return {boolean} True if date in same, False otherwise.
             */
            isDateSame( date ) {
                return moment( date ).isSame( moment( this.date ) );
            },

            /**
             * Get Default ScheduleForDate.
             *
             * @returns {Object}
             */
            getDefaultScheduleForDate( date = this.date ) {
                return shiftsService.getDefaultScheduleForDate({ defaultScheduleData: this.defaultSchedules }, date );
            },

            /**
             * Toggles flatpickr calendar.
             */
            toggleFlatpickrCalendar() {
                !this.clicked ? this.flatpickr.open() : this.flatpickr.close();
            },

            /**
             * Saves undertime request data.
             * @param {Object} undertime undertime data
             */
            save( undertime, isActive ) {
                if ( isEmpty( undertime ) ) return;
                this.isEditing = false;

                if ( !isActive ) return;
                this.$emit( 'save', {
                    undertime,
                    date: this.selectedDate
                });
            },

            activate( undertime ) {
                if ( isEmpty( undertime ) ) return;

                this.$emit( 'save', {
                    undertime,
                    date: this.selectedDate
                });
            },

            /**
             * Stores uploaded files to array.
             * @param {Object}
             */
            storeUploadedFiles( files ) {
                this.uploadedFiles.unshift( files );
                this.$emit( 'update-files', map( this.uploadedFiles, 'id' ) );
            },

            /**
             * Removes uploaded file.
             * @param {Number} fileId id of file to be removed.
             */
            removeUploadedFile( fileId ) {
                if ( !fileId ) return;

                const index = findIndex( this.uploadedFiles, { id: fileId });
                this.uploadedFiles.splice( index, 1 );
                this.$emit( 'remove-file', fileId );
            }
        },

        watch: {
            /**
             * Watches date change and emits event if changed.
             * Resets overtime request list if date is changed.
             */
            date( newVal, oldVal ) {
                if ( oldVal ) {
                    this.$emit( 'date-changed' );
                    this.tagsButtonEnabled = false;
                    this.showTags = false;
                }
                if ( newVal ) {
                    this.firstStepFormIsVisible = false;
                }
            }
        },

        filters: {
            /**
             * Formats date to 'MMMM DD, YYYY'
             */
            formatDate( date ) {
                return moment( date ).format( DATE_FORMAT );
            }
        }
    };
</script>

<style lang="scss">
    .sl-c-calendar-overlay {
        margin: 0;

        .sl-c-overlay-content {
            padding: 0;
            width: 100vw;
            max-width: 100vw;
        }

        .flatpickr-calendar {
            margin-right: auto;
            margin-left: auto;
        }
    }
</style>
