<template>
    <div>
        <div class="sl-c-card sl-c-card--default" v-for="( leaveGroup, date ) of groupedRequests" :key="date">
            <div class="sl-c-card__header">
                <p><strong>{{ date }}</strong></p>
            </div>

            <div class="sl-c-card__body">
                <div v-for="( leave, index ) of leaveGroup" :key="index">
                    <div class="sl-c-grid sl-c-grid--twos">
                        <div>Schedule:</div>
                        <div>{{ leave.schedule ? leave.schedule.name : 'Default Schedule' }}</div>
                    </div>

                    <div class="sl-c-grid sl-c-grid--twos">
                        <div>Time:</div>
                        <div>{{ leave.schedule ? getTime( leave, date ) : getDefaultScheduleTime( date ) }}</div>
                    </div>

                    <div class="sl-c-grid sl-c-grid--twos">
                        <div>Leave Start Time:</div>
                        <div>{{ leave.start_time }}</div>
                    </div>

                    <div class="sl-c-grid sl-c-grid--twos">
                        <div>Leave End Time:</div>
                        <div>{{ leave.end_time }}</div>
                    </div>

                    <div class="sl-c-grid sl-c-grid--twos">
                        <div>
                            <strong>
                                Filed Leave Units:
                            </strong>
                        </div>
                        <div>
                            <strong>
                                {{ leave.value | roundValueToTwoDecimals }} {{ unit }}
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { employeeRequestService } from '@/utils/services/EmployeeRequestService';
    import { shiftsService } from '@/utils/services/ShiftsService';
    import { auth } from '@/utils/Authentication';
    import valueFormats from '@/mixins/valueFormats';
    export default {
        props: {
            leaves: {
                type: Array,
                required: true
            },
            unit: String,
            /**
             * adding this to prevent side effects to other components
             */
            showLoading: {
                type: Boolean,
                default: true
            }
        },

        data() {
            return {
                defaultSchedules: [],
                user: auth.getUser()
            };
        },

        mixins: [valueFormats],

        computed: {
            /**
            * Computes grouped requests
            */
            groupedRequests() {
                return employeeRequestService.groupRequestsByDate( this.leaves );
            }
        },

        created() {
            if ( this.showLoading ) {
                this.$loader.show();
            }

            shiftsService.fetchDefaultScheduleForCompany( this.user.company_id )
                .then( ( defaultSchedules ) => {
                    this.defaultSchedules = defaultSchedules;
                    this.$loader.hide();
                })
                .catch( () => this.$loader.hide() );
        },

        methods: {
            /**
             * Get schedule start and end time.
             *
             * @param {Object} leave
             * @returns {String}
             */
            getTime( leave ) {
                return `${leave.schedule.start_time} to ${leave.schedule.end_time}`;
            },

            /**
             * Gets Default Schedule Start and End Time.
             *
             * @param {String} date
             * @returns {String}
             */
            getDefaultScheduleTime( date ) {
                if ( !this.defaultSchedules.length ) {
                    return false;
                }

                const defaultSchedule =
                    shiftsService.parseDefaultScheduleForDisplay(
                        shiftsService.getDefaultScheduleForDate(
                            { defaultScheduleData: this.defaultSchedules },
                            date
                        ),
                        date
                    );

                return `${defaultSchedule.start} to ${defaultSchedule.end}`;
            }
        }
    };
</script>

<style lang="scss" scoped>
    .sl-c-card__body {
        word-break: break-word;
    }
</style>
