<template>
    <sal-card :class="{'sl-c-card--default': !isEditable}">
        <div class="sl-c-grid sl-c-grid--twos sl-u-gap--top" slot="header">
            <div>{{ shift.schedule.name }}</div>
            <div class="sl-u-text--left">
                <span class="sl-c-label sl-c-label--disabled sl-c-header-label">
                    <i class="fa fa-sm fa-circle sl-u-text--primary sl-u-gap-right--xs" />
                    {{ shift.schedule.start_time }} to {{ shift.schedule.end_time }}
                </span>
            </div>
        </div>

        <div class="sl-c-grid sl-c-grid--twos sl-u-gap--top">
            <div>Schedule:</div>
            <div>{{ shift.schedule.name }}</div>
        </div>
        <div>
            <div class="sl-c-grid sl-c-grid--twos">
                <div class="sl-u-gap-left--sm">
                    <i class="fa fa-clock-o sl-u-gap-right--xs sl-u-gap-left--xs" />
                    Clock in:
                </div>
                <div class="sl-u-gap-right--xs sl-u-gap-left--xs"
                    v-if="hasClockIn(rawTimesheet)"
                >
                    {{ rawTimesheet.clockIn.timestamp | timestampToTime }}
                </div>
            </div>

            <div class="sl-c-tag-list sl-u-gap-top"
                v-if="showTagsSection(rawTimesheet)"
            >
            <!-- Request tags input section -->
                <span class="sl-c-tag" v-for="(tag, index) in rawTimesheet.clockIn.tags" :key="index" >
                    {{ tag }}
                </span>
            </div>

            <div class="sl-c-grid sl-c-grid--twos">
                <div class="sl-u-gap-left--sm">
                    <i class="fa fa-clock-o sl-u-gap-right--xs sl-u-gap-left--xs" />
                    Clock out:
                </div>
                <div v-if="hasClockOut(rawTimesheet)">
                    {{ rawTimesheet.clockOut.timestamp | timestampToTime }}
                </div>
            </div>
        </div>

        <div class="sl-c-grid sl-c-grid--twos sl-u-gap-bottom">
            <template v-if="isEditable">
                <div>
                    Overtime start time:
                </div>

                <flat-pickr
                    v-if="isEditable"
                    v-model="overtime.start"
                    :config="config"
                    class="sl-c-form-control sl-c-form-control--slim"
                />
            </template>
            <template v-else-if="overtime.start">
                <div>
                    Overtime start time:
                </div>
                <div>
                    {{ overtime.start }}
                </div>
            </template>
        </div>

        <div class="sl-c-grid sl-c-grid--twos">
            <template v-if="isEditable">
                <div>
                    Number of hours:
                </div>
                <flat-pickr
                    v-if="isEditable"
                    v-model="overtime.numberOfHours"
                    :config="config"
                    class="sl-c-form-control sl-c-form-control--slim"
                />
            </template>
            <template v-else-if="overtime.numberOfHours">
                <div>
                    Overtime hours:
                </div>
                <div>
                    {{ overtime.numberOfHours }} Hour/s
                </div>
            </template>
        </div>

        <div slot="footer" class="sl-u-text--center">
            <template v-if="isEditable">
                <sal-button-mobile
                    id="cancel-request"
                    label="Cancel"
                    size="md"
                    type="primary"
                    outlined
                    buttonType="button"
                    :onClick="cancel"
                />

                <sal-button-mobile
                    id="submit-request"
                    label="Save"
                    size="md"
                    type="primary"
                    buttonType="submit"
                    :onClick="save"
                    :disabled="!overtime.start || !overtime.numberOfHours"
                    outlined
                />
            </template>
            <template v-else>
                <sal-button-mobile
                    id="edit-request"
                    label="Edit"
                    size="md"
                    type="primary"
                    buttonType="button"
                    :onClick="edit"
                />
            </template>
        </div>
    </sal-card>
</template>
<script>
    import moment from 'moment';
    import { find, has } from 'lodash-es';
    import { timeClockService } from '@/utils/services/TimeClockService';
    import {
        DEFAULT_NUMBER_OF_HOURS,
        DEFAULT_SHIFT_DATETIME_FORMAT,
        HOURS_MINUTES_FORMAT
    } from '@/constants/overtime-request';

    export default {
        name: 'sal-overtime-edit-request-card',
        props: {
            shift: {
                type: Object,
                required: true
            },
            timesheet: {
                type: [ Array, Object ],
                required: true
            },
            rawTimesheet: {
                type: Object,
                required: true
            },
            showTags: {
                type: Boolean,
                default: false
            },
            nextShift: Object,
            isHoliday: {
                type: Boolean,
                default: false
            }
        },

        data() {
            return {
                config: {
                    disableMobile: true,
                    noCalendar: true,
                    enableTime: true,
                    dateFormat: 'H:i',
                    minuteIncrement: 1,
                    time_24hr: true
                },
                overtime: {
                    start: this.shift.schedule.end_time,
                    numberOfHours: DEFAULT_NUMBER_OF_HOURS
                },
                isEditable: true,
                shiftsTimeclock: {},
                timeclockPairs: []
            };
        },

        computed: {
            /**
             * Computes shift's range.
             * @returns {Object}
             */
            shiftRange() {
                const start = moment(
                    `${this.shift.date} ${this.shift.schedule.start_time}`, DEFAULT_SHIFT_DATETIME_FORMAT
                );
                const end = moment(
                    `${this.shift.date} ${this.shift.schedule.end_time}`, DEFAULT_SHIFT_DATETIME_FORMAT
                );

                if ( end.isBefore( start ) ) {
                    end.add( 1, 'days' );
                }

                return { start, end };
            }
        },

        created() {
            this.setDefaultOvertimeValues();
            this.handleEdit();
        },

        methods: {
            /**
             * Sets first clock in and last clock out per shift.
             */
            setShiftsTimeclock() {
                if ( !this.shift.shift_id && this.timeclockPairs.length > 0 ) {
                    this.shiftsTimeclock = this.timeclockPairs[ 0 ];
                    return;
                }

                const timeclockPair = find( this.timeclockPairs, ( timeclock ) => // eslint-disable-line consistent-return
                    timeClockService.isTimeclockOverlapingWithShift( timeclock, this.shiftRange )
                );

                if ( !timeclockPair ) {
                    this.shiftsTimeclock = false;

                    return;
                }

                if (
                    timeclockPair.clockIn &&
                    timeclockPair.clockIn.tags &&
                    timeclockPair.clockIn.tags.length
                ) {
                    this.$emit( 'tags-btn-enabled' );
                }

                timeclockPair.clockOut = timeClockService.getLastShiftsClockOut( this.timeclockPairs, this.shiftRange, this.nextShift );

                this.shiftsTimeclock = timeclockPair;
            },

            /**
             * Sets timeclok pairs and check are tags present.
             * Emits disable-button event to parent.
             */
            setTimeclockPairs() {
                if ( this.timesheet.length > 0 ) {
                    this.timeclockPairs = timeClockService.getAttendancePairs( this.timesheet );
                }
            },

            /**
             * Validates overtime start time.
             *
             * @returns {Boolean}
             */
            isOvertimeDayRangeValid() {
                if ( this.isHoliday ) {
                    return true;
                }

                const overtimeStart = moment( this.overtime.start, HOURS_MINUTES_FORMAT );
                const shiftStart = moment( this.shift.schedule.start_time, HOURS_MINUTES_FORMAT );
                const shiftEnd = moment( this.shift.schedule.end_time, HOURS_MINUTES_FORMAT );
                const overtimeNumberOfHours = moment( this.overtime.numberOfHours, HOURS_MINUTES_FORMAT );

                const overtimeEnd = moment( overtimeStart, HOURS_MINUTES_FORMAT ).add({
                    hours: overtimeNumberOfHours.hours(),
                    minutes: overtimeNumberOfHours.minutes()
                });

                const overtimeValidationData = { overtimeEnd, overtimeStart, shiftStart, shiftEnd };

                const isFlexi = this.shift.schedule.type === 'flexi';
                if ( isFlexi ) {
                    const withCoreHours = has( this.shift.schedule, 'core_times' ) && this.shift.schedule.core_times.length > 0;

                    if ( withCoreHours ) {
                        return !this.isOvertimeOverlappingWithFlexiCoreTimes({ overtimeStart, overtimeEnd });
                    }

                    return true;
                }

                if (
                    this.isOvertimeAfterMidnightOverlappingWithNightShift( overtimeValidationData ) ||
                    this.isOvertimeOverlappingWithNightShift( overtimeValidationData ) ||
                    this.isOvertimeEndAfterAndOvertimeStartBeforeShiftStart( overtimeValidationData )
                ) {
                    return false;
                }

                return !this.isOvertimeOverlappingShiftRange( overtimeValidationData );
            },

            /**
             * Checks is Overtimer end time after shift start time and is Overtime start before shift start.
             *
             * @param {Object} overtimeValidationData
             *
             * @returns {Boolean}
             */
            isOvertimeEndAfterAndOvertimeStartBeforeShiftStart( overtimeValidationData ) {
                const { overtimeEnd, overtimeStart, shiftStart } = overtimeValidationData;

                return overtimeEnd.isAfter( shiftStart ) && overtimeStart.isBefore( shiftStart );
            },

            /**
             * Checks is overtime start or end between shift start or end.
             *
             * @param {Object} overtimeValidationData
             *
             * @returns {Boolean}
             */
            isOvertimeOverlappingShiftRange( overtimeValidationData ) {
                const { overtimeEnd, overtimeStart, shiftStart, shiftEnd } = overtimeValidationData;

                return overtimeStart.isBetween( shiftStart, shiftEnd, '[)' )
                    || overtimeEnd.isBetween( shiftStart, shiftEnd, '(]' );
            },

            /**
             * Checks is overtime after midnight in night shift.
             *
             * @param {Object} overtimeValidationData
             *
             * @returns {Boolean}
             */
            isOvertimeAfterMidnightOverlappingWithNightShift( overtimeValidationData ) {
                const { overtimeStart, shiftStart, shiftEnd } = overtimeValidationData;

                return shiftStart.isAfter( shiftEnd ) && overtimeStart.isBefore( shiftEnd );
            },

            /**
             * Checks is overtime start or end in night shift.
             *
             * @param {Object} overtimeValidationData
             *
             * @returns {Boolean}
             */
            isOvertimeOverlappingWithNightShift( overtimeValidationData ) {
                const { overtimeEnd, overtimeStart, shiftStart, shiftEnd } = overtimeValidationData;

                return shiftStart.isAfter( shiftEnd ) &&
                    ( overtimeStart.isAfter( shiftStart ) || overtimeEnd.isAfter( shiftStart ) );
            },

            /**
             * Check if overtime is overlapping with core hours
             *
             * @param {Object} overtimeData overtime start and end
             *
             * @returns {Boolean}
             */
            isOvertimeOverlappingWithFlexiCoreTimes({ overtimeStart, overtimeEnd }) {
                return this.shift.schedule.core_times.some( ( coreTime ) => {
                    const start = moment( coreTime.start, HOURS_MINUTES_FORMAT );
                    const end = moment( coreTime.end, HOURS_MINUTES_FORMAT );

                    if ( end.isBefore( start ) ) {
                        if ( end.isSameOrAfter( overtimeStart ) && start.isAfter( overtimeStart ) ) {
                            overtimeStart.add( 1, 'days' );
                            overtimeEnd.add( 1, 'days' );
                        }

                        end.add( 1, 'days' );
                    }

                    const flexiOvertimeValidationData = {
                        overtimeStart,
                        overtimeEnd,
                        shiftStart: start,
                        shiftEnd: end
                    };

                    return this.isOvertimeOverlappingShiftRange( flexiOvertimeValidationData )
                        || this.isOvertimeEndAfterAndOvertimeStartBeforeShiftStart( flexiOvertimeValidationData );
                });
            },

            /**
             * Enables request editing and sets default overtime values.
             */
            edit() {
                this.isEditable = true;

                this.setDefaultOvertimeValues();
                this.$emit( 'edit' );
            },

            /**
             * Listens for parents invalid-data event and turns on edit mode.
             */
            handleEdit() {
                this.$parent.$parent.$on( 'invalid-data', () => {
                    this.isEditable = true;
                });
            },

            /**
             * Cancels overtime request creation.
             */
            cancel() {
                this.$modal.confirm({
                    type: 'danger',
                    title: 'Confirm Action',
                    cancelText: 'Cancel',
                    okText: 'Confirm',
                    content: 'You are about to cancel editing request. Do you wish to proceed?',
                    onOk: () => {
                        this.isEditable = false;
                        this.overtime = {
                            start: null,
                            numberOfHours: null
                        };
                        this.$emit( 'cancel-edit', this.shift.shift_id );
                    }
                });
            },

            /**
             * Saves entered overtime request data.
             */
            save() {
                if ( this.overtime.numberOfHours === DEFAULT_NUMBER_OF_HOURS || !this.isOvertimeDayRangeValid() ) {
                    this.$flashMessage.show( 'Invalid Time Record', 'error' );

                    return;
                }

                this.isEditable = false;

                this.$emit( 'save', {
                    hours: this.overtime.numberOfHours,
                    start_time: this.overtime.start,
                    shift_id: this.shift.shift_id
                });
            },

            /**
             * Checks is clocked on shifts day.
             * @param {Object} clockPair
             * @returns {Boolean}
             */
            clockedOnShiftDay( clockPair ) {
                const clockIn = moment( clockPair.clockIn.timestamp, 'X' );
                const clockOut = moment( clockPair.clockOut.timestamp, 'X' );

                return clockIn.isSame( this.shift.date, 'day' ) || clockOut.isSame( this.shift.date, 'day' );
            },

            /**
             * Sets default overtime values.
             */
            setDefaultOvertimeValues() {
                if ( !this.overtime.numberOfHours || this.overtime.numberOfHours === DEFAULT_NUMBER_OF_HOURS ) {
                    const scheduleEnd = moment( this.shift.schedule.end_time, HOURS_MINUTES_FORMAT );
                    const start = scheduleEnd.isValid() ? scheduleEnd.toDate() : '';

                    this.overtime = {
                        start,
                        numberOfHours: DEFAULT_NUMBER_OF_HOURS
                    };
                }
            },

            /**
             * Checks whether or not to show time clock tags
             *
             * @returns {Boolean}
             */
            showTagsSection( timesheet ) {
                return this.showTags && this.clockInHasTags( timesheet );
            },

            /**
             * Checks does clockIn has tags.
             *
             * @returns {Boolean}
             */
            clockInHasTags( timesheet ) {
                return timesheet &&
                    timesheet.clockIn &&
                    timesheet.clockIn.tags &&
                    timesheet.clockIn.tags.length;
            },

            /**
             * Checks if passed timesheet has clock-in
             *
             * @returns {Boolean}
             */
            hasClockIn( timesheet ) {
                return timesheet &&
                    timesheet.clockIn &&
                    timesheet.clockIn.timestamp;
            },

            /**
             * Checks if passed timesheet has clock-out
             *
             * @returns {Boolean}
             */
            hasClockOut( timesheet ) {
                return timesheet &&
                    timesheet.clockOut &&
                    timesheet.clockOut.timestamp;
            }
        },

        watch: {
            timesheet( value ) {
                if ( value.length > 0 ) {
                    this.setTimeclockPairs();
                    this.setShiftsTimeclock();
                }
            }
        },

        filters: {
            /**
             * Formats timestamp to time format HOURS_MINUTES_FORMAT.
             * @returns {Moment} formated moment object
             */
            timestampToTime( timestamp ) {
                return moment( timestamp, 'X' ).format( HOURS_MINUTES_FORMAT );
            }
        }
    };
</script>
<style lang="scss" scoped>
</style>
