<template>
    <div>
        <div class="sl-c-card sl-c-card--default" v-for="( shift, date ) of shifts" :key="date">
            <div class="sl-c-card__header">
                <div class="sl-c-grid sl-c-grid--twos">
                    <div>
                        <p><strong>{{ overtime.date | date }}</strong></p>
                    </div>
                    <div>
                        <span class="sl-c-label sl-c-label--primary-pale">
                            <i class="fa fa-sm fa-circle sl-u-text--primary sl-u-gap-right--xs" />
                            {{ shift.schedule.start_time }} - {{ shift.schedule.end_time }}
                        </span>
                    </div>
                </div>
            </div>

            <div class="sl-c-card__body">
                <div class="sl-c-grid sl-c-grid--twos">
                    <div>Schedule:</div>
                    <div>{{ shift.schedule.name }}</div>
                </div>

                <div class="sl-c-grid sl-c-grid--twos">
                    <div>Time:</div>
                    <div v-if="!isRestDay">{{ shift.schedule.start_time }} to {{ shift.schedule.end_time }}</div>
                </div>

                <div class="sl-c-grid sl-c-grid--twos">
                    <div>Clock in:</div>
                    <div v-if="hasClockIn( shift )">{{ shift.clockPair.clockIn.timestamp | timestampToTime }}</div>
                </div>

                <div class="sl-c-grid sl-c-grid--twos">
                    <div>Clock out:</div>
                    <div v-if="hasClockOut( shift )">{{ shift.clockPair.clockOut.timestamp | timestampToTime }}</div>
                </div>

                <div class="sl-c-grid sl-c-grid--twos">
                    <div>Overtime Start Time:</div>
                    <div>{{ shift.start_time | time }}</div>
                </div>

                <div class="sl-c-grid sl-c-grid--twos">
                    <div>Overtime Hours:</div>
                    <div>{{ shift.hours | time }}</div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { filter, find, map } from 'lodash-es';
import moment from 'moment';
import { timeClockService } from '@/utils/services/TimeClockService';
import { shiftsService } from '@/utils/services/ShiftsService';
import { auth } from '@/utils/Authentication';
import { DEFAULT_SHIFT_DATETIME_FORMAT, REST_DAY, REST_DAY_TYPE, NOT_AVAILABLE } from '@/constants/overtime-request';
import requestDetailsFilters from '@/mixins/requestDetailsFilters';

export default {
    mixins: [requestDetailsFilters],
    props: {
        overtime: {
            type: Object,
            required: true
        },
        userDefinedRestDays: {
            type: Array,
            required: true
        },
        /**
         * adding this to prevent side effects to other components
         */
        showLoading: {
            type: Boolean,
            default: true
        }
    },

    data() {
        return {
            shifts: [],
            timesheet: null,
            timeClockPairs: [],
            user: auth.getUser(),
            defaultSchedules: [],
            defaultScheduleForDate: null
        };
    },

    created() {
        const defaultShiftRegex = new RegExp( /^ds/ );
        const shiftId = this.overtime && this.overtime.params.shifts[ 0 ].shift_id;
        if ( shiftId && !defaultShiftRegex.test( shiftId ) ) {
            this.shifts = filter( this.overtime.shifts, ( shift ) =>
                find( this.overtime.params.shifts, ( overtimeShift ) => overtimeShift.shift_id.toString() === shift.id.toString() )
            );
            this.shifts = this.mapShifts();
        } else {
            this.setDataForDefaultScheduleOrRestDay();
        }

        this.timesheet = timeClockService.getAttendancePairs( this.overtime.timesheet );
        this.timeClockPairs = filter( this.timesheet, ( pair ) => // eslint-disable-line no-confusing-arrow
            pair && pair.clockIn
                ? moment( pair.clockIn.timestamp, 'X' ).isSame( this.overtime.date, 'day' )
                : false
        );
    },

    computed: {
        /**
         * Checks if date is a user defined rest day
         * @returns {Boolean}
         */
        isUserDefinedRestDay() {
            return this.userDefinedRestDays.some( ( userDefinedRestDay ) =>
                userDefinedRestDay.dates.some( ( date ) => date === this.overtime.date )
            );
        },

        isRestDay() {
            const isDefaultScheduleRestDay = this.defaultScheduleForDate
                && this.defaultScheduleForDate.day_type === REST_DAY_TYPE;
            return isDefaultScheduleRestDay || this.isUserDefinedRestDay;
        }
    },

    methods: {
        /**
         * Sets Details Data for Default Schedule or Rest Days.
         */
        setDataForDefaultScheduleOrRestDay() {
            if ( this.showLoading ) {
                this.$loader.show();
            }

            this.fetchDefaultScheduleForCompany()
                .then( () => {
                    if ( !this.isUserDefinedRestDay ) {
                        this.defaultScheduleForDate = this.getDefaultScheduleForDate();
                    }

                    this.shifts = this.overtime.params.shifts;
                    this.shifts = this.mapShifts();
                })
                .finally( () => this.$loader.hide() );
        },

        /**
         * Fetch Default Schedule for Company.
         *
         * @returns {Promise}
         */
        fetchDefaultScheduleForCompany() {
            return shiftsService.fetchDefaultScheduleForCompany( this.user.company_id )
                .then( ( schedules ) => {
                    this.defaultSchedules = schedules;
                })
                .catch( () => this.$flashMessage.show( 'Something went wrong...', 'error' ) );
        },

        /**
         * Get Default Schedule for Date.
         *
         * @returns {Object}
         */
        getDefaultScheduleForDate() {
            return shiftsService.getDefaultScheduleForDate({ defaultScheduleData: this.defaultSchedules }, this.overtime.date );
        },

        /**
         * Map the shifts.
         */
        mapShifts() {
            return map( this.shifts, ( shift ) => {
                const shiftData = find( this.overtime.params.shifts, ( overtimeShift ) =>
                    parseInt( overtimeShift.shift_id, 10 ) === parseInt( shift.id, 10 )
                );

                if ( shiftData ) {
                    shift.start_time = shiftData.start_time;
                    shift.hours = shiftData.hours;
                }

                if ( this.isUserDefinedRestDay ) {
                    shift.schedule = {
                        start_time: NOT_AVAILABLE,
                        end_time: NOT_AVAILABLE,
                        name: REST_DAY
                    };
                } else if ( this.defaultScheduleForDate ) {
                    const isRestDay = this.defaultScheduleForDate.day_type === REST_DAY_TYPE;
                    const startTime = isRestDay ? NOT_AVAILABLE : moment( this.defaultScheduleForDate.work_start, 'HH:mm:ss' ).format( 'HH:mm' );
                    const endTime = isRestDay ? NOT_AVAILABLE : moment( this.defaultScheduleForDate.work_end, 'HH:mm:ss' ).format( 'HH:mm' );

                    shift.schedule = {
                        start_time: startTime,
                        end_time: endTime,
                        name: `Default Schedule${isRestDay ? ` - ${REST_DAY}` : ''}`
                    };
                }

                this.addShiftStartAndEnd( shift );

                shift.clockPair = find( this.timeClockPairs, ( clockPair ) =>
                    timeClockService.isTimeclockOverlapingWithShift( clockPair, shift )
                );

                return shift;
            });
        },

        /**
         * Adds a shift start and end.
         *
         * @param {Object} shift
         */
        addShiftStartAndEnd( shift ) {
            const start = moment(
                `${this.overtime.date} ${shift.schedule.start_time}`, DEFAULT_SHIFT_DATETIME_FORMAT
            );
            const end = moment(
                `${this.overtime.date} ${shift.schedule.end_time}`, DEFAULT_SHIFT_DATETIME_FORMAT
            );

            if ( end.isBefore( start ) ) {
                end.add( 1, 'days' );
            }

            shift.start = start;
            shift.end = end;
        },

        /**
         * Determines if shift has clock in.
         *
         * @param   {Object}   shift
         * @return  {boolean}  True if has clock in, False otherwise.
         */
        hasClockIn( shift ) {
            return shift.clockPair && shift.clockPair.clockIn;
        },

        /**
         * Determines if shift has clock out.
         *
         * @param   {Object}   shift
         * @return  {boolean}  True if has clock out, False otherwise.
         */
        hasClockOut( shift ) {
            return shift.clockPair && shift.clockPair.clockOut;
        }
    }
};
</script>
<style>
</style>

