<template>
    <sal-card>
        <template slot="title">
            <router-link :to="{
                name: 'requests.overtime-request.details',
                params: { requestId: request.id }
            }">Overtime</router-link>
        </template>

        <template slot="actions">
            <sal-button-mobile
                v-if="isRequestCancelable"
                id="removeRequest"
                type="cancel"
                class="sl-c-btn--xs-c"
                :onClick="cancelRequest"
                :disabled="isCancelingRequest"
            >
                <i class="fa fa-ban"></i>
                Cancel
            </sal-button-mobile>

            <span class="sl-c-label" :class="statusClass">
                <i class="fa sl-u-gap-right--sm" :class="statusIcon"></i>
                {{ status }}
            </span>
        </template>

        <div class="sl-c-grid sl-c-grid--twos">
            <div>
                <i class="fa fa-calendar-o sl-u-text--disabled"></i> From:<br> {{ from }}
            </div>
            <div>
                <i class="fa fa-calendar-o sl-u-text--disabled"></i> To:<br> {{ to }}
            </div>
        </div>

        <div class="sl-u-gap-top" v-if="requestDetailsVisible">
            <sal-overtime-details
                :overtime="request"
                :user-defined-rest-days="userDefinedRestDays"
            />
        </div>

        <p>
            <a
                id="show-details"
                @click="toggleRequestDetails"
            >
                <i class="fa" :class="arrowClass"></i>
                Show {{ requestDetailsVisible ? 'less' : 'more' }} details
            </a>
        </p>

        <template slot="footer">
            <i class="fa fa-reply sl-u-text--disabled sl-u-gap-right--sm"></i> {{ employeeRequest.messages_count }} messages
        </template>
    </sal-card>
</template>

<script>
    import moment from 'moment';
    import { REQUEST_STATUSES } from '@/constants/employee-request';
    import { employeeRequestService } from '@/utils/services/EmployeeRequestService';
    import { get } from 'lodash-es';

    export default {
        name: 'sal-overtime-request-card-mobile',

        props: {
            employeeRequest: {
                type: Object,
                required: true
            },
            userDefinedRestDays: {
                type: Array,
                required: true
            }
        },

        data() {
            return {
                requestDetailsVisible: false,
                isCancelingRequest: false
            };
        },

        computed: {
            /**
             * Request details specific to the type of request.
             * @return {Object}
             */
            request() {
                return this.employeeRequest.request;
            },

            /**
             * Sets class for show details icon
             * @returns String css class name
             */
            arrowClass() {
                return {
                    'fa-arrow-circle-down': !this.requestDetailsVisible,
                    'fa-arrow-circle-up': this.requestDetailsVisible
                };
            },

            /**
             * Sets icon for status field label
             * @returns String css class name
             */
            statusIcon() {
                return {
                    'fa-times sl-u-text': this.status === REQUEST_STATUSES.declined || this.status === REQUEST_STATUSES.cancelled,
                    'fa-check sl-u-text': this.status === REQUEST_STATUSES.approved
                };
            },

            /**
             * Sets class for status field
             * @returns String css class name
             */
            statusClass() {
                return {
                    'sl-c-label--danger': this.status === REQUEST_STATUSES.declined || this.status === REQUEST_STATUSES.cancelled,
                    'sl-c-label--success': this.status === REQUEST_STATUSES.approved
                };
            },

            /**
             * Convert request status code to string.
             */
            status() {
                return this.employeeRequest.status;
            },

            /**
             * Format request start date.
             */
            from() {
                return moment( this.request.date ).format( 'MMMM D, YYYY' );
            },

            /**
             * Format request end date.
             */
            to() {
                return moment( this.request.date ).format( 'MMMM D, YYYY' );
            },

            /**
             * Check if request status is pending
             *
             * @return boolean
             */
            isStatusPending() {
                return this.status === REQUEST_STATUSES.pending;
            },

            /**
             * Check if request status is pending or approved
             *
             * @return boolean
             */
            isRequestCancelable() {
                return [ REQUEST_STATUSES.pending, REQUEST_STATUSES.approved ].includes( this.status );
            }
        },

        methods: {
            /**
             * Expand or collapse card.
             */
            toggleRequestDetails() {
                this.requestDetailsVisible = !this.requestDetailsVisible;
            },
            /**
             * Cancel request
             */
            cancelRequest() {
                this.isCancelingRequest = true;
                this.$modal.confirm({
                    type: 'danger',
                    title: 'Cancel request',
                    cancelText: 'Cancel',
                    okText: 'Cancel request',
                    content: 'Are you sure you want to cancel this request?',
                    onOk: () => {
                        employeeRequestService.cancelRequest({
                            id: this.employeeRequest.id,
                            employee_id: this.employeeRequest.employee_id,
                            dates: {
                                start_date: this.employeeRequest.request.start_date,
                                end_date: this.employeeRequest.request.end_date,
                                date: this.employeeRequest.request.date
                            },
                            status: this.employeeRequest.status
                        })
                        .then( ( request ) => {
                            this.employeeRequest.status = request.status;
                            this.isCancelingRequest = false;
                            this.$flashMessage.show( 'You canceled the request', 'success' );
                        }).catch( ( error ) => {
                            const { response } = error;
                            this.$flashMessage.show( get( response, 'data.message', error.message ), 'error' );
                            this.isCancelingRequest = false;
                        });
                    },
                    onCancel: () => { this.isCancelingRequest = false; }
                });
            }
        }
    };
</script>
