<template>
    <div class="sl-c-quick-add">
        <router-link :to="{ name: 'requests.leave-request.add', query: getQueryParams() }">
            <span class="sl-c-icon-circle">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                    <title>request-leaves</title>
                    <path d="M4,10V28H28V10ZM2.55,7h26.9A1.52,1.52,0,0,1,31,8.5v21A1.52,1.52,0,0,1,29.45,31H2.55A1.53,1.53,0,0,1,1,29.5V8.5A1.53,1.53,0,0,1,2.55,7Z" transform="translate(-1 -1)"/>
                    <path d="M23,16.29l1.14-1.15a.49.49,0,0,1,.7,0,.5.5,0,0,1,0,.71h0L23.7,17l1.15,1.14a.49.49,0,0,1,0,.7.5.5,0,0,1-.71,0L23,17.71l-1.14,1.15a.5.5,0,0,1-.72-.7h0L22.28,17l-1.15-1.14a.5.5,0,0,1,.67-.74l0,0ZM8,21h2a1,1,0,0,1,1,1v2a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V22A1,1,0,0,1,8,21Zm7,0h2a1,1,0,0,1,1,1v2a1,1,0,0,1-1,1H15a1,1,0,0,1-1-1V22A1,1,0,0,1,15,21Zm7,0h2a1,1,0,0,1,1,1v2a1,1,0,0,1-1,1H22a1,1,0,0,1-1-1V22A1,1,0,0,1,22,21ZM8,15h2a1,1,0,0,1,1,1v2a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V16A1,1,0,0,1,8,15Zm7,0h2a1,1,0,0,1,1,1v2a1,1,0,0,1-1,1H15a1,1,0,0,1-1-1V16A1,1,0,0,1,15,15ZM7,2.5a1.5,1.5,0,0,1,3,0v9a1.5,1.5,0,0,1-3,0Zm15,0a1.5,1.5,0,0,1,3,0v9a1.5,1.5,0,1,1-3,0Z" transform="translate(-1 -1)"/>
                </svg>
            </span>
            Leaves
        </router-link>
        <router-link :to="{ name: 'requests.overtime.add', query: getQueryParams() }">
            <span class="sl-c-icon-circle">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 29">
                    <title>request-overtime</title>
                    <path d="M27,6h2a1,1,0,0,1,0,2H27v2a1,1,0,0,1-2,0V8H23a1,1,0,0,1,0-2h2V4a1,1,0,0,1,2,0ZM20.28,2.14A1.5,1.5,0,0,1,19.42,5h0a11.5,11.5,0,1,0,4.73,19.12,11.37,11.37,0,0,0,2.74-4.36,11.5,11.5,0,0,0,.44-5.85,1.5,1.5,0,1,1,2.94-.58v.05a14.49,14.49,0,1,1-10-11.25ZM17,15h3a1,1,0,0,1,0,2H16a1,1,0,0,1-1-1V10a1,1,0,0,1,2,0Z" transform="translate(-1.5 -1.5)"/>
                </svg>
            </span>
            Overtime
        </router-link>
        <router-link :to="{ name: 'requests.shift-change.add', query: getQueryParams() }">
            <span class="sl-c-icon-circle">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 29">
                    <title>request-shift-change</title>
                    <path d="M23.75,24.5H23a1.5,1.5,0,0,1,0-3h4.05a1.5,1.5,0,0,1,1.5,1.5v4a1.5,1.5,0,0,1-3,0h0v-.1A14.51,14.51,0,0,1,1.66,13.84a1.5,1.5,0,0,1,3,.39v0A11.51,11.51,0,0,0,23.75,24.5ZM8.23,7.52h.82a1.5,1.5,0,0,1,0,3H5A1.5,1.5,0,0,1,3.5,9V5a1.5,1.5,0,0,1,3,0V5a14.5,14.5,0,0,1,24,11,15.25,15.25,0,0,1-.17,2.24,1.5,1.5,0,0,1-3-.46A11.76,11.76,0,0,0,27.5,16,11.5,11.5,0,0,0,8.23,7.52ZM17,15h3a1,1,0,0,1,0,2H16a1,1,0,0,1-1-1V10a1,1,0,0,1,2,0Z" transform="translate(-1.5 -1.5)"/>
                </svg>
            </span>
            Shift Change
        </router-link>
        <router-link :to="{ name: 'requests.time-dispute.add', query: getQueryParams() }">
            <span class="sl-c-icon-circle">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 28.19">
                    <title>request-time-dispute</title>
                    <path d="M15,15V10a1,1,0,0,1,2,0v6a1,1,0,0,1-1,1H12a1,1,0,0,1,0-2Zm14.93,5a1.5,1.5,0,1,1-2.9-.75.24.24,0,0,1,0-.08A11.5,11.5,0,1,0,10.3,26,1.5,1.5,0,0,1,8.81,28.6h0A14.5,14.5,0,1,1,29.93,20Z" transform="translate(-1.5 -1.5)"/>
                    <path d="M14,29.69a1,1,0,0,1-.88-1.54l7.48-12.8A1,1,0,0,1,22,15a.92.92,0,0,1,.37.36l7.48,12.8a1,1,0,0,1-.37,1.4,1,1,0,0,1-.51.14ZM27.2,27.64l-5.7-9.75-5.7,9.75Z" transform="translate(-1.5 -1.5)"/>
                    <path d="M21,20.5a.5.5,0,0,1,1,0v3a.5.5,0,1,1-1,0Zm0,5a.5.5,0,0,1,1,0v.25a.5.5,0,0,1-1,0Z" transform="translate(-1.5 -1.5)"/>
                </svg>
            </span>
            Time Correction
        </router-link>
        <router-link :to="{ name: 'requests.undertime.add', query: getQueryParams() }">
            <span class="sl-c-icon-circle">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.82 29">
                    <title>undertime-light</title>
                    <path d="M17,15h3a1,1,0,0,1,0,2H16a1,1,0,0,1-1-1V10a1,1,0,0,1,2,0Zm.15-13.45a1.5,1.5,0,1,1-.17,3h-.07a11.51,11.51,0,1,0,9.31,16.75,1.5,1.5,0,0,1,2.66,1.38h0a14.83,14.83,0,0,1-2.1,3A14.5,14.5,0,1,1,17.15,1.55ZM30.32,15.84a1.5,1.5,0,0,1-3,0h0c0-.3,0-.6,0-.89a1.5,1.5,0,1,1,3-.19A10.29,10.29,0,0,1,30.32,15.84Zm-1.15-6.6a1.5,1.5,0,0,1-2.72,1.25l-.3-.61A1.5,1.5,0,0,1,28.8,8.47l.38.76ZM25.26,3.6a1.5,1.5,0,0,1-1.68,2.49h0L23,5.71A1.5,1.5,0,0,1,24.5,3.12C24.76,3.27,25,3.43,25.26,3.6Z" transform="translate(-1.5 -1.5)"/>
                </svg>
            </span>
            Undertime
        </router-link>
        <!-- <router-link @click.native.prevent.capture :to="{ name: 'add-loans-requests', query: getQueryParams() }"> -->
        <router-link :to="{}">
            <span class="sl-c-icon-circle sl-u-text--disabled">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.11 27.35">
                    <title>request-loans</title>
                    <path d="M4.5,14.5v13h3v-13ZM3,11.5H9A1.5,1.5,0,0,1,10.5,13V29A1.5,1.5,0,0,1,9,30.5H3A1.5,1.5,0,0,1,1.5,29h0V13A1.5,1.5,0,0,1,3,11.5Z" transform="translate(-1.5 -3.15)"/>
                    <path d="M20.5,20v-.9L16.79,18H10a1.5,1.5,0,0,1,0-3h7a1.29,1.29,0,0,1,.43.07l5,1.49A1.51,1.51,0,0,1,23.5,18v.22l4.59-3.5a1.5,1.5,0,0,1,2.41,1.13c.18,4.3.18,5.08-.31,5.71-2.85,3.69-4.53,5.82-5.1,6.47a1.46,1.46,0,0,1-1.13.51h-15a1.5,1.5,0,0,1,0-3H23.26c.74-.92,2.2-2.76,4.32-5.51,0-.17,0-.4,0-.69v-.47l-5,3.8a1.5,1.5,0,0,1-.86.31l-3.31.1H16.6a1.5,1.5,0,0,1,0-3h1.79Zm.5-5.77a1,1,0,0,1,0-2h4.62a1,1,0,1,1,0,2Zm0-3a1,1,0,0,1,0-2h4.62a1,1,0,1,1,0,2Zm-8,2a1,1,0,0,1,0-2h4.62a1,1,0,0,1,0,2Zm0-3a1,1,0,0,1,0-2h4.62a1,1,0,0,1,0,2Zm8-2.1a1,1,0,0,1,0-2h4.62a1,1,0,0,1,0,2Zm0-3a1,1,0,1,1,0-2h4.62a1,1,0,0,1,0,2Z" transform="translate(-1.5 -3.15)"/>
                </svg>
            </span>
            <span class="sl-u-text--disabled"> Loans </span>
        </router-link>
    </div>
</template>

<script>
    import moment from 'moment';

    export default {
        name: 'sal-quick-add',

        methods: {
            /**
             * Gets query param for navigating
             * @returns {Object}
             */
            getQueryParams() {
                const date = this.$route.query.selectedDate
                    ? moment( this.$route.query.selectedDate )
                    : null;

                if ( date ) {
                    return { selectedDate: date.format( 'YYYY-MM-DD' ) };
                }

                return {};
            }
        }
    };
</script>

<style lang="scss" scoped>
    .sl-c-quick-add {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: $sl-gutter-sm;
        color: $sl-color-white;
        background-color: $sl-color-lightdarkblue;

        > a {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 32%;
            text-align: center;
            padding: $sl-gutter-sm;
            color: $sl-color-white;
        }
    }

    .sl-c-icon-circle {
        width: 5.15rem;
        height: 5.15rem;
        background-color: transparent;
        border: 1px solid $sl-color-white;

        svg {
            width: 2.29rem;
            fill: $sl-color-white;
        }

        &.sl-u-text--disabled {
            border: 1px solid $sl-color-lightgrey;
            svg {
                fill: $sl-color-lightgrey;
            }
        }
    }
</style>
