<template>
    <div class="sl-c-filter-list">
        <div class="sl-c-section">
            <div class="sl-c-section__header">
                <h4 class="sl-c-section__title">Filed Requests Filter</h4>

                <div class="sl-c-actions">
                    <sal-button-mobile id="filter-close" size="sm" type="" :onClick="hide">
                        <i class="fa fa-times fa-lg"></i>
                    </sal-button-mobile>
                </div>
            </div>

            <div class="sl-c-section__body">
                <h5>Request statuses</h5>
                <div class="sl-c-form-group">
                    <sal-checkbox-mobile
                        v-for="(statusName, statusValue) in requestStatuses"
                        :key="statusValue"
                        :id="`request-status-${statusValue}`"
                        :label="statusName"
                        v-model="filters.statuses"
                        :input-value="statusValue" />
                </div>

                <h5>Request types</h5>
                <div class="sl-c-form-group">
                    <sal-checkbox-mobile
                        v-for="(typeName, typeValue) in requestTypes"
                        :key="typeValue"
                        :id="`request-type-${typeValue}`"
                        :label="typeName"
                        v-model="filters.types"
                        :input-value="typeValue" />
                </div>

                <p>Show filed requests from:</p>
                <div class="sl-c-form-group">
                    <div class="sl-c-btn-group sl-c-btn-group--block">
                        <sal-button-mobile
                            id="seven-days-range"
                            :class="{'sl-is-active': dateRange === dateRanges.pastSeven}"
                            size="sm"
                            class="sl-c-btn--square"
                            :onClick="() => chooseDateRangeFilter( dateRanges.pastSeven )"
                            outlined>
                            Past 7 days
                        </sal-button-mobile>

                        <sal-button-mobile
                            id="thirty-days-range"
                            :class="{'sl-is-active': dateRange === dateRanges.pastThirty}"
                            size="sm"
                            class="sl-c-btn--square"
                            :onClick="() => chooseDateRangeFilter( dateRanges.pastThirty )"
                            outlined>
                            Past 30 days
                        </sal-button-mobile>

                        <sal-button-mobile
                            id="custom-range"
                            :class="{'sl-is-active': dateRange === dateRanges.custom}"
                            size="sm"
                            class="sl-c-btn--square"
                            :onClick="() => chooseDateRangeFilter( dateRanges.custom )"
                            outlined>
                            Custom
                        </sal-button-mobile>
                    </div>
                </div>

                <sal-date-range-picker v-if="customPicker && dateRange" @dates-selected="datesSelected"></sal-date-range-picker>
            </div>

            <div class="sl-c-section__footer sl-c-block-btns">
                <sal-button-mobile id="requests-filter-reset" size="sm" type="primary" class="sl-c-btn--ghost" :onClick="reset" outlined>Reset</sal-button-mobile>
                <sal-button-mobile id="requests-filter-apply" size="sm" type="primary" :onClick="apply">Apply</sal-button-mobile>
            </div>
        </div>
    </div>
</template>

<script>
import moment from 'moment';
import {
    STATUS,
    TYPES,
    DEFAULT_DATE_FORMAT,
    REQUEST_TYPES,
    REQUEST_STATUSES
} from '@/constants/employee-request';
import { DATE_RANGES } from '@/constants/request-filter';

export default {
    name: 'sal-request-filters',
    data() {
        return {
            selectedDates: {},
            pastSevenDays: 7,
            pastThirtyDays: 31,
            dateRange: null,
            dateRanges: DATE_RANGES,
            customPicker: false,
            filters: this.getFiltersDefaults()
        };
    },

    computed: {
        /**
         * Returns constant REQUEST_STATUSES.
         * @returns Object
         */
        requestStatuses() {
            return REQUEST_STATUSES;
        },
        /**
         * Returns constant REQUEST_TYPES.
         * @returns Object
         */
        requestTypes() {
            return REQUEST_TYPES;
        }
    },

    methods: {
        /**
         * Opens or closes datepicker component on click
         */
        toggleCustomPicker() {
            this.customPicker = !this.customPicker;
        },
        /**
         * Gets selected dates from Flatpickr - DatePickr component event.
         * @param Object selectedDateRange
         */
        datesSelected( selectedDateRange ) {
            this.filters.start_date = this.formatDate( selectedDateRange.start );
            this.filters.end_date = this.formatDate( selectedDateRange.end );
        },
        /**
         * Formats dates to default format provided from constant in employee-requests
         * @param Date dateToBeFormated
         * @returns Date formated to 'YYYY-MM-DD'
         */
        formatDate( dateToBeFormated ) {
            return moment( dateToBeFormated ).format( DEFAULT_DATE_FORMAT );
        },

        /**
         * Calculates start date in past according to parsed daysInPastFromNow.
         * @param Number daysInPastFromNow
         */
        calculateDateRange( daysInPastFromNow ) {
            this.filters.start_date = moment().subtract( daysInPastFromNow, 'd' ).format( DEFAULT_DATE_FORMAT );
            this.filters.end_date = moment().format( DEFAULT_DATE_FORMAT );

            this.handleDateRangeValue( daysInPastFromNow );
        },
        /**
         * Handles date range to be used.
         * @param Number daysInPastFromNow
         */
        handleDateRangeValue( daysInPastFromNow ) {
            this.dateRange = daysInPastFromNow === this.pastSevenDays ? DATE_RANGES.pastSeven : DATE_RANGES.pastThirty;
        },

        /**
         * Apply the filters
         */
        apply() {
            this.$emit( 'apply', this.filters );

            this.hide();
        },

        /**
         * Resets filter values to default ones.
         */
        reset() {
            this.filters = this.getFiltersDefaults();
            this.dateRange = null;

            this.$emit( 'reset', null );
        },

        /**
         * Hide filters.
         */
        hide() {
            this.$emit( 'close' );
        },

        /**
         * Gets default filter values.
         * @returns Object
         */
        getFiltersDefaults() {
            return {
                statuses: [...STATUS],
                types: [...TYPES],
                start_date: null,
                end_date: null
            };
        },
        /**
         * Calls method for calulating date range and sets default values
         * @param String dateRangeFilterName
         */
        chooseDateRangeFilter( dateRangeFilterName ) {
            switch ( dateRangeFilterName ) {
                case DATE_RANGES.custom:
                    this.dateRange = DATE_RANGES.custom;
                    this.toggleCustomPicker();
                    break;
                case DATE_RANGES.pastSeven:
                    this.calculateDateRange( this.pastSevenDays );
                    this.customPicker = false;
                    break;
                case DATE_RANGES.pastThirty:
                    this.calculateDateRange( this.pastThirtyDays );
                    this.customPicker = false;
                    break;
                default:
                    this.dateRange = null;
            }
        }
    }
};
</script>

<style lang="scss" scoped>
    .sl-c-filter-list {
        position: fixed;
        top: 3rem;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
        font-size: .9rem;
        overflow-y: auto;
        background-color: $sl-color-white;

        .sl-c-section {
            padding: $sl-gutter;
        }
    }
</style>
