<template>
    <div>
        <div class="sl-c-card sl-c-card--default" v-for="( change, index ) of shiftChanges" :key="index">
            <div class="sl-c-card__header">
                <div class="sl-c-grid sl-c-grid--twos">
                    <div>
                        <p>
                            <strong> {{ change.date | date }} </strong>
                        </p>
                    </div>
                </div>
            </div>

            <div class="sl-c-card__body">
                <div>
                    <span class="sl-u-text--disabled">OLD</span>
                    <div v-for="( shiftId, key ) of change.old_state.shifts_ids" :key="key">
                        <div class="sl-c-grid sl-c-grid--twos">
                            <div>Schedule</div>
                            <div>{{ getScheduleByShiftId( shiftId ).name }}</div>
                        </div>
                        <div class="sl-c-grid sl-c-grid--twos">
                            <div>Time</div>
                            <div>{{ getScheduleByShiftId( shiftId ).start + ' to ' + getScheduleByShiftId( shiftId ).end }}</div>
                        </div>
                    </div>
                    <br>
                </div>

                <!-- Rest Day -->
                <div v-if="hasRestDays( change )" class="sl-c-grid sl-c-grid--twos">
                    <div>Schedule</div>
                    <div>Rest Day</div>
                </div>

                <div v-if="!oldShiftsAndRestDays( change )">
                    <div>{{ getDefaultScheduleDayForDisplay( change.date ) }}</div>
                </div>

                <br>

                <div>
                    <span class="sl-u-text--success">NEW</span>
                    <!-- Old shifts -->
                    <div v-for="( oldShiftId, key ) of getOldShiftIs( change.old_state.shifts_ids, change.new_state.shifts_ids )" :key="key">
                        <div class="sl-c-grid sl-c-grid--twos">
                            <div>Schedule</div>
                            <div>{{ getScheduleByShiftId( oldShiftId ).name }}</div>
                        </div>
                        <div class="sl-c-grid sl-c-grid--twos">
                            <div>Time</div>
                            <div>{{ getScheduleByShiftId( oldShiftId ).start + ' to ' + getScheduleByShiftId( oldShiftId ).end }}</div>
                        </div>

                        <br>
                    </div>

                    <!-- Added shifts -->
                    <div v-for="( addedShiftId, key ) of getAddedShiftIds( change.old_state.shifts_ids, change.new_state.shifts_ids )" :key="key">
                        <div class="sl-c-grid sl-c-grid--twos">
                            <div>Schedule</div>
                            <div>{{ getScheduleByShiftId( addedShiftId ).name }}</div>
                        </div>
                        <div class="sl-c-grid sl-c-grid--twos">
                            <div>Time</div>
                            <div>{{ getScheduleByShiftId( addedShiftId ).start + ' to ' + getScheduleByShiftId( addedShiftId ).end }}</div>
                        </div>

                        <br>
                    </div>

                    <!-- Added schedules -->
                    <div v-for="( scheduleId, key ) of change.new_state.schedules_ids" :key="key">
                        <div class="sl-c-grid sl-c-grid--twos">
                            <div>Schedule</div>
                            <div>{{ getScheduleById( scheduleId ).name }}</div>
                        </div>
                        <div class="sl-c-grid sl-c-grid--twos">
                            <div>Time</div>
                            <div>{{ getScheduleById( scheduleId ).start + ' to ' + getScheduleById( scheduleId ).end }}</div>
                        </div>

                        <br>
                    </div>

                    <!-- Rest Day -->
                    <div v-if="change.new_state.rest_day" class="sl-c-grid sl-c-grid--twos">
                        <div>Schedule</div>
                        <div>Rest Day</div>
                    </div>

                    <div v-if="!newShiftsAndRestDays( change )">
                        <div>{{ getDefaultScheduleDayForDisplay( change.date ) }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { find, difference, intersection } from 'lodash-es';
    import moment from 'moment';
    import requestDetailsFilters from '@/mixins/requestDetailsFilters';
    import { auth } from '@/utils/Authentication';
    import { shiftsService } from '@/utils/services/ShiftsService';
    export default {
        mixins: [requestDetailsFilters],

        props: {
            request: {
                type: Object,
                required: true
            },
            /**
             * adding this to prevent side effects to other components
             */
            showLoading: {
                type: Boolean,
                default: true
            }
        },

        data() {
            return {
                user: auth.getUser(),
                defaultSchedules: [],
                shiftChanges: this.request && this.request.params.shift_change_dates
            };
        },

        computed: {
            /**
             * Returns shifts.
             * @returns {Array} shifts.
             */
            shifts() {
                return this.request.shifts;
            },

            /**
             * Returns schedules.
             * @returns {Array} schedules.
             */
            schedules() {
                return this.request.schedules;
            }
        },

        created() {
            this.fetchDefaultScheduleForCompany();
        },

        methods: {
            /**
             * Fetch Default Schedule for Company.
             */
            fetchDefaultScheduleForCompany() {
                if ( this.showLoading ) {
                    this.$loader.show();
                }

                shiftsService.fetchDefaultScheduleForCompany( this.user.company_id )
                    .then( ( schedules ) => {
                        this.defaultSchedules = schedules;
                        this.$loader.hide();
                    })
                    .catch( () => this.$loader.hide() );
            },

            /**
             * Get Default Schedule for Date.
             *
             * @param {String} date
             *
             * @returns {Object}
             */
            getDefaultScheduleForDate( date ) {
                return shiftsService.getDefaultScheduleForDate({ defaultScheduleData: this.defaultSchedules }, date );
            },

            /**
             * Gets Default Schedule Day for Display.
             *
             * @param {String} date
             *
             * @returns {String}
             */
            getDefaultScheduleDayForDisplay( date ) {
                if ( !this.defaultSchedules.length ) {
                    return '';
                }

                const defaultSchedule = this.getDefaultScheduleForDate( date );
                const shiftDate = `${this.formatTime( defaultSchedule.work_start )} - ${this.formatTime( defaultSchedule.work_end )}`;

                return `Default Schedule - ${defaultSchedule.day_type === 'rest_day' ? 'Rest Day' : 'Regular ' + shiftDate}`; // eslint-disable-line prefer-template
            },

            /**
             * Formats time for display.
             *
             * @param {String} time
             *
             * @returns {String}
             */
            formatTime( time ) {
                return moment( time, 'HH:mm:ss' ).format( 'HH:mm' );
            },

            /**
             * Gets schedule by shift id.
             * @param {Number} shiftId
             * @returns {Object} schedule
             */
            getScheduleByShiftId( shiftId ) {
                return this.getShift( shiftId ).schedule;
            },

            /**
             * Gets schedule by id.
             * @param {Number} id
             * @returns {Object} schedule
             */
            getScheduleById( id ) {
                return find( this.schedules, { id });
            },

            /**
             * Gets shift
             * @param {Number} id
             * @returns {Object} shift
             */
            getShift( id ) {
                return find( this.shifts, { id });
            },

            /**
             * Check if state has rest days
             * @param {Object} change
             * @returns {Boolean} True if has rest days, False otherwise.
             */
            hasRestDays( change ) {
                return change.old_state.rest_days_ids && change.old_state.rest_days_ids.length;
            },

            /**
             * Gets added shift ids.
             * @param {Array} oldIds
             * @param {Array} newIds
             * @returns {Array} added shift ids.
             */
            getAddedShiftIds( oldIds, newIds ) {
                return difference( newIds, oldIds );
            },

            /**
             * Gets old shift ids.
             * @param {Array} oldIds
             * @param {Array} newIds
             * @returns {Array} old shift ids.
             */
            getOldShiftIs( oldIds, newIds ) {
                return intersection( oldIds, newIds );
            },

            /**
             * Check if new state has shifts or rest days.
             * @param {Object} change
             * @returns {Boolean} True if has shifts or rest days, False otherwise.
             */
            newShiftsAndRestDays( change ) {
                return change.new_state.rest_day || change.new_state.shifts_ids.length || change.new_state.schedules_ids.length;
            },

            /**
             * Check if old state has shifts or rest days.
             * @param {Object} change
             * @returns {Boolean} True if has shifts or rest days, False otherwise.
             */
            oldShiftsAndRestDays( change ) {
                return change.old_state.shifts_ids.length || this.hasRestDays( change );
            }
        }
    };
</script>
<style lang="scss" scoped>
    .fa-sm {
        &.fa-circle.sl-u-gap-right--xs {
            margin-right: $sl-gutter-sm;
            font-size: .6rem;
        }
    }
</style>
