<template>
    <div class="sl-c-card__body" :class="{'sl-c-card--default': !isEditable}">
        <div class="sl-c-grid sl-c-grid--twos">
            <div> {{ getScheduleName }}</div>
            <div>
                <span class="sl-c-label sl-c-label--primary-pale" v-if="!isRestDay">
                    <i class="fa fa-sm fa-circle sl-u-text--primary sl-u-gap-right--xs"></i>
                    {{ shift.schedule.start_time }} - {{ shift.schedule.end_time }}
                </span>
                <span class="sl-c-label sl-c-label--primary-pale" v-else>
                    <i class="fa fa-sm fa-circle sl-u-text--primary sl-u-gap-right--xs"></i>
                    N/A - N/A
                </span>
            </div>
        </div>
        <div class="sl-c-grid sl-c-grid--twos">
            <div>
                <i class="fa fa-clock-o" />
                Expected hours:
            </div>
            <div>
                <i class="fa fa-clock-o" />
                {{ shift.schedule.expected_hours }}
            </div>
        </div>

        <hr v-if="!isEditable">

        <sal-time-dispute-details-card
            v-if="!isEditable"
            :shift="shift"
            :isEdit="true"
            @toggle-edit-mode="toggleEdit"
        />

        <div slot="footer" class="sl-u-text--center sl-u-gap-bottom" v-if="!isEditable">
            <template>
                <sal-button-mobile
                    id="edit-request"
                    label="Edit"
                    size="sm"
                    type="primary"
                    outlined
                    buttonType="button"
                    :onClick="toggleEdit"
                />
            </template>
        </div>

        <div v-if="isEditable">
            <!-- Time Record Form -->
            <div class="sl-c-card" @click="setActive( true )" :class="{ 'sl-c-card--default': !isTimeRecordActive }">
                <div class="sl-c-card__body">
                    <div class="sl-u-gap-top--sm" v-for="( timeRecord, index ) in allValues.timesheet.new_state" :key="index">
                        <sal-time-record-form
                            :is-time-record-active="isTimeRecordActive"
                            :time-record="timeRecord"
                            :is-night-shift="isNightShift"
                            :is-new-time-record="false"
                            :shift-date="shift.date"
                            @change-time-record="(value) => changeTimeRecord( index, allValues.timesheet.new_state, value )"
                            @remove-time-record="() => removeRecord( index, allValues.timesheet.new_state, true )"
                        >
                        </sal-time-record-form>
                        <sal-request-time-record-tags
                            v-if="showTagsSection && timeRecord.type === 'clock_in'"
                            class="sl-u-gap-top--sm"
                            :tags="timeRecord.tags"
                            @tags-changed="(tags) => ( timeRecord.tags = tags)"
                        />
                    </div>

                    <div class="sl-u-gap-top--sm" v-for="(record, index) in newTimeRecords" :key="index">
                        <sal-time-record-form
                            :is-time-record-active="isTimeRecordActive"
                            :time-record="record"
                            :is-night-shift="isNightShift"
                            :shift-date="shift.date"
                            @change-time-record="(value) => changeTimeRecord( index, newTimeRecords, value)"
                            @remove-time-record="() => removeRecord( index, newTimeRecords, true )"
                        >
                        </sal-time-record-form>
                        <sal-request-time-record-tags
                            v-if="showTagsSection"
                            class="sl-u-gap-top--sm"
                            :tags="record.tags"
                            @tags-changed="(tags) => ( record.tags = tags)"
                        />
                    </div>

                    <div v-if="isEditable" class="sl-u-gap-top--sm">
                        <sal-a-mobile
                            :onClick="addTimeRecord"
                            :disabled="!isTimeRecordActive"
                        >
                            <i class="fa fa-plus-circle" />
                            Add time record
                        </sal-a-mobile>
                    </div>
                </div>
            </div>

            <!-- Hours Work Form -->
            <div class="sl-c-card" @click="setActive( false )" :class="{ 'sl-c-card--default': isTimeRecordActive }">
                <div class="sl-c-card__body">
                    <div v-if="isEditable">
                        <div v-if="allValues.hours_worked && allValues.hours_worked.new_state.length">
                            <div class="sl-c-grid sl-c-grid--twos sl-u-gap-top--sm"
                                v-for="(hoursWork, index) in allValues.hours_worked.new_state" :key="hoursWork.id">

                                <div>
                                    {{ timeTypesMap[hoursWork.type] }}:
                                </div>

                                <div class="sl-c-input-group sl-c-input-group--empty">
                                    <flat-pickr
                                        v-model="allValues.hours_worked.new_state[index].time"
                                        :config="config"
                                        :disabled="isTimeRecordActive"
                                        class="sl-c-form-control sl-c-form-control--slim sl-c-form-control--inline"
                                    />
                                    <div class="sl-c-input-group__addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <i class="fa fa-lg fa-minus-circle sl-u-text--danger sl-u-gap-left--sm"
                                        @click="() => removeRecord( index, allValues.hours_worked.new_state, false )"
                                    >
                                    </i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sl-u-gap-top--sm" v-for="(hoursWork, index) in newHoursWork" :key="hoursWork.id">
                        <sal-hours-work-form
                            :hours-work="hoursWork"
                            :is-time-record-active="isTimeRecordActive"
                            @change-hours-work-type="updateHoursWorkOptionsOnChangeOrDelete"
                            @remove-hours-work="( timeType ) => removeHoursWork( timeType, index )"
                        >
                        </sal-hours-work-form>
                    </div>

                    <div v-if="hasUnusedTimeTypes" class="sl-u-gap-top--sm">
                        <sal-a-mobile
                            :on-click="() => addHoursWork()"
                            :disabled="isTimeRecordActive"
                        >
                            <i class="fa fa-plus-circle" />
                            Add hours work
                        </sal-a-mobile>
                    </div>
                </div>
            </div>

            <div slot="footer" class="sl-u-text--center sl-u-gap-bottom">
                <template v-if="isEditable">
                    <sal-button-mobile
                        id="toggle-tags"
                        :label="showTags ? 'Hide Tags' : 'Show Tags'"
                        size="sm"
                        type="primary"
                        outlined
                        buttonType="edit"
                        :onClick="toggleTags"
                    />
                    <sal-button-mobile
                        id="submit-request"
                        label="Delete"
                        size="sm"
                        type="danger"
                        buttonType="button"
                        :onClick="handleDelete"
                        outlined
                    />
                    <sal-button-mobile
                        id="cancel-request"
                        label="Cancel"
                        size="sm"
                        type="primary"
                        outlined
                        buttonType="button"
                        :onClick="cancel"
                    />
                    <sal-button-mobile
                        id="submit-request"
                        label="Save"
                        size="sm"
                        class="sl-c-btn--wide"
                        type="primary"
                        buttonType="submit"
                        :onClick="save"
                    />
                </template>
            </div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment';
    import { each, isEmpty, clone, cloneDeep, uniqueId, last } from 'lodash-es';
    import { DEFAULT_SHIFT_DATETIME_FORMAT } from '@/constants/overtime-request';
    import { TIME_TYPES_MAP } from '@/constants/time-dispute-request';
    import { timeDisputeRequestService } from '@/utils/services/TimeDisputeRequestService';
    import { timeClockService } from '@/utils/services/TimeClockService';
    import { shiftsService } from '@/utils/services/ShiftsService';
    import { hoursWorkedService } from '@/utils/services/HoursWorkedService';

    export default {
        props: {
            shift: Object,
            nextShift: Object,
            previousShift: Object,
            timesheet: Array,
            date: String,
            timeTypes: Array,
            hoursWorked: Array,
            userDefinedRestDays: Array
        },

        data() {
            return {
                config: {
                    disableMobile: true,
                    noCalendar: true,
                    enableTime: true,
                    dateFormat: 'H:i',
                    minuteIncrement: 1,
                    time_24hr: true
                },
                timeclockPairs: [],
                newTimeRecords: [],
                newHoursWork: [],
                showHoursWorkEdit: false,
                isTimeRecordActive: true,
                isEditable: false,
                shiftTimeClocks: [],
                shiftHoursWorked: [],
                allValues: {},
                showTags: false,
                timeTypesMap: TIME_TYPES_MAP
            };
        },

        watch: {
            shift( val ) {
                if ( !isEmpty( val ) ) {
                    this.setShiftsTimeclocks();
                    this.setShiftsHoursWorked();
                    this.setAllValues();
                    this.setShiftsData();
                }
            }
        },

        computed: {
            /**
             * Checks if shift is a user defined rest day
             *
             * @returns {Boolean}
             */
            isUserDefinedRestDay() {
                return this.userDefinedRestDays.some( ( userDefinedRestDay ) =>
                    userDefinedRestDay.dates.some( ( date ) => date === this.date )
                );
            },

            /**
             * Checks is day shift actually a rest day.
             *
             * @returns {Boolean}
             */
            isRestDay() {
                return this.shift.day_type === 'rest_day' || this.isUserDefinedRestDay;
            },

            /**
             * Converts time types to option values
             */
            timeTypesOptions() {
                const options = [];

                each( this.timeTypes, ( timeType ) => {
                    options.push({
                        text: timeType,
                        value: this.getTimeTypeValue( timeType )
                    });
                });

                return options;
            },

            /**
             * Check if there are unused time types
             */
            hasUnusedTimeTypes() {
                return this.unusedTimeTypes.length > 0;
            },

            /**
             * Fetch unused time types
             */
            unusedTimeTypes() {
                return this.unusedTimeTypeOptions.map( ( timeTypeOption ) => timeTypeOption.value );
            },

            /**
             * Fetch unused time type options
             */
            unusedTimeTypeOptions() {
                const newHoursWork = this.getNewHoursWork();
                const usedTimeTypes = newHoursWork.map( ( hoursWork ) => hoursWork.type );

                return this.timeTypesOptions.filter( ( timeTypeOption ) => (
                    !usedTimeTypes.includes( timeTypeOption.value )
                ) );
            },

            /**
             * Calculates expected hours
             *
             * @return {Object} Expected hours
             */
            expectedHours() {
                return moment.utc( moment( this.shift.schedule.end_time, 'HH:mm' )
                    .diff( moment( this.shift.schedule.start_time, 'HH:mm' ) ) )
                    .format( 'HH:mm' );
            },

            /**
             * Computes shift's range.
             * @returns {Object}
             */
            shiftRange() {
                return shiftsService.getShiftRange( this.shift );
            },

            /**
             * Gets the new time clock values.
             *
             * @return {Array} The new time clock values.
             */
            newTimeRecordValues() {
                return [ ...this.allValues.timesheet.new_state, ...this.newTimeRecords ];
            },

            /**
             * Handles showing tags if condition is true;
             * @returns {Boolean}
             */
            showTagsSection() {
                return this.showTags;
            },

            /**
             * Check if it's night shift.
             * @return {Boolean}
             */
            isNightShift() {
                return shiftsService.isNightShift(
                    this.shift.schedule.start_time,
                    this.shift.schedule.end_time
                );
            },

            /**
             * Gets name of schedule
             *
             * @returns {String} Schedule Name
             */
            getScheduleName() {
                return this.isRestDay
                    ? this.isUserDefinedRestDay
                        ? 'User Defined - Rest Day'
                        : 'Default Schedule - Rest Day'
                    : this.shift.schedule.name;
            }
        },

        created() {
            this.setShiftsTimeclocks();
            this.setShiftsHoursWorked();
            this.setAllValues();
            this.setShiftsData();
        },

        methods: {
            /**
             * @param {String} timeTypeName
             */
            getTimeTypeValue( timeTypeName ) {
                let timeTypeValue = null;

                Object.keys( this.timeTypesMap ).forEach( ( value ) => {
                    if ( this.timeTypesMap[ value ] === timeTypeName ) {
                        timeTypeValue = value;
                    }
                });

                return timeTypeValue;
            },

            /**
             * Sets all values.
             */
            setAllValues() {
                this.allValues = {
                    shift_id: this.shift.shift_id,
                    date: this.date,
                    timesheet: {
                        old_state: cloneDeep( this.shiftTimeClocks ),
                        new_state: cloneDeep( this.shiftTimeClocks )
                    }
                };

                if ( this.shiftHoursWorked.length ) {
                    this.allValues = {
                        ...this.allValues,
                        hours_worked: {
                            old_state: cloneDeep( this.shiftHoursWorked ),
                            new_state: cloneDeep( this.shiftHoursWorked )
                        }
                    };
                }
            },

            /**
             * Sets the shifts data.
             */
            setShiftsData() {
                this.shift.timesheet = clone( this.allValues.timesheet );
                this.shift.hours_worked = clone( this.allValues.hours_worked );
                this.shift.date = this.date;
                this.shift.schedule.expected_hours = shiftsService.getExpectedHours( this.shift );

                // data for indication
                this.shift.timeRecords = this.shift.timesheet &&
                    timeDisputeRequestService.getTimeDataForIndication( this.shift.timesheet, true );
                this.shift.workedHours = this.shift.hours_worked &&
                    timeDisputeRequestService.getTimeDataForIndication( this.shift.hours_worked, false );
            },

            /**
             * Checks is clock in on same day as shift.
             * @param {Object} timeclock timesheet item
             * @returns {Boolean}
             */
            isSameDayAsShift( timeclock ) {
                if ( isEmpty( timeclock ) ) return false;

                const timeclockDay = moment( timeclock.timestamp, 'X' ).format( DEFAULT_SHIFT_DATETIME_FORMAT );
                const shiftDay = moment( this.shift.date ).format( DEFAULT_SHIFT_DATETIME_FORMAT );

                return moment( timeclockDay ).isSame( shiftDay, 'day' );
            },

            /**
             * Sets first clock in and last clock out per shift.
             */
            setShiftsTimeclocks() {
                this.shiftTimeClocks = [];

                const timesheetForShift = timeClockService
                    .getTimesheetForShiftForTimeCorrection(
                        this.timesheet,
                        this.shift,
                        this.nextShift,
                        this.previousShift
                    );

                each( timesheetForShift, ( timeclock ) => {
                    this.shiftTimeClocks.push(
                        timeClockService.formatTimeClockForDisplay( timeclock )
                    );
                });
            },

            /**
             * Sets hours worked per shift.
             */
            setShiftsHoursWorked() {
                const hoursWorked = hoursWorkedService.getHoursWorkedForShift( this.hoursWorked, this.shift );
                this.shiftHoursWorked = hoursWorked.map( ( item ) => ({ type: item.type, time: item.time }) );
            },

            /**
             * Adds a new time record.
             */
            addTimeRecord() {
                if ( !this.isTimeRecordActive ) {
                    return;
                }

                const lastTimeRecord = last( this.newTimeRecordValues );

                const type = lastTimeRecord
                    ? ( lastTimeRecord.type === 'clock_in' ? 'clock_out' : 'clock_in' )
                    : 'clock_in';

                const date = ( type === 'clock_out' && this.isNightShift )
                    ? moment( this.shift.date, 'YYYY-MM-DD' ).add( 1, 'days' ).format( 'YYYY-MM-DD' )
                    : this.shift.date;

                const time = ( type === 'clock_in' )
                    ? this.shift.schedule.start_time
                    : this.shift.schedule.end_time;

                const datetime = `${date} ${time}`;

                const adjustedDatetime = moment.utc( datetime, DEFAULT_SHIFT_DATETIME_FORMAT )
                    .utcOffset( timeClockService.getUtcOffsetFromServerTime() )
                    .format( DEFAULT_SHIFT_DATETIME_FORMAT );

                const timestamp = parseInt( timeClockService.getUnixEpochTime( adjustedDatetime ), 10 );

                this.newTimeRecords.push({
                    timestamp,
                    datetime,
                    tags: [],
                    type,
                    offset: '+0800'
                });
            },

            /**
             * Adds a hours work.
             */
            addHoursWork() {
                if ( this.isTimeRecordActive ) {
                    return;
                }

                const newTimeType = this.unusedTimeTypeOptions[ 0 ].value;

                this.newHoursWork.forEach( ( hoursWork ) => {
                    hoursWork.availableTimeTypes = hoursWork.availableTimeTypes.filter( ( timeTypeOption ) => (
                        timeTypeOption.value !== newTimeType
                    ) );
                });

                this.newHoursWork.push({
                    id: uniqueId(),
                    type: newTimeType,
                    time: '02:00',
                    availableTimeTypes: this.unusedTimeTypeOptions
                });

                this.showHoursWorkEdit = true;
            },

            /**
             * Changes time record with new value
             *
             * @param {Number}  index
             * @param {Array}   collection
             * @param {Object}  value
             */
            changeTimeRecord( index, collection, value ) {
                const adjustedDatetime = moment.utc( value.datetime, DEFAULT_SHIFT_DATETIME_FORMAT )
                    .utcOffset( timeClockService.getUtcOffsetFromServerTime() )
                    .format( DEFAULT_SHIFT_DATETIME_FORMAT );

                value.timestamp = parseInt( timeClockService.getUnixEpochTime( adjustedDatetime ), 10 );
                collection[ index ] = value;
            },

            /**
             * Removes a time record.
             *
             * @param {number}  index
             * @param {array}  array
             * @param {boolean}  isTimeRecord
             */
            removeRecord( index, array, isTimeRecord ) {
                if ( isTimeRecord && !this.isTimeRecordActive || !isTimeRecord && this.isTimeRecordActive ) {
                    return;
                }

                if ( array[ index ].type && array[ index ].type === 'regular' ) {
                    this.updateHoursWorkOptionsOnChangeOrDelete( array[ index ].type );
                }

                array.splice( index, 1 );
            },

            /**
             * Removes a hour work.
             *
             * @param {String}  timeType
             * @param {Number}  index
             */
            removeHoursWork( timeType, index ) {
                this.newHoursWork.splice( index, 1 );
                this.updateHoursWorkOptionsOnChangeOrDelete( timeType );
            },

            /**
             * Update hours work options on change or delete
             *
             * @param {String} timeType
             */
            updateHoursWorkOptionsOnChangeOrDelete( timeType ) {
                this.newHoursWork.forEach( ( hoursWork ) => {
                    hoursWork.availableTimeTypes = this.timeTypesOptions.filter( ( timeTypeOption ) => (
                        this.unusedTimeTypes.includes( timeTypeOption.value ) ||
                            timeTypeOption.value === hoursWork.type ||
                            timeTypeOption.value === timeType
                    ) );
                });
            },

            /**
             * Sets the active.
             *
             * @param {Boolean} isTimeRecordActive  Indicates if time record active
             */
            setActive( isTimeRecordActive ) {
                this.isTimeRecordActive = isTimeRecordActive;
            },

            /**
             * Toggles edit mode
             */
            toggleEdit() {
                this.isEditable = true;

                if ( !this.allValues.hours_worked ) {
                    this.$set( this.allValues, 'hours_worked', {
                        old_state: this.getCalculatedHoursWorkValue(),
                        new_state: this.getCalculatedHoursWorkValue()
                    });
                }
            },

            /**
             * Handles delete of time records
             */
            handleDelete() {
                this.$modal.confirm({
                    type: 'danger',
                    title: 'Confirm Action',
                    cancelText: 'Cancel',
                    okText: 'Confirm',
                    content: 'You are about to delete time records for this day. Do you wish to proceed?',
                    onOk: () => {
                        this.deleteRecords();
                    }
                });
            },

            /**
             * Delete all time records
             */
            deleteRecords() {
                if ( this.isTimeRecordActive ) {
                    this.allValues.timesheet.new_state = [];
                    this.newTimeRecords = [];
                } else {
                    this.allValues.hours_worked.new_state = [];
                    this.newHoursWork = [];
                }
            },

            /**
             * Handle cancel action
             */
            handleCancel() {
                this.isEditable = false;
                this.showHoursWorkEdit = false;
                this.isTimeRecordActive = true;
                this.newTimeRecords = [];
                this.newHoursWork = [];
                this.setAllValues();
                this.setShiftsData();
                this.$emit( 'cancel-edit', this.shift.shift_id, this.date );
            },

            /**
             * Cancels time correction request creation.
             */
            cancel() {
                this.$modal.confirm({
                    type: 'danger',
                    title: 'Confirm Action',
                    cancelText: 'Cancel',
                    okText: 'Confirm',
                    content: 'You are about to cancel editing request. Do you wish to proceed?',
                    onOk: () => {
                        this.handleCancel();
                    }
                });
            },

            /**
             * Saves entered time correction request data.
             */
            save() {
                this.isEditable = false;

                delete this.shift.workedHours;

                const newTimesheetValues = this.isTimeRecordActive ? this.newTimeRecordValues : clone( this.shiftTimeClocks );

                this.shift.timesheet.new_state = cloneDeep( newTimesheetValues );
                this.shift.timeRecords = timeDisputeRequestService
                    .getTimeDataForIndication( this.shift.timesheet, true );

                const data = this.parseShiftData( newTimesheetValues );

                if ( !this.isTimeRecordActive ) {
                    if ( !this.shift.hours_worked ) {
                        this.shift.hours_worked = {
                            old_state: this.getCalculatedHoursWorkValue()
                        };
                    }

                    this.shift.hours_worked.new_state = cloneDeep( this.getNewHoursWork() );
                    this.shift.workedHours = timeDisputeRequestService
                        .getTimeDataForIndication( this.shift.hours_worked, false );

                    data.number_of_changes = timeDisputeRequestService.getNumberOfChanges( this.shift.workedHours );
                    data.hours_worked = this.shift.hours_worked;
                }

                this.$emit( 'save', data );
            },

            /**
             * Parses shift data.
             *
             * @param {Array} newTimesheetValues
             *
             * @returns {Object} parsed shift data
             */
            parseShiftData( newTimesheetValues ) {
                return {
                    number_of_changes: timeDisputeRequestService.getNumberOfChanges( this.shift.timeRecords ),
                    date: this.date,
                    timesheet: {
                        old_state: this.shiftTimeClocks,
                        new_state: newTimesheetValues
                    },
                    shift_id: this.shift.shift_id
                };
            },

            /**
             * Gets the new hours work.
             *
             * @return {Array} The new hours work.
             */
            getNewHoursWork() {
                const newValue = this.showHoursWorkEdit ? this.newHoursWork : [];
                const hoursWorked = this.allValues.hours_worked
                    ? this.allValues.hours_worked.new_state
                    : this.getCalculatedHoursWorkValue();

                return [ ...hoursWorked, ...newValue ];
            },

            /**
             * Gets the old hours work value.
             *
             * @return {Object} The old hours work value.
             */
            getCalculatedHoursWorkValue() {
                const clockPairs = this.shift.timesheet &&
                    timeClockService.getClockPairsFromShiftTimesheet( this.shift.timesheet.new_state );
                const minutes = timeClockService.getMinutesWorked( clockPairs, this.shift );

                return [{
                    type: 'regular',
                    time: timeClockService.formatMinutesToTime( minutes )
                }];
            },

            /**
             * Formats timestamp to time format 'HH:mm'
             *
             * @param  {Number} timestamp
             * @returns {Moment} formated moment object
             */
            convertTimestampToTime( timestamp ) {
                return moment( timestamp, 'X' ).format( 'HH:mm:ss' );
            },

            /**
             * Toogle tags
             */
            toggleTags() {
                this.showTags = !this.showTags;
            }
        },

        filters: {
            /**
             * Formats timestamp to time format 'HH:mm'.
             * @returns {Moment} formated moment object
             */
            timestampToTime( timestamp ) {
                return moment( timestamp, 'X' ).format( 'HH:mm:ss' );
            },

            /**
             * Format number of minutes into time string.
             * @param  {Number} minutes
             * @return {String} HH:mm
             */
            formatMinutesToTime( minutes ) {
                return timeClockService.formatMinutesToTime( minutes );
            }
        }
    };
</script>

<style lang="scss" scoped>
    .sl-c-form-control--inline {
        width: 6rem;
    }

    [slot="footer"] {
        .sl-c-btn--sm {
            padding-right: .5rem;
            padding-left: .5rem;
            font-size: .8rem;
        }
    }
</style>
