<template>
    <div class="sl-c-card__body">
        <div class="sl-c-grid sl-c-grid--twos">
            <div> {{ shiftName }}</div>
            <div>
                <span class="sl-c-label sl-c-label--primary-pale">
                    <i class="fa fa-sm fa-circle sl-u-text--primary sl-u-gap-right--xs"></i>
                    <span>
                        N/A to N/A
                    </span>
                </span>
            </div>
        </div>
        <div class="sl-c-grid sl-c-grid--twos">
            <div>
                <i class="fa fa-clock-o" />
                Expected hours:
            </div>

            <div>
                <i class="fa fa-clock-o" />
                <span>N/A</span>
            </div>
        </div>

        <hr>
    </div>
</template>

<script>
export default {
    name: 'sal-time-dispute-rest-day-details',
    props: {
        shift: {
            type: Object,
            required: true
        },
        isUserDefined: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        /**
         * Gets shift name
         *
         * @returns {String} Shift name
         */
        shiftName() {
            return this.isUserDefined
                ? 'User Defined - Rest Day'
                : this.shift.shift_id
                    ? 'Rest Day'
                    : 'Default Schedule - Rest Day';
        }
    }
};
</script>
