<template>
    <div>
        <div v-for="( shifts, date ) of shiftsPerDates" :key="date">
            <div class="sl-u-gap-bottom--sm">
                <strong>{{ date | date }}</strong>
            </div>
            <div v-for="( shift, index ) of shifts" :key="index"
                class="sl-c-card sl-c-card--default">
                <div class="sl-c-card__body">
                    <template v-if="!isRestDay( shift )">
                        <div class="sl-c-grid sl-c-grid--twos">
                            <div> {{ shift.shift_id ? shift.schedule.name : 'Default Schedule' }}</div>
                            <div>
                                <span class="sl-c-label sl-c-label--primary-pale">
                                    <i class="fa fa-sm fa-circle sl-u-text--primary sl-u-gap-right--xs"></i>
                                    <span>
                                        {{ shift.shift_id ? getTime( shift ) : getDefaultScheduleTime( date ) }}
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="sl-c-grid sl-c-grid--twos">
                            <div>
                                <i class="fa fa-clock-o" />
                                Expected hours:
                            </div>

                            <div>
                                <i class="fa fa-clock-o" />
                                <span>{{ shift.schedule.expected_hours }}</span>
                            </div>
                        </div>

                        <hr>
                    </template>
                    <template v-else>
                        <time-dispute-rest-day-details :shift="shift" :is-user-defined="isUserDefinedRestDay( date )" />
                    </template>

                    <sal-time-dispute-details-card :shift="shift"></sal-time-dispute-details-card>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import { find, isEmpty, startsWith } from 'lodash-es';
    import moment from 'moment';
    import { timeDisputeRequestService } from '@/utils/services/TimeDisputeRequestService';
    import { shiftsService } from '@/utils/services/ShiftsService';
    import { auth } from '@/utils/Authentication';
    import TimeDisputeRestDayDetails from './TimeDisputeRestDayDetails';

    export default {
        props: {
            timeDispute: {
                type: Object,
                required: true
            },
            userDefinedRestDays: {
                type: Array,
                required: true
            },
            /**
             * adding this to prevent side effects to other components
             */
            showLoading: {
                type: Boolean,
                default: true
            }
        },

        components: {
            TimeDisputeRestDayDetails
        },

        data() {
            return {
                shiftsPerDates: {},
                defaultSchedules: [],
                user: auth.getUser(),
                timeDisputeData: this.timeDispute
            };
        },

        created() {
            this.timeDispute && this.fetchDefaultScheduleForCompany()
                .then( () => {
                    this.setShiftsPerDates();
                });
        },

        filters: {
            /**
            * Convert date format
            */
            date( date ) {
                return moment( date ).format( 'MMMM D, YYYY' );
            }
        },

        methods: {
            /**
             * Sets Shifts Per Dates.
             *
             * @param {Object} shifts
             */
            setShiftsPerDates() {
                if ( this.timeDisputeData && this.timeDisputeData.params ) {
                    const shiftsPer = this.shiftsPerDates;
                    this.timeDisputeData.params.shifts.forEach( ( shiftData ) => {
                        const schedule = this.getScheduleForShift( shiftData );

                        shiftData.schedule = schedule;
                        shiftData.schedule.expected_hours = shiftsService.getExpectedHours( shiftData );
                        if ( !shiftsPer[ shiftData.date ]) {
                            shiftsPer[ shiftData.date ] = [];
                        }

                        shiftsPer[ shiftData.date ].push( this.addShiftToDayShifts( shiftData ) );
                    });
                    this.shiftsPerDates = shiftsPer;
                    this.$forceUpdate();
                }
            },

            /**
             * Gets schedule's expected hours.
             *
             * @param {Object} shiftData
             * @param {Object} schedule
             * @return {String}
             */
            getScheduleExpectedHours( shiftData, schedule ) {
                return this.calculateTimeDifference(
                    schedule.work_start || schedule.start_time,
                    schedule.work_end || schedule.end_time
                );
            },

            /**
             * Adds shift to day shifts.
             *
             * @param {Object} shiftData
             */
            addShiftToDayShifts( shiftData ) {
                return {
                    ...shiftData,
                    timeRecords: this.getTimeRecordsForIndication( shiftData.timesheet ),
                    workedHours: this.getComputedHoursWorked( shiftData.hours_worked )
                };
            },

            /**
             * Gets time records for indication from shifts timesheet.
             *
             * @param {Object} timesheet
             * @returns {Object}
             */
            getTimeRecordsForIndication( timesheet ) {
                return timeDisputeRequestService.getTimeDataForIndication( timesheet, true );
            },

            /**
             * Gets computed worked hours.
             *
             * @param {Object} hoursWorked
             * @returns {Object}
             */
            getComputedHoursWorked( hoursWorked ) {
                return !!hoursWorked && timeDisputeRequestService.getTimeDataForIndication( hoursWorked, false );
            },

            /**
             * `Gets shift's schedule depending of shift type.
             *
             * @param {Object} shiftData
             * @returns {Object}
             */
            getScheduleForShift( shiftData ) {
                if ( shiftData.shift_id === 'rd' || startsWith( shiftData.shift_id, 'ds_' ) ) {
                    const defaultSchedule = shiftsService.parseDefaultScheduleForDisplay(
                        this.getDefaultScheduleForDate( shiftData.date ),
                        shiftData.date
                    );
                    return defaultSchedule.schedule;
                }

                return this.findShiftsScheduleById( shiftData );
            },

            /**
             * Checks is shift actually a rest day.
             *
             * @param {Object} shift
             * @returns {Boolean}
             */
            isRestDay( shift ) {
                if ( this.isUserDefinedRestDay( shift.date ) ) {
                    return true;
                }

                const defaultRestDayName = 'rest_day';

                if ( isEmpty( shift ) ) {
                    return false;
                }

                if ( shift.shift_id ) {
                    return shift.shift_id === 'rd';
                }

                if ( !isEmpty( shift.schedule ) ) {
                    return shift.schedule.day_type === defaultRestDayName;
                }

                if ( !isEmpty( shift.day_type ) ) {
                    return shift.day_type === defaultRestDayName;
                }

                return false;
            },

            /**
             * Finds shift's schedul by shift id.
             *
             * @param {Object} shiftData
             * @returns {Object}
             */
            findShiftsScheduleById( shiftData ) {
                const foundShift = find( this.timeDisputeData.shifts, ( shift ) => ( shift.id === shiftData.shift_id ) );

                return isEmpty( foundShift ) ? {} : foundShift.schedule;
            },

            /**
             * Get schedule start and end time.
             *
             * @param {Object} shift
             * @returns {String}
             */
            getTime( shift ) {
                return shift ? `${shift.schedule.start_time} to ${shift.schedule.end_time}` : '';
            },

            /**
             * Gets Default Schedule Start and End Time.
             *
             * @param {String} date
             * @returns {String}
             */
            getDefaultScheduleTime( date ) {
                if ( !this.defaultSchedules.length ) {
                    return false;
                }

                const defaultSchedule =
                    shiftsService.parseDefaultScheduleForDisplay(
                        shiftsService.getDefaultScheduleForDate(
                            { defaultScheduleData: this.defaultSchedules },
                            date
                        ),
                        date
                    );

                return `${defaultSchedule.start} to ${defaultSchedule.end}`;
            },

            /**
            * Checks if time record is changed
            * @param {Object} timeRecord Time record
            * @returns {Boolean}
            */
            isRecordChanged( timeRecord ) {
                return timeRecord.action && timeRecord.action !== 'old';
            },

            /**
            * Calculate time interval
            * @param {String} startTime Start time
            * @param {String} endTime End time
            * @returns {String}
            */
            calculateTimeDifference( startTime, endTime ) {
                return moment.utc( moment( endTime, 'HH:mm' )
                    .diff( moment( startTime, 'HH:mm' ) ) )
                    .format( 'HH:mm' );
            },

            /**
             * Fetch Default Schedule for Company.
             *
             * @returns {Promise}
             */
            fetchDefaultScheduleForCompany() {
                if ( this.showLoading ) {
                    this.$loader.show();
                }

                return shiftsService.fetchDefaultScheduleForCompany( this.user.company_id )
                    .then( ( schedules ) => {
                        this.defaultSchedules = schedules;
                        this.$loader.hide();
                    })
                    .catch( () => this.$loader.hide() );
            },

            /**
             * Get Default Schedule for Date.
             *
             * @returns {Object}
             */
            getDefaultScheduleForDate( date ) {
                return shiftsService.getDefaultScheduleForDate({ defaultScheduleData: this.defaultSchedules }, date );
            },

            /**
             * Checks if date is a user defined rest day
             *
             * @param {String} date
             * @returns {Boolean}
             */
            isUserDefinedRestDay( date ) {
                return this.userDefinedRestDays.some( ( userDefinedRestDay ) =>
                    userDefinedRestDay.dates.some( ( _date ) => _date === date )
                );
            }
        }
    };
</script>
