<template>
    <div>
        <div class="sl-c-grid sl-c-grid--twos" v-if="!!shift.timeRecords"
            v-for="( timeRecord, index ) of shift.timeRecords" :key="index">
            <div>
                <i class="fa fa-clock-o" />
                {{ timeRecord | timeRecordLabel }}
            </div>

            <div class="time-record">
                <i class="fa fa-sm fa-circle sl-u-gap-right--xs" :class="modificationClass(timeRecord)"></i>

                <span :class="{ 'sl-u-text--danger': timeRecord.max_clock_out }">
                    {{ formatTimestampToTime(timeRecord.timestamp, timeRecord.offset) }}
                </span>

                <div class="max-clock-out-warning" v-if="timeRecord.max_clock_out">
                    <span class="danger-icon">!</span>

                    <p>Time log is beyond maximum clock-out rule.</p>
                </div>
            </div>
        </div>

        <div class="sl-c-grid sl-c-grid--twos" v-if="!!shift.workedHours"
            v-for="( workedHours, index ) of shift.workedHours" :key="index">
            <div>
                <i class="fa fa-clock-o" />
                {{ workedHours | workedHoursLabel }}
            </div>

            <div :class="durationClass(workedHours)">
                <i class="fa fa-sm fa-circle sl-u-gap-right--xs" :class="modificationClass(workedHours)"></i>
                {{ workedHours.time }}
            </div>
        </div>

        <div class="sl-c-grid sl-c-grid--twos" v-if="!shift.workedHours && !!shift.timeRecords">
            <div>
                <i class="fa fa-clock-o" />
                Hours worked:
            </div>

            <div class="time-record" :class="durationClass()">
                <i class="fa fa-sm fa-circle sl-u-text--silver sl-u-gap-right--xs"></i>

                <span>{{ minutesWorked | formatMinutesToTime }}</span>
            </div>
        </div>

        <div class="sl-c-grid sl-c-grid--twos" v-if="!!shift.workedHours">
            <div>
                <i class="fa fa-clock-o" />
                Total Hours worked:
            </div>
            <div>
                <i class="fa fa-sm fa-circle sl-u-text--silver sl-u-gap-right--xs"></i>
                {{ totalMinutesWorked | formatMinutesToTime }}
            </div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment';
    import { capitalize } from 'lodash-es';
    import { timeClockService } from '@/utils/services/TimeClockService';
    import { hoursWorkedService } from '@/utils/services/HoursWorkedService';
    import { shiftsService } from '@/utils/services/ShiftsService';

    export default {
        props: {
            shift: {
                type: Object,
                required: true
            }
        },

        data() {
            return {
                clockPairs: null
            };
        },

        created() {
            this.clockPairs = this.shift.timesheet &&
                timeClockService.getClockPairsFromShiftTimesheet( this.shift.timesheet.new_state );
        },

        computed: {
            /**
             * Fetch minutes worked
             */
            minutesWorked() {
                return timeClockService.getMinutesWorked( this.clockPairs, this.shift );
            },

            /**
             * Fetch total minutes worked
             */
            totalMinutesWorked() {
                return hoursWorkedService.getMinutesWorked( this.shift.hours_worked.new_state );
            },

            /**
             * Calculates expected working minutes
             *
             * @return {Number} Expected working minutes
             */
            expectedMinutesWorked() {
                const shiftRange = shiftsService.getShiftRange( this.shift );

                return shiftRange.end.diff( shiftRange.start, 'minutes' );
            }
        },

        filters: {
            /**
             * Format time record label
             *
             * @param  {Object} timeRecord
             * @return {String}
             */
            timeRecordLabel( timeRecord ) {
                return `${timeRecord.action ? capitalize( timeRecord.action ) : ''}
                    ${capitalize( timeRecord.type.replace( /_/g, ' ' ) )}:`;
            },

            /**
             * Format hours worked label
             *
             * @param  {Object} hoursWorked
             * @return {String}
             */
            workedHoursLabel( hoursWorked ) {
                const type = `${capitalize( hoursWorked.type.replace( /_/g, ' ' ) )}`;

                return `${hoursWorked.action === 'old' ? capitalize( hoursWorked.action ) : ''}
                    ${type.trim()}${hoursWorked.type === 'regular' ? ' hours' : ''}:`;
            },

            /**
             * Format number of minutes into time string.
             *
             * @param  {Number} minutes
             * @return {String} HH:mm
             */
            formatMinutesToTime( minutes ) {
                return timeClockService.formatMinutesToTime( minutes );
            }
        },

        methods: {
            /**
             * Format unix epoch time to time or datetime.
             *
             * @param  {Number} timestamp
             * @return {String} <HH:mm> or <MMM DD, HH:mm>
             */
            formatTimestampToTime( timestamp, offset ) {
                if ( !timestamp ) return 'none';

                let dateTime = moment( timestamp, 'X' );
                // We will use moment's isDST() feature here
                // This detects if DST is applicable based on client timezone and also checks if
                // timestamp is within range of DST for that year
                // DST adjusts always in 1 hour, to complete 23-hour day in late winter or early spring and one 25-hour day in the autumn.
                // Only applies in US and/or Canada TZ
                if ( offset && !dateTime.isDST() ) {
                    dateTime = dateTime.utc().utcOffset( offset );
                } else if ( offset && dateTime.isDST() ) {
                    // We add +0800 by default this is due so that time displays will be in Asia/Singapore TZ
                    // Once DST takes effect we will need to add 1 more hour to match the original pre dst timestamp,
                    // which is defaulting to Asia/Manila now (+0800)
                    dateTime = dateTime.utc().utcOffset( '+0900' );
                }

                return dateTime.format( 'MMMM D, YYYY - HH:mm:ss' );
            },

            /**
             * Sets class to indicate time record modification
             *
             * @param {Object} timeRecord Time record
             * @returns {String} String css class name
             */
            modificationClass( timeRecord ) {
                return ( timeRecord.action && timeRecord.action !== 'old' )
                    ? 'sl-u-text--danger' : 'sl-u-text--silver';
            },

            /**
             * Sets class for time record duration indication
             *
             * @param {Object} hoursWorked Hours worked record
             * @return {String} String css class name
             */
            durationClass( hoursWorked ) {
                if ( hoursWorked && hoursWorked.type !== 'regular' ) return '';

                return this.isLessThanExpected( hoursWorked )
                    ? 'sl-u-text--danger' : '';
            },

            /**
             * Determines if hours worked record or timesheet total minutes is less than expected
             *
             * @param {Object} hoursWorked Hours worked record
             * @return {Boolean}  True if less than expected, False otherwise.
             */
            isLessThanExpected( hoursWorked ) {
                return hoursWorked
                    ? this.expectedMinutesWorked > moment.duration( hoursWorked.time ).asMinutes()
                    : this.expectedMinutesWorked > this.minutesWorked;
            }
        }
    };
</script>

<style lang="scss" scoped>
    .fa-sm {
        &.fa-circle.sl-u-gap-right--xs {
            margin-right: .35rem;
            font-size: .6rem;
        }
    }

    .time-record {
        display: flex;
        align-items: center;
        gap: 8px;

        span {
            white-space: nowrap;
        }

        .max-clock-out-warning {
            align-items: center;
            display: flex;
            gap: 4px;
            color: $sl-color-red;

            .danger-icon {
                width: 16px;
                height: 16px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background: $sl-color-red;
                color: #fff;
                font-size: 13px;
                font-weight: bold;
            }

            p {
                margin-top: 0;
                flex: 1;
                line-height: 16px;
            }
        }
    }
</style>
