<template>
    <sal-card :class="{'sl-c-card--default': !isEditable}">
        <div class="sl-c-panel__header" slot="header">
            <div class="sl-c-media">
                <div class="sl-c-media__object" @click="selectShift">
                    <i class="fa fa-check-circle fa-lg sl-u-text--disabled" :class="[shift.selected ? 'sl-u-text--success' : 'sl-u-text--disabled']"></i>
                    <!-- Toggle disabled and success classes for color -->
                </div>

                <div class="sl-c-media__body" @click="expandShift">
                    <h5 class="sl-c-panel__title">
                        {{ shift.schedule.name }} ({{ shift.schedule.start_time }} to {{ shift.schedule.end_time }})
                    </h5>
                </div>
            </div>
        </div>

        <div v-if="shift.expanded">
            <template v-if="shiftsTimeclock">
                <div>
                    <div class="sl-c-grid sl-c-grid--twos">
                        <div class="sl-u-gap-left--sm">
                            <i class="fa fa-clock-o sl-u-gap-right--xs sl-u-gap-left--xs" />
                            Clock in:
                        </div>
                        <div class="sl-u-gap-right--xs sl-u-gap-left--xs"
                            v-if="hasClockIn"
                        >
                            {{ shiftsTimeclock.clockIn.timestamp | timestampToTime }}
                        </div>
                    </div>

                    <div class="sl-c-tag-list sl-u-gap-top"
                        v-if="showTagsSection"
                    >
                        <!-- Request tags input section -->
                        <span class="sl-c-tag" v-for="(tag, index) in shiftsTimeclock.clockIn.tags" :key="index" >
                            {{ tag }}
                        </span>
                    </div>

                    <div class="sl-c-grid sl-c-grid--twos">
                        <div class="sl-u-gap-left--sm">
                            <i class="fa fa-clock-o sl-u-gap-right--xs sl-u-gap-left--xs" />
                            Clock out:
                        </div>
                        <div v-if="hasClockOut">
                            {{ shiftsTimeclock.clockOut.timestamp | timestampToTime }}
                        </div>
                    </div>
                </div>
            </template>

            <div v-else>
                <div class="sl-c-grid sl-c-grid--twos">
                    <div>
                        <i class="fa fa-clock-o sl-u-gap-right--xs sl-u-gap-left--xs" />
                        Clock in:
                    </div>
                </div>

                <div class="sl-c-grid sl-c-grid--twos">
                    <div>
                        <i class="fa fa-clock-o sl-u-gap-right--xs sl-u-gap-left--xs" />
                        Clock out:
                    </div>
                </div>
            </div>

            <div class="sl-c-grid sl-c-grid--twos sl-u-gap-bottom--sm sl-u-gap-top">
                <template v-if="isEditable">
                    <div>
                        Undertime start time:
                    </div>

                    <div class="sl-c-input-group sl-c-input-group--empty">
                        <flat-pickr
                            v-if="isEditable"
                            v-model="undertime.start"
                            :config="startTimeConfig"
                            @on-open="() => handleLastActiveField( this.undertimeTimeFields.start )"
                            @on-change="( event ) => handleComputation( this.undertimeTimeFields.start, event )"
                            class="sl-c-form-control sl-c-form-control--slim"
                        />
                        <div class="sl-c-input-group__addon">
                            <i class="fa fa-clock-o"></i>
                        </div>
                    </div>
                </template>
                <template v-else-if="undertime.start">
                    <div>
                        Undertime start time:
                    </div>
                    <div>
                        {{ undertime.start }}
                    </div>
                </template>
            </div>

            <div class="sl-c-grid sl-c-grid--twos sl-u-gap-bottom--sm">
                <template v-if="isEditable">
                    <div>
                        Undertime end time:
                    </div>

                    <div class="sl-c-input-group sl-c-input-group--empty">
                        <flat-pickr
                            v-if="isEditable"
                            v-model="undertime.end"
                            :config="endTimeConfig"
                            @on-open="() => handleLastActiveField( this.undertimeTimeFields.end )"
                            @on-change="( event ) => handleComputation( this.undertimeTimeFields.end, event )"
                            class="sl-c-form-control sl-c-form-control--slim"
                        />
                        <div class="sl-c-input-group__addon">
                            <i class="fa fa-clock-o"></i>
                        </div>
                    </div>
                </template>
                <template v-else-if="undertime.end">
                    <div>
                        Undertime end time:
                    </div>
                    <div>
                        {{ undertime.end }}
                    </div>
                </template>
            </div>

            <div class="sl-c-grid sl-c-grid--twos sl-u-gap-bottom--sm">
                <template v-if="isEditable">
                    <div>
                        Number of hours:
                    </div>

                    <div class="sl-c-input-group sl-c-input-group--empty">
                        <flat-pickr
                            v-if="isEditable"
                            v-model="undertime.numberOfHours"
                            :config="numberOfHoursConfig"
                            @on-open="() => handleLastActiveField( this.undertimeTimeFields.numberOfHours )"
                            @on-change="( event ) => handleComputation( this.undertimeTimeFields.numberOfHours, event )"
                            class="sl-c-form-control sl-c-form-control--slim"
                        />
                        <div class="sl-c-input-group__addon">
                            <i class="fa fa-clock-o"></i>
                        </div>
                    </div>
                </template>
                <template v-else-if="undertime.numberOfHours">
                    <div>
                        Number of hours:
                    </div>
                    <div>
                        {{ undertime.numberOfHours }} Hour/s
                    </div>
                </template>
            </div>

            <div slot="footer" class="sl-u-text--center">
                <template v-if="isEditable">
                    <sal-button-mobile
                        id="cancel-request"
                        label="Cancel"
                        size="md"
                        type="primary"
                        outlined
                        buttonType="button"
                        :onClick="cancel"
                    />

                    <sal-button-mobile
                        id="submit-request"
                        label="Save"
                        size="md"
                        type="primary"
                        buttonType="submit"
                        :onClick="save"
                        :disabled="!undertime.start || !undertime.numberOfHours"
                        outlined
                    />
                </template>
                <template v-else>
                    <sal-button-mobile
                        id="edit-request"
                        label="Edit"
                        size="md"
                        type="primary"
                        buttonType="button"
                        :onClick="edit"
                    />
                </template>
            </div>
        </div>
    </sal-card>
</template>
<script>
    import moment from 'moment';
    import { find, clone, first, indexOf, difference } from 'lodash-es';
    import { timeClockService } from '@/utils/services/TimeClockService';
    import { undertimeRequestService } from '@/utils/services/UndertimeRequestService';
    import { DEFAULT_SHIFT_DATETIME_FORMAT } from '@/constants/overtime-request';
    import { UNDERTIME_TIME_FIELDS_NAMES, UNDERTIME_FIELDS } from '@/constants/employee-request';

    export default {
        name: 'sal-undertime-edit-request-card',
        props: {
            shift: Object,
            timesheet: Array,
            selectedDate: String,
            showTags: {
                type: Boolean,
                default: false
            },
            nextShift: Object
        },

        data() {
            return {
                timeConfig: {
                    disableMobile: true,
                    noCalendar: true,
                    enableTime: true,
                    dateFormat: 'H:i',
                    minuteIncrement: 1,
                    time_24hr: true
                },
                undertime: {
                    start: null,
                    end: null,
                    numberOfHours: null
                },
                isEditable: true,
                shiftsTimeclock: {},
                timeclockPairs: [],
                activeInputFields: [],
                fieldForComputing: null
            };
        },

        computed: {
            /**
             * Gets array of input fields names for undertime time properties.
             * @returns {Array}
             */
            inputFieldsNames() {
                return UNDERTIME_TIME_FIELDS_NAMES;
            },

            /**
             * Gets undertime time fields.
             * @returns {Object}
             */
            undertimeTimeFields() {
                return UNDERTIME_FIELDS;
            },

            /**
             * Start time flatpickr configuration.
             * @returns {Object}
             */
            startTimeConfig() {
                return clone( this.timeConfig );
            },

            /**
             * End time flatpickr configuration.
             * @returns {Object}
             */
            endTimeConfig() {
                return clone( this.timeConfig );
            },

            /**
             * Number of hours config.
             * @returns {Object}
             */
            numberOfHoursConfig() {
                return clone( this.timeConfig );
            },

            /**
             * Computes shift's range.
             * @returns {Object}
             */
            shiftRange() {
                const start = moment(
                    `${this.shift.date} ${this.shift.schedule.start_time}`, DEFAULT_SHIFT_DATETIME_FORMAT
                );
                const end = moment(
                    `${this.shift.date} ${this.shift.schedule.end_time}`, DEFAULT_SHIFT_DATETIME_FORMAT
                );

                if ( end.isBefore( start ) ) {
                    end.add( 1, 'days' );
                }

                return { start, end };
            },

            /**
             * Handles showing tags if condition is true;
             * @returns {Boolean}
             */
            showTagsSection() {
                return this.showTags && this.clockInHasTags;
            },

            /**
             * Checks does clockIn has tags.
             * @returns {Boolean}
             */
            clockInHasTags() {
                return this.shiftsTimeclock &&
                    this.shiftsTimeclock.clockIn &&
                    this.shiftsTimeclock.clockIn.tags &&
                    this.shiftsTimeclock.clockIn.tags.length;
            },

            /**
             * Checks does shiftsTimeclock has clock in.
             * @returns {Boolean}
             */
            hasClockIn() {
                return this.shiftsTimeclock &&
                    this.shiftsTimeclock.clockIn &&
                    this.shiftsTimeclock.clockIn.timestamp;
            },
            /**
             * Checks does shiftsTimeclock has clock out.
             * @returns {Boolean}
             */
            hasClockOut() {
                return this.shiftsTimeclock &&
                    this.shiftsTimeclock.clockOut &&
                    this.shiftsTimeclock.clockOut.timestamp;
            },

            /**
             * Checks if should show attachments section.
             * @returns {Boolean}
             */
            showAttachments() {
                return this.isEditable;
            }
        },

        created() {
            this.handleEdit();
            this.setTimeclockPairs();
            this.setShiftsTimeclock();
        },

        methods: {

            /**
             * Sets field to be computed.
             * @param {String} inputName
             */
            setFieldForComputing( inputName ) {
                this.activeInputFields.push( inputName );

                if ( this.activeInputFields.length === 3 ) {
                    this.fieldForComputing = this.activeInputFields.shift();
                }
                if ( this.activeInputFields.length === 2 ) {
                    this.fieldForComputing = first( difference( this.inputFieldsNames, this.activeInputFields ) );
                }
            },

            /**
             * Swappes array items positions accroding to last active.
             */
            swapArrayItemsPosition() {
                const lastActive = this.activeInputFields[ 0 ];

                this.activeInputFields[ 0 ] = this.activeInputFields[ 1 ];
                this.activeInputFields[ 1 ] = lastActive;
            },

            /**
             * Handles last active field setting.
             * @param {String} inputName
             */
            handleLastActiveField( inputName ) {
                const index = indexOf( this.activeInputFields, inputName );

                index === -1
                    ? this.setFieldForComputing( inputName )
                    : this.swapArrayItemsPosition();
            },

            /**
             * Handles computation.
             * @param {String} inputName name of input field.
             * @param {Object} event triggered event.
             */
            handleComputation( inputName, event ) {
                if ( !event || !event.length ) return;

                const selectedTime = moment( first( event ), 'HH:mm' ).format( 'HH:mm' );

                this.handleStartTimeChanged( inputName, selectedTime );

                this.handleEndTimeChanged( inputName, selectedTime );

                this.handleHoursChanged( inputName, selectedTime );
            },

            /**
             * Handles computation when start time is changed.
             * @param {String} inputName
             * @param {String} selectedTime
             */
            handleStartTimeChanged( inputName, selectedTime ) {
                if ( inputName !== this.undertimeTimeFields.start ) return;

                this.undertime.start = selectedTime;
                if ( this.fieldForComputing === this.undertimeTimeFields.numberOfHours ) {
                    this.handleHoursComputation();

                    return;
                }

                if ( this.fieldForComputing === this.undertimeTimeFields.end ) {
                    this.handleEndTimeComputation();
                }
            },

            /**
             * Handles computation when end time is changed.
             * @param {String} inputName
             * @param {String} selectedTime
             */
            handleEndTimeChanged( inputName, selectedTime ) {
                if ( inputName !== this.undertimeTimeFields.end ) return;
                this.undertime.end = selectedTime;

                if ( this.fieldForComputing === this.undertimeTimeFields.numberOfHours ) {
                    this.handleHoursComputation();

                    return;
                }

                if ( this.fieldForComputing === this.undertimeTimeFields.start ) {
                    this.handleStartTimeComputation();
                }
            },

            /**
             * Handles computation when number of hours is changed.
             * @param {String} inputName
             * @param {String} selectedTime
             */
            handleHoursChanged( inputName, selectedTime ) {
                if ( inputName !== this.undertimeTimeFields.numberOfHours ) return;

                this.undertime.numberOfHours = selectedTime;

                if ( this.fieldForComputing === this.undertimeTimeFields.end ) {
                    this.handleEndTimeComputation();

                    return;
                }
                if ( this.fieldForComputing === this.undertimeTimeFields.start ) {
                    this.handleStartTimeComputation();
                }
            },
            /**
             * Compute undertime start time if end and number of hours is parsed.
             * @param {Object} selectedTime date {object} or {String}
             */
            handleStartTimeComputation( selectedTime ) {
                if ( moment( this.undertime.start, 'HH:mm' ).isSame( selectedTime ) ) return;

                if ( this.undertime.end && this.undertime.numberOfHours ) {
                    this.computeUndertimeStart();
                }
            },

            /**
             * Handles end time computation.
             */
            handleEndTimeComputation() {
                if ( this.undertime.start && this.undertime.numberOfHours ) {
                    this.computeUndertimeEnd();
                }

                if ( this.undertime.end && this.undertime.numberOfHours ) {
                    this.computeUndertimeStart( event );
                }
            },

            /**
             * Handles number of hours computation.
             */
            handleHoursComputation() {
                if ( this.undertime.start && this.undertime.end ) {
                    this.computeUndertimeHours();

                    return;
                }

                if ( this.undertime.start && this.undertime.numberOfHours ) {
                    this.computeUndertimeEnd();

                    return;
                }
                if ( this.undertime.end && this.undertime.numberOfHours ) {
                    this.computeUndertimeStart( event );
                }
            },

            /**
             * Compares original and calculated time.
             * @param {String} originalTime
             * @param {String} calculatedTime
             * @returns {Boolean} true if same or else false.
             */
            isOriginalTimeSameAsCalculated( originalTime, calculatedTime ) {
                const original = moment( originalTime, 'HH:mm' ).format( 'HH:mm' );
                const calculated = moment( calculatedTime, 'HH:mm' ).format( 'HH:mm' );

                return moment( original, 'HH:mm' ).isSame( calculated );
            },

            /**
             * Subtracts time.
             * @param {Object} startTime moment object
             * @param {Object} endTime moment object.
             * @returns {Object}
             */
            getSubtractedTime( startTime, endTime ) {
                const start = moment( startTime, 'HH:mm' );
                const end = moment( endTime, 'HH:mm' );

                const subtractedTime = start.subtract({
                    hours: end.hours(),
                    minutes: end.minutes()
                });

                return subtractedTime.isValid() ? moment( subtractedTime, 'HH:mm' ).format( 'HH:mm' ) : false;
            },

            /**
             * Computes undertime hours.
             */
            computeUndertimeHours() {
                if ( !this.undertime ) return;

                const start = moment( this.undertime.start, 'HH:mm' );
                const end = moment( this.undertime.end, 'HH:mm' );

                const numberOfHours = this.getSubtractedTime( end, start );

                this.undertime.numberOfHours = moment( numberOfHours, 'HH:mm' ).format( 'HH:mm' );
            },

            /**
             * Computes undertime start time.
             */
            computeUndertimeStart() {
                const end = moment( this.undertime.end, 'HH:mm' );
                const numberOfHours = moment( this.undertime.numberOfHours, 'HH:mm' );
                const start = end.subtract({
                    hours: numberOfHours.hours(),
                    minutes: numberOfHours.minutes()
                });

                if ( this.isOriginalTimeSameAsCalculated( this.undertime.start, start ) ) {
                    return;
                }

                this.undertime.start = moment( start, 'HH:mm' ).format( 'HH:mm' );
            },

            /**
             * Computes undertime end.
             */
            computeUndertimeEnd() {
                if ( !this.undertime || !this.undertime.start || !this.undertime.numberOfHours ) return;

                const start = moment( this.undertime.start, 'HH:mm' );
                const numberOfHours = moment( this.undertime.numberOfHours, 'HH:mm' );

                const end = start.add({
                    hours: numberOfHours.hours(),
                    minutes: numberOfHours.minutes()
                }).format( 'HH:mm' );

                if ( this.undertime.end && this.isOriginalTimeSameAsCalculated( this.undertime.end, end ) ) {
                    return;
                }

                this.undertime.end = moment( end, 'HH:mm' ).format( 'HH:mm' );
            },

            /**
             * Sets first clock in and last clock out per shift.
             */
            setShiftsTimeclock() {
                const timeclockPair = find( this.timeclockPairs, ( timeclock ) => // eslint-disable-line consistent-return
                    timeClockService.isTimeclockOverlapingWithShift( timeclock, this.shiftRange )
                );

                if ( !timeclockPair ) {
                    this.shiftsTimeclock = false;

                    return;
                }

                if (
                    timeclockPair.clockIn &&
                    timeclockPair.clockIn.tags &&
                    timeclockPair.clockIn.tags.length
                ) {
                    this.$emit( 'tags-btn-enabled' );
                }

                timeclockPair.clockOut = timeClockService.getLastShiftsClockOut( this.timeclockPairs, this.shiftRange, this.nextShift );

                this.shiftsTimeclock = timeclockPair;
            },

            /**
             * Sets timeclok pairs and check are tags present.
             * Emits disable-button event to parent.
             */
            setTimeclockPairs() {
                this.timeclockPairs = timeClockService.getAttendancePairs( this.timesheet );
            },

            /**
             * Enables request editing and sets default undertime values.
             */
            edit() {
                this.isEditable = true;
                this.$emit( 'edit' );
            },

            /**
             * Listens for parents invalid-data event and turns on edit mode.
             */
            handleEdit() {
                this.$parent.$parent.$on( 'invalid-data', () => {
                    this.isEditable = true;
                });
            },

            /**
             * Cancels undertime request creation.
             */
            cancel() {
                this.$modal.confirm({
                    type: 'danger',
                    title: 'Confirm Action',
                    cancelText: 'Cancel',
                    okText: 'Confirm',
                    content: 'You are about to cancel editing request. Do you wish to proceed?',
                    onOk: () => {
                        this.isEditable = false;
                        this.undertime = {
                            start: null,
                            end: null,
                            numberOfHours: null
                        };
                        this.$emit( 'cancel-edit', this.shift );
                    }
                });
            },

            /**
             * Checks is undertime start, end or number of hours in shifts time range.
             * @returns {Boolean}
             */
            isUndertimeRequestValid() {
                return undertimeRequestService.isUndertimeRequestValid(
                        this.shiftRange,
                        this.undertime,
                        this.selectedDate
                    );
            },

            /**
             * Saves entered overtime request data.
             */
            save() {
                if ( !this.isUndertimeRequestValid() ) {
                    this.$flashMessage.show( 'Invalid Time Record', 'error' );

                    return;
                }

                this.isEditable = false;

                this.$emit( 'save', {
                    hours: this.undertime.numberOfHours,
                    start_time: this.undertime.start,
                    end_time: this.undertime.end,
                    shift_id: this.shift.shift_id
                }, this.shift.selected );
            },

            /**
             * Sets active status on shift.
             */
            activate() {
                if ( !this.isUndertimeRequestValid() ) {
                    this.$flashMessage.show( 'Invalid Time Record', 'error' );

                    return;
                }

                this.$emit( 'activate', {
                    hours: this.undertime.numberOfHours,
                    start_time: this.undertime.start,
                    end_time: this.undertime.end,
                    shift_id: this.shift.shift_id
                });
            },

            /**
             * Checks is clocked on shifts day.
             * @param {Object} clockPair
             * @returns {Boolean}
             */
            clockedOnShiftDay( clockPair ) {
                const clockIn = moment( clockPair.clockIn.timestamp, 'X' );
                const clockOut = moment( clockPair.clockOut.timestamp, 'X' );

                return clockIn.isSame( this.shift.date, 'day' ) || clockOut.isSame( this.shift.date, 'day' );
            },

            /**
             * Sets default undertime values.
             */
            setDefaultUndertimeValues() {
                this.undertime = {
                    start: null,
                    end: null,
                    numberOfHours: null
                };
            },

            /**
             * Select or deselect shift
             */
            selectShift() {
                this.shift.selected = !this.shift.selected;
                this.shift.selected ? this.activate() : this.$emit( 'cancel-edit', this.shift );
            },

            /**
             * Toggles shift section expand.
             */
            expandShift() {
                if ( this.isEditable ) return;
                this.shift.expanded = !this.shift.expanded;
            }
        },

        filters: {
            /**
             * Formats timestamp to time format 'HH:mm'.
             * @returns {Moment} formated moment object
             */
            timestampToTime( timestamp ) {
                return moment( timestamp, 'X' ).format( 'HH:mm:ss' );
            }
        }
    };
</script>
<style lang="scss" scoped>
</style>

