<template>
    <sal-card>
        <template slot="title">
            <router-link :to="{
                name: 'requests.undertime-request.details',
                params: { requestId: request.id }
            }">Undertime</router-link>
        </template>

        <template slot="actions">
            <sal-button-mobile
                v-if="isRequestCancelable"
                id="removeRequest"
                type="cancel"
                class="sl-c-btn--xs-c"
                :onClick="cancelRequest"
                :disabled="isCancelingRequest"
            >
                <i class="fa fa-ban"></i>
                Cancel
            </sal-button-mobile>

            <span class="sl-c-label" :class="statusClass">
                <i class="fa sl-u-gap-right--sm" :class="statusIcon" />
                {{ status }}
            </span>
        </template>

        <div class="sl-c-grid sl-c-grid--twos">
            <div>
                <i class="fa fa-calendar-o sl-u-text--disabled" /> From:<br> {{ from }}
            </div>
            <div>
                <i class="fa fa-calendar-o sl-u-text--disabled" /> To:<br> {{ to }}
            </div>
        </div>

        <div class="sl-u-gap-top" v-if="requestDetailsVisible">
            <sal-undertime-details :undertime="request" />
        </div>

        <p>
            <a
                id="show-details"
                @click="toggleRequestDetails"
            >
                <i class="fa" :class="arrowClass" />
                Show {{ requestDetailsVisible ? 'less' : 'more' }} details
            </a>
        </p>

        <template slot="footer">
            <i class="fa fa-reply sl-u-text--disabled sl-u-gap-right--sm"></i>
            {{ employeeRequest.messages_count }} messages
        </template>
    </sal-card>
</template>

<script>
    import moment from 'moment';
    import { DATE_FORMAT } from '@/constants/employee-request';
    import { employeeRequestService } from '@/utils/services/EmployeeRequestService';
    import employeeRequestStatusAndIcon from '@/mixins/employeeRequestStatusAndIcon';
    import { get } from 'lodash-es';

    export default {
        name: 'sal-undertime-request-card-mobile',
        mixins: [employeeRequestStatusAndIcon],

        props: {
            employeeRequest: {
                type: Object,
                required: true
            }
        },

        data() {
            return {
                requestDetailsVisible: false,
                isCancelingRequest: false
            };
        },

        computed: {
            /**
             * Request details specific to the type of request.
             * @return {Object}
             */
            request() {
                return this.employeeRequest.request;
            },

            /**
             * Format request start date.
             */
            from() {
                return moment( this.request.date ).format( DATE_FORMAT );
            },

            /**
             * Format request end date.
             */
            to() {
                return moment( this.request.date ).format( DATE_FORMAT );
            }
        },

        methods: {
            /**
             * Expand or collapse card.
             */
            toggleRequestDetails() {
                this.requestDetailsVisible = !this.requestDetailsVisible;
            },
            /**
             * Cancel request
             */
            cancelRequest() {
                this.isCancelingRequest = true;
                this.$modal.confirm({
                    type: 'danger',
                    title: 'Cancel request',
                    cancelText: 'Cancel',
                    okText: 'Cancel request',
                    content: 'Are you sure you want to cancel this request?',
                    onOk: () => {
                        employeeRequestService.cancelRequest({
                            id: this.employeeRequest.id,
                            employee_id: this.employeeRequest.employee_id,
                            dates: {
                                start_date: this.employeeRequest.request.start_date,
                                end_date: this.employeeRequest.request.end_date,
                                date: this.employeeRequest.request.date
                            },
                            status: this.employeeRequest.status
                        })
                        .then( ( request ) => {
                            this.employeeRequest.status = request.status;
                            this.isCancelingRequest = false;
                            this.$flashMessage.show( 'You canceled the request', 'success' );
                        }).catch( ( error ) => {
                            const { response } = error;
                            this.$flashMessage.show( get( response, 'data.message', error.message ), 'error' );
                            this.isCancelingRequest = false;
                        });
                    },
                    onCancel: () => { this.isCancelingRequest = false; }
                });
            }
        }
    };
</script>
