<template>
    <div>
        <div class="sl-c-card sl-c-card--default" v-for="( shift, date ) of shifts" :key="date">
            <div class="sl-c-card__header">
                <div class="sl-c-grid sl-c-grid--twos">
                    <div>
                        <p>
                            <strong>{{ undertime.date | date }}</strong>
                        </p>
                    </div>
                    <div>
                        <span class="sl-c-label sl-c-label--primary-pale">
                            <i class="fa fa-sm fa-circle sl-u-text--primary sl-u-gap-right--xs"></i>
                            {{ shift.schedule.start_time }} - {{ shift.schedule.end_time }}
                        </span>
                    </div>
                </div>
            </div>

            <div class="sl-c-card__body">
                <div class="sl-c-grid sl-c-grid--twos">
                    <div>Schedule:</div>
                    <div>{{ shift.schedule.name }}</div>
                </div>

                <div class="sl-c-grid sl-c-grid--twos">
                    <div>Time:</div>
                    <div>{{ shift.schedule.start_time }} to {{ shift.schedule.end_time }}</div>
                </div>

                <div class="sl-c-grid sl-c-grid--twos">
                    <div>
                        <i class="fa fa-clock-o sl-u-gap-right--xs sl-u-gap-left--xs" />
                        Clock in:
                    </div>

                    <div v-if="hasClockIn( shift )">
                        {{ shift.clockPair.clockIn.timestamp | timestampToTime }}
                    </div>
                </div>

                <div class="sl-c-grid sl-c-grid--twos">
                    <div>
                        <i class="fa fa-clock-o sl-u-gap-right--xs sl-u-gap-left--xs" />
                        Clock out:
                    </div>
                    <div v-if="hasClockOut( shift )">
                        {{ shift.clockPair.clockOut.timestamp | timestampToTime }}
                    </div>
                </div>

                <div class="sl-c-grid sl-c-grid--twos">
                    <div>Undertime Start Time:</div>
                    <div>{{ shift.start_time | time }}</div>
                </div>

                <div class="sl-c-grid sl-c-grid--twos">
                    <div>Undertime End Time:</div>
                    <div>{{ shift.end_time | time }}</div>
                </div>

                <div class="sl-c-grid sl-c-grid--twos">
                    <div>Undertime Hours:</div>
                    <div>{{ shift.hours | time }}</div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import { filter, find, map } from 'lodash-es';
    import moment from 'moment';
    import { timeClockService } from '@/utils/services/TimeClockService';
    import { shiftsService } from '@/utils/services/ShiftsService';
    import { auth } from '@/utils/Authentication';
    import { DEFAULT_SHIFT_DATETIME_FORMAT } from '@/constants/overtime-request';
    import requestDetailsFilters from '@/mixins/requestDetailsFilters';

    export default {
        mixins: [requestDetailsFilters],
        props: {
            undertime: {
                type: Object,
                required: true
            },
            /**
             * adding this to prevent side effects to other components
             */
            showLoading: {
                type: Boolean,
                default: true
            }
        },

        data() {
            return {
                shifts: [],
                timesheet: null,
                timeClockPairs: [],
                user: auth.getUser(),
                defaultSchedules: []
            };
        },

        created() {
            const defaultShiftRegex = new RegExp( /^ds/ );
            const shiftId = this.undertime && this.undertime.params.shifts[ 0 ].shift_id;
            if ( shiftId && !defaultShiftRegex.test( shiftId ) ) {
                this.filterAndSetShiftsById();
                this.shifts = this.mapShifts();
            } else {
                this.setDataForDefaultSchedule();
            }

            this.timesheet = timeClockService.getAttendancePairs( this.undertime.timesheet );
            this.setTimeclockPairsForShift();
        },

        methods: {
            /**
             * Sets Details Data for Default Schedule.
             */
            setDataForDefaultSchedule() {
                this.fetchDefaultScheduleForCompany()
                    .then( () => {
                        this.defaultScheduleForDate = this.getDefaultScheduleForDate();
                        this.shifts = this.undertime.params.shifts;
                        this.shifts = this.mapShifts();
                    });
            },

            /**
             * Fetch Default Schedule for Company.
             *
             * @returns {Promise}
             */
            fetchDefaultScheduleForCompany() {
                if ( this.showLoading ) {
                    this.$loader.show();
                }

                return shiftsService.fetchDefaultScheduleForCompany( this.user.company_id )
                    .then( ( schedules ) => {
                        this.defaultSchedules = schedules;
                        this.$loader.hide();
                    })
                    .catch( () => this.$loader.hide() );
            },

            /**
             * Get Default Schedule for Date.
             *
             * @returns {Object}
             */
            getDefaultScheduleForDate() {
                return shiftsService.getDefaultScheduleForDate({ defaultScheduleData: this.defaultSchedules }, this.undertime.date );
            },

            /**
             * Sets timeclock pairs for shift.
             */
            setTimeclockPairsForShift() {
                this.timeClockPairs = filter( this.timesheet, ( pair ) => // eslint-disable-line no-confusing-arrow
                    pair && pair.clockIn
                        ? moment( pair.clockIn.timestamp, 'X' ).isSame( this.undertime.date, 'day' )
                        : false
                );
            },

            /**
             * Filters shifts by id.
             */
            filterAndSetShiftsById() {
                this.shifts = filter( this.undertime.shifts, ( shift ) =>
                    find( this.undertime.params.shifts, ( undertimeShift ) => undertimeShift.shift_id.toString() === shift.id.toString() )
                );
            },

            /**
             * Maps the shifts.
             * @returns {Array} mapped shifts.
             */
            mapShifts() {
                return map( this.shifts, ( shift ) => {
                    const shiftData = find( this.undertime.params.shifts, ( undertimeShift ) =>
                        parseInt( undertimeShift.shift_id, 10 ) === parseInt( shift.id, 10 )
                    );

                    if ( shiftData ) {
                        shift.start_time = shiftData.start_time;
                        shift.end_time = shiftData.end_time;
                        shift.hours = shiftData.hours;
                    }

                    if ( this.defaultScheduleForDate ) {
                        shift.schedule = {
                            start_time: moment( this.defaultScheduleForDate.work_start, 'HH:mm:ss' ).format( 'HH:mm' ),
                            end_time: moment( this.defaultScheduleForDate.work_end, 'HH:mm:ss' ).format( 'HH:mm' ),
                            name: 'Default Schedule'
                        };
                    }

                    this.addShiftStartAndEnd( shift );

                    shift.clockPair = find( this.timeClockPairs, ( clockPair ) =>
                        timeClockService.isTimeclockOverlapingWithShift( clockPair, shift )
                    );

                    return shift;
                });
            },

            /**
             * Adds a shift start and end.
             *
             * @param {Object} shift
             */
            addShiftStartAndEnd( shift ) {
                const start = moment(
                    `${this.undertime.date} ${shift.schedule.start_time}`, DEFAULT_SHIFT_DATETIME_FORMAT
                );
                const end = moment(
                    `${this.undertime.date} ${shift.schedule.end_time}`, DEFAULT_SHIFT_DATETIME_FORMAT
                );

                if ( end.isBefore( start ) ) {
                    end.add( 1, 'days' );
                }

                shift.start = start;
                shift.end = end;
            },

            /**
             * Determines if shift has clock in.
             *
             * @param   {Object}   shift
             * @return  {boolean}  True if has clock in, False otherwise.
             */
            hasClockIn( shift ) {
                return shift.clockPair && shift.clockPair.clockIn;
            },

            /**
             * Determines if shift has clock out.
             *
             * @param   {Object}   shift
             * @return  {boolean}  True if has clock out, False otherwise.
             */
            hasClockOut( shift ) {
                return shift.clockPair && shift.clockPair.clockOut;
            }
        }
    };
</script>
<style>
</style>

