<template>
    <div class="sl-l-page">
        <div class="sl-l-app-body" id="infinite-list">
            <header class="sl-c-page-approval__header">
                <div class="sl-c-page-header-left"></div>
                <div class="sl-c-page-header-title">
                    <h1 class="sl-c-page__title">Approvals</h1>
                </div>
                <div class="sl-c-page-header-right">
                    <sal-button-mobile
                        id="approve-all-requests"
                        size="sm"
                        type="primary"
                        :onClick="approveConfirmation"
                        :disabled="shouldBlockResponding">
                        Approve all
                    </sal-button-mobile>

                    <sal-button-mobile
                        id="decline-all-requests"
                        size="sm"
                        type="danger"
                        :onClick="declineConfirmation"
                        :disabled="shouldBlockResponding">
                        Decline all
                    </sal-button-mobile>

                    <sal-button-mobile
                        id="cancel-all-requests"
                        size="sm"
                        type="cancel"
                        :onClick="cancelConfirmation"
                        :disabled="shouldBlockCancelResponding">
                        Cancel all
                    </sal-button-mobile>

                    <sal-button-mobile
                        id="filter-requests"
                        size="sm"
                        class="sl-btn-filter"
                        :onClick="toggleFilters">
                        <i class="fa fa-filter"></i>
                    </sal-button-mobile>
                </div>
            </header>

            <div class="sl-c-page__content">
                <section class="sl-c-section">
                    <div v-if="approvals && pagination" :class="{'force-scroll-visibility': to < total }">
                        <div class="sl-c-section-header">
                            <div class="sl-c-section-left-label">
                                <sal-checkbox-mobile
                                    id="entries"
                                    :label="`${this.requestIds.length} entries selected`"
                                    v-model="checkedAllRequests"/>
                                </div>
                            <div class="sl-c-section-right-label">
                                <p>Showing 1 - {{ to }} of {{ total }} entries</p>
                            </div>
                        </div>

                        <div class="sl-c-section__body">
                            <div class="table-container" v-if="approvals.length">
                                <sal-approval-item
                                    v-for="approval in approvals"
                                    :key="approval.id"
                                    :approval="approval"
                                    :requestIds="requestIds"
                                    :checkedAllRequests="checkedAllRequests"
                                    :selectedItem="selectedApprovalID === approval.id"
                                    @click="() => clickApprovalItem( approval )"
                                    @onCheckedRequest="() => onCheckedRequest( approval )"
                                    @refreshApprovals="() => refreshApprovals()"
                                    @onClickMsg="() => clickItemMsg( approval )">
                                </sal-approval-item>
                            </div>
                            <div class="sl-u-text--center" v-if="!approvals.length">
                                No approvals.
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <sal-approval-filters
            class="approval-filters"
            v-show="filtersAreVisible"
            :showSpinner="loading"
            @close="closeFilters"
            @apply="applyFilters"
            @reset="applyFilters(null)">
        </sal-approval-filters>

        <sal-approval-side-panel-detail
            ref="sidePanel"
            class="approval-side-panel"
            v-if="approvalDetailVisible"
            :approval="selectedApprovalItem"
            @close="closeSidePanel">
        </sal-approval-side-panel-detail>
    </div>
</template>

<script>
    import { map, find, get, concat } from 'lodash-es';
    import { employeeRequestService } from '@/utils/services/EmployeeRequestService';
    import {
        STATUS,
        TYPES,
        REQUEST_STATUSES
    } from '@/constants/employee-request';
    import { auth } from '@/utils/Authentication';

    export default {
        data() {
            return {
                approvals: [],
                pagination: null,
                page: 1,
                perPage: 10,
                loading: false,
                responding: false,
                filtersAreVisible: false,
                filters: {
                    statuses: [STATUS[ 0 ]],
                    types: [...TYPES],
                    my_level: true,
                    start_date: null,
                    end_date: null,
                    name: '',
                    affected_employees: []
                },
                approval_item: [],
                selectedApprovalID: null,
                selectedApprovalItem: null,
                approvalDetailVisible: false,
                seen: false,
                requestIds: [],
                checkedAllRequests: false
            };
        },
        computed: {
            /**
             * Calculate start offset number for current page.
             */
            from() {
                return this.pagination.count ? this.pagination.current_page * this.pagination.per_page - this.pagination.per_page + 1 : 0;
            },

            /**
             * Calculate end offset number for current page.
             */
            to() {
                return this.pagination.count ? this.from + this.pagination.count - 1 : 0;
            },

            /**
             * Return total number of approvals.
             */
            total() {
                return this.pagination.total;
            },

            /**
             * Pending requests filtered from all requests waiting for approval.
             * @return {Array}
             */
            pendingRequests() {
                return this.approvals.filter( ( approval ) => this.isApprovalPending( approval ) );
            },

            /**
             * Approved requests filtered from all requests waiting for cancellation.
             * @return {Array}
             */
            approvedRequests() {
                return this.approvals.filter( ( approval ) => this.isApprovalAlreadyApproved( approval ) );
            },

            /**
             * Check if we're allowed to click on approve or decline.
             * @return {Boolean}
             */
            shouldBlockResponding() {
                if ( !this.requestIds.length ) {
                    return true;
                }

                // all request should be in pending state
                const nonPendingRequests = this.approvals
                        .filter( ( arr ) => this.requestIds.includes( arr.id ) && ( arr.status.toLowerCase() !== 'pending' || arr.approver_position !== arr.approval_position ) );

                if ( nonPendingRequests.length > 0 ) {
                    return true;
                }

                return false;
            },

            /**
             * Check if we're allowed to click on cancel.
             * @return {Boolean}
             */
            shouldBlockCancelResponding() {
                if ( !this.requestIds.length ) {
                    return true;
                }

                // all request should be in pending/approved state
                const cancellableStatus = [ 'pending', 'approved' ];
                const nonCancelableRequests = this.approvals
                        .filter( ( arr ) => this.requestIds.includes( arr.id ) && !cancellableStatus.includes( arr.status.toLowerCase() ) );

                if ( nonCancelableRequests.length > 0 ) {
                    return true;
                }

                const nonApproverRequests = this.approvals
                        .filter( ( arr ) => this.requestIds.includes( arr.id ) && arr.approver_position !== arr.approval_position );

                if ( nonApproverRequests.length > 0 ) {
                    return true;
                }

                return false;
            },

            employeeData() {
                let employee = null;
                const data = auth.fetchUser();

                if ( data && data.employee ) {
                    employee = data.employee;
                }

                return employee;
            },

            approvalPayload() {
                return {
                    company_id: this.employeeData ? this.employeeData.company_id : null,
                    employee_requests_ids: this.requestIds
                };
            },

            /**
             * Return total number of selected pending approvals.
             */
            totalPending() {
                return this.approvals
                    .filter( ( arr ) => this.requestIds.includes( arr.id ) && arr.status.toLowerCase() === 'pending' )
                    .length;
            },

            /**
             * Return total number of selected approved approvals.
             */
            totalApproved() {
                return this.approvals
                    .filter( ( arr ) => this.requestIds.includes( arr.id ) && arr.status.toLowerCase() === 'approved' )
                    .length;
            }
        },

        mounted() {
            const element = document.querySelector( '#infinite-list' );
            element.addEventListener( 'scroll', () => {
                if ( Math.ceil( element.scrollTop ) + element.clientHeight >= element.scrollHeight ) {
                    if ( !this.loading && this.page < this.pagination.total_pages ) {
                        this.page += 1;
                        this.getApprovals( null, true );
                    }
                }
            });
        },

        created() {
            this.getApprovals();
        },

        beforeDestroy() {
            this.stopListeningToAllApprovalsChanges();
        },

        methods: {
            /**
             * On approval action
             */
            handleApproval() {
                this.getApprovals( () => (
                    this.$flashMessage.show( 'You approved the request', 'success' )
                ) );
            },

            /** Applies filters and gets requests with applied filters
             * @param Object filters
             */
            applyFilters( filters ) {
                this.page = 1;
                this.filters = filters;
                this.getApprovals();
            },

            /**
             * Gets the Approvals.
             */
            getApprovals( messageCallback = () => {}, append = false ) {
                this.loading = true;
                let isApproved = false;
                let isPending = false;
                let key = 0;

                this.filters.statuses.forEach( ( CurrStatuses ) => {
                    if ( CurrStatuses === 'approved' ) {
                        isApproved = true;
                    }
                    if ( CurrStatuses === 'pending' ) {
                        isPending = true;
                    }
                });

                employeeRequestService.getEmployeeApprovals( this.page, this.filters, undefined, this.perPage )
                    .then( ( response ) => {
                        /* Start - [#7307] [ESS] Request filings can't be viewed by the lower level approver once the requests was already approved */
                        if ( this.filters.statuses.length === 1 ) {
                            if ( isApproved === true ) {
                                response.data.forEach( ( responseItem ) => {
                                    if ( responseItem.status === 'Pending' ) {
                                        if ( responseItem.response !== null && responseItem.response !== undefined ) {
                                            if ( responseItem.response.approved === true ) {
                                                responseItem.status = 'Approved';
                                            }
                                        } else {
                                            this.approval_item.push( key );
                                        }
                                    }
                                    key += 1;
                                });
                            }
                        } else if ( this.filters.statuses.length > 1 ) {
                            if ( ( isApproved === true ) && ( isPending === true ) ) {
                                response.data.forEach( ( responseItem ) => {
                                    if ( responseItem.status === 'Pending' ) {
                                        if ( responseItem.response !== null && responseItem.response !== undefined ) {
                                            if ( responseItem.response.approved === true ) {
                                                responseItem.status = 'Approved';
                                            }
                                        }
                                    }
                                    key += 1;
                                });
                            }
                        }
                        if ( this.filters.statuses.length === 1 ) {
                            if ( isApproved === true ) {
                                this.approval_item.slice().reverse()
                                    .forEach( ( item ) => {
                                        response.data.splice( item, 1 );
                                    });
                            }
                        }
                        /* End - [#7307] [ESS] Request filings can't be viewed by the lower level approver once the requests was already approved */

                        if ( append ) {
                            this.approvals = concat( this.approvals, response.data );
                        } else {
                            this.approvals = response.data;
                        }

                        this.pagination = response.meta.pagination;

                        if ( this.checkedAllRequests ) {
                            this.requestIds = map( this.approvals, 'id' );
                        }

                        this.restartListenersForApprovalChanges();
                        this.loading = false;
                        messageCallback();
                    }).catch( () => {});
            },

            /**
             * Approves all approval requests confirmation
             */
            approveConfirmation() {
                this.$modal.confirm({
                    type: 'primary',
                    title: 'Approve requests',
                    okText: 'Proceed',
                    content: `You are about to approve [${this.totalPending}] requests that a are pending your approval. Confirm your action.`,
                    onOk: () => { this.approveAll(); },
                    onCancel: () => {}
                });
            },

            /**
             * Approves all approval requests.
             */
            approveAll() {
                this.respondToAll( () =>
                    employeeRequestService
                        .newBulkApproveRequests( this.approvalPayload )
                        .then( () => {
                            this.getApprovals( () => (
                                this.$flashMessage.show( 'Requests approved successfully', 'success' )
                            ) );
                            this.requestIds = [];
                        }).catch( ( error ) => {
                            const { response } = error;
                            this.$flashMessage.show( response.data.message, 'error' );
                        })
                );
            },

            /**
             * Declines all approval requests confirmation
             */
            declineConfirmation() {
                this.$modal.confirm({
                    type: 'danger',
                    title: 'Decline requests',
                    okText: 'Proceed',
                    content: `You are about to decline [${this.totalPending}] requests that a are pending your approval. Confirm your action.`,
                    onOk: () => { this.declineAll(); },
                    onCancel: () => {}
                });
            },

            /**
             * Declines all approval requests
             */
            declineAll() {
                this.respondToAll( () =>
                    employeeRequestService
                        .newBulkDeclineRequests( this.approvalPayload )
                        .then( () => {
                            this.getApprovals( () => (
                                this.$flashMessage.show( 'Requests declined successfully', 'success' )
                            ) );
                            this.requestIds = [];
                        }).catch( ( error ) => {
                            const { response } = error;
                            this.$flashMessage.show( response.data.message, 'error' );
                        })
                );
            },

            /**
             * Cancels all approval requests confirmation
             */
            cancelConfirmation() {
                this.$modal.confirm({
                    type: 'cancel',
                    title: 'Cancel requests',
                    okText: 'Proceed',
                    content: `You are about to cancel [${this.totalPending}] requests that are pending your approval and [${this.totalApproved}] requests that are approved. Confirm you action.`,
                    onOk: () => { this.cancellAll(); },
                    onCancel: () => {}
                });
            },

            /**
             * Cancels all approval requests.
             */
            cancellAll() {
                this.respondToAll( () =>
                    employeeRequestService
                        .newBulkCancelRequests( this.approvalPayload )
                        .then( ( response ) => {
                            this.getApprovals( () => (
                                this.$flashMessage.show(
                                    get( response, 'data.message', 'You canceled the requests' ),
                                    'success',
                                    {
                                        timeout: 9000,
                                        closable: true
                                    }
                                )
                            ) );
                            this.requestIds = [];
                        }).catch( ( error ) => {
                            this.getApprovals();
                            const { response } = error;
                            this.$flashMessage.show( response.data.message, 'error' );
                        })
                );
            },

            /**
             * Respond to all approvals.
             * @param {Function} action
             */
            respondToAll( action ) {
                if ( this.shouldBlockResponding && this.shouldBlockCancelResponding ) return;
                this.responding = true;
                this.page = 1;
                this.approvals = [];

                action().then( () => {
                    this.responding = false;
                }).catch( () => {
                    this.responding = false;
                });
            },

            /**
             * Maps approvals ids.
             * @returns Array
             */
            mapApprovalsIds() {
                return map( this.pendingRequests, 'id' );
            },

            /**
             * Maps approvals cancellation details.
             * @returns Array
             */
            mapApprovalsCancellationDetails() {
                const requests = this.pendingRequests.concat( this.approvedRequests );

                return requests.map( ( data ) => ({
                    id: data.id,
                    employee_id: data.employee_id,
                    dates: {
                        start_date: 'start_date' in data.request ? data.request.start_date : null,
                        end_date: 'end_date' in data.request ? data.request.end_date : null,
                        date: 'date' in data.request ? data.request.date : null
                    },
                    status: data.status
                }) );
            },

            /**
             * Update statuses with ones from response.
             * @param {Array} approvals [description]
             */
            updateStatuses( approvals ) {
                approvals.forEach( ( approval ) => {
                    find( this.approvals, { id: approval.id }).status = approval.status;
                });
            },

            /**
             * Show previous page.
             */
            previous() {
                this.page -= 1;
                this.getApprovals();
            },

            /**
             * Show next page.
             */
            next() {
                this.page += 1;
                this.getApprovals();
            },

            /**
             * Handle components according to request type
             * @param Object request request object containing request_type
             * @returns String component name
             */
            getRequestCardName( request ) {
                return `sal-${request.request_type.replace( /_/g, '-' )}-approval-card-mobile`;
            },

            /**
             * Check if approval is pending.
             * @param {Object} approval
             * @return {Boolean}
             */
            isApprovalPending( approval ) {
                return approval.status === REQUEST_STATUSES.pending;
            },

            /**
             * Check if approval is already approved.
             * @param {Object} approval
             * @return {Boolean}
             */
            isApprovalAlreadyApproved( approval ) {
                return approval.status === REQUEST_STATUSES.approved;
            },

            /**
             * Shows or hides filters.
             */
            toggleFilters() {
                this.filtersAreVisible = !this.filtersAreVisible;
                this.approvalDetailVisible = false;
                this.selectedApprovalID = null;
                this.selectedApprovalItem = null;
            },
            /**
             * Closes filters.
             */
            closeFilters() {
                this.filtersAreVisible = false;
            },

            /**
             * Restart listeners for approval changes.
             */
            restartListenersForApprovalChanges() {
                this.stopListeningToAllApprovalsChanges();
                this.listenToAllApprovalsChanges();
            },

            /**
             * Start listening for changes on all approvals.
             */
            listenToAllApprovalsChanges() {
                this.approvals.forEach( ( approval ) => {
                    this.listenToApprovalChanges( approval.request.id );
                });
            },

            /**
             * Start listening for changes on approval with given employee request id.
             * @param {Number} employeeRequestId
             */
            listenToApprovalChanges( employeeRequestId ) {
                this.$echo
                    .private( `ess-request.${employeeRequestId}` )
                    .listen( 'EssRequestUpdated', this.handleApprovalChanged );
            },

            /**
             * Stop listening for changes on all approvals.
             */
            stopListeningToAllApprovalsChanges() {
                this.approvals.forEach( ( approval ) => {
                    this.stopListeningToApprovalChanges( approval.request.id );
                });
            },

            /**
             * Stop listening for changes on approval with given employee request id.
             * @param {Number} employeeRequestId
             */
            stopListeningToApprovalChanges( employeeRequestId ) {
                this.$echo.leave( `ess-request.${employeeRequestId}` );
            },

            /**
             * Handle changes on approval.
             */
            handleApprovalChanged() {
                this.getApprovals();
            },
            clickApprovalItem( item, callback = () => {}) {
                if ( this.selectedApprovalID !== item.id ) {
                    this.selectedApprovalID = item.id;
                    this.selectedApprovalItem = item;

                    if ( this.filtersAreVisible ) {
                        this.filtersAreVisible = false;
                    }

                    if ( !this.approvalDetailVisible ) {
                        this.approvalDetailVisible = true;
                    }
                }

                callback();
            },
            closeSidePanel() {
                this.approvalDetailVisible = false;
                this.selectedApprovalID = null;
                this.selectedApprovalItem = null;
            },
            clickItemMsg( item ) {
                this.clickApprovalItem( item, () => {
                    setTimeout( () => {
                        this.$refs.sidePanel.currentTab = 'message';
                    }, 25 );
                });
            },
            refreshApprovals() {
                this.page = 1;
                this.getApprovals();
            },
            onCheckedRequest( approval ) {
                if ( this.requestIds.includes( approval.id ) ) {
                    this.requestIds = this.requestIds.filter( ( id ) => approval.id !== id );
                } else {
                    this.requestIds = [ ...this.requestIds, approval.id ];
                }
            }
        },
        watch: {
            approvals( newApprovals ) {
                const { requestId } = this.$route.params;
                if ( requestId ) {
                    const selectedApproval = newApprovals.find(
                        ( approval ) => approval.request.id === parseInt( requestId, 10 )
                    );
                    if ( selectedApproval && !this.seen ) {
                        this.clickApprovalItem( selectedApproval );
                        this.seen = true;
                    }
                }
            },
            checkedAllRequests( value ) {
                if ( !value ) {
                    this.requestIds = [];
                } else {
                    this.requestIds = map( this.approvals, 'id' );
                }
            }
        }
    };
</script>

<style lang="scss" scoped>
    .sl-l-page {
        width: 100%;
        display: flex;
        flex-direction: row;

        .sl-l-app-body {
            flex: 1;
        }

        .force-scroll-visibility {
            height: 100vh !important;
            overflow: visible;
        }
    }

    .sl-c-page__title {
        margin: 0;
    }

    .sl-c-page-approval__header {
        padding: $sl-gutter;
        align-items: center;
    }

    .approval-filters,
    .approval-side-panel {
        position: absolute;
        width: 100%;
    }

    .sl-c-page-header-title {
        flex: 1;
        text-align: center;
    }

    .sl-c-page-header-right {
        margin-top: 1rem;
    }

    .table-container {
        border: 1px solid $sl-color-silver;
    }
    .sl-c-section-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .sl-c-section-left-label {
        text-align: left;
        margin-bottom: $sl-gutter-sm;
        margin-left: 1rem;
    }

    .sl-c-section-right-label {
        text-align: right;
        margin-bottom: $sl-gutter-sm;
    }

    /* Minimum Galaxy Fold */
    @media only screen and (min-width: 280px) {
        .sl-c-page-header-right {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: $sl-gutter;

            button {
                margin: 0;
            }
        }

        .sl-c-section-left-label {
            margin-left: 1.5rem;
        }
    }

    @media only screen and (min-width: 375px) {
        .sl-c-page-header-right {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0;

            #decline-all-requests,
            #cancel-all-requests {
                margin-left: $sl-gutter-xs;
            }

            .sl-btn-filter {
                margin-left: $sl-gutter-lg;
            }
        }

        .sl-c-section-left-label {
            margin-left: 1.5rem;
        }
    }

    @media only screen and (min-width: 768px) {
        .sl-c-page-approval__header {
            display: grid;
            grid-template-columns: 1fr 100px 1fr;
        }

        .sl-c-page-header-right {
            justify-content: right;
            margin-top: 0;
        }

        .sl-c-section-left-label {
            margin-left: 1rem;
        }

        .approval-filters,
        .approval-side-panel {
            position: inherit;
            width: 32rem;
        }
    }
</style>
