<template>
    <div class="sl-l-page">
        <router-view />
    </div>
</template>

<script>
    export default {
        data() {
            return {
                filters: {}
            };
        }
    };
</script>

<style lang="scss" scoped>
</style>
