<template>
    <div class="sl-l-page sl-l-page--dashboard">
        <div class="sl-l-app-body">
            <sal-back :to="{ name: 'approvals.index'}">Back to Approvals</sal-back>

            <div class="sl-c-page__content">
                <nav class="sl-c-tabs">
                    <router-link :to="{name: 'approvals.leave-request.details', params: { requestId: requestId }}">
                        Details
                    </router-link>

                    <router-link :to="{ name: 'approvals.leave-request.messages', params: { requestId: requestId }}">
                        Messages
                    </router-link>
                </nav>

                <router-view v-if="!!request" :request="request" :currentUserId="currentUserId"></router-view>
            </div>
        </div>
    </div>
</template>

<script>
    import { leaveRequestsService } from '@/utils/services/LeaveRequestsService';
    import { auth } from '@/utils/Authentication';
    import { handleUpdatedRequest } from '@/mixins/requestUpdatedHandler';

    export default {
        props: {
            requestId: {
                type: [ String, Number ],
                required: true
            }
        },

        mixins: [handleUpdatedRequest],

        data() {
            return {
                currentUserId: auth.getUserId(),
                request: null
            };
        },

        watch: {
            requestId( newVal, oldVal ) {
                this.leaveEssRequestChannel( oldVal );
                this.fetchRequestById();
            }
        },

        created() {
            this.fetchRequestById();
        },

        methods: {
            /**
             * Gets leave request by request Id
             */
            fetchRequestById() {
                this.$loader.show();
                this.request = null;

                leaveRequestsService
                    .fetchLeaveRequest( this.requestId )
                    .then( ( leaveRequest ) => {
                        this.request = leaveRequest;
                        this.listenEssRequestChannel();
                        this.$loader.hide();
                    }).catch( () => this.$loader.hide() );
            }
        }
    };
</script>

<style>

</style>
