<template>
    <div class="sl-c-request-details">
        <sal-card>
            <template slot="header">
                <h4 class="sl-c-card__title">
                    {{ request.owner.name }}
                </h4>
            </template>

            <template slot="actions">
                <span class="sl-c-label sl-c-label--danger-pale">
                    <i class="fa fa-sm fa-circle sl-u-text--danger sl-u-gap-right--xs"></i>
                    Shift Change
                </span>
            </template>

            <div class="sl-c-grid sl-c-grid--twos">
                <div>
                    <i class="fa fa-calendar-o sl-u-text--disabled"></i> From:<br> {{ from }}
                </div>
                <div>
                    <i class="fa fa-calendar-o sl-u-text--disabled"></i> To:<br> {{ to }}
                </div>
            </div>

            <sal-shift-change-details class="sl-u-gap-top" :request="request"/>

            <sal-approval-actions
                :approval="request && request.request"
                :details="request"
                messages-route="approvals.shift-change-request.messages"
                is-details
                @approved="handleRequestApproval"
            />
        </sal-card>

        <div>
            Request trail
        </div>

        <sal-request-trail
            :activities="request && request.activities"
            requestName="Shift Change"
        />
    </div>
</template>

<script>
    import moment from 'moment';
    import { DATE_FORMAT } from '@/constants/employee-request';
    import requestApprovalHandler from '@/mixins/requestApprovalHandler';

    export default {
        mixins: [requestApprovalHandler],
        props: {
            request: {
                type: Object,
                required: true
            }
        },

        computed: {
            /**
             * Format request start date.
             */
            from() {
                return moment( this.request.start_date ).format( DATE_FORMAT );
            },
            /**
             * Format request end date.
             */
            to() {
                return moment( this.request.end_date ).format( DATE_FORMAT );
            }
        }
    };
</script>

<style lang="scss" scoped>
    .sl-c-request-details {
        margin-top: $sl-gutter-lg;
        margin-bottom: $sl-gutter;
    }
</style>
