<template>
    <div class="sl-l-page sl-l-page--dashboard">
        <div class="sl-l-app-body">
            <sal-back :to="{ name: 'approvals.index'}">Back to Approvals</sal-back>

            <div class="sl-c-page__content">
                <nav class="sl-c-tabs">
                    <router-link :to="{name: 'approvals.time-dispute-request.details', params: { requestId: requestId }}">
                        Details
                    </router-link>

                    <router-link :to="{ name: 'approvals.time-dispute-request.messages', params: { requestId: requestId }}">
                        Messages
                    </router-link>
                </nav>

                <router-view
                    v-if="!!request"
                    :request="request"
                    :userDefinedRestDays="userDefinedRestDays"
                    :currentUserId="currentUserId"
                />
            </div>
        </div>
    </div>
</template>

<script>
    import { timeDisputeRequestService } from '@/utils/services/TimeDisputeRequestService';
    import { auth } from '@/utils/Authentication';
    import { handleUpdatedRequest } from '@/mixins/requestUpdatedHandler';

    export default {
        props: {
            requestId: {
                type: [ String, Number ],
                required: true
            }
        },

        mixins: [handleUpdatedRequest],

        data() {
            return {
                currentUserId: auth.getUserId(),
                request: null
            };
        },

        watch: {
            requestId( newVal, oldVal ) {
                this.leaveEssRequestChannel( oldVal );
                this.getRequestById();
            }
        },

        created() {
            this.getRequestById();
        },

        methods: {
            /**
             * Gets time correction request by request Id
             */
            getRequestById() {
                this.$loader.show();
                this.request = null;

                timeDisputeRequestService
                    .fetchTimeDisputeRequest( this.requestId )
                    .then( ( timeDisputeRequest ) => {
                        this.request = timeDisputeRequest;
                        this.listenEssRequestChannel();
                        this.$loader.hide();
                    }).catch( () => this.$loader.hide() );
            }
        }
    };
</script>

