<template>
    <div class="sl-l-app-page">
        <main class="sl-l-app-body">
            <!-- <div class="sl-u-gap-top--xl" v-if="$resize && $mq.below( 992 )"> -->
            <div class="sl-u-gap-top--xl">
                <div class="boo">
                    <div class="face"></div>
                </div>
                <div class="shadow"></div>

                <h1 class="sl-u-text--uppercase sl-u-text--center sl-u-gap-top">404 Page not found</h1>
                <p>The page you were looking for appears to have been moved, deleted, or does not exist.</p>
                <p>You could go back to <sal-a-mobile v-on:click="goBack">where you were</sal-a-mobile> or head straight to the <sal-a-mobile href="/dashboard">main dashboard</sal-a-mobile>.</p>
                <p><small>If you typed in the address, kindly double check the spellings. If you were redirected here, please let us know. Our <sal-a-mobile>Support team</sal-a-mobile> would be glad to help you.</small></p>
            </div>

            <!-- non-mobile devices -->
            <!-- <section class="sl-c-section" v-else>
                <img src="../../assets/logo-salarium-blue.png" alt="Salarium - logo">
                <h1 class="sl-u-gap-top">Device Not Supported</h1>
            </section> -->
        </main>
    </div>
</template>

<script>
    import router from '../../router';
    export default {
        methods: {
            goBack() {
                router.back();
            }
        }
    };
</script>

<style lang="scss" scoped>
    .boo-wrapper {
        margin-top: 30%;
    }

    .boo {
        width: 160px;
        height: 184px;
        background-color: #f7f7f7;
        margin-left: auto;
        margin-right: auto;
        border: 3.39394px solid #666;
        border-bottom: 0;
        overflow: hidden;
        border-radius: 80px 80px 0 0;
        box-shadow: -16px 0 0 2px rgba(234, 234, 234, 0.5) inset;
        position: relative;
        padding-bottom: 16px;
        animation: floater 3s ease-in-out infinite;

        &:after {
            content: '';
            display: block;
            position: absolute;
            left: -16.82353px;
            bottom: -6.31169px;
            width: calc(100% + 32px);
            height: 30px;
            background-repeat: repeat-x;
            background-size: 32px 32px;
            background-position: left bottom;
            background-image: linear-gradient(-45deg, #f0f4f6 16px, transparent 0), linear-gradient(45deg, #f0f4f6 16px, transparent 0), linear-gradient(-45deg, #666 18.82353px, transparent 0), linear-gradient(45deg, #666 18.82353px, transparent 0);
        }

        .face {
            width: 48px;
            height: 3.2px;
            border-radius: 10px;
            background-color: #666;
            position: absolute;
            left: 50%;
            bottom: 61px;
            transform: translateX(-50%);

            &:before,
            &:after {
                content: '';
                display: block;
                width: 6px;
                height: 6px;
                background-color: #666;
                border-radius: 50%;
                position: absolute;
                bottom: 40px;
            }

            &:before {
                left: -12px;
            }

            &:after {
                right: -12px;
            }
        }
    }

    .shadow {
        width: 128px;
        height: 16px;
        background-color: rgba(193, 193, 193, 0.75);
        margin-top: 40px;
        margin-right: auto;
        margin-left: auto;
        border-radius: 50%;
        animation: shadow 3s ease-in-out infinite;
    }

    @keyframes floater {
        0% {
            transform: translate3d(0, 0, 0);
        }

        45% {
            transform: translate3d(0, -10%, 0);
        }

        55% {
            transform: translate3d(0, -10%, 0);
        }

        100% {
            transform: translate3d(0, 0, 0);
        }
    }

    @keyframes shadow {
        0% {
            transform: scale(1);
        }

        45% {
            transform: scale(0.85);
        }

        55% {
            transform: scale(0.85);
        }

        100% {
            transform: scale(1);
        }
    }
</style>
