<template>
    <div>
        <vue-tags-input
            v-model="tag"
            :tags="tagsValues"
            :separators="[',']"
            @tags-changed="emitTags"
            addOnBlur
        >
        </vue-tags-input>
    </div>
</template>

<script>
    import { map } from 'lodash-es';

    export default {
        props: {
            tags: Array
        },

        data() {
            return {
                tag: ''
            };
        },

        computed: {
            /**
             * Formated tags for tags input
             */
            tagsValues() {
                return map( this.tags, ( tag ) => ({ text: tag }) );
            }
        },

        methods: {
            /**
             * Emits changed tags
             *
             * @param {Array} tags The tags
             */
            emitTags( tags ) {
                this.$emit( 'tags-changed', map( tags, 'text' ) );
            }
        }
    };
</script>

<style lang="scss">
    .vue-tags-input {
        margin-right: 1.75rem;
        max-width: 100% !important;

        .input {
            border-color: $sl-color-base !important;
        }

        .tag {
            display: inline-flex !important;
            align-items: center !important;
            justify-content: space-between !important;
            color: $sl-color-base !important;
            background-color: $sl-color-white !important;
            border-radius: $sl-radius !important;
            border: 1px solid $sl-color-darksilver !important;
            word-break: break-all !important;
        }

        .actions {
            margin-left: $sl-gutter-sm !important;
            padding: $sl-gutter-xs;
            color: $sl-color-white !important;
            border-radius: $sl-radius-round !important;
            background-color: $sl-color-base !important;
        }
    }
</style>
