<template>
    <div>
        <vue-tags-input
            v-model="tag"
            :tags="tags"
            placeholder="Project Tags. Use comma to separate tags"
            :separators="[',']"
            addOnBlur
            @before-deleting-tag="handleTag"
            @tags-changed="emitTags"
        >
        </vue-tags-input>
    </div>
</template>

<script>
    import { map } from 'lodash-es';
    export default {
        props: {
            clockedIn: Boolean
        },

        data() {
            return {
                tag: '',
                tags: []
            };
        },

        methods: {
            /**
             * Handles and removes tag
             *
             * @param {Object} tag The tag
             */
            handleTag( tag ) {
                if ( !this.clockedIn ) {
                    return tag.deleteTag();
                }

                return this.$modal.confirm({
                    type: 'danger',
                    title: 'Remove Tag',
                    cancelText: 'Cancel',
                    okText: 'Remove',
                    content: 'Removing this tag will clock you out. Do you like to proceed?',
                    onOk: () => this.clockOut( tag )
                });
            },
            /**
             * Clocks out
             *
             * @param {Object} tag The tag
             */
            clockOut( tag ) {
                tag.deleteTag();
                this.$emit( 'onDelete' );
            },
            /**
             * Emits changed tags
             *
             * @param {Array} tags The tags
             */
            emitTags( tags ) {
                this.$emit( 'changeTags', map( tags, 'text' ) );
            }
        },
        created() {
            this.$parent.$on( 'setTags', ( tags ) => {
                tags.forEach( ( tag ) => {
                    this.tags.push({ text: tag });
                });
            });
        }
    };
</script>

<style lang="scss">
    .vue-tags-input {
        max-width: 100% !important;
        margin-right: -1.75rem !important;


        .tag {
            display: inline-flex !important;
            align-items: center !important;
            justify-content: space-between !important;
            color: $sl-color-base !important;
            background-color: $sl-color-white !important;
            border-radius: $sl-radius !important;
            border: 1px solid $sl-color-darksilver !important;
            word-break: break-all !important;
        }

        .actions {
            margin-left: $sl-gutter-sm !important;
            padding: $sl-gutter-xs;
            color: $sl-color-white !important;
            border-radius: $sl-radius-round !important;
            background-color: $sl-color-base !important;
        }
    }
</style>