<template>
    <section class="sl-c-section">
        <div class="sl-c-section__body" :class="{'sl-is-night': isNightTime}" :style="{ backgroundColor: stateBgColor }">
            <div class="sl-c-grid sl-c-grid--twos sl-c-grid--bordered">
                <div class="sl-c-media sl-c-media--center">
                    <div class="sl-c-media__object">
                        <i class="fa fa-lg" :class="dayNightClass"></i>
                    </div>
                    <div class="sl-c-media__body">
                        <p class="sl-u-text--lg server-time-label" v-if="date != null">{{ date.format( 'HH:mm:ss' ) }}</p>
                        <p class="sl-u-text--lg server-time-label" v-else> --:-- </p>
                    </div>
                </div>

                <div v-if="date != null">
                    <h5>{{ date.format( 'MMMM DD, YYYY' ) }}</h5>
                    <p>{{ date.format( 'dddd' ) }}</p>
                </div>
                <div v-else>
                    <p> -- --, ----</p>
                    <p> ---- </p>
                </div>
            </div>

            <br />
            <sal-button-mobile
                class="sl-u-gap-top sl-u-gap-bottom sl-c-btn--block"
                type="primary"
                id="clock-in"
                :disabled="!state || loading"
                :onClick="logState"
            >
                <p>{{ buttonText }}</p>
            </sal-button-mobile>


            <row container>
                <column :xs=12 class="sl-u-text--center sl-u-gap-bottom stick-to-bottom">
                    <hidden :xs="true" :sm="true" :md="true">
                        <br />
                        <h5 v-if="lastEntry">
                            {{ lastEntryState }}
                            on <strong>{{ lastEntryDate }}</strong>
                            at <strong>{{ lastEntryTime }}</strong>
                        </h5>
                    </hidden>
                    <hidden :lg="true" :xl="true">
                        <h5 v-if="lastEntry">
                            {{ lastEntryState }}
                            on <strong>{{ lastEntryDate }}</strong>
                            at <strong>{{ lastEntryTime }}</strong>
                        </h5>
                    </hidden>
                </column>
                <column :xs=12>
                    <sal-time-clock-tags
                        @onDelete="logState"
                        @changeTags="setTags"
                        :clockedIn="isClockedIn"
                        :tags="tags"
                    >
                    </sal-time-clock-tags>
                </column>
            </row>
        </div>
    </section>
</template>

<script>
    import moment from 'moment';
    import { timeClockService } from '@/utils/services/TimeClockService';
    import { PHT_UTC_OFFSET } from '@/constants';
    import { Row, Column, Hidden } from 'vue-grid-responsive';

    export default {
        components: {
            row: Row,
            column: Column,
            hidden: Hidden
        },

        data() {
            return {
                state: null,
                date: null,
                tags: [],
                timer: null,
                syncTimer: null,
                stepInterval: 1000,
                syncCalledAt: null,
                loading: false,
                error: null,
                clockIn: null,
                lastEntry: null
            };
        },

        computed: {
            /**
             * Checks if is clocked in.
             * @returns {Boolean} True if clocked in, False otherwise.
             */
            isClockedIn() {
                return this.state === '1';
            },

            /**
             * Gets button text.
             * @returns {String} Button text.
             */
            buttonText() {
                return this.state === '0' ? 'Clock In' : 'Clock Out';
            },

            /**
             * Gets last timeclock entry state.
             * @returns {String} last timeclock entry state.
             */
            lastEntryState() {
                if ( this.lastEntry && this.lastEntry.state ) {
                    return this.lastEntry.state ? 'Clocked In' : 'Clocked Out';
                }

                return !this.state ? 'Clocked In' : 'Clocked Out';
            },

            /**
             * Gets last timeclock entry date.
             * @returns {String} last timeclock entry date.
             */
            lastEntryDate() {
                if ( this.lastEntry && this.lastEntry.timestamp ) {
                    const date = moment( this.lastEntry.timestamp, 'X' ).format( 'ddd, MMM D, YYYY' );

                    return date;
                }

                return '--:--:--';
            },

            /**
             * Gets last timeclock entry time.
             * @returns {String} last timeclock entry time.
             */
            lastEntryTime() {
                if ( this.lastEntry && this.lastEntry.timestamp ) {
                    const time = moment( this.lastEntry.timestamp, 'X' ).utcOffset( PHT_UTC_OFFSET ).format( 'HH:mm:ss' );

                    return time;
                }

                return '--:--:--';
            },

            /**
             * Gets current state background color.
             * @returns {String} current state background color.
             */
            stateBgColor() {
                return this.state === '0' ? '#3b3f4f' : '#208234';
            },

            /**
             * Night time starts at 6pm and stops at 6am.
             * @return {Boolean}
             */
            isNightTime() {
                if ( this.date == null ) {
                    return false;
                }

                return this.date.hour() < 6 || this.date.hour() >= 18;
            },

            /**
             * Gets class day or night css class.
             * @returns {String} css class name
             */
            dayNightClass() {
                return this.isNightTime ? 'fa-moon-o' : 'fa-sun-o';
            }
        },

        created() {
            this.time();
            this.getTimeClockState();
        },

        beforeDestroy() {
            clearInterval( this.timer );
            clearInterval( this.syncTimer );
        },

        methods: {
            goToCalendar() {
                this.$router.push({ name: 'calendar' });
            },

            handleTags() {
                if ( this.lastEntry.tags && this.lastEntry.tags.length ) {
                    this.$emit( 'setTags', this.lastEntry.tags );
                    this.setTags( this.lastEntry.tags );
                } else {
                    this.setTags([]);
                }
            },

            /**
             * Gets timeclock state.
             */
            getTimeClockState() {
                const user = JSON.parse( localStorage.getItem( 'user' ) );

                if ( 'timeclock_last_entry' in user && user.timeclock_last_entry ) {
                    this.lastEntry = user.timeclock_last_entry;
                    this.state = this.lastEntry.state ? '1' : '0';
                    this.$emit( 'state', this.state );
                    this.handleTags();
                } else {
                    timeClockService.getLastTimeClock()
                    .then( ( item ) => {
                        this.lastEntry = item;
                        timeClockService.setLastTimeClock( this.lastEntry );
                        this.state = this.lastEntry.state ? '1' : '0';
                        this.$emit( 'state', this.state );
                        this.handleTags();
                    }).catch( () => {
                        this.state = '0';

                        this.time();
                        this.$emit( 'error', false );
                    });
                }
            },
            /**
             * Logs a state.
             */
            logState() {
                if ( this.date == null ) {
                    this.$modal.danger({
                        title: 'Bundy Error',
                        content: `
                            Unable to sync with server time. Please reload the page and try again.
                        `,
                        showOk: true,
                        okText: 'Close',
                        showCancel: false
                    });
                } else {
                    setTimeout( () => {
                        this.loading = true;
                        timeClockService.logState( this.getLogState(), this.tags )
                            .then( ( item ) => {
                                if ( item && item.timestamp && item.timestamp.N ) {
                                    this.state = item.state.BOOL ? '1' : '0';
                                    this.lastEntry = {
                                        employee_uid: item.employee_uid.N,
                                        company_uid: item.company_uid.S,
                                        state: item.state.BOOL,
                                        timestamp: item.timestamp.N,
                                        tags: this.tags,
                                        max_clock_out: item.max_clock_out.BOOL
                                    };

                                    timeClockService.setLastTimeClock( this.lastEntry );

                                    this.$emit( 'state', this.state );
                                }

                                if ( item.max_clock_out.BOOL ) {
                                    this.$modal.danger({
                                        title: 'Maximum Clock-out',
                                        content: `
                                        <div class="max-clock-out-alert">
                                            <span class="danger-icon">!</span>
                                            <p>Your recent clock-out is past the allowed time. Please file a time correction to correct your attendance.</p>
                                        </div>
                                    `,
                                        showOk: true,
                                        okText: 'Confirm',
                                        showCancel: false
                                    });
                                }
                            })
                            .catch( ( error ) => {
                                if ( error.response && error.response.status === 403 ) {
                                    this.$modal.danger({
                                        title: 'Bundy Error',
                                        content: error.response.data.message || `
                                            You logged-in via an IP that is not part of the approved IP range.
                                            <br>
                                            <br>
                                            This Clock in/Clock out is invalid.
                                        `,
                                        showOk: true,
                                        okText: 'Close',
                                        showCancel: false
                                    });
                                } else if ( error.response && error.response.status === 406 ) {
                                    this.$modal.danger({
                                        title: `${this.buttonText} Error`,
                                        content: `${error.response.data.message} system will refresh your current connection`,
                                        showOk: true,
                                        okText: 'Ok',
                                        showCancel: false,
                                        onOk: () => {
                                            this.time();
                                            this.getTimeClockState();
                                        }
                                    });
                                } else if ( error.response && error.response.status === 401 ) {
                                    this.$modal.danger({
                                        title: 'Bundy Error',
                                        content: error.response.data.message,
                                        showOk: true,
                                        okText: 'Close',
                                        showCancel: false
                                    });
                                } else {
                                    this.$flashMessage.show( 'Something went wrong...' );
                                }
                            })
                            .finally( () => {
                                this.loading = false;
                            });
                    });
                }
            },
            /**
             * Gets the log state.
             *
             * @return {String} The log state.
             */
            getLogState() {
                return this.state === '1' ? '0' : '1';
            },
            /**
             * Sets the tags.
             *
             * @param {Array}  tags The tags
             */
            setTags( tags ) {
                this.tags = tags;
            },
            /**
             * Sets timeout for clock
             */
            time() {
                if ( this.syncCalledAt === null ) {
                    // If current server datetime is not set,
                    // sync from server
                    // else, step time 1 second
                    this.date === null ? this.syncServerTime() : this.timeStep( 1, 'second' );
                }

                this.timer = setTimeout( this.time, this.stepInterval );
            },

            /**
             * Sync web bundy and server date time
             */
            syncServerTime() {
                // Record call time
                this.syncCalledAt = moment();

                // Get server time
                timeClockService.getServerTime(
                    ( serverTime ) => {
                        const respondedAt = moment();
                        const respondOffset = respondedAt.diff( this.syncCalledAt, 'seconds' );

                        // create a new moment object using timestamp from server
                        // and setting offset using givent offset divided by 3600
                        // to convert offset to hours
                        this.date = moment( serverTime.server_timestamp, 'X' )
                            .utcOffset( serverTime.conversion.utc_offset / 3600 );

                        // Reset if current moment object is invalid
                        if ( !this.date.isValid() ) {
                            this.date = null;
                            this.stepInterval = 30000;
                        } else if ( respondOffset > 0 ) {
                            // Add seconds it took for server to respond
                            const responseOffset = respondOffset > 300 ? 300 : respondOffset;
                            this.timeStep( responseOffset, 'second' );
                            this.stepInterval = 1000;
                        }

                        this.syncCalledAt = null;
                    },
                    () => {
                        this.syncCalledAt = null;
                        this.stepInterval = 30000;
                    }
                );

                // Set a resync every 5 minutes
                this.syncTimer = setTimeout( this.syncServerTime, 300000 );
            },

            /**
             * Step datetime with interval in ms amount given.
             */
            timeStep( val, unit ) {
                const newDate = this.date.add( val, unit );
                this.date = '';
                this.date = newDate;
            }
        }
    };
</script>

<style lang="scss" scoped>
    .sl-c-section {
        padding: 0;
    }

    .sl-c-section__body {
        padding: $sl-gutter;
        color: $sl-color-white;
        box-shadow: 0 0 .7rem 0 $sl-color-grey;
        border-radius: $sl-radius-sm;
        min-height: 21.8vh;

        &.sl-is-night {
            .fa-lg {
                color: #e9edf3;
            }
        }

        p {
            margin: 0;
        }

        .fa-lg {
            color: #f1ea0d;
        }

        .sl-c-grid--bordered {
            > div {
                position: relative;

                &:not(:first-child) {
                    &:before {
                        position: absolute;
                        top: 0;
                        left: -.5rem;
                        bottom: 0;
                        width: 1px;
                        background-color: $sl-color-grey;
                        content: '';
                    }
                }
            }
        }

        .sl-c-media__body {
            margin-bottom: 0;
        }
    }

    .sl-c-section__clockin-text {
        margin-top: 0;
        border-top: none;
        align-items: center;

        display: grid;

        .item {
            padding: $sl-gutter;
            grid-template-columns: 1fr;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .sl-c-section__footer {
        padding: $sl-gutter;
        margin-top: 0;
        border-top: 1px solid $sl-color-silver;
        border-top-left-radius: $sl-radius-sm;
        border-top-right-radius: $sl-radius-sm;
    }
</style>

<style lang="scss">
    .max-clock-out-alert {
        align-items: center;
        display: flex;
        gap: 12px;

        .danger-icon {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 34px;
            font-weight: bold;
            background: $sl-color-red;
        }

        p {
            margin-top: 0;
            flex: 1;
        }
    }

    @media (min-width: 200px) {
        .server-time-label {
            font-size: 1.5rem;
        }
    }

    @media (min-width: 800px) {
        .server-time-label {
            font-size: 2rem;
        }
    }
</style>
