<template>
    <sal-profile-section>
        <span slot="section-heading">Basic Informations</span>

        <dl>
            <dt>
                Employee ID
            </dt>
            <dd>
                {{employee.employee_id}}
            </dd>
            <dt>
                Date of birth
            </dt>
            <dd>
                {{employee.birth_date | formatDateToMonthDayYear}}
            </dd>
            <dt>
                Gender
            </dt>
            <dd>
                {{employee.gender}}
            </dd>
            <dt>
                Email address
            </dt>
            <dd>
                {{employee.email}}
            </dd>
            <dt>
                Mobile number
            </dt>
            <dd>
                {{mobileNumber}}
            </dd>
            <dt>
                Telephone number
            </dt>
            <dd>
                {{employee.telephone_number}}
            </dd>
            <dt>
                Address
            </dt>
            <dd>
                <span>{{employee.address.address_line_1}},</span>
                <span>{{employee.address.address_line_2}},</span>
                <span>{{employee.address.city}},</span>
                <span>{{employee.address.zip_code}}</span>
                <span>{{employee.address.country}}</span>
            </dd>
        </dl>
    </sal-profile-section>
</template>

<script>
    import dateFilter from '@/mixins/dateFilter';

    export default {
        name: 'sal-basic-informations',
        props: {
            employee: Object
        },
        mixins: [
            dateFilter
        ],
        computed: {
            /**
             * Formats employee mobile number.
             *
             * @returns {String}
             */
            mobileNumber() {
                return this.employee.mobile_number && this.employee.mobile_number.replace( /\(|\)/g, '' );
            }
        }
    };
</script>

