<template>
    <div class="sl-l-page">
        <div class="sl-l-app-body">
            <sal-back to="" @click="goToProfilePage">Back to Profile</sal-back>
            <header class="sl-c-page__header">
                <h1 class="sl-c-page__title">Change password</h1>
                <!-- <p class="sl-u-text--center">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p> -->
            </header>

            <div class="sl-c-page__content">
                <!-- Current password input -->
                <sal-input-mobile
                    id="current-password"
                    label="Enter current password"
                    :class="{'sl-has-error': error}"
                    :type="inputFields.currentPassword.type"
                    :onChange="( input ) => inputFields.currentPassword.value = input"
                    custom-validator
                    has-icon
                >
                    <div class="sl-c-input-group__addon">
                        <sal-button-mobile
                            id="icon"
                            type="link"
                            :onClick="() => handleInputFieldTypeChange('currentPassword')"
                        >
                            <i class="fa" :class="inputFields.currentPassword.iconClass" />
                        </sal-button-mobile>
                    </div>
                </sal-input-mobile>
                <div v-if="error" class="sl-u-gap-top--sm sl-u-help-text" :class="{'sl-u-text--danger': error && !isCurrentPasswordValid}" >{{error}}</div>

                <!-- New password input -->
                <sal-input-mobile
                    id="new-password"
                    label="New password"
                    required
                    :min="8"
                    :type="inputFields.newPassword.type"
                    :onChange="( input ) => inputFields.newPassword.value = input"
                    has-icon
                >
                    <div class="sl-c-input-group__addon">
                        <sal-button-mobile
                            id="icon"
                            type="link"
                            :onClick="() => handleInputFieldTypeChange('newPassword')"
                        >
                            <i class="fa" :class="inputFields.newPassword.iconClass" />
                        </sal-button-mobile>
                    </div>
                </sal-input-mobile>

                <!-- Re-enter new password input -->
                <sal-input-mobile
                    id="re-enter-new-password"
                    label="Re-enter new password"
                    required
                    :min="8"
                    :type="inputFields.reEnteredPassword.type"
                    :onChange="( input ) => inputFields.reEnteredPassword.value = input"
                    :validator="validateReEnteredPassword"
                    has-icon
                >
                    <div class="sl-c-input-group__addon">
                        <sal-button-mobile
                            id="icon"
                            type="link"
                            :onClick="() => handleInputFieldTypeChange('reEnteredPassword')"
                        >
                            <i class="fa" :class="inputFields.reEnteredPassword.iconClass" />
                        </sal-button-mobile>
                    </div>
                </sal-input-mobile>

                <div class="sl-u-gap-top sl-u-text--center">
                    <sal-button-mobile
                        id="cancel-password-change"
                        label="Cancel"
                        outlined
                        type="primary"
                        :onClick="() => goToProfilePage()"
                    />
                    <sal-button-mobile
                        id="update-password"
                        label="Update"
                        type="primary"
                        :disabled="Boolean(passwordIsInvalid)"
                        :onClick="() => validateCurrentPassword()"
                    />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import get from 'lodash-es/get';
    import { auth } from '@/utils/Authentication';

    export default {
        name: 'sal-change-password',
        data() {
            return {
                inputFields: {
                    currentPassword: {
                        value: null,
                        isVisible: false,
                        iconClass: 'fa-eye-slash',
                        type: 'password'
                    },
                    newPassword: {
                        value: null,
                        isVisible: false,
                        iconClass: 'fa-eye-slash',
                        type: 'password'
                    },
                    reEnteredPassword: {
                        value: null,
                        isVisible: false,
                        iconClass: 'fa-eye-slash',
                        type: 'password'
                    }
                },
                error: null,
                isCurrentPasswordValid: false
            };
        },
        computed: {
            /**
             * Checks are input password fields filled and is password confirmed.
             *
             * @returns {Boolean}
             */
            passwordIsInvalid() {
                return this.error || !this.isNewPasswordConfirmed || !this.isPasswordLengthValid;
            },

            /**
             * Checks is password length valid.
             *
             * @returns {Boolean}
             */
            isPasswordLengthValid() {
                return this.isPasswordValid( this.inputFields.newPassword.value ) ||
                    this.isPasswordValid( this.inputFields.reEnteredPassword.value );
            },

            /**
             * Checks is new password confirmed.
             *
             * @returns {Boolean}
             */
            isNewPasswordConfirmed() {
                return this.inputFields.newPassword.value === this.inputFields.reEnteredPassword.value;
            }

        },
        methods: {
            /**
             * Checks is password valid.
             *
             * @param {String}
             *
             * @returns {Boolean}
             */
            isPasswordValid( password ) {
                return password && password.length >= 8;
            },

            /**
             * Validates is password entered.
             *
             * @param {String} password
             * @returns {String|null}
             */
            validatePasswordIsRequired( password ) {
                return ( !password || password === '' ) ? 'Field is required' : null;
            },

            /**
             * Validates is password entered.
             *
             * @param {String} password
             * @returns {String|null}
             */
            validatePasswordHasMinNumberOfCharacters( password ) {
                return ( password && password.length < 8 )
                    ? 'This field must be at least 8 characters.'
                    : null;
            },

            /**
             * Validates entered current user password.
             */
            validateCurrentPassword() {
                this.$loader.show();

                const password = this.inputFields.currentPassword.value;

                this.error = this.validatePasswordIsRequired( password ) ||
                    this.validatePasswordHasMinNumberOfCharacters( password );

                this.changePassword();
            },

            /**
             * Toggles input type.
             * Sets input type and icon class.
             * @param {String} field input field name
             */
            handleInputFieldTypeChange( field ) {
                this.inputFields[ field ].isVisible = !this.inputFields[ field ].isVisible;
                this.setInputType( field );
                this.setIconClass( field );
            },

            /**
             * Sets input type 'text' | 'password'.
             *
             * @param {String} field
             */
            setInputType( field ) {
                this.inputFields[ field ].type = this.inputFields[ field ].isVisible ? 'text' : 'password';
            },

            /**
             * Sets icon class.
             *
             * @param {String} field
             */
            setIconClass( field ) {
                this.inputFields[ field ].iconClass = this.inputFields[ field ].isVisible ? 'fa-eye' : 'fa-eye-slash';
            },

            /**
             * Validates re-entered password.
             */
            validateReEnteredPassword() {
                return !this.isNewPasswordConfirmed
                    ? 'Re-entered password does not match new password'
                    : null;
            },

            /**
             * Call service method to send request to change user password.
             */
            changePassword() {
                if ( this.error ) {
                    return;
                }

                const changePasswordPayload = {
                    email: auth.getUser().email,
                    old_password: this.inputFields.currentPassword.value,
                    new_password: this.inputFields.newPassword.value,
                    password_confirmation: this.inputFields.reEnteredPassword.value
                };

                auth.changePassword( changePasswordPayload )
                    .then( () => {
                        this.$loader.hide();

                        this.$flashMessage.show( 'You have successfully changed your password.', 'success' );
                        this.goToProfilePage();
                    })
                    .catch( ( error ) => {
                        this.$flashMessage.show( get( error, 'response.data.message', error.message ), 'error' );
                    })
                    .finally( () => {
                        this.$loader.hide();
                    });
            },

            /**
             * Route to profile page.
             */
            goToProfilePage() {
                this.$router.push({ name: 'profile' });
            }
        },

        watch: {
            // eslint-disable-next-line object-shorthand
            'inputFields.currentPassword.value'( value ) {
                if ( value === '' ) return;
                this.error = null;
            }
        }
    };
</script>

<style lang="scss" scoped>
    .sl-c-input-group__addon {
        .sl-c-btn--link {
            color: $sl-color-base;
        }
    }
</style>

