<template>
    <sal-profile-section>
        <span slot="section-heading">Employment Details</span>

        <h5>Employment Information</h5>
        <dl>
            <dt v-if="employee.cost_center">
                Cost center
            </dt>
            <dd v-if="employee.cost_center">
                {{employee.cost_center}}
            </dd>

            <dt>
                Work location
            </dt>
            <dd>
                {{employee.location}}
            </dd>

            <dt>
                Department
            </dt>
            <dd>
                {{employee.department}}
            </dd>

            <dt>
                Ranks
            </dt>
            <dd>
                {{employee.rank}}
            </dd>
        </dl>

        <h5 v-if="hasPayrollProduct">Government Numbers</h5>
        <dl v-if="hasPayrollProduct">
            <dt>
                SSS
            </dt>
            <dd>
                {{employee.payroll.sss_number}}
            </dd>
            <dt>
                TIN
            </dt>
            <dd>
                {{employee.payroll.tin}}
            </dd>
            <dt>
                HDMF
            </dt>
            <dd>
                {{employee.payroll.hdmf_number}}
            </dd>
            <dt>
                PhilHealth
            </dt>
            <dd>
                {{employee.payroll.philhealth_number}}
            </dd>
            <dt>
                RDO
            </dt>
            <dd>
                {{employee.payroll.rdo}}
            </dd>
        </dl>

        <h5>Hiring Information</h5>
        <dl>
            <dt>
                Tenure
            </dt>
            <dd>
                {{employeeTenureRange.range}}
                {{employeeTenureRange.lengthOfService}}
            </dd>
        </dl>
    </sal-profile-section>
</template>

<script>
    import moment from 'moment';
    import { DATE_FORMAT, DEFAULT_DATE_FORMAT } from '@/constants/employee-request';

    export default {
        name: 'sal-employment-details',
        props: {
            employee: Object
        },
        computed: {
            /**
             * Check is user subscribed to payroll.
             * @returns {Boolean}
             */
            hasPayrollProduct() {
                return !!( this.employee && this.employee.payroll );
            },

            /**
             * Computes employees tenure.
             * @returns {Object}
             */
            employeeTenureRange() {
                if ( this.employee && !this.employee.date_hired ) {
                    return '';
                }
                const currentDate = moment();
                const dateHired = moment( this.employee.date_hired, DEFAULT_DATE_FORMAT );
                const dateEnded = moment( this.employee.date_ended, DEFAULT_DATE_FORMAT );

                const lastWorkedDayDate = dateEnded && dateEnded.isValid() ? dateEnded : currentDate;

                const tenure = this.getDurationOfService( dateHired, lastWorkedDayDate );

                return {
                    range: `${dateHired.format( DATE_FORMAT )} to ${this.handleLastWorkDayDate( lastWorkedDayDate )}`,
                    lengthOfService: `(${this.formatDurationToString( tenure )})`
                };
            }
        },
        methods: {
            /**
             * Handles work ended date presentation.
             * @param {Object} lastWorkedDayDate employee last work day date.
             * @returns {String}
             */
            handleLastWorkDayDate( lastWorkedDayDate ) {
                return this.employee.date_ended ? lastWorkedDayDate.format( DATE_FORMAT ) : 'present';
            },

            /**
             * Computes duration of date hired and last working date
             * @param {object} dateHired         - Date start (Moment object)
             * @param {object} lastWorkedDayDate - Last working day date (Moment object)
             * @returns {object}
             */
            getDurationOfService( dateHired, lastWorkedDayDate ) {
                const year = lastWorkedDayDate.diff( dateHired, 'years' );

                // Modify date hired to be the same year as lastWorkedDayDate
                const dateHiredPlusYears = moment( dateHired ).add( year, 'years' );
                const month = lastWorkedDayDate.diff( dateHiredPlusYears, 'months' );

                // Modify date hired to be the same year and month as lastWorkedDayDate
                const dateHiredPlusYearsAndMonths = moment( dateHiredPlusYears ).add( month, 'months' );
                const day = lastWorkedDayDate.diff( dateHiredPlusYearsAndMonths, 'days' );
                return { year, month, day };
            },

            /**
             * Converts duration of tenure into human-readable string
             * @param {object} duration       - Duration of tenure
             * @param {number} duration.year  - Years of tenure
             * @param {number} duration.month - Months of tenure, less years
             * @param {number} duration.day   - Days of tenure, less years and months
             * @returns {string}
             */
            formatDurationToString({ year, month, day }) {
                if ( year === 0 && month === 0 && day === 0 ) {
                    return '0 days';
                }

                let yearString = '';
                if ( year > 0 ) {
                    yearString = `${year} ${year > 1 ? 'years' : 'year'}`;
                }

                let monthString = '';
                if ( month > 0 ) {
                    monthString = `${year ? ' ' : ''}${month} ${month > 1 ? 'months' : 'month'}`;
                }

                let dayString = '';
                if ( day > 0 ) {
                    dayString = `${( year || month ) ? ' ' : ''}${day} ${day > 1 ? 'days' : 'day'}`;
                }

                return `${yearString}${monthString}${dayString}`;
            }
        }
    };
</script>
