<template>
    <section class="sl-c-panel sl-c-panel--white">
        <div class="sl-c-panel__header">
            <h4 class="sl-c-panel__title">
                <strong>My Leaves</strong>
            </h4>

            <div class="sl-c-actions">
                <router-link :to="{name: 'requests.leave-request.add'}"
                    class="sl-c-icon-circle sl-c-icon-circle--sm sl-c-icon-circle--primary">
                    <i class="fa fa-plus sl-u-text--base"></i>
                </router-link>
            </div>
        </div>
        <div class="sl-c-panel__body">
            <h5>Types</h5>
            <div class="sl-c-grid sl-c-grid--twos sl-u-gap-top"
                v-for="(leaveCredit, index) of leaveCredits"
                :key="index"
            >
                <span>{{leaveCredit.leave_type.name}}</span>
                <span>{{employeeLeaveCreditsStatus(leaveCredit)}}</span>
            </div>
        </div>
    </section>
</template>

<script>
    import { upperFirst } from 'lodash-es';

    export default {
        name: 'sal-my-leaves',
        props: {
            leaveCredits: Array
        },
        methods: {
            /**
             * Employee leave credits status.
             * @param {Object} leaveCredit
             * @returns {String}
             */
            employeeLeaveCreditsStatus( leaveCredit ) {
                return `${leaveCredit.used} ${upperFirst( leaveCredit.unit )} used out of ${leaveCredit.leave_type.leave_credit_required ? leaveCredit.earned : 'Unlimited Leave Credits'}`;
            }
        }
    };
</script>

<style lang="scss" scoped>
    .sl-c-panel {
        padding: 0;
        background-color: $sl-color-white;
    }

    .sl-c-panel__header {
        padding: $sl-gutter;
        background-color: $sl-color-silver;
    }

    .sl-c-panel__body {
        margin-top: 0;
        padding: $sl-gutter;

        h5 {
            margin-top: 0;
        }
    }
</style>
