<template>
    <div class="sl-c-panel sl-c-profile-section" :class="{'sl-is-active': sectionIsVisible }">
        <div class="sl-c-panel__header"
            @click="toggleSection"
        >
            <h4 class="sl-c-panel__title">
                <slot name="section-heading">
                </slot>
            </h4>

            <div class="sl-c-actions">
                <i class="fa sl-u-text--primary" :class="arrowClass" />
            </div>
        </div>

        <div class="sl-c-panel__body" v-if="sectionIsVisible">
            <slot></slot>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'sal-profile-section',
        data() {
            return {
                sectionIsVisible: false
            };
        },
        computed: {
            /**
            * Sets class for show basic informations icon.
            *
            * @returns {String} css class name
            */
            arrowClass() {
                return {
                    'fa-chevron-down': !this.sectionIsVisible,
                    'fa-chevron-up': this.sectionIsVisible
                };
            }
        },
        methods: {
            /**
            * Toggles section visibility.
            */
            toggleSection() {
                this.sectionIsVisible = !this.sectionIsVisible;
            }
        }
    };
</script>

<style lang="scss" scoped> 
    .sl-c-profile-section {
        margin: $sl-gutter;
        padding: 0;
        border-radius: 0;
        background-color: transparent;

        &.sl-is-active {
            .sl-c-panel__header {
                border-left-color: $sl-color-blue;
            }
        }

        .sl-c-panel__header {
            padding: $sl-gutter;
            background-color: $sl-color-silver;
            border-left: 3px solid transparent;
        }

        .sl-c-panel__body {
            padding-right: $sl-gutter;
            padding-left: $sl-gutter;
        }

        dl {
            > dt {
                color: $sl-color-grey;
            }

            dd {
                margin-bottom: $sl-gutter-sm;
                padding-bottom: $sl-gutter-sm;
                border-bottom: 1px solid $sl-color-darksilver;

                &:last-child {
                    padding-bottom: 0;
                    border-bottom: none;
                }
            }
        }
    }
</style>
