<template>
    <div class="sl-l-page">
        <div class="sl-l-app-body">
            <div class="sl-c-profile-header">
                <h3>
                    <span>{{employee.last_name}}</span>
                    <span>{{employee.first_name}}</span>
                    <span>{{employee.middle_name}}</span>
                </h3>
                <h6>{{employee.position_name}}</h6>
                <h6>{{employee.employee_id}}</h6>

                <sal-button-mobile
                    id="profile-change-password"
                    label="Change password"
                    size="sm"
                    type="primary"
                    class="sl-c-btn--block sl-u-gap-top"
                    :onClick="goToChangePasswordPage"
                />
            </div>
            <div class="sl-profile-body">
                <sal-my-leaves :leave-credits="leaveCredits" v-if="!isSubscribedToPayrollOnly" />
                <sal-basic-informations :employee="employee" />
                <sal-employment-details :employee="employee" />
            </div>
        </div>
    </div>
</template>

<script>
    import { filter } from 'lodash-es';
    import MyLeaves from '@/components/mobile/profile/MyLeaves';
    import BasicInformations from '@/components/mobile/profile/BasicInformations';
    import EmploymentDetails from '@/components/mobile/profile/EmploymentDetails';
    import { auth } from '@/utils/Authentication';

    export default {
        name: 'sal-employee-profile',
        components: {
            'sal-my-leaves': MyLeaves,
            'sal-basic-informations': BasicInformations,
            'sal-employment-details': EmploymentDetails
        },

        props: {
            /**
             * Set employee data
             */
            employee: {
                type: Object,
                required: true
            },

            /**
             * Set leave credits data
             */
            leaveCredits: Array
        },

        computed: {
            /**
             * Checks is account subscribed to payroll only
             *
             * @returns {Boolean}
             */
            isSubscribedToPayrollOnly() {
                const user = auth.getUser();
                return user.product_seats.length === 1 && !!filter( user.product_seats,
                    ( product ) => product.name === 'payroll'
                ).length;
            }
        },

        methods: {
            /**
             * Routs to change password page.
             */
            goToChangePasswordPage() {
                this.$router.push({ name: 'change-password' });
            }
        }
    };
</script>

<style <style lang="scss" scoped>
    .sl-c-profile-header {
        padding: $sl-gutter;
        color: $sl-color-white;
        background-color: $sl-color-blue;
    }
</style>
