<template>
    <!-- <div class="sl-l-app" id="app" v-if="$resize && $mq.below( 992 )"> -->
    <div class="sl-l-app" id="app">
        <router-view/>
    </div>

    <!-- non-mobile devices -->
    <!-- <section v-else class="sl-c-section sl-u-text--center">
        <img src="./assets/logo-salarium-blue.png" alt="Salarium - logo">
        <h1>Device Not Supported</h1>
    </section> -->
</template>

<script>
    import { auth } from '@/utils/Authentication';
/*
    import { SESSION_TIMEOUT_COUNTDOWN_SECONDS, INLINEMANUAL_API_KEY, SESSION_IDLE_TIME_MS } from '@/constants';
*/
    import { SESSION_TIMEOUT_COUNTDOWN_SECONDS } from '@/constants';

    export default {
        name: 'app',

        created() {
/*
            window.addEventListener( 'focus', this.onFocus );
            window.addEventListener( 'blur', this.onBlur );
            window.addEventListener( 'beforeunload', this.onBeforeUnload );
*/
        },

        data() {
            return {
                seconds: SESSION_TIMEOUT_COUNTDOWN_SECONDS,
                isIdleModalActive: false,
                interval: null,
                lastActiveTime: 0
            };
        },

        onIdle() {
            if ( auth.isAuthenticated() && this.isIdleModalActive === false ) {
                this.seconds = SESSION_TIMEOUT_COUNTDOWN_SECONDS;
                this.isIdleModalActive = true;

                this.$modal.confirm({
                    title: 'Session Expiring',
                    content: `
                        <p>Your secure connection to Salarium is about to time-out.</p>
                        <p>You will be automatically logged out in <span id="session-expiring-seconds">${SESSION_TIMEOUT_COUNTDOWN_SECONDS}</span> seconds.</p>
                    `,
                    okText: 'Stay Connected',
                    cancelText: 'Log Out Now',
                    onOk: () => this.handleStayConnected(),
                    onCancel: () => this.handleLogoutNow()
                });

                this.interval = setInterval( () => {
                    this.seconds = this.seconds - 1;
                    document.getElementById( 'session-expiring-seconds' ).innerHTML = this.seconds;
                    if ( this.seconds <= 0 ) {
                        clearInterval( this.interval );
                        this.handleLogoutNow();
                    }
                }, 1000 );
            }
        },

        mounted() {
            const trackFeedScript = document.createElement( 'script' );
            trackFeedScript.setAttribute(
                'src',
                'https://cdn.pagesense.io/js/salarium/dded5f59660948d5a9350a4f37ee663f.js'
            );
            document.head.appendChild( trackFeedScript );
        },

        methods: {
            handleStayConnected() {
                this.seconds = SESSION_TIMEOUT_COUNTDOWN_SECONDS;
                this.isIdleModalActive = false;
                clearInterval( this.interval );
            },

            handleLogoutNow() {
                this.isIdleModalActive = false;
                clearInterval( this.interval );
                auth.logout();
/*
            },

            onFocus() {
                const currTime = Date.now();
                const actvTime = this.lastActiveTime;
                const lpseTime = currTime - actvTime;
                if ( auth.isAuthenticated() && lpseTime >= SESSION_IDLE_TIME_MS ) {
                    this.isIdleModalActive = false;
                    clearInterval( this.interval );
                    auth.logout();
                }
            },

            onBlur() {
                const actvTime = Date.now();
                this.lastActiveTime = actvTime;
            },

            onBeforeUnload() {
                if ( localStorage.getItem( 'page_available' ) === null ) {
                    if ( localStorage.getItem( 'openpages' ) !== null ) {
                        localStorage.removeItem( 'openpages' );
                        this.isIdleModalActive = false;
                        clearInterval( this.interval );
                        auth.logout();
                    }
                }
*/
            }
        }
    };
</script>

<style lang="scss">
    @import '~vue-multiselect/dist/vue-multiselect.min.css';

    @font-face {
        font-family: 'sourcesanspro-regular';
        src: url("assets/fonts/sourcesanspro-regular-webfont.woff") format("woff"),
             url("assets/fonts/sourcesanspro-regular-webfont.woff2") format("woff2");
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'sourcesanspro-italic';
        src: url("assets/fonts/sourcesanspro-it-webfont.woff") format("woff"),
             url("assets/fonts/sourcesanspro-it-webfont.woff2") format("woff2");
        font-weight: normal;
        font-style: italic;
    }

    @font-face {
        font-family: 'sourcesanspro-bold';
        src: url("assets/fonts/sourcesanspro-bold-webfont.woff") format("woff"),
             url("assets/fonts/sourcesanspro-bold-webfont.woff2") format("woff2");
        font-weight: bold;
        font-style: normal;
    }


    /**
     * @name HTML reset
     */

    * {
        margin: 0;
        padding: 0;
        outline: none;
    }
    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }
    html {
        font-family: 'sourcesanspro-regular', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        line-height: 1.6;
        font-size: 14px;
    }
    body {
        min-height: 100vh;
        color: $sl-color-base;
        font-size: $sl-font-size-base;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background-color: $sl-color-silver;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    select::-ms-expand {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
    }
    input[type=number] {
        -moz-appearance:textfield;
    }
    h1,
    h2,
    h3 {
        font-family: 'sourcesanspro-bold', sans-serif;
    }
    h4,
    h5,
    h6 {
        font-family: 'sourcesanspro-regular', sans-serif;
        font-weight: normal;
    }
    h1 {
        font-size: 1.8rem;
    }
    h2 {
        font-size: 1.6rem;
    }
    h3 {
        font-size: 1.4rem;
    }
    h4 {
        font-size: 1.2rem;
    }
    h5 {
        margin-top: $sl-gutter;
        font-size: 1.1rem;
    }
    h6 {
        font-size: 1rem;
    }
    p {
        &:not(:first-child) {
            margin-top: $sl-gutter;
        }
    }
    a {
        color: $sl-color-blue;
        text-decoration: none;

        &:hover,
        &:active,
        &:focus {
            text-decoration: underline;
        }
    }
    small {
        font-size: .85714rem;
    }
    em {
        font-family: 'sourcesanspro-italic', sans-serif;
    }
    strong {
        font-family: 'sourcesanspro-bold', sans-serif;
    }
    hr {
        margin: $sl-gutter-sm 0;
        border: none;
        border-bottom: 1px solid #eee;
    }
    /**
     * @name Global layout
     */
    .sl-l-app,
    .sl-l-page {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    .sl-l-page {
        min-height: calc(100vh - 3rem);
    }
    .sl-l-app-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 3rem;
        background-color: $sl-color-blue;
        .sl-c-menu-btn {
            position: relative;
            color: $sl-color-white;
            padding: $sl-gutter-sm;
        }
    }
    .sl-l-app-body {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        height: calc(100vh - 3rem);
        overflow-y: auto;
        background-color: $sl-color-white;
    }
    /**
     * @name Page styles
     */
    .sl-c-page-back {
        padding: $sl-gutter-sm $sl-gutter;
        background-color: $sl-color-silver;
    }
    .sl-c-page__header {
        margin: $sl-gutter;
        text-align: center;
    }

    .sl-c-page__title {
        margin: 0 0 $sl-gutter-sm 0;
        font-size: 1.2rem;
    }

    .sl-c-page__desc {
        &.sl-c-page__desc {
            margin: 0;
        }
    }

    .sl-c-page__content {
        flex-grow: 1;
        margin: $sl-gutter;
        word-break: break-word;
    }


    /**
     * @name Section styles
     */

    .sl-c-section {
        border-radius: $sl-radius-sm;

        &:not(:first-child) {
            margin-top: $sl-gutter;
        }
    }

    .sl-c-section__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: $sl-gutter;
    }

    .sl-c-section__title {
        flex-grow: 1;
    }

    .sl-c-section__footer {
        margin-top: $sl-gutter;
    }

    .sl-c-block-btns {
        display: flex;
        justify-content: space-between;

        > .sl-c-btn {
            width: 49%;
        }
    }

    .sl-c-section--white {
        padding: $sl-gutter;
        background-color: $sl-color-white;
        box-shadow: 0 0 .5rem 0 $sl-color-grey;

        .sl-c-section__footer {
            margin-top: $sl-gutter-sm;
            padding-top: $sl-gutter-sm;
            border-top: 1px solid $sl-color-silver;
        }
    }

    .sl-c-section--blue {
        padding: $sl-gutter;
        background-color: $sl-color-blue;
        box-shadow: 0 0 .5rem 0 $sl-color-darkblue;

        .sl-c-section__footer {
            margin-top: $sl-gutter-sm;
            padding-top: $sl-gutter-sm;
            border-top: 1px solid $sl-color-silver;
        }
    }


    /**
     * @name Card styles
     */

    .sl-c-card {
        margin-bottom: $sl-gutter;
        border: 1px solid $sl-color-silver;
        border-radius: $sl-radius-sm;
        word-break: break-all;
    }

    .sl-c-card__header,
    .sl-c-card__body,
    .sl-c-card__footer {
        padding: $sl-gutter-sm 0;
    }

    .sl-c-card__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 $sl-gutter-sm $sl-gutter-sm $sl-gutter-sm;
        border-bottom: 1px solid $sl-color-silver;
    }

    .sl-c-card__title {
        display: flex;
        align-items: center;
        flex-grow: 1;
        color: $sl-color-blue;
        font-size: 1rem;
    }

    .sl-c-card__body {
        padding-right: $sl-gutter-sm;
        padding-left: $sl-gutter-sm;
    }

    .sl-c-card__footer {
        margin: $sl-gutter-sm $sl-gutter-sm 0 $sl-gutter-sm;
        border-top: 1px solid $sl-color-silver;
    }

    .sl-c-card--default {
        background-color: $sl-color-silver;

        .sl-c-card__header {
            border-bottom-color: $sl-color-white;
        }
    }

    .sl-c-card--white {
        background-color: $sl-color-white;
    }

    .sl-c-card--alert {
        border-left: $sl-gutter-xs solid $sl-color-red;

        .sl-c-card__header,
        .sl-c-card__footer {
            margin-left: $sl-gutter-xs;
        }

        .sl-c-card__body {
            padding-left: $sl-gutter-xs;
        }
    }


    /**
     * @name Global components
     */

    .sl-c-panel {
        padding: $sl-gutter;
        background-color: $sl-color-silver;
        border-radius: $sl-radius-sm;

        &:not(:first-child) {
            margin-top: $sl-gutter;
        }
    }

    .sl-c-panel__header {
        display: flex;
        justify-content: space-between;
    }

    .sl-c-panel__title {
        display: flex;
        align-items: center;
        margin: 0;
    }

    .sl-c-panel__body {
        margin-top: $sl-gutter;

        &:empty {
            display: none;
        }
    }

    .sl-c-label {
        display: inline-flex;
        align-items: center;
        padding: $sl-gutter-xs $sl-gutter;
        color: $sl-color-lightblack;
        font-size: .85rem;
        white-space: nowrap;
        background-color: $sl-color-silver;
        border-radius: $sl-radius;
    }

    .sl-c-label--primary {
        color: $sl-color-white;
        background-color: $sl-color-blue;

        &.sl-c-label--disabled {
            color: $sl-color-lightblack;
            background-color: $sl-color-lightblue;
        }
    }

    .sl-c-label--primary-pale {
        color: $sl-color-lightblack;
        background-color: #bcdce5;

        &.sl-c-label--disabled {
            color: $sl-color-lightblack;
            background-color: $sl-color-lightblue;
        }
    }

    .sl-c-label--danger-pale {
        color: $sl-color-lightblack;
        background-color: $sl-color-lightred;

        &.sl-c-label--disabled {
            color: $sl-color-lightblack;
            background-color: $sl-color-lightred;
        }
    }

    .sl-c-label--success {
        color: $sl-color-white;
        background-color: $sl-color-green;

        &.sl-c-label--disabled {
            color: $sl-color-lightblack;
            background-color: $sl-color-lightgreen;
        }
    }

    .sl-c-label--danger {
        color: $sl-color-white;
        background-color: $sl-color-red;

        &.sl-c-label--disabled {
            color: $sl-color-lightblack;
            background-color: $sl-color-lightred;
        }
    }

    .sl-c-badge {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: $sl-radius-round;
        background-color: $sl-color-silver;
    }

    .sl-c-badge--circle {
        padding: $sl-gutter-sm;
        width: 2rem;
        height: 2rem;
        color: $sl-color-blue;
        background-color: transparent;
        border: 1px solid $sl-color-blue;
    }

    .sl-c-badge--danger {
        color: $sl-color-white;
        background-color: $sl-color-red;
    }

    .sl-c-media {
        display: flex;
    }
    .sl-c-media__object {
        flex: 0 0 auto;
        margin-right: $sl-gutter;
    }
    .sl-c-media__body {
        flex-grow: 1;
    }

    .sl-c-media--center {
        align-items: center;
    }

    .sl-c-media--right {
        align-items: right;
    }


    /**
    * @name Forms
    */

    .sl-c-form-group {
        display: block;

        &:not(:first-child) {
            margin-top: $sl-gutter;
        }
        &.sl-has-error {
            .sl-u-help-text {
                color: $sl-color-red;
            }
        }
    }

    .sl-c-control-label {
        display: block;
        margin-bottom: $sl-gutter-xs;

        .sl-has-error & {
            color: $sl-color-red;
        }

        sup {
            top: -.4rem;
            color: $sl-color-red;
        }
    }

    .sl-u-has-border--bottom {
        padding-bottom: $sl-gutter;
        border-bottom: 1px solid $sl-color-lightgrey;
    }

    .sl-c-form-control {
        display: block;
        resize: vertical;
        min-width: 10rem;
        width: 100%;
        min-height: 3rem;
        padding: $sl-gutter-xs $sl-gutter-sm;
        font-family: 'sourcesanspro-regular', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 1rem;
        border: 1px solid $sl-color-darkgrey;
        border-radius: 0;
        background-color: $sl-color-white;

        &::-webkit-input-placeholder {
            color: $sl-color-grey;
        }
        &::-moz-placeholder {
            color: $sl-color-grey;
        }
        &:-ms-input-placeholder {
            color: $sl-color-grey;
        }
        &:-moz-placeholder {
            color: $sl-color-grey;
        }
        &:focus {
            border-color: $sl-color-blue;
            outline: none;
        }
        &[disabled],
        &.sl-is-disabled {
            border-color: $sl-color-lightgrey;
            background-color: $sl-color-lightergrey;
            cursor: not-allowed;

            + .sl-c-input-group__addon {
                border-color: $sl-color-lightgrey;
                background-color: $sl-color-lightergrey;
                cursor: not-allowed;
            }
        }

        .sl-has-error & {
            border-color: $sl-color-red;
        }

        &[type=password] {
            height: 3rem;
            font-size: $sl-font-size-lg;
            line-height: 1;
            letter-spacing: 2px;
        }

        .sl-c-option {
            color: #000
        }
    }

    .sl-c-form-control,
    .sl-c-input-group {
        + .sl-u-help-text {
            margin-top: $sl-gutter-xs;
        }
    }

    .sl-c-form-control--slim {
        min-height: 0;
        height: auto;

        .sl-c-form-control,
        .sl-c-input-group__addon,
        + .sl-c-input-group__addon {
            min-height: 0;
        }
    }

    .sl-c-form-control--inline {
        display: inline-block;
        min-width: 3rem;
        width: auto;
    }

    .sl-c-radio,
    .sl-c-check {
        display: none;
        visibility: hidden;
        vertical-align: middle;

        + .sl-c-control-label {
            position: relative;
            display: inline-block;
            margin-right: $sl-gutter;

            &:before {
                position: relative;
                display: inline-block;
                vertical-align: middle;
                width: 1rem;
                height: 1rem;
                margin-right: $sl-gutter-sm;
                border: 1px solid $sl-color-darkgrey;
                background-color: $sl-color-white;
                content: '';
            }
        }

        &:hover,
        &:focus {
            + .sl-c-control-label {
                &:before {
                    border-color: $sl-color-blue;
                }
            }
        }

        &[disabled],
        &.sl-is-disabled {
            + .sl-c-control-label {
                color: $sl-color-lightgrey;
                cursor: not-allowed;

                &:before {
                    border-color: $sl-color-lightgrey;
                }
            }
        }
    }

    .sl-c-radio {
        + .sl-c-control-label {
            &:before {
                border-radius: $sl-radius-round;
            }
        }

        &:checked {
            + .sl-c-control-label {
                &:before {
                    border-color: $sl-color-darkgrey;
                    box-shadow: inset 0 0 0 2px $sl-color-white;
                    background-color: $sl-color-blue;
                }
            }
        }
    }

    .sl-c-check {
        &:checked {
            + .sl-c-control-label {
                &:before {
                    border-color: $sl-color-darkgrey;
                }

                &:after {
                    position: absolute;
                    top: .6rem;
                    left: .15rem;
                    transform: rotate(-45deg);
                    display: inline-block;
                    vertical-align: middle;
                    width: .8rem;
                    height: .3rem;
                    border-left: 2px solid $sl-color-blue;
                    border-bottom: 2px solid $sl-color-blue;
                    content: '';
                }
            }
        }
    }

    .multiselect {
        .multiselect__input {
            @media (max-width: 375px) {
                font-size: 11px;
            }
        }

        .multiselect__select {
            &.multiselect__select {
                display: none !important;
            }
        }

        .multiselect__tags {
            border-radius: 0;
            border-color: $sl-color-darkgrey;
            padding-right: 8px;
        }

        .multiselect__tag {
            background-color: $sl-color-lightgrey;
        }

        .multiselect__tag-icon {
            &:focus,
            &:hover {
                background-color: $sl-color-lightgrey;
            }
        }

        .multiselect__option--highlight {
            background-color: $sl-color-lightgrey;

            &:after {
                background-color: $sl-color-lightgrey;
            }
        }
    }

    .sl-c-grid {
        display: grid;
        grid-column-gap: $sl-gutter;
        width: 100%;
        word-break: break-word;
    }

    .sl-c-grid--twos {
        grid-template-columns: 1fr 1fr;
    }

    .sl-c-grid--threes {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .sl-c-input-group {
        display: flex;
        align-items: stretch;

        > .sl-c-form-control {
            flex-grow: 1;

            &:first-child {
                border-right: none;
            }

            &:last-child {
                border-left: none;
            }

            &:focus {
                + .sl-c-input-group__addon {
                    border-color: $sl-color-blue;

                    .sl-has-error & {
                        border-color: $sl-color-red;
                    }
                }
            }
        }

        .sl-c-form-group {
            > .sl-c-form-control {
                border-right: none;
            }
        }
    }

    .sl-c-input-group__addon {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 3rem;
        font-size: 1rem;
        border: 1px solid $sl-color-darkgrey;

        &:first-child {
            border-right: none;

            > .sl-c-icon {
                margin-left: $sl-gutter;
            }
        }

        &:last-child {
            border-left: none;

            > .sl-c-icon {
                margin-right: $sl-gutter;
            }
        }

        .sl-c-input-group--empty & {
            border-left: none;

            > .fa {
                color: $sl-color-grey;
                padding-right: $sl-gutter-sm;
                padding-left: $sl-gutter-sm;
            }
        }

        .sl-has-error & {
            border-color: $sl-color-red;

            .sl-c-icon {
                color: $sl-color-red;
            }
        }

        + .fa {
            align-self: center;
        }

        .sl-c-btn {
            padding: $sl-gutter;
        }
    }

    .sl-c-input-group--empty {
        &.sl-is-disabled {
            .sl-c-input-group__addon {
                border-color: $sl-color-lightgrey;
            }
        }

        &.sl-is-active {
            .sl-c-input-group__addon {
                border-color: $sl-color-blue;
            }
        }
    }

    .sl-c-icon-circle {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        height: 4rem;
        padding: $sl-gutter;
        border: 1px solid transparent;
        background-color: $sl-color-silver;
        border-radius: $sl-radius-round;
    }

    .sl-c-icon-circle--sm {
        width: 2rem;
        height: 2rem;
        padding: $sl-gutter-xs;
    }

    .sl-c-icon-circle--xs {
        width: 10px;
        height: 10px;
        padding: 2px;
        font-size: 8pt;
    }

    .sl-c-icon-circle--primary {
        background-color: transparent;
        border-color: $sl-color-green;
    }

    .sl-c-tabs {
        display: grid;
        grid-template-columns: auto auto;
        margin: 0 -$sl-gutter;
        padding: 0;
        border-bottom: 1px solid $sl-color-darksilver;

        > a {
            flex-grow: 1;
            display: block;
            padding: $sl-gutter-sm $sl-gutter-sm calc(.5rem - 3px) $sl-gutter-sm;
            color: $sl-color-darkgrey;
            text-align: center;
            text-decoration: none;
            border-bottom: 3px solid transparent;

            &.sl-is-active,
            &.router-link-active {
                color: $sl-color-blue;
                border-bottom-color: $sl-color-blue;
            }
        }
    }

    .sl-c-btn-group {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
    }

    .sl-c-btn-group--block {
        > .sl-c-btn {
            flex-grow: 1;
        }
    }

    .sl-c-tag-list {
        padding: $sl-gutter-xs;
        border: 1px solid $sl-color-base;

        .sl-c-tag {
            &:not(:last-child) {
                margin-right: $sl-gutter-xs;
            }
        }
    }

    .sl-c-tag {
        display: inline-block;
        padding: $sl-gutter-xs $sl-gutter-sm;
        color: $sl-color-base;
        vertical-align: middle;
        border-radius: $sl-radius;
        border: 1px solid $sl-color-grey;
    }


    /**
    * @name Modal
    * @author Zoran Zlokapa
    */

    .sl-c-modal {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: none;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        z-index: 200;

        &.sl-is-active {
            display: flex
        }
    }

    .sl-c-modal-background {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: transparentize($sl-color-darkgrey, .25);
    }

    .sl-c-modal-card {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        position: relative;
        max-width: 20rem;

        @media (min-width: $sl-screen-xs) {
            max-width: 25rem;
        }
    }

    .sl-c-modal-card__header,
    .sl-c-modal-card__footer {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: $sl-gutter;
        background-color: $sl-color-white;
    }

    .sl-c-modal-card__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $sl-color-silver;
        border-top-left-radius: $sl-radius-sm;
        border-top-right-radius: $sl-radius-sm;

        .sl-c-actions {
            position: static;
        }
    }

    .sl-c-modal-card__title {
        flex-grow: 1;
        color: $sl-color-darkgrey;

        &.sl-c-modal-card__title {
            margin-bottom: 0;
        }
    }

    .sl-c-modal-card__body {
        flex-grow: 1;
        padding: $sl-gutter;
        overflow: auto;
        max-height: 27.715rem;
        -webkit-overflow-scrolling: touch;
        background-color: $sl-color-white;

        .sl-c-modal-card--dialog & {
            padding-right: $sl-gutter-lg;
            padding-left: $sl-gutter-lg;
        }
    }

    .sl-c-modal-card__footer {
        border-bottom-left-radius: $sl-radius-sm;
        border-bottom-right-radius: $sl-radius-sm;

        .sl-c-modal-card--dialog & {
            justify-content: center;
        }

        .sl-c-btn:not(:last-child) {
            margin-right: $sl-gutter-sm;
        }
    }

    .sl-c-modal-card__footer-vertical {
        flex-direction: column;

        .sl-c-btn:not(:last-child) {
            margin-bottom: $sl-gutter-sm;
            margin-right: 0;
        }
    }


    /**
    * @name Utility classes
    */

    .sl-u-img--round {
        border-radius: $sl-radius-round;
    }

    .sl-u-text--white {
        color: $sl-color-white;
    }

    .sl-u-text--silver {
        color: $sl-color-silver;
    }

    .sl-u-text--blue {
        color: $sl-color-blue;
    }

    .sl-u-text--left {
        text-align: left;
    }

    .sl-u-text--center {
        text-align: center;
    }

    .sl-u-text--right {
        text-align: right;
    }

    .sl-u-text--ellipsis {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .sl-u-text--base {
        color: $sl-color-base;
    }

    .sl-u-text--disabled {
        color: $sl-color-grey;
    }

    .sl-u-text--primary {
        color: $sl-color-blue;
    }

    .sl-u-text--success {
        color: $sl-color-green;
    }

    .sl-u-text--danger {
        color: $sl-color-red;
    }

    .sl-u-text--warning {
        color: $sl-color-orange;
    }

    .sl-u-text--darksilver {
        color: $sl-color-darksilver;
    }

    .sl-u-text--darkgrey {
        color: $sl-color-darkgrey;
    }

    .sl-u-text--lg {
        font-size: $sl-font-size-lg;
    }

    .sl-u-text--md {
        font-size: $sl-font-size-md;
    }

    .sl-u-text--sm {
        font-size: $sl-font-size-sm;
    }

    .sl-u-gap {
        margin: $sl-gutter;
    }

    .sl-u-gap-top {
        margin-top: $sl-gutter;
    }

    .sl-u-gap-top--lg {
        margin-top: $sl-gutter-lg;
    }

    .sl-u-gap-top--sm {
        margin-top: $sl-gutter-sm;
    }

    .sl-u-gap-right {
        margin-right: $sl-gutter;
    }

    .sl-u-gap-right--sm {
        margin-right: $sl-gutter-sm;
    }

    .sl-u-gap-right--xs {
        margin-right: $sl-gutter-xs;
    }

    .sl-u-gap-bottom {
        margin-bottom: $sl-gutter;
    }

    .sl-u-gap-bottom--sm {
        margin-bottom: $sl-gutter-sm;
    }

    .sl-u-gap-bottom--lg {
        margin-bottom: $sl-gutter-lg;
    }

    .sl-u-gap-left {
        margin-left: $sl-gutter;
    }

    .sl-u-gap-left--sm {
        margin-left: $sl-gutter-sm;
    }

    .sl-u-width--full {
        width: 100%;
        max-width: 100%;
    }

    .sl-u-hr--white {
        margin: $sl-gutter 0;
        border: none;
        border-bottom: 1px solid $sl-color-white;
    }

    /*
     * =Plugin mods
     */

    .fa-sm {
        font-size: .75rem;
    }

    .fa-lg {
        font-size: $sl-font-size-lg;
    }

    .fa-md {
        font-size: $sl-font-size-md;
    }
</style>
