<template>
    <div class="sl-c-filter-list">
        <div class="sl-c-section">
            <div class="sl-c-section__header">
                <h4 class="sl-c-section__title">Filter</h4>

                <div class="sl-c-actions">
                    <sal-button-mobile id="filter-close" size="sm" type="" :onClick="hide">
                        <i class="fa fa-times fa-lg"></i>
                    </sal-button-mobile>
                </div>
            </div>

            <div class="sl-c-section__body">
                <nav class="sl-c-tabs sl-u-gap-bottom">
                    <sal-a-mobile
                        id="created-by-me"
                        :onClick="() => showCreatedByMe()"
                        :class="isMyAnnouncementsTabActive"
                    >
                        Created by Me
                    </sal-a-mobile>

                    <sal-a-mobile
                        id="sent-to-me"
                        :onClick="() => showSentToMe()"
                        :class="isOtherAnnouncementsTabActive"
                    >
                        Sent to Me
                    </sal-a-mobile>
                </nav>

                <sal-announcement-filters
                    v-show="myAnnouncements"
                    type="my-announcements"
                    @apply="setFilters"
                    :key="'my-announcements'"
                    :reset="reset"
                >    
                </sal-announcement-filters>

                <sal-announcement-filters
                    v-show="!myAnnouncements"
                    type="other-announcements"
                    @apply="setFilters"
                    :key="'other-announcements'"
                    :reset="reset"
                > 
                </sal-announcement-filters>
            </div>

            <div class="sl-c-section__footer sl-c-block-btns">
                <sal-button-mobile
                    id="approval-filter-reset"
                    size="sm"
                    type="primary"
                    class="sl-c-btn--ghost"
                    :onClick="reset"
                    outlined
                >
                    Reset
                </sal-button-mobile>
                <sal-button-mobile
                    id="approval-filter-apply"
                    size="sm"
                    type="primary"
                    :onClick="apply"
                >
                    Apply
                </sal-button-mobile>
            </div>
        </div>
    </div>
</template>
<script>
    import { FILTER_TYPES } from '@/constants/announcement-filter';
    import { cloneDeep } from 'lodash-es';

    export default {
        data() {
            return {
                filters: {},
                myAnnouncements: true
            };
        },

        computed: {
            isMyAnnouncementsTabActive() {
                return this.myAnnouncements ? 'sl-is-active' : '';
            },
            isOtherAnnouncementsTabActive() {
                return !this.myAnnouncements ? 'sl-is-active' : '';
            }
        },

        methods: {
            /**
             * Sets the filters.
             *
             * @param {Object} filters The filters
             * @param {String} type The type
             */
            setFilters( filters, type ) {
                this.filters[ type ] = filters;
            },
            /**
             * Gets the created by me.
             *
             * @param {string} type The type
             * @return {boolean} The created by me.
             */
            getCreatedByMe( type ) {
                return type === 'my-announcements';
            },
            /**
             * Sets the created by me.
             */
            setCreatedByMe() {
                FILTER_TYPES.forEach( ( type ) => {
                    if ( !this.filters[ type ]) {
                        this.filters[ type ] = {};
                    }

                    this.filters[ type ].created_by_me = this.getCreatedByMe( type );
                });
            },
            /**
            * Apply the filters
            */
            apply() {
                this.setCreatedByMe();

                this.$emit( 'apply', cloneDeep( this.filters ) );
                this.hide();
            },

            /**
            * Resets filter values to default ones.
            */
            reset() {
                FILTER_TYPES.forEach( ( type ) => {
                    this.filters[ type ] = {};
                    this.filters[ type ].created_by_me = this.getCreatedByMe( type );
                });

                this.dateRange = null;

                this.$emit( 'reset', this.filters );
            },

            /**
            * Hide filters.
            */
            hide() {
                this.$emit( 'close' );
            },
            /**
             * Shows the created by me.
             */
            showCreatedByMe() {
                this.myAnnouncements = true;
            },
            /**
             * Shows the sent to me.
             */
            showSentToMe() {
                this.myAnnouncements = false;
            }
        }
    };
</script>

<style lang="scss" scoped>
    .sl-c-filter-list {
        position: fixed;
        top: 3rem;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
        font-size: .9rem;
        overflow-y: auto;
        background-color: $sl-color-white;

        .sl-c-section {
            padding: $sl-gutter;
        }
    }
</style>
