<template>
    <div class="sl-c-announcement-view-stats">
        <div class="sl-c-percentage-circle">
            <span><strong>{{ percentage }}</strong>%</span>
        </div>

        <div class="sl-c-announcement-views__progress">
            <sal-progress-mobile :percent="percentage" with-background/>
            <div>{{ views }} of {{ total }} Views</div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'sal-announcement-view-stats-mobile',

        props: {
            total: {
                type: Number,
                required: true
            },

            views: {
                type: Number,
                required: true
            }
        },

        computed: {
            /**
             * Percentage of complete.
             * @return {Number}
             */
            percentage() {
                return Math.round( ( this.views / this.total ) * 100 );
            }
        }
    };
</script>

<style lang="scss" scoped>
    .sl-c-announcement-view-stats {
        background-color: $sl-color-white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .sl-c-percentage-circle {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $sl-color-green;
        border-radius: $sl-radius-round;
        color: $sl-color-white;
        font-size: $sl-font-size-base;
        padding: $sl-gutter-xs;
        width: $sl-font-size-base * 3;
        height: $sl-font-size-base * 3;
        margin-right: $sl-gutter-md;
    }

    .sl-c-announcement-views__progress {
        flex-grow: 1;
    }
</style>
