<template>
    <sal-overlay-mobile v-if="hasUnreadAnnouncements || hasUnreadPayslips">
        <template v-if="hasUnreadAnnouncements">
            <h3 class="sl-u-text--center sl-u-gap-bottom">{{ announcements.length }} New {{ announcements.length === 1 ? 'Announcement' : 'Announcements' }}</h3>
            <div class="sl-c-announcements-list">
                <sal-other-announcement-card
                    v-for="( announcement, index ) in announcements"
                    :key="index"
                    :announcement="announcement"
                    only-date
                    is-unread
                />
            </div>
        </template>
        <template v-if="hasUnreadPayslips">
            <h3 class="sl-u-text--center sl-u-gap-bottom">{{ payslips.length }} New {{ payslips.length === 1 ? 'Payslip' : 'Payslips' }}</h3>
            <div class="sl-c-announcements-list">
                <sal-other-announcement-card
                    v-for="( payslip, index ) in payslips"
                    :key="index"
                    :announcement="payslip"
                    only-date
                    is-unread
                    is-payslip
                />
            </div>
        </template>

        <div class="back">
            <router-link :to="{ name: 'dashboard' }">
                <i class="fa fa-lg fa-home" /> Dashboard
            </router-link>
        </div>
    </sal-overlay-mobile>
</template>

<script>
    import moment from 'moment/moment';
    import { announcementService } from '@/utils/services/AnnouncementService';
    import { payslipsService } from '@/utils/services/PayslipsService';
    import { ANNOUNCEMENT_DEFAULT_DATE_FORMAT } from '@/constants/announcement-date';

    export default {
        name: 'sal-announcements-overlay-mobile',

        data() {
            return {
                announcements: [],
                payslips: []
            };
        },

        computed: {
            /**
             * Check if there are unread announcements.
             * @return {Boolean}
             */
            hasUnreadAnnouncements() {
                return this.announcements.length > 0;
            },

            /**
             * Check if there are unread payslips.
             * @return {Boolean}
             */
            hasUnreadPayslips() {
                return this.payslips.length > 0;
            }
        },

        created() {
            this.fetchData();
        },

        methods: {
            /**
             * Fetches all data
             */
            fetchData() {
                this.$emit( 'loading', true );

                Promise.all([
                    this.fetchNewAnnouncements(),
                    this.fetchUnreadPayslips()
                ])
                .finally( () => this.$emit( 'loading', false ) );
            },

            /**
             * Fetch new announcements sent to me.
             * @return {Promise}
             */
            fetchNewAnnouncements() {
                return announcementService.getUnreadAnnouncements()
                    .then( ( announcements ) => {
                        this.announcements = announcements;
                    });
            },

            /**
             * Fetch unread payslips
             * @returns {Promise}
             */
            fetchUnreadPayslips() {
                return payslipsService.getUnreadPayslips()
                    .then( ( payslips ) => {
                        this.payslips = payslips.map( ( payslip ) => ({
                            ...payslip,
                            created_at: payslip.payroll_date,
                            subject: `${this.formatDate( payslip.payroll_date )} Payslip is now available`,
                            message: `Your payslip for ${this.formatDate( payslip.payroll_date )} payroll is ready for viewing.`
                        }) );
                    });
            },

            formatDate( date ) {
                return moment( date ).format( ANNOUNCEMENT_DEFAULT_DATE_FORMAT );
            }
        }
    };
</script>

<style lang="scss" scoped>
    .sl-c-announcements-list {
        margin-bottom: $sl-gutter;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .back {
        margin-top: $sl-gutter;
        text-align: center;
    }
</style>
