<template>
    <div class="sl-c-section__body">
        <div class="sl-c-form-group">
            <label class="sl-c-control-label">Show announcements {{ header }}</label>
            <sal-multiselect
                v-model="filters.affected_employees"
                multiple
                @search-change="getEntitledEmployeesOptions"
                :show-no-results="false"
                :hide-selected="true"
                open-direction="bottom"
                :loading="isSearchingForEntitledEmployees"
                :options="entitledEmployeesOptions"
                placeholder="Enter location, department, position or employee name"
                label="name"
                track-by="uid"
            >
            </sal-multiselect>
        </div>

        <div class="sl-c-form-group">
            <label class="sl-c-control-label">Show announcements from:</label>
            <div class="sl-c-btn-group sl-c-btn-group--block">
                <sal-button-mobile
                    id="seven-days-range"
                    :class="{'sl-is-active': dateRange === dateRanges.pastSeven}"
                    size="sm"
                    class="sl-c-btn--square"
                    :onClick="() => chooseDateRangeFilter( dateRanges.pastSeven )"
                    outlined>
                    Past 7 days
                </sal-button-mobile>

                <sal-button-mobile
                    id="thirty-days-range"
                    :class="{'sl-is-active': dateRange === dateRanges.pastThirty}"
                    size="sm"
                    class="sl-c-btn--square"
                    :onClick="() => chooseDateRangeFilter( dateRanges.pastThirty )"
                    outlined>
                    Past 30 days
                </sal-button-mobile>

                <sal-button-mobile
                    id="custom-range"
                    :class="{'sl-is-active': dateRange === dateRanges.custom}"
                    size="sm"
                    class="sl-c-btn--square"
                    :onClick="() => chooseDateRangeFilter( dateRanges.custom )"
                    outlined>
                    Custom
                </sal-button-mobile>
            </div>
        </div>

        <sal-date-range-picker
            v-if="customPicker && dateRange"
            @dates-selected="datesSelected"
            :type="type"
        >
        </sal-date-range-picker>
    </div>
</template>
<script>
    import moment from 'moment';
    import {
        DEFAULT_DATE_FORMAT
    } from '@/constants/employee-request';
    
    import { DATE_RANGES } from '@/constants/request-filter';
    import entitledEmployeesSearch from '@/mixins/entitledEmployeesSearch';
    
    export default {
        mixins: [
            entitledEmployeesSearch
        ],
        name: 'sal-approval-filters',
        props: {
            type: {
                type: String,
                required: true
            }
        },
        data() {
            return {
                placeholderText: 'Enter location, department, position or employee name',
                filters: this.getFiltersDefaults(),
                customPicker: false,
                dateRange: null,
                dateRanges: DATE_RANGES,
                pastSevenDays: 8,
                pastThirtyDays: 31
            };
        },

        watch: {
            affectedEmployees() {
                this.apply();
            },
            startDate() {
                this.apply();
            },
            endDate() {
                this.apply();
            }
        },

        computed: {
            header() {
                return this.type === 'my-announcements'
                    ? 'published to:'
                    : 'sent by:';
            },
            affectedEmployees() {
                return this.filters.affected_employees;
            },
            startDate() {
                return this.filters.start_date;
            },
            endDate() {
                return this.filters.end_date;
            }
        },

        methods: {
            /**
            * Apply the filters
            */
            apply() {
                this.$emit( 'apply', this.filters, this.type );

                this.hide();
            },

            /**
            * Resets filter values to default ones.
            */
            reset() {
                this.filters = this.getFiltersDefaults();
                this.dateRange = null;
            },
            /**
            * Gets selected dates from Flatpickr - DatePickr component event.
            * @param Object selectedDateRange
            */
            datesSelected( selectedDateRange ) {
                this.filters.start_date = this.formatDate( selectedDateRange.start );
                this.filters.end_date = this.formatDate( selectedDateRange.end );
            },
            /**
            * Formats dates to default format provided from constant in employee-requests
            * @param Date dateToBeFormated
            * @returns Date formated to 'YYYY-MM-DD'
            */
            formatDate( dateToBeFormated ) {
                return moment( dateToBeFormated ).format( DEFAULT_DATE_FORMAT );
            },
            /**
            * Opens or closes datepicker component on click
            */
            toggleCustomPicker() {
                this.customPicker = !this.customPicker;
            },
            /**
            * Calculates start date in past according to parsed daysInPastFromNow.
            * @param Number daysInPastFromNow
            */
            calculateDateRange( daysInPastFromNow ) {
                this.filters.start_date = moment().subtract( daysInPastFromNow, 'd' ).format( DEFAULT_DATE_FORMAT );
                this.filters.end_date = moment().subtract( 1, 'd' ).format( DEFAULT_DATE_FORMAT );

                this.handleDateRangeValue( daysInPastFromNow );
            },
            /**
            * Handles date range to be used.
            * @param Number daysInPastFromNow
            */
            handleDateRangeValue( daysInPastFromNow ) {
                this.dateRange = daysInPastFromNow === this.pastSevenDays ? DATE_RANGES.pastSeven : DATE_RANGES.pastThirty;
            },
            /**
            * Calls method for calulating date range and sets default values
            * @param String dateRangeFilterName
            */
            chooseDateRangeFilter( dateRangeFilterName ) {
                switch ( dateRangeFilterName ) {
                    case DATE_RANGES.custom:
                        this.dateRange = DATE_RANGES.custom;
                        this.toggleCustomPicker();
                        break;
                    case DATE_RANGES.pastSeven:
                        this.calculateDateRange( this.pastSevenDays );
                        this.customPicker = false;
                        break;
                    case DATE_RANGES.pastThirty:
                        this.calculateDateRange( this.pastThirtyDays );
                        this.customPicker = false;
                        break;
                    default:
                        this.dateRange = null;
                }
            },

            /**
            * Hide filters.
            */
            hide() {
                this.$emit( 'close' );
            },

            /**
            * Gets default filter values.
            * @returns {Object}
            */
            getFiltersDefaults() {
                return {
                    start_date: null,
                    end_date: null,
                    affected_employees: [],
                    created_by_me: this.type === 'my-announcements'
                };
            }
        },
        created() {
            this.$parent.$on( 'reset', () => {
                this.reset();
            });
        }
    };
</script>

<style lang="scss" scoped>
    .sl-c-filter-list {
        position: fixed;
        top: 3rem;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
        font-size: .9rem;
        overflow-y: auto;
        background-color: $sl-color-white;

        .sl-c-section {
            padding: $sl-gutter;
        }
    }
</style>
