<template>
    <div class="sl-c-card" @click="goToDetails()">
        <div class="sl-c-card__body">
            <div class="sl-c-grid sl-c-grid--twos">
                <div>
                    <span :class="boldText">To: {{ recipients }}</span>
                </div>

                <div class="sl-u-text--disabled sl-u-text--right">
                    {{ date }}
                </div>
            </div>

            <div>
                <span :class="boldText">Sender: You</span>
            </div>

            <div class="sl-u-text--ellipsis">
                <span :class="boldText">{{ announcement.subject }}</span>
            </div>

            <div class="sl-u-text--disabled sl-u-text--ellipsis">
                {{ announcementMessageParagraphs[0] }}...
            </div>
        </div>

        <div class="sl-c-card__footer" v-if="announcement.allow_response || announcement.read_receipt">
            <div class="sl-c-grid sl-c-grid--twos sl-c-grid--bordered">
                <div>
                    <template v-if="announcement.allow_response">
                        <i class="fa fa-reply sl-u-text--disabled sl-u-gap-right--sm"></i> {{ announcement.replies.length }} {{ replyText }}
                        <i v-if="hasUnseenReplies" class="fa fa-circle fa-sm sl-u-text--danger"></i>
                    </template>
                </div>
                <div>
                    <template v-if="announcement.read_receipt">
                        <i class="fa fa-eye sl-u-text--disabled"></i> {{ views }} of {{ announcement.recipients.length }} views
                    </template>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import moment from 'moment';
    import { filter } from 'lodash-es';
    import { ANNOUNCEMENT_DEFAULT_DATE_FORMAT } from '@/constants/announcement-date';

    export default {
        name: 'sal-my-announcement-card',

        props: {
            announcement: {
                required: true,
                type: Object
            }
        },
        computed: {
            /**
             * Splits message on new line chars.
             * @returns {Array} splited announcement message
             */
            announcementMessageParagraphs() {
                return this.announcement.message.split( /(\r\n|\n|\r)/gm );
            },

            /**
             * Shows count of announcements recipients.
             * @returns {String}
             */
            recipients() {
                if ( !this.announcement.recipient_groups || !this.announcement.recipient_groups.length ) {
                    return '';
                }

                return this.announcement.recipient_groups.length > 1
                    ? `${this.announcement.recipient_groups[ 0 ].name} +${this.announcement.recipient_groups.length - 1} more`
                    : this.announcement.recipient_groups[ 0 ].name;
            },

            /**
             * Handles date showing and formating.
             * @returns {Object}
             */
            date() {
                return moment( this.announcement.created_at ).isSame( moment(), 'day' )
                    ? moment( this.announcement.created_at ).format( 'HH:mm' )
                    : moment( this.announcement.created_at ).format( ANNOUNCEMENT_DEFAULT_DATE_FORMAT );
            },

            /**
             * Computes number of views.
             * @returns {Object}
             */
            views() {
                return filter( this.announcement.recipients, ( recipient ) => recipient.seen ).length;
            },

            /**
             * Checks has unseen replies.
             * @returns {Number}
             */
            hasUnseenReplies() {
                return filter( this.announcement.replies, ( reply ) => !reply.seen ).length;
            },

            /**
             * Handles singular - plural text content.
             * @returns {String}
             */
            replyText() {
                return this.announcement.replies.length === 1
                    ? 'reply'
                    : 'replies';
            },
            /**
             * Get class for text
             *
             * @return {String}  Name of the class
             */
            boldText() {
                return this.hasUnseenReplies ? 'sl-c-text-bold' : '';
            }
        },
        methods: {
            /**
             * Routes to announcement details
             */
            goToDetails() {
                const endRoute = this.announcement.allow_response
                    ? 'responses'
                    : this.announcement.read_receipt
                        ? 'views'
                        : 'details';

                this.$router.push({
                    name: `announcements.my-announcements.${endRoute}`,
                    params: { announcementId: this.announcement.id }
                });
            }
        }
    };
</script>
<style lang="scss" scoped>
    .sl-c-grid--bordered {
        > div {
            position: relative;

            &:not(:first-child) {
                &:before {
                    position: absolute;
                    top: 0;
                    left: -.5rem;
                    bottom: 0;
                    width: 1px;
                    background-color: $sl-color-silver;
                    content: '';
                }
            }
        }
    }

    .sl-c-card__footer {
        .sl-c-grid--bordered {
            > div {
                &:before {
                    top: -$sl-gutter-sm;
                    bottom: -$sl-gutter-sm;
                }
            }
        }
    }

    .sl-c-text-bold {
        font-weight: bold;
    }
</style>
