<template>
    <div class="sl-c-card" :class="{'sl-is-unread': unread}" @click="onClick">
        <div class="sl-c-card__body">
            <div class="sl-c-grid sl-c-grid--twos">
                <div :class="{'sl-c-announcement__sender': !isPayslip}">
                    <span v-if="hasSender" :class="boldText"> From: {{ announcement.sender.full_name }}</span>
                </div>

                <div class="sl-u-text--disabled sl-u-text--right">
                    {{ date }}
                </div>
            </div>

            <div v-if="!isPayslip" class="sl-c-announcement__recipient">
                <span :class="boldText">To: {{ recipients }}</span>
            </div>

            <div class="sl-u-text--ellipsis">
                <span :class="boldText">{{ announcement.subject }}</span>
            </div>

            <div class="sl-u-text--disabled sl-u-text--ellipsis">
                {{ announcementMessageParagraphs[0] }}...
            </div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment';
    import { ANNOUNCEMENT_DEFAULT_DATE_FORMAT } from '@/constants/announcement-date';

    export default {
        name: 'sal-other-announcement-card',

        props: {
            announcement: {
                required: true,
                type: Object
            },
            onlyDate: Boolean,
            isUnread: Boolean,
            isPayslip: Boolean
        },

        computed: {
            /**
             * Splits message on new line chars.
             * @returns {Array} splited announcement message
             */
            announcementMessageParagraphs() {
                return this.announcement.message.split( /(\r\n|\n|\r)/gm );
            },

            /**
             * Determines if announcement has recipient groups
             * @returns {Boolean}
             */
            hasRecipientGroups() {
                return Object.prototype.hasOwnProperty.call( this.announcement, 'recipient_groups' );
            },

            /**
             * Determines if announcement has sender
             * @returns {Boolean}
             */
            hasSender() {
                return Object.prototype.hasOwnProperty.call( this.announcement, 'sender' );
            },

            /**
             * Gets recipients for display
             *
             * @return {String} recipients
             */
            recipients() {
                return this.hasRecipientGroups && this.announcement.recipient_groups.length > 1
                    ? `You +${this.announcement.recipient_groups.length - 1} more`
                    : 'You';
            },

            /**
             * Gets date for display
             *
             * @return {moment} Date
             */
            date() {
                if ( this.onlyDate ) {
                    return moment( this.announcement.created_at ).format( ANNOUNCEMENT_DEFAULT_DATE_FORMAT );
                }

                return moment( this.announcement.created_at ).isSame( moment(), 'day' )
                    ? moment( this.announcement.created_at ).format( 'HH:mm' )
                    : moment( this.announcement.created_at ).format( ANNOUNCEMENT_DEFAULT_DATE_FORMAT );
            },
            /**
             * Check if announcement is unread.
             * @return {Boolean}
             */
            unread() {
                return this.isUnread || !this.announcement.recipient.seen;
            },

            /**
             * Gets class for text
             *
             * @return {String} Name of the class
             */
            boldText() {
                return this.unread ? 'sl-c-text-bold' : '';
            }
        },

        methods: {
            /**
             * Announcement onClick handler
             */
            onClick() {
                this.isPayslip
                    ? this.goToPayslips()
                    : this.goToDetails();
            },

            /**
             * Routes to announcement details
             */
            goToDetails() {
                this.$router.push({
                    name: 'announcements.other-announcements.details',
                    params: { announcementId: this.announcement.id }
                });
            },

            /**
             * Routes to payslips
             */
            goToPayslips() {
                this.$router.push({ name: 'payslips' });
            }
        }

    };
</script>

<style lang="scss" scoped>
    .sl-is-unread {
        .sl-c-announcement__sender {
            &:after {
                content: '\00a0\25CF';
                color: $sl-color-red;
                font-size: .75rem;
                vertical-align: text-top;
            }
        }

        .sl-c-announcement__recipient {
            font-weight: bold;
        }
    }

    .sl-c-text-bold {
        font-weight: bold;
    }
</style>
