/**
 * @name Global variables
 * @author Zoran Zlokapa
 */


/* Colors */

$sl-color-blue:          #00A5E5;
$sl-color-darkblue:      #02688F;
$sl-color-lightdarkblue: #0077A5;
$sl-color-lightblue:     #E5F6FC;
$sl-color-silver:        #F0F4F6;
$sl-color-lightsilver:   lighten($sl-color-silver, 3%);
$sl-color-darksilver:    darken($sl-color-silver, 10%);
$sl-color-darkgrey:      #474747;
$sl-color-lightgrey:     #ADADAD;
$sl-color-lightergrey:   #F6F6F6;
$sl-color-green:         #83D24B;
$sl-color-lightgreen:    lighten($sl-color-green, 20%);
$sl-color-red:           #EB7575;
$sl-color-lightred:      lighten($sl-color-red, 20%);
$sl-color-orange:        #F4983E;
$sl-color-violet:        #6236FF;

$sl-color-base:          #2c3e50;
$sl-color-lightblack:    #323232;
$sl-color-white:         #ffffff;
$sl-color-grey:          #cccccc;
$sl-color-gray:          #858282;

$sl-color-alt-red:            #e02020;
$sl-color-alt-blue:           #00678f;

$sl-color-bright-orange:    #f6bb42;
$sl-color-bright-red:       #df5640;
$sl-color-dark-gray:        #999999;
$sl-color-lime-green:       #70ca63;

$sl-color-darkgrey-transparent: transparentize($sl-color-darkgrey, .1);
$sl-color-silver-transparent:     transparentize($sl-color-silver, .5);


/* Screens */

$sl-screen-xs:   480px;
$sl-screen-sm:   768px;
$sl-screen-md:  1024px;
$sl-screen-lg:  1280px;
$sl-screen-xl:  1440px;
$sl-screen-xxl: 1600px;


/* Radius */

$sl-radius:              1rem;
$sl-radius-xs: $sl-radius*.25;
$sl-radius-sm:  $sl-radius*.5;
$sl-radius-lg:   $sl-radius*2;
$sl-radius-round:         50%;


/* Spacings */

$sl-gutter:                1rem;
$sl-gutter-xs:   $sl-gutter*.25;
$sl-gutter-sm:    $sl-gutter*.5;
$sl-gutter-mn:   $sl-gutter*.75;
$sl-gutter-md:   $sl-gutter*1.5;
$sl-gutter-lg:     $sl-gutter*2;
$sl-gutter-xl:     $sl-gutter*4;


/* Font sizes */

$sl-font-size-base: 1rem;
$sl-font-size-sm: $sl-font-size-base*.75;
$sl-font-size-md: $sl-font-size-base*1.5;
$sl-font-size-lg: $sl-font-size-base*2;
