<template>
    <a
        :disabled="disabled"
        v-on:click="!!onClick && onClick()"
        class="sl-c-btn-mobile"
        :class="{ 'sl-u-text--disabled' : disabled }"
    >
        <slot>Link</slot>
    </a>
</template>

<script>
    export default {
        name: 'sal-a-mobile',

        props: {
            onClick: {
                type: Function,
                required: false
            },
            noUnderline: Boolean,
            disabled: Boolean
        }
    };
</script>

<style lang="scss" scoped>
</style>
