<template>
    <div class="sl-c-page-back" @click="click">
        <router-link :to="to">
            <i class="fa fa-long-arrow-left"></i>

            <slot></slot>
        </router-link>
    </div>
</template>

<script>
    export default {
        name: 'sal-back',
        props: {
            to: {
                type: [ String, Object ],
                required: true
            }
        },

        methods: {
            /**
            * Emits click event.
            */
            click() { // TODO: check if it needs to be available only from overtime
                this.$emit( 'click' );
            }
        }
    };
</script>

<style>

</style>
