<template>
    <button
        :id="id"
        :class="[
            'sl-c-btn',
            `sl-c-btn--${size} sl-c-btn--${type}`,
            outlined ? 'sl-c-btn--ghost' : ''
        ]"
        :type="buttonType"
        :disabled="disabled"
        v-on:click="!!onClick && !disabled && onClick()"
    ><slot>{{label}}</slot></button>
</template>

<script>
    export default {
        name: 'sal-button-mobile',
        props: {
            id: {
                type: String
            },
            label: String,
            disabled: Boolean,
            size: {
                type: String, // One of [ 'lg', 'sm', 'xs' ]
                default: 'normal'
            },
            type: {
                type: String, // One of [ 'primary', 'success', 'danger', 'warning', 'default', 'link' ]
                default: 'default'
            },
            buttonType: {
                type: String, // One of [ 'button', 'submit', 'reset' ]
                default: 'button'
            },
            onClick: Function,
            outlined: Boolean
        }
    };
</script>

<style lang="scss" scoped>
    .sl-c-btn {
        display: inline-block;
        padding: $sl-gutter-sm $sl-gutter-md;
        color: $sl-color-darkgrey;
        text-align: center;
        font-size: 1rem;
        line-height: 1.6;
        text-decoration: none;
        vertical-align: middle;
        border-radius: $sl-radius-lg;
        background-color: transparent;
        border: 1px solid transparent;
        transition: all .2s ease-in-out;

        &:hover,
        &:focus,
        &:active,
        &.sl-is-active {
            cursor: pointer;
        }

        &[disabled],
        &.sl-is-disabled {
            cursor: not-allowed;
            pointer-events: none;
        }
    }

    .sl-c-btn--link {
        color: $sl-color-blue;
    }

    .sl-c-btn--default {
        background-color: $sl-color-silver;
        border-color: $sl-color-lightgrey;

        &:hover,
        &:focus,
        &:active,
        &.sl-is-active {
            background-color: lighten($sl-color-silver, 10%);
        }

        &[disabled],
        &.sl-is-disabled {
            color: $sl-color-lightgrey;
            background-color: lighten($sl-color-silver, 15%);
        }
    }

    .sl-c-btn--primary {
        color: $sl-color-white;
        background-color: $sl-color-green;

        &:hover,
        &:focus,
        &:active,
        &.sl-is-active {
            background-color: lighten($sl-color-green, 10%);
        }

        &[disabled],
        &.sl-is-disabled {
            color: $sl-color-white;
            background-color: lighten($sl-color-green, 15%);
        }

        &.sl-c-btn--ghost {
            color: $sl-color-darkgrey;
            border-color: $sl-color-green;
            background-color: $sl-color-white;

            &:hover,
            &:focus,
            &:active,
            &.sl-is-active {
                background-color: lighten($sl-color-green, 75%);
            }

            &[disabled],
            &.sl-is-disabled {
                color: $sl-color-lightgrey;
                border-color: $sl-color-green;

                &:hover,
                &:focus,
                &:active {
                    background-color: transparent;
                }
            }
        }
    }

    .sl-c-btn--danger {
        color: $sl-color-white;
        background-color: $sl-color-red;

        &:hover,
        &:focus,
        &:active,
        &.sl-is-active {
            background-color: lighten($sl-color-red, 10%);
        }

        &[disabled],
        &.sl-is-disabled {
            color: $sl-color-white;
            background-color: lighten($sl-color-red, 15%);
        }

        &.sl-c-btn--ghost {
            color: $sl-color-darkgrey;
            border-color: $sl-color-red;
            background-color: $sl-color-white;

            &:hover,
            &:focus,
            &:active,
            &.sl-is-active {
                background-color: lighten($sl-color-red, 75%);
            }

            &[disabled],
            &.sl-is-disabled {
                color: $sl-color-lightgrey;
                border-color: $sl-color-red;

                &:hover,
                &:focus,
                &:active {
                    background-color: transparent;
                }
            }
        }
    }

    .sl-c-btn--cancel {
        color: $sl-color-white;
        background-color: $sl-color-gray;

        &:hover,
        &:focus,
        &:active,
        &.sl-is-active {
            background-color: lighten($sl-color-gray, 10%);
        }

        &[disabled],
        &.sl-is-disabled {
            color: $sl-color-white;
            background-color: lighten($sl-color-gray, 15%);
        }

        &.sl-c-btn--ghost {
            color: $sl-color-darkgrey;
            border-color: $sl-color-gray;
            background-color: $sl-color-white;

            &:hover,
            &:focus,
            &:active,
            &.sl-is-active {
                background-color: lighten($sl-color-gray, 75%);
            }

            &[disabled],
            &.sl-is-disabled {
                color: $sl-color-lightgrey;
                border-color: $sl-color-gray;

                &:hover,
                &:focus,
                &:active {
                    background-color: transparent;
                }
            }
        }
    }

    .sl-c-btn--success {
        color: $sl-color-white;
        background-color: $sl-color-blue;

        &:hover,
        &:focus,
        &:active,
        &.sl-is-active {
            background-color: lighten($sl-color-blue, 10%);
        }

        &[disabled],
        &.sl-is-disabled {
            color: $sl-color-white;
            background-color: lighten($sl-color-blue, 15%);
        }

        &.sl-c-btn--ghost {
            color: $sl-color-darkgrey;
            border-color: $sl-color-blue;
            background-color: $sl-color-white;

            &:hover,
            &:focus,
            &:active,
            &.sl-is-active {
                background-color: lighten($sl-color-blue, 75%);
            }

            &[disabled],
            &.sl-is-disabled {
                color: $sl-color-lightgrey;
                border-color: $sl-color-blue;

                &:hover,
                &:focus,
                &:active {
                    background-color: transparent;
                }
            }
        }
    }

    .sl-c-btn--ghost {
        background-color: transparent;
    }

    .sl-c-btn--lg {
        padding: $sl-gutter $sl-gutter-lg;
    }

    .sl-c-btn--sm {
        padding: $sl-gutter-xs $sl-gutter;
        font-size: .9rem;
    }

    .sl-c-btn--xs {
        padding: $sl-gutter-xs $sl-gutter;
        font-size: .75rem;
        text-transform: uppercase;
    }

    .sl-c-btn--xs-c {
        padding: $sl-gutter-xs $sl-gutter;
        font-size: .75rem;
    }

    .sl-c-btn--block {
        display: block;
        width: 100%;
    }

    .sl-c-btn--wide {
        padding-right: $sl-gutter-lg;
        padding-left: $sl-gutter-lg;
    }

    .sl-c-btn-group {
        .sl-c-btn {
            border-radius: 0;

            &:first-child {
                border-top-left-radius: $sl-radius-lg;
                border-bottom-left-radius: $sl-radius-lg;
            }

            &:last-child {
                border-top-right-radius: $sl-radius-lg;
                border-bottom-right-radius: $sl-radius-lg;
            }

            &.sl-c-btn--square {
                &:first-child {
                    border-top-left-radius: $sl-radius-xs;
                    border-bottom-left-radius: $sl-radius-xs;
                }

                &:last-child {
                    border-top-right-radius: $sl-radius-xs;
                    border-bottom-right-radius: $sl-radius-xs;
                }
            }
        }

        .sl-c-btn--default {
            &.sl-c-btn--ghost {
                &.sl-is-active {
                    color: $sl-color-white;
                    background-color: $sl-color-blue;
                }
            }
        }
    }
</style>
