<template>
    <div class="sl-c-card">
        <div class="sl-c-card__header">
            <slot name="header">
                <h4 class="sl-c-card__title">
                    <slot name="title"></slot>
                </h4>
            </slot>

            <div class="sl-c-card__actions">
                <slot name="actions"></slot>
            </div>
        </div>

        <div class="sl-c-card__body">
            <slot></slot>
        </div>

        <div class="sl-c-card__footer" v-if="this.$slots['footer']">
            <slot name="footer"></slot>
        </div>
    </div>
</template>
