<template>
    <div :class="{ 'sl-has-error': error }">
        <input
            :class="inputClass"
            type="checkbox"
            v-model="input"
            :id="id"
            :name="name"
            :disabled="disabled"
            :value="inputValue"
            @blur="handleOnBlur"
            @focus="handleOnFocus"
        >
        <label v-if="announcementCheckbox" :for="id" class="sl-c-toggle-btn sl-u-gap-right"></label>
        <label
            v-if="label || $slots.default"
            :for="id"
            class="sl-c-control-label"
            :class="labelClass"
        >
            <slot>{{ label }}</slot>
        </label>
    </div>
</template>

<script>
    import { customInput } from '@/mixins/customInput';

    export default {
        name: 'sal-checkbox-mobile',
        mixins: [customInput],
        props: {
            /**
             * Sets possible input values.
             */
            inputValue: [ Array, String, Number, Boolean ],

            announcementCheckbox: Boolean
        },
        computed: {
            inputClass() {
                return this.announcementCheckbox ? 'sl-c-toggle' : 'sl-c-check';
            },
            labelClass() {
                return this.announcementCheckbox ? 'sl-u-gap-left-sm' : '';
            }
        }
    };
</script>

<style lang="scss" scoped>
    .sl-c-check {
        display: none;
        visibility: hidden;
        vertical-align: middle;

        + .sl-c-control-label {
            position: relative;
            display: flex;
            align-items: center;
            margin-right: $sl-gutter;

            &:before {
                position: relative;
                display: inline-block;
                vertical-align: middle;
                width: 1rem;
                height: 1rem;
                margin-right: $sl-gutter-sm;
                border: 1px solid $sl-color-darkgrey;
                background-color: $sl-color-white;
                content: '';
            }
        }

        &:hover,
        &:focus {
            + .sl-c-control-label {
                &:before {
                    border-color: $sl-color-blue;
                }
            }
        }

        &[disabled],
        &.sl-is-disabled {
            + .sl-c-control-label {
                color: $sl-color-lightgrey;
                cursor: not-allowed;

                &:before {
                    border-color: $sl-color-lightgrey;
                }
            }
        }

        &:checked {
            + .sl-c-control-label {
                &:before {
                    border-color: $sl-color-darkgrey;
                }

                &:after {
                    position: absolute;
                    top: .55rem;
                    left: .15rem;
                    transform: rotate(-45deg);
                    display: inline-block;
                    vertical-align: middle;
                    width: .8rem;
                    height: .3rem;
                    border-left: 2px solid $sl-color-blue;
                    border-bottom: 2px solid $sl-color-blue;
                    content: '';
                }
            }
        }
    }

    [class^="sl-c-check--type-"] {
        .sl-c-check {
            &:checked {
                + .sl-c-control-label {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }

    .sl-c-check--type-employee-attendance {
        .sl-c-check {
            + .sl-c-control-label {
                &:before {
                    border-color: #85D054;
                }
            }

            &:checked {
                + .sl-c-control-label {
                    &:before {
                        border-color: #85D054;
                        background-color: #85D054
                    }
                }
            }
        }
    }

    .sl-c-check--type-employee-shifts {
        .sl-c-check {
            + .sl-c-control-label {
                &:before {
                    border-color: #1078A3;
                }
            }

            &:checked {
                + .sl-c-control-label {
                    &:before {
                        border-color: #1078A3;
                        background-color: #81BBD1
                    }
                }
            }
        }
    }

    .sl-c-check--type-employee-leaves {
        .sl-c-check {
            + .sl-c-control-label {
                &:before {
                    border-color: #F29748;
                }
            }

            &:checked {
                + .sl-c-control-label {
                    &:before {
                        border-color: #F29748;
                        background-color: #F8CBA1;
                    }
                }
            }
        }
    }

    .sl-c-check--type-employee-payroll_disbursements {
        .sl-c-check {
            + .sl-c-control-label {
                &:before {
                    border-color: #A8CBD7;
                }
            }

            &:checked {
                + .sl-c-control-label {
                    &:before {
                        border-color: #A8CBD7;
                        background-color: #D3E4EB;
                    }
                }
            }
        }
    }

    .sl-c-check--type-team-shifts {
        .sl-c-check {
            + .sl-c-control-label {
                &:before {
                    border-color: #598CFC;
                }
            }

            &:checked {
                + .sl-c-control-label {
                    &:before {
                        border-color: #598CFC;
                        background-color: #ABC5FD;
                    }
                }
            }
        }
    }

    .sl-c-check--type-team-leaves {
        .sl-c-check {
            + .sl-c-control-label {
                &:before {
                    border-color: #E97677;
                }
            }

            &:checked {
                + .sl-c-control-label {
                    &:before {
                        border-color: #E97677;
                        background-color: #F3B9BA;
                    }
                }
            }
        }
    }

    .sl-c-check--type-team-attendance {
        .sl-c-check {
            + .sl-c-control-label {
                &:before {
                    border-color: #8F2CFA;
                }
            }

            &:checked {
                + .sl-c-control-label {
                    &:before {
                        border-color: $sl-color-darkgrey;
                    }

                    &:after {
                        position: absolute;
                        top: .55rem;
                        left: .15rem;
                        transform: rotate(-45deg);
                        display: inline-block;
                        vertical-align: middle;
                        width: .8rem;
                        height: .3rem;
                        border-left: 2px solid $sl-color-blue;
                        border-bottom: 2px solid $sl-color-blue;
                        content: '';
                    }
                }
            }
        }
    }

    .sl-c-check--type-request-approvals {
        .sl-c-check {
            + .sl-c-control-label {
                position: relative;
                display: flex;
                align-items: center;
                margin-right: $sl-gutter;

                &:before {
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;
                    width: 1rem;
                    height: 1rem;
                    margin-right: $sl-gutter-sm;
                    border: 1px solid $sl-color-darkgrey;
                    background-color: $sl-color-white;
                    content: '';
                }
            }

            &:checked {
                + .sl-c-control-label {
                    &:before {
                        border-color: $sl-color-darkgrey;
                    }

                    &:after {
                        position: absolute;
                        top: .35rem;
                        left: .15rem;
                        transform: rotate(-45deg);
                        display: inline-block;
                        vertical-align: middle;
                        width: .8rem;
                        height: .3rem;
                        border-left: 2px solid $sl-color-blue;
                        border-bottom: 2px solid $sl-color-blue;
                        content: '';
                    }
                }
            }
        }
    }

    .sl-c-toggle-btn {
        position: relative;
        display: inline-block;
        height: .6rem;
        width: 2rem;
        background: $sl-color-grey;
        border-radius: 100px;
        cursor: pointer;
        vertical-align: -0.15rem;
        transition: all .3s ease;

        &:after  {
            position: absolute;
            left: -2px;
            top: 50%;
            transform: translateY(-50%);
            display: block;
            width: 1.25rem;
            height: 1.25rem;
            border-radius: $sl-radius-round;
            background: $sl-color-blue;
            box-shadow: 0px 3px 3px rgba($sl-color-darkgrey, .05);
            content: '';
            transition: all .3s ease;
        }

        + .sl-c-control-label {
            display: inline-block;
            margin-bottom: 0;
        }
    }

    .sl-c-toggle {
        display: none;

        &:checked ~ label {
            background: $sl-color-grey;

            &:after {
                left: 1rem;
                background: $sl-color-darkblue;
            }

            &.sl-c-control-label {
                background-color: transparent;
            }
        }

        &:disabled ~ label,
        &.sl-is-disabled ~ label {
            color: $sl-color-grey;
            pointer-events: none;

            &:after {
                background: $sl-color-silver;
            }
        }
    }
</style>
