<template>
    <section class="sl-c-section sl-c-section--white">
        <div class="sl-c-section__body">
            <div class="sl-c-media">
                <div class="sl-c-media__object">
                    <div class="sl-c-icon-circle">
                    </div>
                </div>
                <div class="sl-c-media__body">
                    <p>Login to your SAL Pay account.</p>
                    <sal-a-mobile href="https://ico.salpay.com/"><strong>Check SAL Pay</strong></sal-a-mobile>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name: 'sal-check-sal-pay-mobile'
    };
</script>

<style>
    
</style>
