<template>
    <div class="sl-c-daterange-picker sl-u-gap-top">
        <p>Select a date range</p>

        <input :class="calendarContentClass" hidden />
        <div class="sl-c-grid sl-c-grid--twos sl-u-gap-top">
            <div class="sl-c-input-group">
                <input class="sl-c-form-control" type="text" :value="formatedSelectedDates.start" readonly />
                <span class="sl-c-input-group__addon">
                    <i class="fa fa-calendar sl-c-icon"></i>
                </span>
            </div>

            <div class="sl-c-input-group">
                <input class="sl-c-form-control" type="text" :value="formatedSelectedDates.end" readonly />
                <span class="sl-c-input-group__addon">
                    <i class="fa fa-calendar sl-c-icon"></i>
                </span>
            </div>
        </div>

        <div :class="calendarContainerClass" class="sl-u-gap-top"></div>
    </div>
</template>

<script>
    import flatpickr from 'flatpickr';
    import { DEFAULT_DATE_FORMAT } from '@/constants/employee-request';
    import 'flatpickr/dist/flatpickr.css'; // eslint-disable-line import/no-extraneous-dependencies
    import moment from 'moment';
    export default {
        name: 'sal-date-range-picker',

        components: {
            flatpickr
        },

        props: {
            type: String
        },

        data() {
            return {
                calendar: {},
                startDatePicker: {},
                formatedSelectedDates: {
                    start: moment().format( 'MMM DD YYYY' ),
                    end: moment().format( 'MMM DD YYYY' )
                },
                selectedDateRange: {}
            };
        },

        mounted() {
            this.instantiateAndConfigureFlatpickr();
            this.getFlatpickrCalendarAndAppendToElement();
        },

        computed: {
            calendarContainerClass() {
                return this.type
                    ? `js-flatpicker-calendar-container-${this.type}`
                    : 'js-flatpicker-calendar-container';
            },
            calendarContainer() {
                return this.type
                    ? `.js-flatpicker-calendar-container-${this.type}`
                    : '.js-flatpicker-calendar-container';
            },
            calendarContent() {
                return this.type
                    ? `.first-picker-${this.type}`
                    : '.first-picker';
            },
            calendarContentClass() {
                return this.type
                    ? `first-picker-${this.type}`
                    : 'first-picker';
            }
        },

        methods: {
            /**
             * Instantiates flatpickr and stores it to startDatePicker var.
             */
            instantiateAndConfigureFlatpickr() {
                this.startDatePicker = flatpickr( this.calendarContent, {
                    dateFormat: 'M d Y',
                    mode: 'range',
                    inline: true,
                    onValueUpdate: this.handleDateRangeSelection,
                    ariaDateFormat: 'D',
                    onYearChange: () => {
                        this.setDayNames();
                    }
                });
            },
            /**
             * Gets calendar from flatpickr component and appends it to calendar container.
             */
            getFlatpickrCalendarAndAppendToElement() {
                this.calendar = this.startDatePicker.calendarContainer;
                this.setDayNames();

                const container = this.calendarContainer;
                document.querySelector( container ).appendChild( this.calendar );
            },

            /**
             * Sets the day names.
             */
            setDayNames() {
                const days = document.getElementsByClassName( 'flatpickr-weekday' );
                for ( let i = 0; i < days.length; i++ ) { // eslint-disable-line no-plusplus
                    days[ i ].innerHTML = days[ i ].innerHTML.trim().slice( 0, 1 );
                }
            },
            /**
             * Stores selected dates to selectedDateRange and increments by one because by default,
             * parsed date from flatpickr isn't selected day but day before.
             */
            storeSelectedDatesFromFlatpickr() {
                this.selectedDateRange = {
                    start: moment( this.startDatePicker.selectedDates[ 0 ]).format( DEFAULT_DATE_FORMAT ),
                    end: moment( this.startDatePicker.selectedDates[ 1 ]).format( DEFAULT_DATE_FORMAT )
                };
            },
            /**
             * Formats dates to be shown in input fields to 'MMM DD YYYY' format.
             */
            formatDatesToBeShown() {
                this.formatedSelectedDates = {
                    start: moment( this.startDatePicker.selectedDates[ 0 ]).format( 'MMM DD YYYY' ),
                    end: moment( this.startDatePicker.selectedDates[ 1 ]).format( 'MMM DD YYYY' )
                };
            },
            /**
             * Handles date selection in flatpickr calendar and checks is selectedDates array valid
             */
            handleDateRangeSelection() {
                if ( !this.startDatePicker.selectedDates && this.startDatePicker.selectedDates.length < 2 ) {
                    return;
                }
                this.formatDatesToBeShown();
                this.storeSelectedDatesFromFlatpickr();
                this.emitSelectedDatesRange();
            },
            /**
             * Emits dates selected event with selectedDatesRange object
             * containing start and end date
             */
            emitSelectedDatesRange() {
                this.$emit( 'dates-selected', this.selectedDateRange );
            }
        }
    };
</script>

<style lang="scss">
    .sl-c-daterange-picker {
        .flatpickr-calendar,
        .flatpickr-rContainer,
        .flatpickr-days,
        .dayContainer {
            min-width: 0;
            max-width: inherit;
            margin: 0 auto;

            @media (max-width: 320px) {
                width: 100%;
            }
        }

        .flatpickr-day {
            &.selected,
            &.startRange,
            &.inRange,
            &.endRange {
                color: $sl-color-base;
                background-color: $sl-color-lightblue;
                border-color: $sl-color-lightblue;

                &.selected {
                    color: $sl-color-base;
                    background-color: $sl-color-lightblue;
                    border-color: $sl-color-lightblue;
                }
            }

            &.inRange {
                box-shadow: -5px 0 0 $sl-color-lightblue, 5px 0 0 $sl-color-lightblue;
            }
        }
    }
</style>
