<template>
    <div>
        <div class="sl-c-form-group">
            <div class="sl-c-control-label">{{ label }}</div>
            <div class="overlay">
                <!-- Flatpickr calendar container-->
                <div class="sl-c-overlay" v-show="calendarOpened">
                    <div class="sl-c-overlay-background" />
                    <div class="sl-c-overlay-content">
                        <sal-back to="" @click="toggleCalendar">Back to {{ requestType }} Request</sal-back>
                        <div ref="calendarWrapper">
                            <p class="sl-u-gap">Choose a date...</p>
                        </div>
                    </div>
                </div>
                <!-- -->
            </div>
            <div class="sl-c-input-group" @click="toggleCalendar">
                <flat-pickr class="sl-c-form-control"
                    ref="flatpickr"
                    id="dateFrom"
                    v-model="date"
                    @input="$emit( 'input', date )"
                    :config="config"
                    :placeholder="placeholder"
                />
                <span class="sl-c-input-group__addon">
                    <button class="sl-c-btn sl-c-btn--link">
                        <i class="fa fa-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'sal-datepicker',
        props: {
            value: {},
            placeholder: {
                type: String,
                default: 'Choose a date...'
            },
            label: {
                type: String,
                default: '* Select a date'
            },
            minDate: {
                type: [ String, Date ],
                default: null
            },
            maxDate: {
                type: [ String, Date ],
                default: null
            },
            requestType: {
                type: String,
                default: 'Leave'
            }
        },
        data() {
            return {
                date: this.value,
                calendarOpened: false,
                config: {
                    disableMobile: true,
                    dateFormat: 'M d, Y',
                    inline: true,
                    allowInput: true,
                    minDate: this.minDate,
                    maxDate: this.maxDate,
                    onChange: () => {
                        this.calendarOpened = false;
                    }
                }
            };
        },

        watch: {
            value( value ) {
                this.date = value;
            },
            minDate( newValue ) {
                this.$refs.flatpickr.fp.set( 'minDate', newValue );
            },
            maxDate( newValue ) {
                this.$refs.flatpickr.fp.set( 'maxDate', newValue );
            }
        },

        mounted() {
            this.getFlatpickerCalendarAndAppendToWrapper();
        },

        methods: {
            /**
             * Toggles calendar.
             */
            toggleCalendar() {
                this.calendarOpened = !this.calendarOpened;
            },

            /**
             * Formats flatpickr weekdays label.
             */
            formatFlatpickrWeekDaysLabel() {
                const weekdaysShorthande = this.$refs.flatpickr.fp.l10n.weekdays.shorthand.map(
                    ( weekday ) => weekday && weekday.slice( 0, 1 )
                );

                this.$refs.flatpickr.fp.l10n.weekdays.shorthand = weekdaysShorthande;
            },

            /**
            * Gets calendar from flatpickr component and appends it to calendar container.
            */
            getFlatpickerCalendarAndAppendToWrapper() {
                this.formatFlatpickrWeekDaysLabel();
                this.$refs.calendarWrapper.appendChild( this.$refs.flatpickr.fp.calendarContainer );
            }
        }

    };
</script>

<style lang="scss">
    .sl-c-overlay {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: none;
        justify-content: center;
        overflow: hidden;
        z-index: 200;
        display: flex;
    }

    .sl-c-overlay-background {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: $sl-color-white;
    }

    .sl-c-overlay-content {
        padding: $sl-gutter;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        position: relative;
        max-width: 20rem;

        @media (min-width: $sl-screen-xs) {
            max-width: 25rem;
        }
    }

    .flatpickr-month {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $sl-gutter-sm;
        height: auto;

        > * {
            position: static;
        }

        .flatpickr-prev-month,
        .flatpickr-next-month {
            display: flex !important;
            justify-content: center;
            align-items: center;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: $sl-radius-round;
            border: 1px solid $sl-color-green;
        }
    }
    
    .flatpickr-calendar {
        padding-bottom: 10px;

        .flatpickr-innerContainer {
            height: 225px;
        }
    }
</style>
