<template>
    <section class="sl-c-section sl-c-section--blue">
        <div class="sl-c-section__body">
            <div class="sl-c-media">
                <div class="sl-c-media__object">
                    <div class="sl-c-icon-circle sl-c-icon">
                        <i class="fa fa-user fa-lg sl-u-text--blue"></i>
                    </div>
                </div>
                <div class="sl-c-media__body sl-u-text--white">
                    <p><strong>{{ employeeName }}</strong></p>
                    {{ employeePosition }}
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name: 'sal-help-mobile',
        computed: {
            employeeName() {
                return JSON.parse( localStorage.getItem( 'user' ) ).employee.full_name;
            },

            employeePosition() {
                return JSON.parse( localStorage.getItem( 'user' ) ).employee.position_name;
            }
        }
    };
</script>

<style lang="scss" scoped>
    .sl-c-icon {
        background-color: #ffffff;
    }

    .sl-c-section--blue {
        padding: $sl-gutter;
        background-color: #00A5E5;
        -webkit-box-shadow: 0 0 0.2rem 0 #02688f;
        box-shadow: 0 0 0.2rem 0 #02688f;
        margin-bottom: $sl-gutter;
    }
</style>
