<template>
    <div class="sl-c-form-group">
        <div class="sl-c-control-label">Attachment</div>
        <div class="sl-c-upload-area sl-u-text--center">
            <div class="sl-c-upload-area__wrap">
                <p class="sl-u-help-text sl-u-gap-bottom">
                    Choose a file to upload
                </p>
                 <div v-if="error">
                    <span class="sl-u-text--danger">{{ error }}</span>
                </div>
                <input
                    id="file-upload"
                    type="file"
                    @change="onInput"
                    ref="fileInput"
                    accept="accept"
                    style="display: none"
                />
                <div class="sl-u-center sl-u-gap-bottom">
                    <sal-button-mobile
                        id="upload-submit"
                        type="button"
                        class="sl-c-btn sl-c-btn--default sl-c-btn--sm"
                        :disabled="isUploading"
                        :onClick="() => triggerFileInput( fileActions.upload )"
                    >
                        {{ buttonText }}
                    </sal-button-mobile>
                </div>

                <div class="sl-c-progress sl-c-progress--success" v-if="isUploading">
                    <div class="sl-c-progress__bar" :style="{ width: percentCompleted + '%' }"></div>                    
                </div>

                <div class="sl-c-alert sl-c-alert--bordered sl-u-text--left sl-u-gap-bottom--sm" v-if="isUploading">
                    {{ file.name }} {{ formatFileSize( file.size ) }}
                    <i class="fa fa-times fa-sm dodati sl-u-gap-left--sm" />
                </div>

                <div class="sl-c-alert sl-c-alert--bordered sl-u-text--left sl-u-gap-bottom--sm"
                    v-for=" (file, index) in uploadedFiles"
                    :key="index"
                >
                    <span @click="handleFileReplace( file )">
                        {{ file.original_name }} {{ formatFileSize( file.size ) }}
                    </span>
                    <i class="fa fa-times fa-sm sl-u-gap-left" @click="removeAttachment( file )" />
                </div>
            </div>
        </div>
        <p class="sl-u-text--disabled">
            File types accepted: TXT, DOC, PDF, GIF, JPG, PNG.<br />
            Maximum size is 10 MB.
        </p>
    </div>
</template>

<script>
    import axios from 'axios';
    import {
        some,
        unary,
        partialRight,
        includes,
        first,
        findIndex
    } from 'lodash-es';
    import {
        FILE_TYPES,
        FILE_UPLOAD_VALIDATION_MESSAGE,
        SIZE_UNITS,
        SIZE_OF_KB,
        FILE_ACTIONS,
        SIZE_OF_10_MB_IN_BYTES,
        ATTACHMENT_HEADERS
    } from '@/constants/employee-request';

    export default {
        name: 'sl-file-upload-input',

        props: {
            accept: {
                type: String
            },
            buttonText: {
                type: String,
                default: 'Upload'
            },
            requestId: {
                type: Number,
                default: null
            }
        },
        data() {
            return {
                uploadedFiles: [],
                percentCompleted: 0,
                isUploading: false,
                error: null,
                file: {},
                fileActions: FILE_ACTIONS,
                action: null,
                attachmentId: null,
                replacingFile: {}
            };
        },

        computed: {
            /**
             * Computes currently uploaded files size.
             * @returns {Number}
             */
            currentlyUploadedSize() {
                return this.file.size + this.getUploadedFilesSize();
            }
        },

        methods: {
            /**
             * Formats file size.
             * @param {Number} size of file
             * @returns {Number} formated size
             */
            formatFileSize( sizeInBytes ) {
                if ( sizeInBytes === 0 ) {
                    return '0 Bytes';
                }

                const index = Math.floor( Math.log( sizeInBytes ) / Math.log( SIZE_OF_KB ) );

                return `${( sizeInBytes / SIZE_OF_KB ** index ).toFixed( 2 )} ${SIZE_UNITS[ index ]}`;
            },

            /**
             * Calls employeeRequestService and uploads files.
             * @param {Object} evt emited child event
             */
            uploadFile() {
                this.percentCompleted = 0;
                if ( this.isReplacing ) {
                    this.removeItemFromArray( this.replacingFile );
                }
                const formData = this.appendFileToFormData();

                const config = {
                    onUploadProgress: this.onUploadProgress
                };

                axios.post( this.action, formData, config, ATTACHMENT_HEADERS )
                    .then( ( response ) => {
                        this.uploadedFiles.unshift( response.data );

                        this.attachmentId = null;
                        this.isReplacing = false;
                        this.$emit( 'filesUploaded', response.data );
                    })
                    .catch( ( err ) => {
                        err.response.data;
                        this.setDefaultValues();
                    })
                    .then( () => {
                        this.setDefaultValues();
                        this.error = null;
                    });
            },
            /**
             * Sets default values to isUploading, action and isReplacing.
             */
            setDefaultValues() {
                this.isUploading = false;
                this.isReplacing = false;
                this.action = null;
            },
            /**
             * Emits event on change and calls validation methods for type and size.
             * @param {Object} evt triggered event
             */
            onInput( evt ) {
                this.file = first( evt.target.files );

                if ( !this.isFileTypeAcceptable( this.file.type ) ) {
                    this.error = FILE_UPLOAD_VALIDATION_MESSAGE.invalidType;

                    return;
                }

                if ( !this.isFilesSizeValid( this.file.size ) ) {
                    return;
                }

                if ( !this.isFilesSizeValid( this.currentlyUploadedSize ) ) {
                    return;
                }

                this.isUploading = true;
                this.error = null;
                this.uploadFile();
            },

            /**
             * Replaces file attachment.
             */
            replaceAttachment( file ) {
                const index = findIndex( this.uploadedFiles, { id: this.attachmentId });
                this.uploadedFiles[ index ] = file;
            },

            /**
             * Removes item from array by index.
             */
            removeItemFromArray( file ) {
                const index = findIndex( this.uploadedFiles, { id: file.id });
                this.$emit( 'remove-file', file.id );
                this.uploadedFiles.splice( index, 1 );
            },

            /**
             * Handles file replacing.
             * @param {Number} fileId
             */
            handleFileReplace( file ) {
                this.replacingFile = file;
                this.handleModal( 'Replace attachment', () => {
                    this.triggerFileInput( FILE_ACTIONS.upload, file.id, true );
                });
            },
            /**
             * Removes file from array.
             * @param {Object} file
             */
            removeAttachment( file ) {
                this.handleModal( 'Remove attachment', () => {
                    this.removeItemFromArray( file );
                });
            },
            /**
             * Handles showing and configuring modal according to triggered action.
             * @param {String} confirmText text for okText prop
             * @param {Object} onOkCallback functions to be triggered on confirming action.
             */
            handleModal( confirmText, onOkCallback ) {
                return this.$modal.confirm({
                    type: 'danger',
                    title: 'Remove attachment',
                    cancelText: 'Cancel',
                    okText: confirmText,
                    content: 'Changing a pending request\'s attachment will bring the request back to the start of the workflow. Do you wish to proceed?',
                    onOk: onOkCallback
                });
            },
            /**
             * Finds approvals by same ids and updates their status.
             * @param Array response
             */
            getAttachmentById( response, approved ) {
                response.forEach( ( responseItem ) => {
                    const approval = find( this.approvals, { id: responseItem.id });
                    approval.status = responseItem.status;
                    approval.response = { approved };
                });
            },

            /**
             * Get FormData object containing company data.
             * @return {FormData}
             */
            appendFileToFormData() {
                const formData = new FormData();
                formData.append( 'attachment', this.file );

                if ( this.requestId ) {
                    formData.append( 'request_id', this.requestId );
                }

                return formData;
            },

            /**
             * Triggers click event and sets attachmentId and isReplacing.
             * @param {String} action server URL.
             * @param {Number} attachmentId
             * @param {Booelan} isReplacing
             */
            triggerFileInput( action, attachmentId = null, isReplacing = false ) {
                this.$refs.fileInput.click();
                this.action = action;
                this.attachmentId = attachmentId;
                this.isReplacing = isReplacing;
            },

            /**
             * Checks is file type format acceptable.
             * @param {String} fileType
             * @returns {Boolean}
             */
            isFileTypeAcceptable( fileType ) {
                return fileType !== '' ? some( FILE_TYPES, unary( partialRight( includes, fileType ) ) ) : false;
            },

            /**
             * Update percentCompleted.
             * @param {Object} evt event
             */
            onUploadProgress( evt ) {
                this.percentCompleted = Math.round( ( evt.loaded * 100 ) / evt.total );
            },

            /**
             * Sums uploaded files size.
             * @returns {Number}
             */
            getUploadedFilesSize() {
                let size = 0;

                this.uploadedFiles.forEach( ( uploadedFile ) => {
                    size += uploadedFile.size;
                });

                if ( this.isReplacing ) {
                    size -= this.file.size;
                }

                return size;
            },

            /**
             * Validates that single file size isn't greater then 10MB.
             * @param {Number} fileSize
             * @returns {Boolean}
             */
            isFilesSizeValid( fileSize ) {
                if ( fileSize > SIZE_OF_10_MB_IN_BYTES ) {
                    this.error = FILE_UPLOAD_VALIDATION_MESSAGE.fileSize;

                    return false;
                }
                this.error = null;
                return true;
            }
        }
    };
</script>

<style lang="scss" scoped>
    .sl-c-upload-area {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: $sl-gutter-lg;
        border: 1px solid $sl-color-darkgrey;

        &.sl-u-big {
            min-height: 15rem;
        }

        .sl-c-actions--right-top {
            top: $sl-gutter;
            right: $sl-gutter;
        }

        .sl-c-alert {
            word-break: break-all;

            &:not(:first-child) {
                margin-top: $sl-gutter-sm;
            }
        }
    }

    .sl-c-upload-area__wrap {
        max-width: 100%;
    }

    .sl-c-progress {
        position: relative;
        display: block;
        height: 1rem;
        overflow: hidden;
        border: 1px solid $sl-color-silver;
        border-radius: $sl-radius;
    }

    .sl-c-progress__bar {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        margin: 2px;
        border-radius: $sl-radius;
        transition: width .2s ease-in-out;
    }

    .sl-c-progress--success {
        .sl-c-progress__bar {
            background-color: $sl-color-green;
        }
    }
</style>

