<template>
    <section class="sl-c-section sl-c-section--white">
        <div class="sl-c-section__body">
            <div class="sl-c-media">
                <div class="sl-c-media__object">
                    <div class="sl-c-icon-circle sl-c-icon--gradient">
                        <i class="fa fa-envelope fa-lg sl-u-text--white"></i>
                    </div>
                </div>
                <div class="sl-c-media__body">
                    <p>Need help with your account?</p>
                    <sal-a-mobile><strong>Contact your administrator</strong></sal-a-mobile>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name: 'sal-help-mobile'
    };
</script>

<style lang="scss" scoped>
    .sl-c-icon--gradient {
        background: rgb(91,134,229);
        background: -moz-linear-gradient(top, rgba(91,134,229,1) 0%, rgba(54,209,220,1) 100%);
        background: -webkit-linear-gradient(top, rgba(91,134,229,1) 0%,rgba(54,209,220,1) 100%);
        background: linear-gradient(to bottom, rgba(91,134,229,1) 0%,rgba(54,209,220,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b86e5', endColorstr='#36d1dc',GradientType=0 );
    }
</style>
