<template>
    <div class="wrapper">
        <div class="year-wrapper">
            <div class="year">
                <span>{{ year }}</span>
            </div>
        </div>
        <carousel
            class="month-wrapper"
            :paginationEnabled="false"
            :perPageCustom="[[320, 5], [570, 7]]"
            :resistanceCoef="0"
        >
            <slide
                v-for="( month, index ) in months"
                :key="index"
                :value="month"
                :class="['month', {'selected': index === selectedMonth }]"
                @slideclick=" () => {
                    selectedMonth = index;
                    carouselPageUpdate()
                }"
            >
                {{ month }}
            </slide>
        </carousel>
        <carousel
            class="days-wrapper"
            :paginationEnabled="false"
            :perPageCustom="[[375, 8], [570, 11]]"
            :navigate-to="carouselPage"
            v-on:pageChange="pageChange"
        >
            <slide
                v-for="( day, index ) in daysInMonth"
                :key="index"
                :value="index"
                @slideclick=" () => {
                    selectedDay = index;
                    carouselPageUpdate()
                    $emit( 'selectedDay', index )
                }"
            >
                <div
                    :class="['day', {'selected' : index === selectedDay }]"
                >
                    <span>{{day.dayOfTheWeek}}</span>
                    <span>{{day.date}}</span>
                </div>
            </slide>
        </carousel>
    </div>
</template>

<script>
    import moment from 'moment';
    import times from 'lodash-es/times';
    import { Carousel, Slide } from 'vue-carousel';

    export default {
        name: 'sal-horizontal-calendar',

        components: {
            Carousel,
            Slide
        },

        data() {
            return {
                selectedMonth: '',
                selectedDay: '',
                carouselPage: 0,
                windowWidth: window.innerWidth
            };
        },

        props: {
            selectedDate: {
                type: String,
                required: true
            }
        },

        created() {
            this.selectedDay = this.selectedDate;
            this.selectedMonth = moment( this.selectedDate, 'YYYY-MM-DD' ).format( 'YYYY-MM' );
        },

        mounted() {
            window.addEventListener( 'resize', this.handleWindowResize );
        },

        computed: {
            year() {
                return moment( this.selectedMonth, 'YYYY-MM' ).format( 'YYYY' );
            },

            months() {
                const months = {};
                let pastMonthCount = 3;
                let totalMonthsCount = 7;

                if ( this.windowWidth <= 570 ) {
                    pastMonthCount = 2;
                    totalMonthsCount = 5;
                }

                const pastMonth = moment( this.selectedMonth, 'YYYY-MM' ).subtract( pastMonthCount, 'months' );

                times( totalMonthsCount, () => {
                    months[ pastMonth.format( 'YYYY-MM' ) ] = pastMonth.format( 'MMMM' );

                    pastMonth.add( 1, 'month' );
                });

                return months;
            },

            daysInMonth() {
                const daysInMonth = {};

                const monthDate = moment( this.selectedMonth, 'YYYY-MM' ).startOf( 'month' );

                times( monthDate.daysInMonth(), () => {
                    daysInMonth[ monthDate.format( 'YYYY-MM-DD' ) ] = {
                        dayOfTheWeek: monthDate.format( 'ddd' ),
                        date: monthDate.format( 'DD' )
                    };

                    monthDate.add( 1, 'day' );
                });
                this.carouselPageUpdate();

                return daysInMonth;
            }
        },

        methods: {
            handleWindowResize( event ) {
                this.windowWidth = event.currentTarget.innerWidth;
                setTimeout( () => {
                    this.months;
                    this.carouselPageUpdate();
                }, 150 );
            },

            carouselPageUpdate() {
                const day = moment( this.selectedDay, 'YYYY-MM-DD' ).format( 'D' );
                const month = moment( this.selectedDay, 'YYYY-MM-DD' ).format( 'YYYY-MM' );

                if ( this.selectedMonth === month ) {
                    this.carouselPage = Math.floor( Number( day ) / ( this.windowWidth <= 570 ? 8 : 11 ) );
                } else {
                    this.carouselPage = 0;
                }
            },

            pageChange( i ) {
                this.carouselPage = i;
            }
        },

        beforeDestroy: () => {
            window.removeEventListener( 'resize', this.handleWindowResize );
        }
    };
</script>

<style lang="scss" scoped>
    .wrapper{
        height: 10rem;

        .year-wrapper{
                height: 5rem;
                background-color: #cdeefa;
                overflow: hidden;
                z-index: -1;
                margin-bottom: -1.5rem;

            .year{
                font-weight: bold;
                font-stretch: 1;
                text-align: right;
                font-size: 8rem;
                line-height: .65;
                color: lighten(#cdeefa, 10%);
            }
        }

        .month-wrapper{
            width: auto;
            padding: 0 .8rem;

            .VueCarousel-inner {
                .month{
                    width: 50px;
                    text-align: center;
                    color: #00678f;
                    font-size: 9pt;
                    font-weight: bold;
                    text-transform: uppercase;

                    &:hover{
                        cursor: pointer;
                    }

                    &.selected{
                        border-bottom: 4px solid #00a5e5;
                    }
                }
            }
        }

        .days-wrapper{
            width: 100%;
            height: 5rem;
            padding: 0 1.5rem;
            position: absolute;

            .VueCarousel-inner {
                .day{
                    display: flex;
                    flex-direction: column;
                    margin: .5rem 0px;
                    font-size:8pt;
                    font-weight: bold;
                    text-align: center;
                    line-height: 2.5;

                    & > span:first-child{
                        text-transform: uppercase;
                        color: $sl-color-grey;
                        font-weight: normal;
                    }

                    &:hover{
                        cursor: pointer;
                    }

                    &.selected{
                        border: 1px solid #00a5e5;
                        color: #00a5e5;
                        border-radius: 2rem;

                        @media (min-width: 375px) {
                            margin: 0.4rem 18%;
                        }

                        @media (min-width: 570px) {
                            margin: 0.4rem .9rem;
                        }

                        & > span:first-child{
                            color: #00a5e5;
                        }
                    }

                }
            }
        }
    }
</style>
