<template>
    <div :class="[ 'sl-c-form-group', className, { 'sl-has-error': this.error }]">
        <label class="sl-c-control-label" v-if="label" :for="id">
            <sup v-if="required || customValidator">* </sup>{{label}}
        </label>
        <div :class="{'sl-c-input-group': hasIcon}">
            <input
                :class="[ 'sl-c-form-control', className]"
                :id="id"
                :placeholder="placeholder"
                :disabled="disabled"
                :type="type !== 'number' ? type : 'text'"
                v-bind:value="input"
                @input="input = $event.target.value"
                v-on:input="!!onChange && onChange( input )"
                v-on:focus="!!onFocus && onFocus( input )"
                v-on:blur="validate( input )"
            />
            <slot></slot>
        </div>
        <p class="sl-u-help-text" :style="{ display: this.error ? 'block' : 'none' }" >{{error}}</p>
    </div>
</template>

<script>
    export default {
        name: 'sal-input-mobile',
        data() {
            return {
                error: null,
                input: ''
            };
        },
        props: {
            id: {
                type: String,
                required: true
            },
            hasIcon: {
                type: Boolean,
                default: false
            },
            required: {
                type: Boolean,
                default: false
            },
            value: [ String, Number ],
            placeholder: String,
            label: String,
            disabled: Boolean,
            type: {
                type: String,
                default: 'text'
            },
            className: String,
            customValidator: Boolean,
            width: {
                type: String,
                default: 'initial'
            },
            min: Number,
            max: Number,
            onBlur: Function,
            onChange: Function,
            onFocus: Function,
            validator: Function // This must be a function that returns the string of error message to display or `null` if it passes validation.
        },
        created() {
            this.originalType = this.type;
        },

        methods: {
            /**
             * validates input on blur event
             * @param value = input value
             */
            validate( value ) {
                if ( this.customValidator ) {
                    return;
                }

                this.error = null;
                const { min, max, required, validator, onBlur } = this;
                const type = this.originalType;
                // CHECKS IF REQUIRED AND DISPLAYS AN ERROR IF EMPTY
                if ( required && !value ) {
                    this.error = 'This field is required.';
                } else {
                    // CHECK MINIMUM LENGTH OR AMOUNT
                    if ( min && type === 'number' ) {
                        if ( Number( value ) < min ) {
                            this.error = `This field requires a minimum value of ${min}.`;
                            return;
                        }
                    } else if ( min && value.length < min ) {
                        this.error = `This field must be at least ${min} characters.`;
                        return;
                    }

                    // CHECK MAXIMUM LENGTH OR AMOUNT
                    if ( max && type === 'number' ) {
                        if ( Number( value ) > max ) {
                            this.error = `This field accepts a maximum value of ${max}.`;
                            return;
                        }
                    } else if ( max && value.length > max ) {
                        this.error = `This field cannot exceed ${max} characters.`;
                        return;
                    }

                    // CHECK VALUE IF IT MATCHES THE TYPE
                    switch ( type ) {
                        case 'number': {
                            const numberRegex = /^[-]?[0-9]*(\.[0-9]*)?$/g;
                            const pass = numberRegex.test( value );
                            if ( !pass ) {
                                this.error = 'Please input a valid number.';
                            }
                            break;
                        }
                        case 'email': {
                            const emailRegex = /^(?:[\w!#$%&'*+-/=?^`{|}~]+\.)*[\w!#$%&'*+-/=?^`{|}~]+@(?:(?:(?:[a-zA-Z0-9](?:[a-zA-Z0-9-](?!\.)){0,61}[a-zA-Z0-9]?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-](?!$)){0,61}[a-zA-Z0-9]?)|(?:\[(?:(?:[01]?\d{1,2}|2[0-4]\d|25[0-5])\.){3}(?:[01]?\d{1,2}|2[0-4]\d|25[0-5])]))$/;
                            const pass = emailRegex.test( value );
                            if ( !pass ) {
                                this.error = 'Please input a valid email.';
                            }
                            break;
                        }
                        case 'password': {
                            const passwordRegex = /\s/g;
                            const hasSpace = passwordRegex.test( value );
                            if ( hasSpace ) {
                                this.error = 'Password contains invalid characters.';
                            }
                            break;
                        }
                        default:
                    }

                    if ( this.error !== null ) {
                        return;
                    }

                    // RUN VALIDATOR PROP IF PRESENT
                    if ( validator ) {
                        this.error = validator( value );

                        if ( this.error !== null ) {
                            return;
                        }
                    }

                    // RUN "onBlur" PROP IF PRESENT
                    onBlur && onBlur( value );
                }
            }
        }
    };
</script>
