<template>
    <header class="sl-l-app-header">
        <a v-on:click="toggleSidebar" class="sl-c-menu-btn">
            <i class="fa fa-bars"/>
        </a>

        <div>
            <a class="sl-c-menu-btn sl-has-feedback" @click="toggleNotificationsAndUpdateStatus">
                <i class="fa fa-bell"/>
                <span v-if="hasNewNotifications" class="sl-c-badge sl-c-badge--danger sl-c-badge--empty" />
            </a>

            <div class="sl-c-dropdown">
                <a class="sl-c-menu-btn" @click="toggleDropdown">
                    <i class="fa fa-user-circle" />
                </a>

                <ul class="sl-c-dropdown-menu" v-if="dropdown">
                    <li @click="dropdown = !dropdown">
                        <router-link :to="{ name: 'profile' }" active-class="sl-is-active">
                            <i class="fa fa-user-circle" /> Profile Information
                        </router-link>
                    </li>
                    <li>
                        <a href="https://www.salarium.com/salarium-employee-self-service/" target="_blank">
                            <i class="fa fa-info-circle" /> ESS Tutorials
                        </a>
                    </li>
                    <li v-if="showAdminPanelUrl">
                        <a :href="taUrl">
                            <i class="fa fa-users" /> Admin Page
                        </a>
                    </li>
                    <li><a @click="logMeOut"><i class="fa fa-sign-out" /> Logout</a></li>
                </ul>
            </div>
        </div>

        <sal-sidebar-mobile
            :active.sync="sidebar"
            :pending-requests="pendingRequests"
            :pending-approvals="pendingApprovals"
        />

        <sal-notifications-list
            :notifications="notifications"
            :showMoreIsVisible="showMoreIsVisible"
            v-show="showNotifications"
            @show-more="fetchNotifications"
            @hide="showNotifications = false" />
    </header>
</template>

<script>
    import { auth } from '@/utils/Authentication';
    import { notificationsService } from '@/utils/services/NotificationsService';
    import { employeeRequestService } from '@/utils/services/EmployeeRequestService';
    import { sockets } from '@/utils/Sockets';
    import { has } from 'lodash-es';
    import { TA_URL } from '@/constants';
    import { open } from '@/utils/helpers/urlHelpers';

    export default {
        name: 'sal-menu',

        data() {
            return {
                dropdown: false,
                sidebar: false,
                showNotifications: false,
                notifications: [],
                pageNumber: 1,
                showMoreIsVisible: true,
                hasNewNotifications: false,
                pendingRequests: null,
                pendingApprovals: null,
                taUrl: TA_URL,
                isRootModule: true
            };
        },

        computed: {
            showAdminPanelUrl() {
                const isNonAdmin = auth.getUser().employee.is_non_admin;
                if ( isNonAdmin ) return false;

                return auth.getPermission().includes( 'root.admin' );
            }

        },

        created() {
            window.document.addEventListener( 'click', this.onClick, false );
            sockets.init();
            this.fetchNotifications();
            this.listenUserChannel();
            this.getUserNotificationsStatus();
        },

        destroyed() {
            window.document.removeEventListener( 'click', this.onClick, false );
        },

        methods: {
            onClick() {
                this.dropdown = false;
            },

            logMeOut() {
                this.leaveUserChannel();
                auth.logout();
            },

            toggleNotificationsAndUpdateStatus() {
                this.showNotifications = !this.showNotifications;
                this.updateNotificationsStatus();
                this.hasNewNotifications = false;
                this.dropdown = false;
            },

            toggleSidebar() {
                this.sidebar = !this.sidebar;
                this.showNotifications = false;
                this.dropdown = false;
                if ( this.sidebar ) {
                    this.fetchPendingRequests();
                    this.fetchPendingApprovals();
                }
            },

            toggleDropdown( evt ) {
                evt.stopPropagation();
                this.dropdown = !this.dropdown;
                this.showNotifications = false;
                this.sidebar = false;
            },

            fetchPendingRequests() {
                return employeeRequestService.getEmployeeRequests( 1, { statuses: ['pending']}, this.isRootModule )
                    .then( ( data ) => {
                        this.pendingRequests = data.meta.pagination.total;
                    });
            },

            fetchPendingApprovals() {
                return employeeRequestService.getEmployeeApprovals( 1, { statuses: ['pending']}, this.isRootModule )
                    .then( ( data ) => {
                        this.pendingApprovals = data.meta.pagination.total;
                    });
            },

            fetchNotifications() {
                return notificationsService.fetchNotificationsData( this.pageNumber )
                    .then( ( data ) => {
                        this.showMoreIsVisible = !!data.length;
                        this.notifications = this.notifications.concat( data );
                        this.pageNumber = this.pageNumber + 1;
                    });
            },

            getUserNotificationsStatus() {
                notificationsService.getUserNotificationsStatus()
                .then( ( data ) => {
                    this.hasNewNotifications = data.active;
                })
                .catch( ( error ) => {
                    if ( has( error, 'response' ) && error.response.status === 401 ) {
                        open( this.taUrl );
                    }
                });
            },

            listenUserChannel() {
                const userId = auth.getUserId();
                this.$echo.private( `user.${userId}` )
                    .listen( 'UserNotificationReceived', ( payload ) => {
                        if ( !payload ) {
                            return;
                        }
                        this.hasNewNotifications = !!( payload );
                        this.notifications.unshift( payload.notification );
                    });
            },

            leaveUserChannel() {
                const userId = auth.getUserId();
                this.$echo.leave( `user.${userId}` );
            },

            updateNotificationsStatus() {
                if ( this.hasNewNotifications ) {
                    notificationsService.updateNotificationStatus();
                }
            }
        }
    };
</script>

<style lang="scss" scoped>
    .sl-l-app-header {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 3rem;
        background-color: $sl-color-blue;

        > div {
            display: flex;
            align-items: center;
        }
    }

    .sl-c-dropdown {
        position: relative;
    }

    .sl-c-dropdown-menu {
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 20;
        display: block;
        min-width: 15rem;
        list-style-type: none;
        background-color: $sl-color-silver;
        border-radius: $sl-radius-xs;
        box-shadow: 0 1px 2px 0 $sl-color-grey;

        &:before {
            position: absolute;
            top: -.5rem;
            right: 5px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 .5rem .5rem .5rem;
            border-color: transparent transparent $sl-color-silver transparent;
            content: '';
        }

        > li {
            &:first-child {
                a {
                    border-top-right-radius: $sl-radius-xs;
                    border-top-left-radius: $sl-radius-xs;
                }
            }

            &:last-child {
                a {
                    border-bottom-right-radius: $sl-radius-xs;
                    border-bottom-left-radius: $sl-radius-xs;
                }
            }

            &:not(:last-child) {
                a {
                    border-bottom: 1px solid #eee;
                }
            }
        }

        a {
            display: block;
            padding: $sl-gutter-sm $sl-gutter $sl-gutter-sm $sl-gutter-sm;
            color: $sl-color-darkgrey;
            border-left: $sl-gutter-xs solid transparent;
            text-decoration: none;
            cursor: pointer;

            &.sl-is-active,
            &:hover {
                border-left-color: $sl-color-blue;
                color: $sl-color-lightdarkblue;
            }
        }

        .fa {
            margin-right: $sl-gutter;
        }
    }

    .sl-c-menu-btn {
        position: relative;
        color: $sl-color-white;
        font-size: 1.2rem;
        padding: $sl-gutter-sm $sl-gutter;

        &.sl-has-feedback {
            position: relative;

            .sl-c-badge {
                position: absolute;
                top: .8rem;
                right: .6rem;
            }
        }
    }

    .sl-c-badge {
        display: inline-flex;
        padding: $sl-gutter-xs $sl-gutter-sm;
        color: $sl-color-base;
        vertical-align: middle;
        background-color: $sl-color-silver;
        border-radius: $sl-radius-sm;
    }

    .sl-c-badge--danger {
        color: $sl-color-white;
        background-color: $sl-color-red;
    }

    .sl-c-badge--empty {
        width: .4rem;
        height: .4rem;
        padding: 0;
        border-radius: $sl-radius-round;
    }
</style>
