<template>
    <div class="sl-u-gap-top">
        <sal-multiselect
            v-model="shift"
            placeholder="Select shift schedules"
            :options="availableOptions"
            :searchable="true"
            track-by="name"
            open-direction="bottom"
            :close-on-select="true"
            @select="updateValue"
            label="name"
        >
            <template slot="option" slot-scope="props">
                <span class="option__title">
                    {{ getEventNameByType( props.option ) }}
                </span>
            </template>
        </sal-multiselect>
    </div>
</template>

<script>
    import shiftChangeRequest from '@/mixins/shiftChangeRequest';

    export default {
        name: 'sal-multiselect-dropdown',
        mixins: [shiftChangeRequest],
        props: {
            availableOptions: [ Object, Array ]
        },
        data() {
            return {
                shift: null
            };
        },

        methods: {
            /**
             * Emits event shift-chosen with parsed value data.
             */
            updateValue( value ) {
                this.$emit( 'shift-chosen', this.getParsedValueByValueType( value ) );
            },

            /**
             * Gets parsed value by type.
             * @param {Object} value selected value
             * @returns {Object} parsedValue
             */
            getParsedValueByValueType( value ) {
                const parsedValue = {};

                if ( value.rest_day_id ) {
                    return this.getParsedRestDay( value );
                }

                if ( value.shift_id ) {
                    parsedValue.shift_id = value.shift_id;
                    parsedValue.schedule = value.schedule;
                }
    
                if ( value.schedule_id ) {
                    parsedValue.schedule_id = value.schedule_id;
                    parsedValue.schedule = value.schedule;
                }

                parsedValue.start = value.start;
                parsedValue.end = value.end;
                parsedValue.name = value.name || value.schedule.name;

                return parsedValue;
            },

            /**
             * Gets parsed rest day.
             * @param {Object} value
             * @returns {Object}
             */
            getParsedRestDay( value ) {
                return {
                    name: 'Rest day',
                    rest_day_id: value.rest_day_id,
                    isRestDay: true,
                    schedule: {
                        name: 'Rest day'
                    }
                };
            }
        }
    };
</script>
<style lang="scss" scoped>
</style>
