<template>
    <div class="sl-c-notifications-list">
        <div class="sl-c-notification-wrap" v-if="notifications.length" v-for="( notificationsGroup, date ) in groupedNotifications" :key="date">
            <span class="sl-c-notification-date">
                {{ date }}
            </span>

            <sal-notification-item
                v-for="( notification, index ) in notificationsGroup"
                :key="index"
                :notification="notification"
                @hide="hide"
            />
        </div>

        <div class="sl-c-notification-item" v-else>
            There are no new notifications!
        </div>

        <p class="sl-u-text--center sl-u-gap">
            <sal-button-mobile
                type="default"
                size="sm"
                class="sl-c-btn--ghost sl-c-btn--block"
                v-if="showMoreIsVisible"
                @click="loadNotifications">
                Show more
            </sal-button-mobile>
        </p>
    </div>
</template>

<script>
    import { keys, includes } from 'lodash-es';
    import { notificationsService } from '@/utils/services/NotificationsService';
    import NOTIFICATIONS from '@/constants/notifications';
    import NotificationItem from './NotificationItem';

    export default {
        name: 'sal-notifications-list',

        components: {
            [ NotificationItem.name ]: NotificationItem
        },

        props: {
            notifications: {
                type: Array,
                default: () => []
            },
            showMoreIsVisible: Boolean
        },

        computed: {
            groupedNotifications() {
                const notifications = this.notifications.filter( ( notification ) =>
                    includes( keys( NOTIFICATIONS ), notification.activity.type )
                );

                return notificationsService.groupeNotifications( notifications );
            }
        },

        methods: {
            loadNotifications() {
                this.$emit( 'show-more' );
            },

            hide() {
                this.$emit( 'hide' );
            }
        }
    };
</script>

<style lang="scss" scoped>
    .sl-c-notifications-list {
        position: fixed;
        top: 3rem;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
        font-size: .9rem;
        overflow-y: auto;
        background-color: $sl-color-white;

        &.sl-c-notifications-list {
            display: block;
        }
    }

    .sl-c-notification-wrap {
        border-bottom: 1px solid $sl-color-silver;
    }

    .sl-c-notification-date {
        display: block;
        padding: $sl-gutter-sm;
        padding-left: calc(.5rem + 3px);
        color: $sl-color-lightgrey;
        border-bottom: 1px solid $sl-color-silver;
    }
</style>
