<template >
    <div
        class="sl-c-notification-item"
        :class="{'sl-is-unread': !notification.clicked}"
        @click="onClick"
    >
        {{ message }}
        <span class="sl-u-actions">
            {{ formatedTime }}
        </span>
    </div>
</template>

<script>
    import moment from 'moment';
    import { get, values, keys } from 'lodash-es';
    import { notificationsService } from '@/utils/services/NotificationsService';
    import { auth } from '@/utils/Authentication';
    import NOTIFICATIONS from '@/constants/notifications';
    import { ANNOUNCEMENT_DEFAULT_DATE_FORMAT } from '@/constants/announcement-date';

    export default {
        name: 'sal-notification-item',

        props: {
            /**
             * Notification data
             */
            notification: {
                type: Object,
                required: true
            }
        },

        computed: {
            /**
             * ID of current user.
             * @return {Number}
             */
            currentUserId() {
                return parseInt( auth.getUserId(), 10 );
            },

            /**
             * Formated time when the notification was created.
             * @return {String}
             */
            formatedTime() {
                return moment.utc( this.notification.created_at ).local().format( 'HH:mm' );
            },

            /**
             * Notification activity.
             * @return {Object}
             */
            activity() {
                return this.notification.activity;
            },

            /**
             * Get template for the notification.
             * @return {Object}
             */
            template() {
                const template = NOTIFICATIONS[ this.activity.type ];

                return template[ this.currentUserIsOwnerOfActivity ? 'own' : 'other' ];
            },

            /**
             * Formated notification message.
             * @return {String}
             */
            message() {
                const messageTemplate = this.template.messageTemplate;

                if ( this.activity.type === 'payslips.new' ) {
                    let payrollDate;
                    try {
                        const params = JSON.parse( this.templateTagValues[ 0 ]);
                        payrollDate = moment( params.payrollDate, 'YYYY-MM-DD' ).format( ANNOUNCEMENT_DEFAULT_DATE_FORMAT );
                    } catch ( error ) {
                        payrollDate = this.template.defaultValues[ 0 ];
                    }

                    return messageTemplate( payrollDate );
                }

                return messageTemplate( ...this.templateTagValues );
            },

            /**
             * Check current user is activity owner.
             * @return {Boolean}
             */
            currentUserIsOwnerOfActivity() {
                return this.activity.owner_id === this.currentUserId;
            },

            /**
             * Get template tag values
             * @param {object} template
             * @return {Array}
             */
            templateTagValues() {
                return values( this.template.templateTags.map( ( param, index ) =>
                    this.extractParam( param ) || this.template.defaultValues[ index ]
                ) );
            }
        },

        methods: {
            onClick() {
                this.$emit( 'click', this.notification );

                if ( !this.notification.clicked ) {
                    notificationsService
                        .updateNotificationClickedStatus( this.notification.id, { isRootModule: true })
                        .then( () => {
                            this.notification.clicked = true;
                        });
                }

                this.followLink();
            },

            /**
             * Follow the notification link.
             */
            followLink() {
                if ( this.template.link ) {
                    this.$emit( 'hide' );

                    this.$router.push( this.getNotificationRoute() );
                }
            },

            /**
             * Extract route params for notification link.
             * @return {Object}
             */
            mapRouteParams( routeParams ) {
                if ( !routeParams ) {
                    return {};
                }

                const params = {};

                keys( routeParams ).forEach( ( param ) => {
                    params[ param ] = this.extractParam( routeParams[ param ]);
                });

                return params;
            },

            /**
             * Extract template parameter from activity data.
             * @param {String|Function} param
             * @return {String|null}
             */
            extractParam( param ) {
                if ( typeof param === 'function' ) {
                    return param( this.activity );
                }

                if ( typeof param === 'string' ) {
                    return get( this.activity, param );
                }

                return null;
            },

            /**
             * Notification route if it's a link.
             * @return {Object}
             */
            getNotificationRoute() {
                const routeType = this.template.multipleRoutes
                    ? this.extractParam( this.template.routeTypeParam )
                    : 'default';

                const route = this.template.routes[ routeType ];

                if ( typeof route === 'function' ) {
                    return route( this.activity );
                }

                return {
                    name: route.name,
                    params: this.mapRouteParams( route.params )
                };
            }
        }
    };
</script>

<style lang="scss" scoped>
    .sl-c-notification-item {
        display: flex;
        justify-content: space-between;
        padding: $sl-gutter-sm;
        border-left: 3px solid transparent;

        &:first-child {
            border-top: 1px solid $sl-color-silver;
        }

        &:not(:last-child) {
            border-bottom: 1px solid $sl-color-silver;
        }

        &.sl-is-unread {
            font-weight: bold;
            background-color: $sl-color-silver;
            border-left-color: $sl-color-blue;
        }
    }
</style>
