<template>
    <div
        :class="[ 'sal-notify', notifClass ]"
    >
        {{message}}
    </div>
</template>

<script>
    export default {
        name: 'sal-notify-mobile',
        props: {
            notifClass: String,
            message: String
        }
    };
</script>

<style type="scss" scoped>
    .sal-notify {
        color: #fff;
        background: #eb7575;
        font-size: 26px;
        position: fixed;
        top: 0;
        left: 0;
        width: calc( 100% - 80px );
        padding: 40px;
    }
</style>
