<template>
    <div class="sl-c-overlay">
        <div class="sl-c-overlay-background" />

        <div class="sl-c-overlay-content">
            <slot />
        </div>
    </div>
</template>

<script>
    export default {
        name: 'sal-overlay-mobile'
    };
</script>

<style lang="scss" scoped>
    .sl-c-overlay {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: none;
        justify-content: center;
        overflow: hidden;
        z-index: 200;
        display: flex;
    }

    .sl-c-overlay-background {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: $sl-color-white;
    }

    .sl-c-overlay-content {
        padding: $sl-gutter;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        position: relative;
        max-width: 20rem;

        @media (min-width: $sl-screen-xs) {
            max-width: 25rem;
        }
    }
</style>
