<template>
    <div :class="['wrapper', `pill-${type}`]">
        <p class="content"><slot>{{label}}</slot></p>
    </div>
</template>

<script>
    export default {
        name: 'sal-pill',

        props: {
            type: {
                type: String,
                default: 'success',
                validator( value ) {
                    // The value must match one of these strings
                    return [ 'success', 'primary', 'danger', 'alt-red', 'transparent' ].indexOf( value ) !== -1;
                }
            },
            label: String
        }

    };
</script>

<style lang='scss' scoped>

.wrapper {
  width: 5.5rem;
  height: 1.25rem;
  border-radius: $sl-radius-lg;
  color: $sl-color-white;
  padding: .2rem;

    .content{
        font-family: 'sourcesanspro-regular';
        font-size: .7rem;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        vertical-align: middle;
    };
}

.pill-success{
    background-color: $sl-color-blue;
}

.pill-danger{
    background-color: $sl-color-alt-red;
}

.pill-primary{
    background-color: $sl-color-green;
}

.pill-alt-red{
    background-color: #ef8184;
}

.pill-transparent{
    background-color: transparent   ;
}

</style>
