<template>
    <div class="sl-c-progress sl-c-progress--success" :class="additionalClasses">
        <div class="sl-c-progress__bar" :style="{ width: percent + '%' }"></div>
    </div>
</template>

<script>
    export default {
        name: 'sal-progress-mobile',

        props: {
            percent: {
                type: Number,
                required: true
            },

            bordered: Boolean,
            withBackground: Boolean
        },

        computed: {
            /**
             * Compute aditional classes that should be applied.
             * @return {Object}
             */
            additionalClasses() {
                return {
                    'sl-is-bordered': this.bordered,
                    'sl-is-with-background': this.withBackground
                };
            }
        }
    };
</script>

<style lang="scss" scoped>
    .sl-c-progress {
        position: relative;
        display: block;
        height: 1rem;
        width: 100%;
        overflow: hidden;
        border-radius: $sl-radius;

        &.sl-is-bordered {
            border: 1px solid $sl-color-silver;
        }

        &.sl-is-with-background {
            height: .6rem;
            background-color: $sl-color-lightergrey;

            .sl-c-progress__bar {
                margin: 0;
            }
        }
    }

    .sl-c-progress__bar {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        margin: 2px;
        border-radius: $sl-radius;
        transition: width .2s ease-in-out;
    }

    .sl-c-progress--success {
        .sl-c-progress__bar {
            background-color: $sl-color-green;
        }
    }
</style>
