<template>
    <div :class="[ 'sl-c-form-group', { 'sl-has-error': error }]">
        <input
            class="sl-c-radio"
            type="radio"
            v-model="input"
            :id="id"
            :name="name"
            :disabled="disabled"
            :value="inputValue"
            @blur="handleOnBlur"
            @focus="handleOnFocus"
        >
        <label
            v-if="label || $slots.default"
            :for="id"
            class="sl-c-control-label"
        >
            <slot>{{ label }}</slot>
        </label>
    </div>
</template>

<script>
    import { customInput } from '@/mixins/customInput';

    export default {
        name: 'sal-radio-mobile',
        mixins: [customInput],
        props: {
            /**
             * Sets possible input values.
             */
            inputValue: [ Array, String, Number, Boolean ]
        }
    };
</script>

<style lang="scss" scoped>
    .sl-c-radio {
        display: none;
        visibility: hidden;
        vertical-align: middle;

        + .sl-c-control-label {
            position: relative;
            display: inline-flex;
            align-items: center;
            margin-right: $sl-gutter;

            &:before {
                position: relative;
                display: inline-block;
                vertical-align: middle;
                width: 1rem;
                height: 1rem;
                margin-right: $sl-gutter-sm;
                border: 1px solid $sl-color-darkgrey;
                border-radius: $sl-radius-round;
                background-color: $sl-color-white;
                content: '';
            }
        }

        &:hover,
        &:focus {
            + .sl-c-control-label {
                &:before {
                    border-color: $sl-color-blue;
                }
            }
        }

        &[disabled],
        &.sl-is-disabled {
            + .sl-c-control-label {
                color: $sl-color-lightgrey;
                cursor: not-allowed;

                &:before {
                    border-color: $sl-color-lightgrey;
                }
            }
        }

        &:checked {
            + .sl-c-control-label {
                &:before {
                    border-color: $sl-color-darkgrey;
                    box-shadow: inset 0 0 0 2px $sl-color-white;
                    background-color: $sl-color-blue;
                }
            }
        }
    }
</style>
