<template>
  <div v-if="showTags">
        <vue-tags-input
            v-model="tag"
            placeholder="Use comma to separate tags"
            :separators="[',']"
            :tags="timeclock.tags"
            addOnBlur
        />
    </div>
</template>

<script>
    export default {
        name: 'sal-request-tags-input',
        props: {
            showTags: {
                type: Boolean,
                default: false
            },
            timeclock: [ Object, Array ]
        },

        data() {
            return {
                tag: ''
            };
        }
    };
</script>

<style lang="scss" scoped>
    .vue-tags-input {
        max-width: 100% !important;
        margin-right: 1.75rem;

        .input {
            border-color: $sl-color-base !important;
        }

        .tag {
            display: inline-flex !important;
            align-items: center !important;
            justify-content: space-between !important;
            color: $sl-color-base !important;
            background-color: $sl-color-white !important;
            border-radius: $sl-radius !important;
            border: 1px solid $sl-color-darksilver !important;
            word-break: break-all !important;
        }

        .actions {
            margin-left: $sl-gutter-sm !important;
            padding: $sl-gutter-xs;
            color: $sl-color-white !important;
            border-radius: $sl-radius-round !important;
            background-color: $sl-color-base !important;
        }
    }
</style>
