<template>
    <div class="sl-c-card sl-c-card--default">
        <div class="sl-c-card__header">
            <p class="sl-card__title"><strong>Attachment</strong></p>
            <div class="sl-u-actions">
                <sal-button-mobile
                    v-if="permitedToUpload"
                    id="upload-submit"
                    size="sm"
                    :disabled="isUploading"
                    :onClick="() => triggerFileInput( fileActions.upload, false )"
                >
                    Upload
                </sal-button-mobile>
                <sal-button-mobile
                    id="download-link"
                    size="sm"
                    type="primary"
                    :disabled="isDownloading || !request.attachments.length"
                    :onClick="() => downloadAll()">
                    Download all
                </sal-button-mobile>
            </div>
        </div>

        <div class="sl-c-card__body">
            <!-- Request owner attachment section -->
            <template v-if="permitedToUpload">
                <input
                    id="file-replace"
                    type="file"
                    @change="onInput"
                    ref="fileInput"
                    accept="accept"
                    style="display: none"
                />
                <div class="sl-c-progress sl-c-progress--success sl-u-gap-top sl-u-gap-bottom" v-if="isUploading">
                    <div class="sl-c-progress__bar" :style="{ width: percentCompleted + '%' }"></div>
                </div>
                <span v-if="isUploading">
                    {{ file.name }} {{ formatFileSize( file.size )}}
                </span>
                <div
                    v-for="(attachment, index) in request.attachments"
                    :key="index"
                >
                    <i class="fa fa-times fa-sm sl-u-gap-right" @click="removeAttachment( attachment )"></i>
                    <span @click="replaceAttachment( attachment, true )">
                        {{ attachment.original_name }}
                    </span>
                </div>
            </template>
            <!-- -->

            <!-- Request approver attachment section -->
            <div v-else v-for="(attachment, index) in request.attachments" :key="index">
                <span>{{ attachment.original_name }}</span>
            </div>
            <!-- -->
            <div v-show="error">
                <span class="sl-u-text--danger">{{ error }}</span>
            </div>
        </div>
    </div>
</template>
<script>
    import axios from 'axios';
    import {
        some,
        unary,
        partialRight,
        includes,
        first,
        findIndex
    } from 'lodash-es';
    import { auth } from '@/utils/Authentication';
    import { employeeRequestService } from '@/utils/services/EmployeeRequestService';
    import {
        FILE_TYPES,
        FILE_UPLOAD_VALIDATION_MESSAGE,
        FILE_ACTIONS,
        SIZE_UNITS,
        SIZE_OF_KB,
        SIZE_OF_10_MB_IN_BYTES,
        ATTACHMENT_HEADERS,
        REQUEST_STATUSES
    } from '@/constants/employee-request';

    export default {
        name: 'sal-request-details-attachment',

        props: {
            request: {
                type: Object,
                required: true
            }
        },
        data() {
            return {
                isRemoving: false,
                file: {},
                isReplacing: false,
                isUploading: false,
                error: null,
                percentCompleted: 0,
                isDownloading: false
            };
        },

        computed: {
            /**
             * Gets logged user id.
             * @returns {Number} user id
             */
            userId() {
                return auth.getUserId();
            },

            /**
             * Gets file actions constant.
             * @returns {Object} fileActions
             */
            fileActions() {
                return FILE_ACTIONS;
            },

            /**
             * Compute does user has permission to upload.
             * @returns {Boolean}
             */
            permitedToUpload() {
                return this.userId === this.request.owner.user_id
                    && this.request.status === REQUEST_STATUSES.pending;
            },

            /**
             * Computes currently aploaded files size.
             * @returns {Number}
             */
            currentlyUploadedSize() {
                return this.file.size + this.getUploadedFilesSize();
            }
        },

        methods: {
            /**
             * Formats file size.
             * @param {Number} sizeInBytes of file
             * @returns {Number} formated size
             */
            formatFileSize( sizeInBytes ) {
                if ( sizeInBytes === 0 ) {
                    return '0 Bytes';
                }

                const index = Math.floor( Math.log( sizeInBytes ) / Math.log( SIZE_OF_KB ) );

                return `${( sizeInBytes / SIZE_OF_KB ** index ).toFixed( 2 )} ${SIZE_UNITS[ index ]}`;
            },

            /**
             * Sums uploaded files size.
             * @returns {Number}
             */
            getUploadedFilesSize() {
                let size = 0;

                this.request.attachments.forEach( ( attachment ) => {
                    size += attachment.size;
                });

                if ( this.isReplacing || this.isRemoving ) {
                    size -= this.file.size;
                }

                return size;
            },

            /**
             * Triggers click event and sets attachmentId and isReplacing.
             * @param {String} action server URL.
             * @param {Booelan} isReplacing
             */
            triggerFileInput( action, isReplacing ) {
                this.$refs.fileInput.click();
                this.action = action;
                this.isReplacing = isReplacing;
            },

            /**
             * Emits event on change and calls validation methods for type and size.
             * @param {Object} evt triggered event
             */
            onInput( evt ) {
                this.file = first( evt.target.files );

                if ( !this.isFileTypeAcceptable( this.file.type ) ) {
                    this.error = FILE_UPLOAD_VALIDATION_MESSAGE.invalidType;

                    return;
                }

                if ( !this.isFilesSizeValid( this.file.size ) ) {
                    return;
                }

                if ( !this.isFilesSizeValid( this.currentlyUploadedSize ) ) {
                    return;
                }

                this.isUploading = true;
                this.error = null;
                this.upload();
            },

            /**
             * Calls employeeRequestService and replaces attached file.
             * @param {Object} evt emited child event
             */
            replaceAttachment( file ) {
                this.isReplacing = true;
                this.handleModal( 'Replace', () => {
                    this.replacingFile = file;
                    this.triggerFileInput( FILE_ACTIONS.replace, true );
                });
            },

            /**
             * Replaces attachment with one from response.
             * @param {Object} file response.data
             */
            replaceAttachmentInAttachments( file ) {
                const index = findIndex( this.request.attachments, { id: this.replacingFile.id });
                this.request.attachments[ index ] = file;
            },

            /**
             * Calls employeeRequestService and uploads or replaces file depending of action.
             */
            upload() {
                this.percentCompleted = 0;

                const formData = this.appendFileToFormData( this.file );
                const config = { onUploadProgress: this.onUploadProgress };

                axios.post( this.action, formData, config, ATTACHMENT_HEADERS )
                    .then( ( response ) => {
                        if ( this.isReplacing ) {
                            this.replaceAttachmentInAttachments( response.data );
                            return;
                        }

                        this.request.attachments.unshift( response.data );
                        this.setDefaultStates();
                    })
                    .catch( () => {
                        this.setDefaultStates();
                    });
            },

            /**
             * Sets default values for isUploading and isReplacing states.
             */
            setDefaultStates() {
                this.isUploading = false;
                this.isReplacing = false;
                this.isRemoving = false;
            },

            /**
             * Get FormData object containing company data.
             *
             * @param {Object} file
             * @return {FormData}
             */
            appendFileToFormData( file ) {
                const formData = new FormData();
                formData.append( 'attachment', file );
                formData.append( 'request_id', this.request.employee_request_id );

                if ( this.isReplacing ) {
                    formData.append( 'replacing_attachment_id', this.replacingFile.id );
                }

                return formData;
            },

            /**
             * Checks is file type format acceptable.
             * @param {String} fileType
             * @returns {Boolean}
             */
            isFileTypeAcceptable( fileType ) {
                return fileType !== '' ? some( FILE_TYPES, unary( partialRight( includes, fileType ) ) ) : false;
            },

            /**
             * Validates that single file size isn't greater then 10MB.
             * @param {Number} fileSize
             * @returns {Boolean}
             */
            isFilesSizeValid( fileSize ) {
                if ( fileSize > SIZE_OF_10_MB_IN_BYTES ) {
                    this.error = FILE_UPLOAD_VALIDATION_MESSAGE.fileSize;

                    return false;
                }
                this.error = null;

                return true;
            },

            /**
             * Handles showing and configuring modal according to triggered action.
             * @param {String} confirmText text for okText prop
             * @param {Object} onOkCallback functions to be triggered on confirming action.
             */
            handleModal( confirmText, onOkCallback ) {
                return this.$modal.confirm({
                    type: 'danger',
                    title: 'Remove attachment',
                    cancelText: 'Cancel',
                    okText: confirmText,
                    content: 'Changing a pending request\'s attachment will bring the request back to the start of the workflow. Do you wish to proceed?',
                    onOk: onOkCallback
                });
            },

            /**
             * Removes file from array.
             * @param {Object} file
             */
            removeAttachment( file ) {
                this.file = file;

                if ( this.isRemoving ) {
                    return;
                }

                this.isRemoving = true;

                this.handleModal( 'Remove attachment', () => {
                    this.$loader.show();

                    employeeRequestService.deleteAttachment( this.request.employee_request_id, file.id )
                        .then( () => {
                            this.isRemoving = false;
                            this.removeItemFromArray( file );
                            this.$loader.hide();
                        })
                        .catch( () => {
                            this.isRemoving = false;
                            this.file = null;
                            this.$loader.hide();
                        });
                });
            },

            /**
             * Removes item from array by index.
             */
            removeItemFromArray( file ) {
                const index = findIndex( this.request.attachments, { id: file.id });

                this.request.attachments.splice( index, 1 );
            },

            /**
             * Downloads attachments.
             */
            downloadAll() {
                if ( !this.request.attachments.length || this.isDownloading ) {
                    return;
                }

                this.isDownloading = true;
                this.$loader.show();

                employeeRequestService.downloadAll( this.request.employee_request_id )
                    .then( ( response ) => {
                        this.processDownloadFile( `${new Date().getTime()}-attachments.zip`, response );
                        this.isDownloading = false;
                        this.$loader.hide();
                    })
                    .catch( () => {
                        this.isDownloading = false;
                        this.$loader.hide();
                    });
            },

            /**
             * Process file to be downloaded, cretes dom
             * element and URL object to be activated upon click event.
             */
            processDownloadFile( fileName, zip ) {
                const a = document.createElement( 'a' );
                a.download = fileName;
                a.style.visibility = 'hidden';
                document.body.appendChild( a );

                const windowUrl = window.URL || window.webkitURL;

                if ( typeof windowUrl.createObjectURL === 'function' ) {
                    const blob = new Blob([zip], { type: 'application/zip' });

                    if ( window.navigator.msSaveBlob ) {
                        // FOR IE BROWSER
                        window.navigator.msSaveBlob( blob, fileName );
                    } else {
                        // FOR OTHER BROWSERS
                        const url = windowUrl.createObjectURL( blob );
                        a.href = url;
                        a.click();
                        windowUrl.revokeObjectURL( url );
                    }
                } else {
                    a.href = `data:application/zip;charset=UTF-8,${zip}`;
                    a.click();
                }
                document.body.removeChild( a );
            },

            /**
             * Update percentCompleted.
             * @param {Object} evt event
             */
            onUploadProgress( evt ) {
                this.percentCompleted = Math.round( ( evt.loaded * 100 ) / evt.total );
            }
        }

    };
</script>
<style lang="scss" scoped>
    .sl-c-upload-area {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: $sl-gutter-lg;
        border: 1px solid $sl-color-darkgrey;

        &.sl-u-big {
            min-height: 15rem;
        }

        .sl-c-actions--right-top {
            top: $sl-gutter;
            right: $sl-gutter;
        }

        .sl-c-alert {
            word-break: break-all;

            &:not(:first-child) {
                margin-top: $sl-gutter-sm;
            }
        }
    }

    .sl-c-upload-area__wrap {
        max-width: 100%;
    }

    .sl-c-progress {
        position: relative;
        display: block;
        height: 1rem;
        overflow: hidden;
        border: 1px solid $sl-color-silver;
        border-radius: $sl-radius;
    }

    .sl-c-progress__bar {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        margin: 2px;
        border-radius: $sl-radius;
        transition: width .2s ease-in-out;
    }

    .sl-c-progress--success {
        .sl-c-progress__bar {
            background-color: $sl-color-green;
        }
    }

    .sl-c-card__body {
        word-break: break-word;
    }
</style>
