<template>
    <div :class="[ 'sl-c-form-group', { 'sl-has-error': error }]">
        <label
            class="sl-c-control-label"
            v-if="label"
            :for="id"
        >
            <slot>{{ label }}</slot>
        </label>
        <select
            class="sl-c-form-control"
            :class="{'sl-u-text--disabled': input === ''}"
            v-model="input"
            :id="id"
            :name="name"
            :disabled="disabled"
            :multiple="multiple"
            @blur="handleOnBlur"
            @focus="handleOnFocus"
        >
            <option value="" disabled hidden>
                {{ placeholder }}
            </option>
            <option
                v-for="(option, index) in options"
                :key="index"
                :value="option.value"
                :disabled="option.disabled"
                class="sl-c-option"
            >
                {{ option.text }}
            </option>
        </select>
    </div>
</template>

<script>
    import { customInput } from '@/mixins/customInput';

    export default {
        name: 'sal-select-mobile',
        mixins: [customInput],
        props: {
            /**
             * Available options for select.
             */
            options: {
                type: Array,
                required: true
            },

            /**
             * Sets placeholder's text.
             */
            placeholder: {
                type: String
            },
            /**
             * Sets multiple.
             */
            multiple: Boolean,
            className: String,
            error: Boolean
        }
    };
</script>

<style lang="scss" scoped>
    select {
        &.sl-c-form-control {
            height: 3rem;

            .sl-c-form-control--slim & {
                height: auto;
            }
        }


        &.sl-c-form-control--md {
            height: 2.5rem;
        }
    }

    .sl-c-form-control--narrow > select {
        min-width: 7rem;
    }

    .sl-c-form-control--xs > select {
        min-width: 4rem;
    }
</style>
