<template>
    <div v-if="active">
        <div class="sl-c-mask" @click="hide"></div>

        <div class="sl-c-main-menu" >
            <a class="sl-c-menu-item" @click="hide">
                <i class="fa fa-close" />
            </a>

            <router-link
                v-if="!isSemiActive"
                class="sl-c-menu-item"
                :to="{ name: 'dashboard' }"
                @click.native="hide"
                active-class="sl-is-active"
            >
                <i class="fa fa-dashboard" /> Dashboard
            </router-link>

            <router-link
                v-if="!isSemiActive"
                class="sl-c-menu-item"
                :to="{ name: 'approvals.index' }"
                @click.native="hide"
                active-class="sl-is-active"
            >
                <i class="fa fa-calendar-check-o" /> Approvals
                <span class="sl-c-badge sl-c-badge--danger sl-c-badge--circle" v-if="pendingApprovals">
                    {{ pendingApprovals }}
                </span>
            </router-link>

            <router-link
                v-if="!isSemiActive"
                class="sl-c-menu-item"
                :to="{ name: 'requests.index' }"
                @click.native="hide"
                active-class="sl-is-active"
            >
                <i class="fa fa-list-alt" /> Requests
                <span class="sl-c-badge sl-c-badge--danger sl-c-badge--circle" v-if="pendingRequests">
                    {{ pendingRequests }}
                </span>
            </router-link>

            <router-link
                v-if="!isSemiActive"
                class="sl-c-menu-item"
                :to="{ name: 'announcements.my-announcements' }"
                @click.native="hide"
                active-class="sl-is-active"
            >
                <i class="fa fa-podcast" /> Announcements
            </router-link>

            <!-- <router-link
                class="sl-c-menu-item"
                :to="{ name: 'attendance' }"
                @click.native="hide"
                active-class="sl-is-active"
            >
                <i class="fa fa-clock-o" /> Attendance
            </router-link> -->

            <router-link
                v-if="hasPayroll"
                class="sl-c-menu-item"
                :to="{ name: 'payslips' }"
                @click.native="hide"
                active-class="sl-is-active"
            >
                <i class="fa fa-file-o" /> Payslips
            </router-link>



            <router-link
                v-if="!isSemiActive"
                class="sl-c-menu-item"
                :to="{ name: 'calendar' }"
                @click.native="hide"
                active-class="sl-is-active"
            >
                <i class="fa fa-calendar" /> Calendar
            </router-link>

            <router-link
                v-if="isTeamLeader"
                class="sl-c-menu-item"
                :to="{ name: 'team-list' }"
                @click.native="hide"
                active-class="sl-is-active"
            >
                <i class="fa fa-users" /> Teams
            </router-link>
        </div>
    </div>
</template>

<script>
    import { auth } from '@/utils/Authentication';
    import { USER_STATUS } from '@/constants';

    export default {
        name: 'sal-sidebar-mobile',

        props: {
            active: Boolean,
            pendingRequests: Number,
            pendingApprovals: Number
        },

        data() {
            return {
                isSemiActive: false,
                isTeamLeader: false
            };
        },

        async created() {
            this.isSemiActive = auth.getUser().status === USER_STATUS.SEMI_ACTIVE;
            this.isTeamLeader = await auth.isTeamLeader();
        },

        computed: {
            /**
             * Check if payroll details exists
             */
            hasPayroll() {
                const user = auth.getUser();
                return Object.prototype.hasOwnProperty.call( user.employee, 'payroll' ) && Boolean( user.employee.payroll );
            }
        },

        methods: {
            hide() {
                this.$emit( 'update:active', false );
            }
        }
    };
</script>

<style lang="scss" scoped>
    .sl-c-mask {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background: $sl-color-darkgrey-transparent;
    }

    .sl-c-main-menu {
        &.sl-c-main-menu {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            z-index: 11;
            min-width: 70vw;
            overflow: auto;
            color: $sl-color-white;
            font-size: 1.2rem;
            text-align: left;
            background: $sl-color-darkblue;
        }
    }

    .sl-c-menu-item {
        display: flex;
        align-items: center;
        width: 100%;
        padding: $sl-gutter;
        color: $sl-color-white;
        text-decoration: none;

        &.sl-is-active {
            background-color: $sl-color-blue;
        }

        .fa {
            margin-right: $sl-gutter;
        }

        .sl-c-badge {
            margin-left: auto;
            border: none;
        }
    }
</style>
