<template>
    <div :class="[ 'sl-c-form-group', { 'sl-has-error': error }]">
        <label
            class="sl-c-control-label"
            v-if="label || $slots.default"
            :for="id"
        >
            <slot>{{ label }}</slot>
        </label>
        <textarea
            class="sl-c-form-control"
            v-model="input"
            :id="id"
            :rows="rows || 5"
            :placeholder="placeholder"
            :disabled="disabled"
            @blur="handleOnBlur"
            @focus="handleOnFocus"
        ></textarea>
    </div>
</template>

<script>
    import { customInput } from '@/mixins/customInput';

    export default {
        name: 'sal-textarea-mobile',
        mixins: [customInput],
        props: {
            /**
             * Sets input rows.
             */
            rows: Number,

            /**
             * Sets input placeholder.
             */
            placeholder: String
        }
    };
</script>

<style lang="scss" scoped>
    textarea {
        .sl-c-message-reply-form & {
            min-height: 0;
            height: 5vh;
            padding-top: .45rem;
            resize: none;
            line-height: 1.3rem;
            margin-left: $sl-gutter-xs;
            border-color: transparent;
        }
    }
</style>
