<template>
    <span
        class="sl-c-tooltip"
        v-tooltip.right="message">
            <div class="sl-c-icon-circle sl-c-icon-circle--xs">
                <i class="fa fa-question"></i>
            </div>
        </span>
</template>

<script>
    export default {
        name: 'sal-tooltip',

        props: ['message']
    };
</script>

<style lang="scss">
.sl-c-tooltip {
    position: relative;
    padding-left: 5px;
    color: $sl-color-grey;
    filter: drop-shadow(0 0 .1rem );

    .tooltip-inner {
        max-width: 15rem;
        padding: $sl-gutter-xs $sl-gutter;
        font-size: .8rem;
        background-color: $sl-color-white;
        border-radius: $sl-radius-xs;
        color: black;
    }

    .tooltip-arrow {
        position: absolute;
        left: 0;
        z-index: 210;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7.5px 8px 7.5px 0;
        border-color: transparent $sl-color-white transparent transparent;
    }

}
</style>
