<template>
    <p class="sl-u-help-text">
        <slot></slot>
    </p>
</template>

<script>
    export default {
        name: 'sal-validation-message'
    };
</script>

<style lang="scss" scoped>
p {
    margin-top: 0;
}
</style>
